{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}
    {% set cmsPageContent = get_cms_page_content_by_slugname('login') %}
    <div class="wrapper login-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb" data-aos="fade-right" data-aos-delay="500"
                         class="breadcrumb d-flex justify-content-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><i class="fa fc-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Login
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 login-left" data-aos="fade-down">
                    <div class="content" data-aos="fade-right" data-aos-delay="100">

                        {% set content = cmsPageContent.cmsPageContent[0] %}

                        {% if(content.mediaType) == '' %}
                            {{ content.pageContent|raw }}
                        {% else %}
                            {% if(content.mediaPosition) == 'left' %}
                                {{ content.pageContent|raw }}
                                <img src="{{ asset('images/') ~ content.mediaFilePath }}" alt="{{ content.mediaAlText }}" title="{{ content.mediaTitle }}"
                                     data-aos="fade-down" data-aos-delay="100">
                            {% else %}
                                <img src="{{ asset('images/') ~ content.mediaFilePath }}" alt="{{ content.mediaAlText }}" title="{{ content.mediaTitle }}"
                                     data-aos="fade-down" data-aos-delay="100">
                                {{ content.pageContent|raw }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 login-right" data-aos="fade-down">
                    <div class="login-box">
                        <div class="content">
                            <h4 data-aos="fade-right" data-aos-delay="100">Login with </h4>
                            <form action="{{ path('login-email') }}" method="post" class="form" data-aos="fade-down" autocomplete="off"
                                  data-aos-delay="100">
                                <div class="btn-inline">
                                    <a href="{{ path('connect_facebook_start') }}" class="btn btn-primary btn-fb"><i></i> Facebook</a>
                                    <a href="{{ path('connect_google_start') }}" class="btn btn-primary btn-google"><i></i> Google</a>
                                </div>
                                <div class="or-text">
                                    <span>OR</span>
                                </div>
                                {% for message in app.flashes('requestjoinerror') %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <div class="form-group">
                                    <input type="text" class="form-control" id="userName" name="userName" required autofocus
                                           placeholder="Email ID" autocomplete="new-password">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="userPassword" name="userPassword" required
                                           placeholder="Password" autocomplete="new-password">
                                    <i class="fc-password"></i>
                                    <a href="{{ path('forgot-password') }}" class="forgot-password-link">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <button type="submit" class="btn btn-primary btn-block"><i class="fa
                                    fa-sign-in"></i> {{ 'action.login_in'|trans }}</button>
                                </div>
                                <ul class="inline-links">
                                    <li><a href="{{ path('login-mobile') }}">Login via Mobile Number with
                                            OTP</a></li>
                                </ul>
                                <div class="sign-up-text">
                                    New to Giving Circle? <a href="{{ path('sign-up') }}"><strong>Sign up
                                            now!</strong></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").addClass("login-page");
            $("#btnLogin").click(function (){


            });
        });
    </script>
{% endblock %}