<p>
    Dear {{ userName }}
</p>

<p>
    {{ changeMakerName }} of {{ projectName }} values your contribution and participation in supporting the cause.
    Here's an update for the event {{ eventName }}. Please click <a href="{{ url('event-details', {'id' : eventId })
    }}">here</a> to view  details.

</p>
<p>
    Best Regards
</p>

<p>
    Team Giving Circle
</p>

