{% extends 'portal/layout/index.html.twig' %}

{% set isMandatoryFilled = check_if_all_mandatory_filled() %}
{% set mandatoryFieldMsg = "Please update the Personal Info mandatory fields inorder to proceed" %}

{% set introTextVolunteer = '' %}
{% if cmsPage is defined and cmsPage is not empty and cmsPage.cmsPageContent is defined and cmsPage.cmsPageContent
    is not empty %}
    {% for content in cmsPage.cmsPageContent %}
        {% set introTextVolunteer = introTextVolunteer ~ content|striptags %}
    {% endfor %}
{% endif %}

{% block portal_content %}
    {% set otherBanners = [] %}
    {% for page in get_cms_page(get_parameter('company_id')) %}
        {% if app.request.get('_route') == page.pageRoute%}
            {% set banners = get_cms_page_banner(page.id) %}
            {% if banners is not empty %}
            <section class="banner-carousel slider-item">
                <div id="mainBanner" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% set counter = 0 %}
                        {% for banner in banners %}
                            {% if banner.bannerPosition == 'top' %}
                                {% if banner.bannerUrl is not empty %}
                                    {% set bannerTargetUrl = banner.bannerUrl %}
                                {% else %}
                                    {% set bannerTargetUrl = "#" %}
                                {% endif %}
                                <div class="carousel-item {% if counter == 0 %}active{% endif %}">
                                    <a href="{{ bannerTargetUrl }}">
                                    {%  if (banner.bannerMediaType == 'image') %}
                                    <figure>
                                        <img class="desktop-purpose" src="{{ asset('images/files/') ~ banner.bannerDesktopImage}}" alt="{{ banner.bannerImageAlt }}" title="{{ banner.bannerImageTitle }}">
                                        <img class="tab-purpose" src="{{ asset('images/files/') ~ banner.bannerTabletImage}}" alt="{{ banner.bannerImageAlt }}" title="{{ banner.bannerImageTitle }}">
                                        <img class="mobile-purpose" src="{{ asset('images/files/') ~ banner.bannerMobileImage}}" alt="{{ banner.bannerImageAlt }}" title="{{ banner.bannerImageTitle }}">
                                        {% if banner.bannerDescription|striptags is not empty %}
                                            <figcaption>
                                                <div class="container">
                                                    <div class="caption">
                                                        {{ banner.bannerDescription|raw }}
                                                    </div>
                                                </div>
                                            </figcaption>
                                        {% endif %}
                                    </figure>
                                    {% else %}
                                        {{ banner.bannerVideoPath|raw }}
                                    {% endif %}
                                    </a>
                                </div>
                                {% set counter = counter + 1 %}
                            {% else %}
                                {% set otherBanners = otherBanners|merge({ (banner.bannerPosition) : banner}) %}
                            {% endif %}
                        {% endfor %}
                        {% if counter > 1 %}
                        <a class="carousel-control-prev" href="#mainBanner" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#mainBanner" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        {% endif %}
                    </div>
                    <div class="search-sec">
                        {{ include('portal/layout/_header_search.html.twig')  }}
                    </div>
                </div>
            </section>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% set pageContentByPage = get_cms_page_content_by_page(app.request.get('_route')) %}

    <div class="wrapper">
        <div class="gc-records">
            <div class="container">
                <div class="gc-data">
                    {% set countData = get_count_data() %}
                    <div class="left-side">
                        <h3>People With Us</h3>
                        <ul>
                            <li><span>{{ countData.articleViewCount }}</span>Readers</li>
                            <li><span>{{ countData.memberCount }}</span>Contributors</li>
                            <li><span>{{ countData.changerMakerCount     }}</span>Change Makers</li>
                        </ul>
                    </div>
                    <div class="middle-part"><img
                                src="/resources/images/home/gc-middle-logo.png" alt=""></div>
                    <div class="right-side people-impact">
                        <h3>Impact Through Us</h3>
                        <ul>
                            <li>Time <span>{{ countData.volunteerintime }}</span>
                                <small>Events</small></li>
                            <li>Money <span>{{ countData.fundraiser }}</span> <small>Events</small></li>
                            <li>Material <span>{{ countData.materialinkind }}</span> <small>Events</small></li>
                        </ul>
                        <ul>
                            <li><span>{{ countData.totalEventHrs }}</span> hrs</li>
                            <li><span>{{ countData.totalFundRaised }}</span> lacs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Change Makers Block - start -->
        <div class="container">
            {{ include('portal/home/_change_makers_as_hero.html.twig') }}
        </div>
        <!-- Change Makers Block - end -->
        {% if otherBanners|length > 0 and otherBanners['middle'] is defined and otherBanners['middle'] is not empty %}
        <div class="background-express" data-image-src="{{ asset('images/files/') ~ otherBanners['middle'].bannerDesktopImage}}">
            <div class="content-area">
                {{ otherBanners['middle'].bannerDescription|raw }}
                {% if otherBanners['middle'].bannerUrl is not empty %}
                <a href="{{ otherBanners['middle'].bannerUrl }}" class="btn btn-primary">Express
                    Donate</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <!-- Change Makers Project & Volunteers - start -->
        <div class="container">
            <!-- Change MAker Project - start -->

            {{ include('portal/home/_change_makers_projects.html.twig') }}
            <!-- Change MAker Project - end -->

            <!-- Volunteer Diaries - start -->
            {{ include('portal/home/_volunteer_diaries.html.twig') }}
            <!-- Volunteer Diaries - end -->

            <!-- Latest Events - start -->

            {{ include('portal/home/_latest_events.html.twig') }}
        </div>
        <!-- Change Makers Project & Volunteers - end -->
        {%  if latestNews is defined and latestNews is not empty  %}
            {{ include('portal/home/_in_the_news.html.twig') }}
        {% endif %}
        {{ include('portal/home/_testimonials.html.twig') }}
    </div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('resources/js/owl.carousel.min.js')}}" type="text/javascript"></script>
    <script src="{{asset('resources/js/easy-responsive-tabs.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".background-express").css('background-image', function () {
                var bg = ('url(' + $(this).data("image-src") + ')');
                return bg;
            });

            $(document).on('click','.clicklike',function(){
                var data = {};
                var articleId = data['id'] = $(this).attr("articleId");
                jQuery.ajax({
                    url: "{{ path('article-like') }}",
                    data: data,
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        $("#bLikeArt_"+articleId).text(data.count);
                    }
                });
            });
            $(document).on('click','.circleLike',function(){
                var data = {};
                var circleId = data['id'] = $(this).attr("circleId");
                jQuery.ajax({
                    url: "{{ path('circle-like') }}",
                    data: data,
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        $("#circleLike_"+circleId).text(data.count);
                    }
                });
            });

            $(document).on('click','.eventLike',function(){
                var data = {};
                var eventId = data['id'] = $(this).attr("eventId");
                jQuery.ajax({
                    url: "{{ path('event-like') }}",
                    data: data,
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        $("#eventLike_"+eventId).text(data.count);
                    }
                });
            });

            $('#latestEvent').easyResponsiveTabs({
                type: 'vertical', //Types: default, vertical, accordion
            });
            setTimeout("$('ul.resp-tabs-list li:nth-child(1)').trigger('click');", 200);

            $(".changeMakers-carousel").owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1.2,
                        nav: true,
                    },
                    600: {
                        items: 2,
                        nav: true,
                    },
                    1000: {
                        items: 3,
                        nav: true,
                        loop: true,
                    },
                },
            });
            $(".projects-carousel").owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true,
                    },
                    600: {
                        items: 1,
                        nav: true,
                    },
                    1000: {
                        items: 1,
                        nav: true,
                        loop: true,
                    },
                },
            });
            $(".testi-carousel").owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true,
                    },
                    600: {
                        items: 1,
                        nav: true,
                    },
                    1000: {
                        items: 1,
                        nav: true,
                        loop: true,
                    },
                },
            });
        });

        $('.social-share-btn').on('click', function (e) {
            e.preventDefault();
            $(this).children('.fa-share-alt').addClass('toggle');
            $(this).siblings('.social-media').slideToggle();
        });
        $('.share-link').on('click', function (e) {
            e.preventDefault();
            $(this).siblings('.share-sec').find('.social-media').slideToggle();
        });
        $('.fa-close').on('click', function (e) {
            e.preventDefault();
            $(this).parent('.social-media').slideToggle();
            $(this).parents('.share-sec').find('.fa-share-alt').removeClass('toggle');
        });
        $('.social-share-btn').on('click', function (e) {
            e.preventDefault();
            $(this).parents('ul.share-view').siblings('.share-sec').find('.social-media').slideToggle();
        });
        // $('.social-media .fa-close').on('click', function (e) {
        //   e.preventDefault();
        //   $(this).parent('.social-media').slideToggle();
        // });

        $(document).on('click','.circleLike',function(){
            var data = {};
            var circleId = data['id'] = $(this).attr("circleId");
            jQuery.ajax({
                url: "{{ path('circle-like') }}",
                data: data,
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    $("#circleLike_"+circleId).text(data.count);
                }
            });
        });

        $(document).on('click','.eventLike',function(){
            var data = {};
            var eventId = data['id'] = $(this).attr("eventId");
            jQuery.ajax({
                url: "{{ path('event-like') }}",
                data: data,
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    $("#eventLike_"+eventId).text(data.count);
                }
            });
        });

        var pathToCircleShare = "{{ path('circle-share') }}";
        var pathToEventShare = "{{ path('event-share') }}";

    </script>
{% endblock %}