{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}
    <!--Main Wrapper Starts-->
    <div class="wrapper">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb" data-aos="fade-right" data-aos-delay="500"
                             class="breadcrumb d-flex justify-content-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><i class="fa fc-home"></i></a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">{{ pageContentByPage.pageTitle }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <h2 data-aos="fade-right" data-aos-delay="200">{{ pageContentByPage.pageTitle }}</h2>

                <h5 data-aos="fade-right" data-aos-delay="200">{{ pageContentByPage.cmsPageContent[0]|raw }}</h5>
                <ul class="partner-box" data-aos="fade-right" data-aos-delay="200">
                    {% for content in pageContentByPage.cmsPageContent %}
                        {% if loop.index0 > 0 %}
                    <li>
                        {#
                        <div class="left-box">
                            {{ pageContentByPage.cmsPageContent[1]|raw }}
                        </div>
                        <div class="right-box">
                            <div class="content">
                                {{ pageContentByPage.cmsPageContent[2]|raw }}
                            </div>
                            <div>{{ pageContentByPage.cmsPageContent[3]|raw }}</div>
                        </div>#}


                        {# Content Start from Cms  #}
                        {% if(content.mediaType) == '' %}

                            {# if no media added #}
                            <p>{{ content.pageContent|raw }}</p>

                        {% else %}

                            {# if media added #}
                            {% if(content.mediaPosition) == 'left' %}

                                {# if media on left and content on right #}
                                <div class="left-box">

                                    {% if(content.mediaType == 'image' and content.mediaFileName != '') %}
                                        <figure>
                                            <img style="width: auto;" src="{{ asset('images/')~content.mediaFilePath }}" alt="{{ content.mediaAlText }}" title="{{ content.mediaTitle }}">
                                        </figure>
                                    {% elseif(content.mediaType == 'video' and content.mediaPath != '') %}
                                        <div>
                                            <iframe class="vid-img" src="{{ content.mediaPath }}" allowfullscreen="" width="200"></iframe>
                                        </div>
                                    {% endif %}

                                </div>
                                <div class="right-box">
                                        {{ content.pageContent|raw }}
                                </div>
                            {% else %}
                                {# if media on right and content on left #}

                                <div class="left-box">
                                    <p>{{ content.pageContent|raw }}</p>
                                </div>
                                <div class="right-box">
                                    {% if(content.mediaType) != '' %}

                                        {% if(content.mediaType == 'image' and content.mediaFileName != '') %}
                                            <figure>
                                                <img style="width: auto;" src="{{ asset('images/')~content.mediaFilePath }}" alt="{{ content.mediaAlText }}" title="{{ content.mediaTitle }}">
                                            </figure>
                                        {% elseif(content.mediaType == 'video' and content.mediaPath != '') %}
                                            <div>
                                                <iframe class="vid-img" src="{{ content.mediaPath }}" allowfullscreen="" width="200"></iframe>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}

                        {% endif %}

                        {# Content End from Cms  #}

                    </li>
                        {% endif %}
                    {% endfor %}
                </ul>

                {# Content Start from Cms  #
                {% for content in page_content.cmsPageContent %}
                    {{ content|raw }}
                {% endfor %}
                {# Content End from Cms  #}
            </div>
        </section>
    </div>

    <!--Main Wrapper End-->
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('body').removeClass('inner-pg');
            $('body').addClass('static partners');
        });
    </script>
{% endblock %}