<section class="inner-banner static-banner">
    <div id="mainBanner" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% set i = 1 %}
            {% for trnProductMedia in trnCircleEvents.trnProductMedia %}
                {% if trnProductMedia.mediaType == 'image'%}
                    <div class="carousel-item {{ i == 1 ? 'active' : '' }}">
                        <figure>
                            {#src="{{ trnProductMedia.uploadedFilePath|imagine_filter('resize_image_h265') }}"#}
                            {#src="{{ asset('images/')~trnProductMedia.uploadedFilePath }}"#}
                            <img src="{{ asset('images/')~trnProductMedia.uploadedFilePath }}"
                                 alt="{{ trnCircleEvents.name }}"
                                 title="{{ trnCircleEvents.name }}" >
                        </figure>
                    </div>
                    {% set i = i + 1 %}
                {% endif %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#mainBanner" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#mainBanner" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
