{% extends 'portal/layout/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('resources/css/my-account.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/jquery-ui.css')}}">
{% endblock %}
{% block portal_content %}
    {{ include('portal/my-account/my-account-banner.html.twig') }}
    <div class="wrapper myaccount">
        <div class="container">
            {{ include('portal/my-account/activity-button.html.twig') }}
            <div class="cust-tabs">
                {{ include('portal/my-account/sidebar-navigation.html.twig') }}
                <div class="tab-content">
                    <div class="changeMakers projects">
                        <div class="head-sec">
                            <h3>Create Contact</h3>
                            <a href="{{ path('contact-book') }}" class="btn btn-primary-o"><i class="fa fa-arrow-left"></i> Back</a>
                        </div>
                        <div class="row">
                            <div class="col-md-10 offset-1">
                                <p class="text-right">All fields are mandatory.</p>
                                <form class="form" method="post" id="frmCreateContact">
                                    <div class="main-form-group">
                                        <div class="row row-grid-3">
                                            <div class="col-lg-4 col-sm-4">
                                                <label id="lblTitle">Title*</label>
                                                <div class="cust-select">
                                                    <select class="form-control" id="title" name="title" required="" >
                                                        <option value="" selected></option>
                                                        {% for mstSalutation in arrMstSalutation %}
                                                            <option value="{{ mstSalutation.salutation }}"> {{ mstSalutation.salutation }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4">
                                                <label>First Name*</label>
                                                <input type="text" class="form-control" id="firstName"
                                                       name="firstName"  value="">
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" id="lastName" name="lastName"
                                                       value="">
                                            </div>
                                        </div>
                                        <div class="row row-grid-3">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group mob-number">
                                                    <label class="">Mobile Number*</label>
                                                    <div class="input-group-prepend">
                                                        <div class="cust-select">
                                                            <select class="form-control" id="countryCode"
                                                                    name="countryCode" required="" >
                                                                <option value="91" selected>+ 91</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control mob-no-input"
                                                           id="mobileNo" name="mobileNo" maxlength="10"
                                                           value="">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <label>Email ID*</label>
                                                <input type="text" class="form-control" id="emailId" name="emailId"
                                                       value="">
                                            </div>
                                        </div>

                                    </div>
                                </form>

                                <div class="btn-sec mt-3 mb-5 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
                                    <a href="javascript:void(0);" id="btnAddContact" class="btn btn-primary">Add
                                        Contact</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/easy-responsive-tabs.js') }}"></script>
    <script src="{{ asset('resources/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('resources/js/image-uploader.min.js') }}"></script>
    <script src="{{ asset('assets/js/portal/my-account/create-contact.js?z=1') }}"></script>
{% endblock %}