<table class="table" id="example">
    <thead>
    <tr>
        <th><label class="sort-order"><b>Name</b></label></th>
        <th class="no-sort"><label class="sort-order">Mobile Number</label></th>
        <th><label class="sort-order">Email ID</label></th>
        <th><label>Assign Lead</label> <div class="tooltip"><i class="fas fa-info-circle"></i>
                <span class="tooltiptext right">
                    Appoint a member as a lead.
                </span>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    {% if arrProjectMemberListData is defined and arrProjectMemberListData is
        not empty and 'arrContributorData' in arrProjectMemberListData|keys %}

        {% for  contributorData in  arrProjectMemberListData['arrContributorData']  %}

            <tr name="trContributor">
                <td {% if projectEventLeadData is defined and projectEventLeadData is not empty and
                    contributorData.appUser.id in projectEventLeadData|keys
                %} class="selected new-leads" {% endif %}
                >
                    <ul class="member-list">
                        <li>
                            <span class="cap-letter">{{ contributorData.appUser.appUserInfo.userFirstName | slice(0,1) }}</span>
                            {{ contributorData.appUser.appUserInfo.userFirstName | capitalize }}
                            {{ contributorData.appUser.appUserInfo.userLastName | capitalize }}
                        </li>
                    </ul>
                </td>
                <td>{{ contributorData.appUser.appUserInfo.mobileCountryCode }} {{ contributorData.appUser.appUserInfo.userMobileNumber }}</td>
                <td>{{ contributorData.appUser.appUserInfo.userEmail }}</td>
                <td>
                    {% if projectEventLeadData is defined and projectEventLeadData is not empty and
                        contributorData.appUser.id in projectEventLeadData|keys
                    %}
                        <a href="javascript:void(0)" class="lead-added">
                            <i class="fa fa-check"></i>
                        </a>
                        <a href="javascript:void(0);" appuserid = "{{ contributorData.appUser.id }}" class="remove-lead">
                            <i class="fa fa-trash-alt"></i>
                        </a>
                    {% else  %}
                        <a href="javascript:void(0);" appuserid = "{{ contributorData.appUser.id }}" class="add-lead">
                            <i class="fa fa-plus"></i> Add Lead
                        </a>`
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}

    </tbody>
</table>