{% for circle in  arrProjectsIJoined  %}
    {% set nCount = get_circle_count_data(circle.id) %}
    <div class="card rounded-bdr">
        <div class="card-image">
            <figure>
                <img src="{{ asset('images') }}/{{ circle.profileImagePath }}"
                     alt="{{ circle.circle }}" title="{{ circle.circle }}">
            </figure>
        </div>
        <div class="card-body">
            <div class="status">
                <h4>
                    {% set requestToJoinStatus = get_request_to_join_status(appUser.id, circle.id ) %}
                    {% if requestToJoinStatus == 'Activated' %}
                        Joined
                    {% elseif requestToJoinStatus == 'Pending Activation'  %}
                        Request Pending
                    {% else %}
                        Rejected
                    {% endif %}
                </h4>
                {% if requestToJoinStatus == 'Activated' %}
                    <span>On
                                    {% if arrRequestToJoinDate is defined and arrRequestToJoinDate is not empty and
                                        arrRequestToJoinDate is not null and circle.id in arrRequestToJoinDate|keys  %}
                                        {{ arrRequestToJoinDate[circle.id] | date( 'F d, Y') }}
                                    {% endif %}
                                </span>
                {% endif %}
            </div>
            <div class="project-name">
                <h2>{{ circle.circle }}</h2>
            </div>
            <h5 class="orange"><em>{% for interest in circle.trnAreaOfInterests %}{{ interest }}{% if not loop.last %},{% endif %} {% endfor %}</em></h5>
            <h5><i class="fas fa-map-marker-alt"></i>  {{ circle.mstCity }}, {{ circle.mstState }}, {{ circle.mstCountry }}</h5>
            <h5>{% if circle.mstJoinBy == 'Open' %}
                    <i class="fa fa-unlock"></i> {{ circle.mstJoinBy }}
                {% else %}
                    <i class="fa fa-lock"></i> {{ circle.mstJoinBy }}
                {% endif %}
            </h5>
            <h4><i class="far fa-calendar"></i> Since {{ circle.createdOn | date( 'F d, Y') }}</h4>

            <ul class="my-story">
                <li><a href="{{ path('project-details', {'id': circle.id}) }}" target="_blank"><i
                                class="fc-connect-with-me"></i> <span>Link</span>   {{ url('project-details', {'id': circle.id}) }}</a></li>
                <li><a href="javascript:void(0);" onclick="setClipboard('{{ url('project-details', {'id': circle.id}) }}')"><i class="fc-copy-link" circleid="{{ circle.id }}"></i> Copy Link</a></li>
            </ul>
            <div class="head-sec share-links pr-0">
                <ul>
                    <li><a target="_blank" href="{{ path('project-details', {'id': circle.id}) }}"><i class="fa
                                fa-bars"></i> View</a></li>
                    <li class="share-sec">
                        <a href="javascript:;" class="social-share-btn"><i class="fas fa-share-alt"></i>Share</a>
                        <div class="social-media" style="width: 200px;">
                            <a href="#" class="fa fa-close"></a>
                            <ul>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('project-details', {'id': circle.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                                <li><a href="https://twitter.com/intent/tweet?text={{ circle.circle }}&amp;url={{ app.request.schemeAndHttpHost ~  path('project-details', {'id': circle.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('project-details', {'id': circle.id}) }}&amp;title={{ circle.circle }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                                <li><a href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('project-details', {'id': circle.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="{{ path('view-project-event-participation', {'id': circle.id} ) }}">
                            <i class="icon-supporters"></i>  View Event Participation
                            {% if arrEventsJoined is defined and arrEventsJoined is not empty and circle
                                .id in arrEventsJoined | keys %}
                                ({{ arrEventsJoined[circle.id] }})
                            {% else %}
                                (0)
                            {% endif %}
                        </a></li>
                    {% if requestToJoinStatus == 'Activated' %}
                        <li><a href="javascript:void(0);" name="exitProject" projectid="{{ circle.id }}"  data-toggle="modal" data-target="#selectAreaModal">
                                <i class="fa fa-edit"></i>  Exit Project</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}