{% extends 'portal/layout/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('resources/css/my-account.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/datatables.min.css')}}">
{% endblock %}
{% block portal_content %}
    {{ include('portal/my-account/my-account-banner.html.twig') }}
    <div class="wrapper myaccount">
        <div class="container">
            {{ include('portal/my-account/activity-button.html.twig') }}
            <div class="cust-tabs events activated">
                {{ include('portal/my-account/sidebar-navigation.html.twig') }}
                <div class="tab-content">
                    <div class="changeMakers projects">
                        <div class="head-sec">
                            <h3>Add / View Lead</h3>
                            <a href="{{ path('my-accounts-projects') }}" class="btn btn-primary-o"><i class="fa fa-arrow-left"></i> Back</a>
                        </div>
                        <div class="inline-elements event-dtls">
                            <b>{{ circle.circle }}</b>
                            <ul>
                                <li>
                                    {% if circle.mstJoinBy == 'Open' %}
                                        <i class="fa fa-unlock"></i> {{ circle.mstJoinBy }}
                                    {% else %}
                                        <i class="fa fa-lock"></i> {{ circle.mstJoinBy }}
                                    {% endif %}
                                </li>
                                <li class="orange-txt">{% for interest in circle.trnAreaOfInterests %}{{ interest }}{% if not loop.last %},{% endif %} {% endfor %}</li>
                                <li><i class="far fa-calendar"></i> {{ circle.createdOn | date( 'F d, Y') }} </li>
                                <li><i class="fas fa-map-marker-alt"></i> {{ circle.mstCity }}, {{ circle.mstState }}, {{ circle.mstCountry }}</li>
                            </ul>
                        </div>

                        <div class="row">
                            <div class="mx-auto">
                                <p class="text-center">Appoint a member as a lead for your project.</p>

                                <div class="btn-sec top-btns mt-3 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
                                    <a href="#" class="btn btn-primary" id="view-memberlist">Add Lead</a>
                                </div>
                            </div>
                        </div>

                        <div class="participant-dtls" style="display: none;" >
                            <div class="filter-panel">
                                <div class="row">
                                    <div class="col-lg-5 col-md-12">
                                        <h5 class="py-3" id="ttlRegisteredMember">Total Registered Members
                                            {% if arrProjectMemberListData is defined and arrProjectMemberListData is
                                                not empty and 'arrContributorData' in arrProjectMemberListData|keys %}
                                                ({{ arrProjectMemberListData['arrContributorData']|length }})
                                            {% endif %}</h5>
                                    </div>
                                    <div class="col-lg-7 col-md-12">
                                        <div class="search-panel lg-width">
                                            <div class="input-group">
                                                <input type="text" id="quicksearch" class="search-input"
                                                       placeholder="Search by Name, Mobile, Email">
                                                <a href="#" class="btn search-input-btn"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive cust-tbl tbl-borderless tbl-memberlist mb-5" id="divProjectMemberList">
                                <table class="table" id="example">
                                    <thead>
                                    <tr>
                                        <th><label class="sort-order"><b>Name</b></label></th>
                                        <th class="no-sort"><label class="sort-order">Mobile Number</label></th>
                                        <th><label class="sort-order">Email ID</label></th>
                                        <th><label>Assign Lead</label> <div class="tooltip"><i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext right">Appoint a member as a lead for your project.</span>
                                            </div></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% if arrProjectMemberListData is defined and arrProjectMemberListData is
                                            not empty and 'arrContributorData' in arrProjectMemberListData|keys %}

                                            {% for  contributorData in  arrProjectMemberListData['arrContributorData']  %}

                                                <tr>
                                                    <td {% if projectEventLeadData is defined and projectEventLeadData is not empty and
                                                            contributorData.appUser.id in projectEventLeadData|keys
                                                        %} class="selected new-leads" {% endif %}
                                                    >
                                                        <ul class="member-list">
                                                            <li>
                                                                <span class="cap-letter">{{ contributorData.appUser.appUserInfo.userFirstName | slice(0,1) }}</span>
                                                                {{ contributorData.appUser.appUserInfo.userFirstName | capitalize }}
                                                                {{ contributorData.appUser.appUserInfo.userLastName | capitalize }}
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>{{ contributorData.appUser.appUserInfo.mobileCountryCode }} {{ contributorData.appUser.appUserInfo.userMobileNumber }}</td>
                                                    <td>{{ contributorData.appUser.appUserInfo.userEmail }}</td>
                                                    <td>
                                                        {% if projectEventLeadData is defined and projectEventLeadData is not empty and
                                                            contributorData.appUser.id in projectEventLeadData|keys
                                                        %}
                                                            <a href="javascript:void(0)" class="lead-added">
                                                                <i class="fa fa-check"></i>
                                                            </a>
                                                            <a href="javascript:void(0);" appuserid = "{{ contributorData.appUser.id }}" class="remove-lead">
                                                                <i class="fa fa-trash-alt"></i>
                                                            </a>
                                                        {% else  %}
                                                            <a href="javascript:void(0);" appuserid = "{{ contributorData.appUser.id }}" class="add-lead">
                                                                <i class="fa fa-plus"></i> Add Lead
                                                            </a>`
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <h5 class="my-2 mt-4">View Lead
                            {% if arrProjectMemberListData is defined and arrProjectMemberListData is
                                not empty and 'arrProjectLead' in arrProjectMemberListData|keys %}
                                ({{ arrProjectMemberListData['arrProjectLead']|length }})
                            {% endif %}
                        </h5>
                        {% if arrProjectMemberListData is defined and arrProjectMemberListData is not empty and
                            'arrProjectLead' in arrProjectMemberListData|keys and
                            arrProjectMemberListData['arrProjectLead']|length > 0  %} {% else %}
                            <h5 class="no-lead">No Lead Added</h5>
                        {% endif %}
                        <div class="table-responsive cust-tbl tbl-borderless tbl-memberlist"
                            {% if arrProjectMemberListData is defined and arrProjectMemberListData is not empty and
                                'arrProjectLead' in arrProjectMemberListData|keys and
                                arrProjectMemberListData['arrProjectLead']|length > 0  %} {% else %}
                                 style="display: none;"
                            {% endif %}
                        >
                            <table class="table" id="example2">
                                <thead>
                                    <tr>
                                        <th><label>Sr. No.</label></th>
                                        <th><label class="sort-order"><b>Name</b></label></th>
                                        <th class="no-sort"><label class="sort-order">Mobile Number</label></th>
                                        <th><label class="sort-order">Email ID</label></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if arrProjectMemberListData is defined and arrProjectMemberListData is
                                        not empty and 'arrProjectLead' in arrProjectMemberListData|keys %}
                                        {% for  projectLead in  arrProjectMemberListData['arrProjectLead']  %}
                                            <tr class="selected">
                                                <td>&nbsp;{{ loop.index }}</td>
                                                <td>
                                                    {{ projectLead.appUser.appUserInfo.userFirstName | capitalize }}
                                                    {{ projectLead.appUser.appUserInfo.userLastName | capitalize }}
                                                </td>
                                                <td>{{ projectLead.appUser.appUserInfo.mobileCountryCode }} {{ projectLead.appUser.appUserInfo.userMobileNumber }}</td>
                                                <td>{{ projectLead.appUser.appUserInfo.userEmail }} </td>
                                                <td>
                                                    <a href="javascript:void(0);" appuserid = "{{ projectLead.appUser.id }}" class="remove-lead">
                                                        <i class="fa fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/easy-responsive-tabs.js') }}"></script>
    <script src="{{ asset('resources/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('resources/js/image-uploader.min.js') }}"></script>
    <script src="{{ asset('resources/js/datatables.min.js') }}"></script>
    <script>
        var addRemoveProjectLeadURL = "{{ path('add-remove-project-lead') }}";
        var getProjectMemberListURL = "{{ path('my-account-get-project-member-list', {'id': 'xyz'}) }}";
        var projectId = "{{ circle.id }}"
    </script>
    <script src="{{ asset('assets/js/portal/my-account/project-view-lead.js?z=1') }}"></script>
{% endblock %}