{% extends 'portal/layout/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('resources/css/my-account.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/datatables.min.css')}}">
{% endblock %}
{% block portal_content %}
    {{ include('portal/my-account/my-account-banner.html.twig') }}
    <div class="wrapper myaccount">
        <div class="container">
            {{ include('portal/my-account/activity-button.html.twig') }}
            <div class="cust-tabs projects activated">
                {{ include('portal/my-account/sidebar-navigation.html.twig') }}
                <div class="tab-content">
                    <div class="changeMakers projects">
                        <div class="head-sec">
                            <h3>Member List</h3>
                            <a href="{{ path('my-accounts-projects') }}" class="btn btn-primary-o"><i class="fa fa-arrow-left"></i> Back</a>
                        </div>
                        <div class="btn-sec top-btns mt-3 mb-5 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
                            <a href="{{ path('my-accounts-view-project-members', {'id': circle.id}) }}" class="btn btn-primary btn-blue">Member List</a>
                            <a href="{{ path('view-project-request-to-join', {'id': circle.id}) }}" class="btn btn-primary">Request to Join List</a>
                            <a href="{{ path('my-account-project-broadcast', {'id': circle.id}) }}" class="btn btn-primary">Broadcast / Updates</a>
                        </div>
                        <div class="filter-panel">
                            <form>
                                <div class="row">
                                    <div class="col-lg-5 col-md-12">
                                        <h5 class="py-3" id="ttlRegisteredMember">Member List
                                            {% if arrProjectMemberListData is defined and arrProjectMemberListData is
                                                not empty and 'arrContributorData' in arrProjectMemberListData|keys %}
                                                ({{ arrProjectMemberListData['arrContributorData']|length }})
                                            {% endif %}
                                        </h5>
                                    </div>
                                    <div class="col-lg-7 col-md-12">
                                        <label class="d-md-none mob-filter"> <strong>Filter By :</strong></label>
                                        <div class="row row-sm justify-content-sm-start align-items-center filter-sec">
                                            <div class="col-sm-auto">
                                                <label class="m-hide"> <strong>Filter By :</strong></label>
                                                <a href="#" class="fa fa-close"></a>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <div class="form-group">
                                                    <div class="cust-select">
                                                        <select class="form-control" required="" id="Project">
                                                            <option>Select Project</option>
                                                            {% for trnCircle in  arrOwnProjects %}
                                                                <option
                                                                        {% if trnCircle.id == circle.id %}
                                                                            selected
                                                                         {% endif %}
                                                                value="{{ trnCircle.id }}" > {{ trnCircle.circle
                                                                    }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <div class="search-panel">
                                                    <div class="input-group">
                                                        <input type="text" class="search-input" id="quicksearch"
                                                               placeholder="Search by Name, Mobile, Email">
                                                        <a href="javascript:void(0);" class="btn search-input-btn"><i class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive cust-tbl tbl-borderless tbl-memberlist" id="divProjectMemberList">
                            <table class="table" id="example">
                                <thead>
                                <tr>
                                    <th><label class="sort-order">Name</label></th>
                                    <th class="no-sort"><label class="sort-order">Mobile Number</label></th>
                                    <th><label class="sort-order">Email ID</label></th>
                                    <th class="no-sort"><label class="sort-order">Project</label></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% if arrProjectMemberListData is defined and arrProjectMemberListData is
                                        not empty and 'arrContributorData' in arrProjectMemberListData|keys %}
                                        {% for  contributorData in  arrProjectMemberListData['arrContributorData']  %}
                                            <tr>
                                                <td>
                                                    <ul class="member-list">
                                                        <li>
                                                            <span class="cap-letter">
                                                                {{ contributorData.appUser.appUserInfo.userFirstName | slice(0,1) }}
                                                            </span>
                                                            {{ contributorData.appUser.appUserInfo.userFirstName | capitalize }}
                                                            {{ contributorData.appUser.appUserInfo.userLastName | capitalize }}
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>+{{ contributorData.appUser.appUserInfo.mobileCountryCode }} {{ contributorData.appUser.appUserInfo.userMobileNumber }} </td>
                                                <td>{{ contributorData.appUser.appUserInfo.userEmail }}</td>
                                                <td>{{ contributorData.trnCircle.circle | upper }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/easy-responsive-tabs.js') }}"></script>
    <script src="{{ asset('resources/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('resources/js/image-uploader.min.js') }}"></script>
    <script src="{{ asset('resources/js/datatables.min.js') }}"></script>
    <script>
        var getProjectMemberListURL = "{{ path('my-accounts-ajax-view-project-members', {'id' : 'xyz'}) }}";
        var projectId = {{ circle.id }};
    </script>
    <script src="{{ asset('assets/js/portal/my-account/view-project-member.js?z=1') }}"></script>

{% endblock %}