<h2 class="modal-title" id="demoLabel">Collection Centre</h2>
<div class="row align-items-center justify-content-between">
    <div class="col-sm-4 recordCounter">
        Total Records : <b>{{ arrTrnCollectionCentreDetails|length }}</b>
    </div>
    <div class="col-auto">
        <div class="search-sec">
            <label for="search">Search By</label>
            <input type="text" class="search-input" id="search" placeholder="Name, Location">
            <a href="#" class="btn search-input-btn"><i class="fa fa-search"></i></a>
        </div>
    </div>
</div>
<form id="frmCollectionCenterFromMaster" name = "frmCollectionCenterFromMaster">
    <div class="collection-center-table" >
    <ul class="">
        <li class="head">
            <ul>
                <li>Sr. No.</li>
                <li>Name</li>
                <li>Address</li>
                <li>Select</li>
            </ul>
        </li>
        {% for trnCollectionCentreDetails in  arrTrnCollectionCentreDetails %}
            <li>
                <ul>
                    <li>{{ loop.index }}</li>
                    <li>{{ trnCollectionCentreDetails.firstName}} {{ trnCollectionCentreDetails.lastName}}</li>
                    <li>
                        {{ trnCollectionCentreDetails.address1}}, {{ trnCollectionCentreDetails
                        .address2}}, {{ trnCollectionCentreDetails.mstCity }}, {{
                        trnCollectionCentreDetails.mstState }}, {{ trnCollectionCentreDetails
                        .mstCountry }}, {{ trnCollectionCentreDetails.pinCode }}
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" value="{{ trnCollectionCentreDetails.id }}"
                                   name="collectionCenter[{{ trnCollectionCentreDetails.id }}]"
                            {% if collectionCenter is defined and collectionCenter is not empty and trnCollectionCentreDetails.id in
                                collectionCenter %}
                                checked
                            {% endif %}
                            >
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
</form>
{% if arrTrnCollectionCentreDetails|length > 0 %}
<div class="text-center">
    <a href="javascript:void(0);" onclick="addSelectedCollectionCenterToUI();" class="btn btn-primary">Add</a>
</div>
{% endif %}