<section class="myaccount-banner">
    <figure class="banner-image">
        <div class="banner-preview">
            <div id="imagePreview2" >
                {% if app.user.appUserInfo.backgroundProfilePath == 'users/' %}
                    <img src="{{asset('resources/images/my-account/myaccoung-bg.jpg')}}" class="profile-bg" alt="">
                {% else %}
                    <img src="{{ asset('images/') }}{{ app.user.appUserInfo.backgroundProfilePath }}" class="profile-bg" alt="">
                {% endif %}
            </div>
        </div>
        {% set currentPath = app.request.requesturi %}
        {% set currentRoute = app.request.get('_route') %}

        <figcaption>
            <div class="container">
                <div class="top-cap-dtls">
                    <form method="post" action="{{ path('my-account-upload-background-pic') }}" id="frmUploadBackgroundPic"
                          enctype="multipart/form-data">
                        <input type='file' id="imageUpload2" name="backgroundPic" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload2">
                            <i class="fa fa-camera"></i>
                        </label>
                        <input type="hidden" name="hdnPath" value="{{ currentPath }}">
                        <input type="hidden" name="hdnRoute" value="{{ currentRoute }}">
                    </form>
                    <div class="avatar-upload user-info">
                        <form method="post" action="{{ path('my-account-upload-profile-pic') }}" id="frmUploadProfilePic"
                              enctype="multipart/form-data">
                            <div class="avatar-edit user-edit">
                                <input type='file' id="imageUpload" name="profilePic" src="{{ asset('images/') }}{{ app.user.appUserInfo.userAvatarImagePath }}"  accept=".png, .jpg, .jpeg" />
                                <input type="hidden" name="hdnPath" value="{{ currentPath }}">
                                <input type="hidden" name="hdnRoute" value="{{ currentRoute }}">
                                <label for="imageUpload">
                                    <i class="fa fa-camera"></i>
                                </label>
                                <div class="avatar-preview">
                                    <div id="imagePreview"><i class="fc-user-x2"></i></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="user-dtls">
                        <h4>{{ appUser.appUserInfo.mstSalutation}} {{ appUser.appUserInfo.userFirstName}} {{ appUser.appUserInfo.userLastName}} </h4>

                        <a href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ currentPath }}" class="whatsapp-btn"></a>
{#                        <a href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ currentPath }}" class="whatsapp-btn"></a>#}
                        {#<div class="social-media" style="display: none;">
                            <a href="#" class="fa fa-close"></a>
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><i class="fc-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fc-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fc-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fc-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fc-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fc-whatsapp"></i></a>
                                </li>
                            </ul>
                        </div>#}

                    </div>
                </div>
            </div>
            </div>
        </figcaption>
    </figure>
</section>
<script>
    var profilePic = backGroundPic = '';
    {% if app.user.appUserInfo.userAvatarImagePath != 'users/' %}
        profilePic = "{{ asset('images/') }}{{ app.user.appUserInfo.userAvatarImagePath }}";
    {% endif %}
    {% if app.user.appUserInfo.backgroundProfilePath != 'users/' %}
        backGroundPic = "{{ asset('images/') }}{{ app.user.appUserInfo.backgroundProfilePath }}";
    {% endif %}
</script>