{% extends 'portal/layout/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('resources/css/my-account.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/datatables.min.css')}}">
{% endblock %}
{% block portal_content %}
    {{ include('portal/my-account/my-account-banner.html.twig') }}
    <div class="wrapper myaccount">
        <div class="container">
            {{ include('portal/my-account/activity-button.html.twig') }}
            <div class="cust-tabs projects activated">
                {{ include('portal/my-account/sidebar-navigation.html.twig') }}
                <div class="tab-content">
                    <div class="changeMakers projects">
                        <div class="head-sec">
                            <h3>Invite To Join</h3>
                            <a href="{{ path('my-accounts-projects') }}" class="btn btn-primary-o"><i class="fa fa-arrow-left"></i> Back</a>
                        </div>
                        <div class="inline-elements event-dtls">
                            <b>{{ circle.circle | upper }}</b>
                            <ul>
                                <li>
                                    {% if circle.mstJoinBy == 'Open' %}
                                        <i class="fa fa-unlock"></i> {{ circle.mstJoinBy }}
                                    {% else %}
                                        <i class="fa fa-lock"></i> {{ circle.mstJoinBy }}
                                    {% endif %}
                                </li>
                                <li class="orange-txt">{% for interest in circle.trnAreaOfInterests %}{{ interest }}{% if not loop.last %},{% endif %} {% endfor %}</li>
                                <li><i class="far fa-calendar"></i> {{ circle.createdOn | date( 'F d, Y') }} </li>
                                <li><i class="fas fa-map-marker-alt"></i> {{ circle.mstCity }}, {{ circle.mstState }}, {{ circle.mstCountry }}</li>
                            </ul>
                        </div>
                        <div class="filter-panel">
                            <form>
                                <div class="row">
                                    <div class="col-lg-5 col-md-12">
                                        <h5 class="py-3">Contact List
                                            {% if arrUserContacts is defined and arrUserContacts is not empty %}
                                                ({{ arrUserContacts|length }})
                                            {% endif %}
                                        </h5>
                                    </div>
                                    <div class="col-lg-7 col-md-12">
                                        <label class="d-md-none mob-filter"> <strong>Filter By :</strong></label>
                                        <div class="row row-sm justify-content-sm-start align-items-center filter-sec">
                                            <div class="col-sm-auto">
                                                <label class="m-hide"> <strong>Filter By :</strong></label>
                                                <a href="#" class="fa fa-close"></a>
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <div class="search-panel">
                                                    <div class="input-group">
                                                        <input type="text" class="search-input" placeholder="Search by Name, Mobile, Email">
                                                        <button href="javascript:void(0);" class="btn
                                                        search-input-btn"><i class="fa fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <form method="post" id="frmSendInvite">
                            <div class="table-responsive cust-tbl tbl-borderless tbl-memberlist">
                                <table class="table table-hover example" id="example">
                                    <thead>
                                    <tr>
                                        <th><label class="name-checkbox" for="checkBoxMember">
                                                <input type="checkbox" name="checkBoxName" id="checkBoxMember">
                                                <span class="checkmark"></span></label><label class="sort-order"><b>Name</b></label></th>
                                        <th class="no-sort"><label class="sort-order">Mobile Number</label></th>
                                        <th><label class="sort-order">Email ID</label></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for userContacts in  arrUserContacts  %}
                                        <tr>
                                            <td>
                                                <ul class="member-list">
                                                    <li><span class="cap-letter">{{ userContacts.firstName | slice(0,1) }}</span>
                                                        {% if arrUserContactsAlreadySent is defined and userContacts.id in arrUserContactsAlreadySent | keys %}
                                                            <label class="name-checkbox" for="ar{{ userContacts.id }}">
                                                                <input disabled type="checkbox" value="{{userContacts.id }}"
                                                                       name="checkBoxNameToSubmit[]" class="checkBoxNameMember"
                                                                       id="ar{{ userContacts.id }}">
                                                                <span class="checkmark"></span></label>
                                                            <span id="contactdetails_{{ userContacts.id }}"  title="Invitation Already sent">{{
                                                                userContacts.firstName | capitalize }} {{
                                                                userContacts.lastName  | capitalize }}</span>
                                                            <div class="tooltip">
                                                                <i style="color: #F05235;" class="fas fa-info-circle"></i>
                                                                <span class="tooltiptext">Invitation already sent</span>
                                                            </div>
                                                        {% else  %}
                                                            <label class="name-checkbox" for="ar{{ userContacts.id }}">
                                                                <input type="checkbox" value="{{ userContacts.id }}"
                                                                       name="checkBoxNameToSubmit[]" class="checkBoxNameMember"
                                                                       id="ar{{ userContacts.id }}">
                                                                <span class="checkmark"></span></label>
                                                            <span id="contactdetails_{{ userContacts.id }}">{{ userContacts.firstName | capitalize }} {{
                                                                userContacts.lastName  | capitalize }}</span>
                                                        {% endif %}


                                                    </li>
                                                </ul>
                                            </td>
                                            <td>{{ userContacts.mobileCountryCode }} {{ userContacts.mobileNumber }}</td>
                                            <td>{{ userContacts.email }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>

                        <div class="btn-sec btm-btns mt-3 mb-5">
                            <a href="javascript:void(0);" class="btn btn-primary" id="sendInvite">Send Invite</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/easy-responsive-tabs.js') }}"></script>
    <script src="{{ asset('resources/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('resources/js/image-uploader.min.js') }}"></script>
    <script src="{{ asset('resources/js/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/js/portal/my-account/invite-to-join.js') }}"></script>
{% endblock %}