<div class="members-dtls" style="display:none">
    <div class="filter-panel">
        <form>
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <h5 class="py-3">Total Members
                        {% if arrContributorData is defined and arrContributorData is
                            not empty %}
                            ({{ arrContributorData|length }})
                        {% else %}
                            (0)
                        {% endif %}
                    </h5>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="search-panel">
                        <div class="input-group">
                            <input type="text" class="search-input" placeholder="Search by Name, Mobile, Email">
                            <a href="javascript:void(0);" class="btn search-input-btn"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive cust-tbl tbl-borderless tbl-memberlist">
        <form method="post" id="frmMemberReminder">
            <table class="table table-hover example">
                <thead>
                <tr>
                    <th><label class="name-checkbox" for="checkBoxMember">
                            <input type="checkbox" name="checkBoxName" id="checkBoxMember">
                            <span class="checkmark"></span></label> <label class="sort-order"><b>Name</b></label></th>
                    <th class="no-sort"><label class="sort-order">Mobile Number</label></th>
                    <th><label class="sort-order">Email ID</label></th>
                </tr>
                </thead>
                <tbody>
                {% for memberData in arrContributorData %}
                    <tr>
                        <td>
                            <ul class="member-list">
                                <li><span class="cap-letter">
                                        {{ memberData.appUser.appUserInfo.userFirstName | slice(0,1) }}
                                    </span>
                                    <label class="name-checkbox" for="ar{{ memberData.appUser.id }}">
                                        <input type="checkbox" value="{{ memberData.appUser.id }}"
                                               name="checkBoxNameToSubmit[]" class="checkBoxNameMember"
                                               id="ar{{ memberData.appUser.id }}">
                                        <span class="checkmark"></span></label>
                                    {{ memberData.appUser.appUserInfo.userFirstName}} {{ memberData.appUser.appUserInfo.userLastName }}
                                </li>
                            </ul>
                        </td>
                        <td>
                            {{ memberData.appUser.appUserInfo.mobileCountryCode }} {{  memberData.appUser.appUserInfo.userMobileNumber }}
                        </td>
                        <td>{{ memberData.appUser.appUserInfo.userEmail }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </form>
    </div>
    <div class="btn-sec btm-btns mt-3 mb-5">
        <label class="participant-count">Selected <b class="count-no" id="countMember">0</b>
            Member</label>
        <a href="javascript:void(0);" class="btn btn-primary" id="sendReminderToMember">Send
            Reminder</a>
    </div>
</div>