<div class="tab-content">
    <div class="changeMakers projects">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success-cf alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% set isMandatoryFilled = check_if_all_mandatory_filled() %}
        <div class="head-sec">
            <h3>Projects</h3>
            <a {% if isMandatoryFilled is defined and isMandatoryFilled is not empty and isMandatoryFilled == true %}
                href="{{ path('create-an-event') }}" {% else %} href="javascript:void(0)" {% endif %} class="btn
                btn-primary btn-create">Create an Event</a>
        </div>
        <div class="btn-sec mt-3 mb-5 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
            <a href="javascript:void(0);"  id="anchOwnPrj" class="btn btn-primary btn-blue">Own
                Projects</a>
            <a href="javascript:void(0);"  id="anchOtherPrj" class="btn btn-primary">Other Projects</a>
        </div>
        <div id="myProjects" name="projectList">
            {% for circle in  arrOwnProjects  %}
                {% if circle.mstStatus == 'Activated' %}
                    <div class="card">
                        <div class="card-image">
                            <figure>
                                <img src="{{ asset('images') }}/{{ circle.profileImagePath }}"
                                     alt="">
                            </figure>
                        </div>
                        <div class="card-body">
                            <div class="status">
                                <h4>Activated</h4>
                            </div>
                            <div class="project-name">
                                <h2>{{ circle.circle }}</h2>
                            </div>
                            <h5 class="orange"><em>{% for interest in circle.trnAreaOfInterests %}{{ interest }}{% if not loop.last %},{% endif %} {% endfor %}</em></h5>
                            <h5><i class="fas fa-map-marker-alt"></i>  {{ circle.mstCity }}, {{ circle.mstState }}, {{ circle.mstCountry }}</h5>
                            <h5>
                                {% if circle.mstJoinBy == 'Open' %}
                                    <i class="fa fa-unlock"></i> {{ circle.mstJoinBy }}
                                {% else %}
                                    <i class="fa fa-lock"></i> {{ circle.mstJoinBy }}
                                {% endif %}
                            </h5>
                            <h4><i class="far fa-calendar"></i> Since {{ circle.createdOn | date( 'F d, Y') }}</h4>

                            <p>{{ circle.impactStatement |truncate(180)|raw  }}</p>
                            {% set nCount = get_circle_count_data(circle.id) %}
                            <div class="first-table">
                                <ul>
                                    <li>
                                        <ul class="member-event-list">
                                            <li>
                                                <div class="number">{{ nCount.memberCount }}</div>
                                                <div class="task">Volunteers</div>
                                            </li>
                                            <li>
                                                <div class="number">{{ nCount.eventCount }}</div>
                                                <div class="task">Events</div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="impact-list">
                                            <li><b class="orange">Impact</b></li>
                                            <li>Time <span class="number">{{ nCount.volunteerintime }}</span> <span>Events</span></li>
                                            <li>Money <span class="number">{{ nCount.fundraiser }}</span>
                                                <span>Events</span></li>
                                            <li>Material <span class="number">{{ nCount.materialinkind }}</span> <span>Events</span></li>
                                        </ul>
                                    </li>
                                    <li class="total-hrs">
                                        <ul>
                                            <li><span class="number">{{ nCount.totalCircleHrs }}</span> hrs</li>
                                            <li><span class="number">
                                                    {% if nCount.totalFundRaised < 1  %}
                                                        {{ nCount.totalFundRaised * 100 }}
                                                    {% else  %}
                                                        {{ nCount.totalFundRaised }}
                                                    {% endif %}
                                                </span>
                                                    {% if nCount.totalFundRaised < 1  %} K {% else %} lacs {%
                                                        endif %}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="recomend-share">
                                <h4 data-aos="fade-right" data-aos-delay="100" class="aos-init aos-animate"><i class="fc-reccomend-report"></i> We will recommend you to first invite your known set of volunteers / staff to be part of your Circle before you publish the Circle - Share the link with them for them to Join you.</h4>
                            </div>
                            <ul class="my-story">
                                <li><a href="{{ path('project-details', {'id': circle.id}) }}" target="_blank"><i
                                                class="fc-connect-with-me"></i> <span>Link</span> {{ url('project-details', {'id': circle.id}) }}</a></li>
                                <li><a href="javascript:void(0);" onclick="setClipboard('{{ url('project-details', {'id': circle.id}) }}')"><i class="fc-copy-link" circleid="{{ circle.id
                                        }}"></i> Copy Link</a></li>
                            </ul>
                            <div class="head-sec share-links">
                                <ul>
                                    <li><a target="_blank" href="{{ path('project-details', {'id': circle.id}) }}"><i class="fa
                                    fa-bars"></i> View</a></li>
                                    <li class="share-sec">
                                        <a href="javascript:;" class="social-share-btn"><i class="fas fa-share-alt"></i>Share</a>
                                        <div class="social-media" style="width: 200px;">
                                            <a href="#" class="fa fa-close"></a>
                                            <ul>
                                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('project-details', {'id': circle.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                                                <li><a href="https://twitter.com/intent/tweet?text={{ circle.circle }}&amp;url={{ app.request.schemeAndHttpHost ~  path('project-details', {'id': circle.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                                                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('project-details', {'id': circle.id}) }}&amp;title={{ circle.circle }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                                                <li><a href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('project-details', {'id': circle.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="{{ path('project-view-lead', {'id': circle.id}) }}"><i class="icon-supporters"></i>  Add / View Lead</a></li>
                                    {# <li><a href="{{ path('my-accounts-view-edit-project', {'id': circle.id}) }}"><i
                                                    class="fa fa-edit"></i>  Edit</a></li> #}
                                    <li><a href="{{ path('my-accounts-view-project-members', {'id': circle.id}) }}"><i
                                                    class="fa fa-users"></i>  Member List</a></li>
                                    <li><a href="javascript:void(0);" name="deactivateProject" projectid="{{ circle.id }}"  data-toggle="modal" data-target="#selectAreaModal">
                                            <i class="fa fa-ban"></i>  Deactivate Project</a>
                                    </li>
                                    <li><a href="{{ path('my-account-invite-to-join', {'id': circle.id}) }}"><i class="icon-supporters"></i>
                                            Invite to Join</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                {% else  %}
                    <div class="card">
                        <div class="card-image">
                            <figure>
                                <img src="{{ asset('images') }}/{{ circle.profileImagePath }}" alt="">
                            </figure>
                        </div>
                        <div class="card-body">
                            <div class="status not-activated">
                                {% if circle.mstStatus == 'Pending Activation' %}
                                    <h4>Not Activated</h4>
                                    <h6>Your project is under verification process.</h6>
                                {% elseif circle.mstStatus == 'Deactivated' %}
                                    <h4>{{ circle.mstStatus }}</h4>
                                {% elseif circle.mstStatus == 'Rejected' %}
                                    <h4>{{ circle.mstStatus }}</h4>
                                    <h6>Reason: <b>{{ circle.reasonToReject | ucwords}}</b></h6>
                                {% endif %}
                            </div>
                            <div class="project-name">
                                <h2>{{ circle.circle }}</h2>
                            </div>
                            <h5 class="orange"><em>{% for interest in circle.trnAreaOfInterests %}{{ interest }}{% if not loop.last %},{% endif %} {% endfor %}</em></h5>
                            <h5><i class="fas fa-map-marker-alt"></i>  {{ circle.mstCity }}, {{ circle.mstState }}, {{ circle.mstCountry }}</h5>
                            <h5>
                                {% if circle.mstJoinBy == 'Open' %}
                                    <i class="fa fa-unlock"></i> {{ circle.mstJoinBy }}
                                {% else %}
                                    <i class="fa fa-lock"></i> {{ circle.mstJoinBy }}
                                {% endif %}
                            </h5>
                            {% if circle.mstStatus == 'Pending Activation' %}
                                <h4><i class="far fa-calendar"></i> Since {{ circle.createdOn | date( 'F d, Y') }}</h4>
                            {% endif %}
                            <p>{{ circle.impactStatement |truncate(180)|raw  }}</p>

                            <a href="{{ path('my-accounts-view-edit-project', {'id': circle.id}) }}" target="_blank" class="btn-view-project"><i
                                        class="fa fa-bars"></i> View
                                Project</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% for circle in  arrMyCoCoreProjects  %}
                <div class="card">
                    <div class="card-image">
                        <figure>
                            <img src="{{ asset('images') }}/{{ circle.profileImagePath }}"
                                 alt="">
                        </figure>
                    </div>
                    <div class="card-body">
                        <div class="status">
                            <h4>Activated</h4>
                        </div>
                        <div class="project-name">
                            <h2>{{ circle.circle }}</h2>
                        </div>
                        <h5 class="orange"><em>{% for interest in circle.trnAreaOfInterests %}{{ interest }}{% if not loop.last %},{% endif %} {% endfor %}</em></h5>
                        <h5><i class="fas fa-map-marker-alt"></i>  {{ circle.mstCity }}, {{ circle.mstState }}, {{ circle.mstCountry }}</h5>
                        <h5>
                            {% if circle.mstJoinBy == 'Open' %}
                                <i class="fa fa-unlock"></i> {{ circle.mstJoinBy }}
                            {% else %}
                                <i class="fa fa-lock"></i> {{ circle.mstJoinBy }}
                            {% endif %}
                        </h5>
                        <h4><i class="far fa-calendar"></i> Since {{ circle.createdOn | date( 'F d, Y') }}</h4>

                        <p>{{ circle.impactStatement |truncate(180)|raw  }}</p>
                        {% set nCount = get_circle_count_data(circle.id) %}

                        <div class="first-table">
                            <ul>
                                <li>
                                    <ul class="member-event-list">
                                        <li>
                                            <div class="number">{{ nCount.memberCount }}</div>
                                            <div class="task">Volunteers</div>
                                        </li>
                                        <li>
                                            <div class="number">{{ nCount.eventCount }}</div>
                                            <div class="task">Events</div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="impact-list">
                                        <li><b class="orange">Impact</b></li>
                                        <li>Time <span class="number">{{ nCount.volunteerintime }}</span> <span>Events</span></li>
                                        <li>Money <span class="number">{{ nCount.fundraiser }}</span> <span>Events</span></li>
                                        <li>Material <span class="number"> {{ nCount.materialinkind }}</span>
                                            <span>Events</span></li>
                                    </ul>
                                </li>
                                <li class="total-hrs">
                                    <ul>
                                        <li><span class="number">{{ nCount.totalCircleHrs }}</span> hrs</li>
                                        <li><span class="number">
                                                        {% if nCount.totalFundRaised < 1  %}
                                                            {{ nCount.totalFundRaised * 100 }}
                                                        {% else  %}
                                                            {{ nCount.totalFundRaised }}
                                                        {% endif %}
                                                    </span>
                                            {% if nCount.totalFundRaised < 1  %} K {% else %} lacs {%
                                                endif %}</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="recomend-share">
                            <h4 data-aos="fade-right" data-aos-delay="100" class="aos-init aos-animate"><i class="fc-reccomend-report"></i> We will recommend you to first invite your known set of volunteers / staff to be part of your Circle before you publish the Circle - Share the link with them for them to Join you.</h4>
                        </div>
                        <ul class="my-story">
                            <li><a href="{{ path('project-details', {'id': circle.id}) }}" target="_blank"><i
                                            class="fc-connect-with-me"></i> <span>Link</span> {{ url('project-details', {'id': circle.id}) }}</a></li>
                            <li><a href="javascript:void(0);" onclick="setClipboard('{{ url('project-details', {'id': circle.id}) }}')"><i class="fc-copy-link" circleid="{{ circle.id }}"></i> Copy Link</a></li>
                        </ul>
                        <div class="head-sec share-links">
                            <ul>
                                <li><a target="_blank" href="{{ path('project-details', {'id': circle.id}) }}"><i class="fa
                                        fa-bars"></i> View</a></li>
                                <li class="share-sec">
                                    <a href="javascript:;" class="social-share-btn"><i class="fas fa-share-alt"></i>Share</a>
                                    <div class="social-media" style="width: 200px;">
                                        <a href="#" class="fa fa-close"></a>
                                        <ul>
                                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('project-details', {'id': circle.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/intent/tweet?text={{ circle.circle }}&amp;url={{ app.request.schemeAndHttpHost ~  path('project-details', {'id': circle.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                                            <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('project-details', {'id': circle.id}) }}&amp;title={{ circle.circle }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                                            <li><a href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('project-details', {'id': circle.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                                {# <li><a href="{{ path('project-view-lead', {'id': circle.id}) }}"><i
                                                class="icon-supporters"></i>  Add / View Lead</a></li> #}
                                {# <li><a href="{{ path('my-accounts-view-edit-project', {'id': circle.id}) }}"><i
                                                class="fa fa-edit"></i>  Edit</a></li>
                                <li><a href="{{ path('my-accounts-view-project-members', {'id': circle.id}) }}"><i
                                                class="fa fa-users"></i>  Member List</a></li>
                                <li><a href="{{ path('my-account-invite-to-join', {'id': circle.id}) }}"><i class="icon-supporters"></i>
                                        Invite to Join</a></li> #}

                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div  id="otherProjects" style="display: none;" name="projectList">
            {% for circle in  arrProjectsIJoined  %}
                {% set nCount = get_circle_count_data(circle.id) %}
                <div class="card rounded-bdr">
                    <div class="card-image">
                        <figure>
                            <img src="{{ asset('images') }}/{{ circle.profileImagePath }}"
                                 alt="{{ circle.circle }}" title="{{ circle.circle }}">
                        </figure>
                    </div>
                    <div class="card-body">
                        <div class="status">
                            <h4>
                                {% set requestToJoinStatus = get_request_to_join_status(appUser.id, circle.id ) %}
                                {% if requestToJoinStatus == 'Activated' %}
                                    Joined
                                {% elseif requestToJoinStatus == 'Pending Activation'  %}
                                    Request Pending
                                {% else %}
                                    Rejected
                                {% endif %}
                            </h4>
                            {% if requestToJoinStatus == 'Activated' %}
                                <span>On
                                    {% if arrRequestToJoinDate is defined and arrRequestToJoinDate is not empty and
                                        arrRequestToJoinDate is not null and circle.id in arrRequestToJoinDate|keys  %}
                                        {{ arrRequestToJoinDate[circle.id] | date( 'F d, Y') }}
                                    {% endif %}
                                </span>
                            {% endif %}
                        </div>
                        <div class="project-name">
                            <h2>{{ circle.circle }}</h2>
                        </div>
                        <h5 class="orange"><em>{% for interest in circle.trnAreaOfInterests %}{{ interest }}{% if not loop.last %},{% endif %} {% endfor %}</em></h5>
                        <h5><i class="fas fa-map-marker-alt"></i>  {{ circle.mstCity }}, {{ circle.mstState }}, {{ circle.mstCountry }}</h5>
                        <h5>{% if circle.mstJoinBy == 'Open' %}
                                <i class="fa fa-unlock"></i> {{ circle.mstJoinBy }}
                            {% else %}
                                <i class="fa fa-lock"></i> {{ circle.mstJoinBy }}
                            {% endif %}
                        </h5>
                        <h4><i class="far fa-calendar"></i> Since {{ circle.createdOn | date( 'F d, Y') }}</h4>

                        <ul class="my-story">
                            <li><a href="{{ path('project-details', {'id': circle.id}) }}" target="_blank"><i
                                            class="fc-connect-with-me"></i> <span>Link</span>   {{ url('project-details', {'id': circle.id}) }}</a></li>
                            <li><a href="javascript:void(0);" onclick="setClipboard('{{ url('project-details', {'id': circle.id}) }}')"><i class="fc-copy-link" circleid="{{ circle.id }}"></i> Copy Link</a></li>
                        </ul>
                        <div class="head-sec share-links pr-0">
                            <ul>
                                <li><a target="_blank" href="{{ path('project-details', {'id': circle.id}) }}"><i class="fa
                                fa-bars"></i> View</a></li>
                                <li class="share-sec">
                                    <a href="javascript:;" class="social-share-btn"><i class="fas fa-share-alt"></i>Share</a>
                                    <div class="social-media" style="width: 200px;">
                                        <a href="#" class="fa fa-close"></a>
                                        <ul>
                                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('project-details', {'id': circle.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/intent/tweet?text={{ circle.circle }}&amp;url={{ app.request.schemeAndHttpHost ~  path('project-details', {'id': circle.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                                            <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('project-details', {'id': circle.id}) }}&amp;title={{ circle.circle }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                                            <li><a href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('project-details', {'id': circle.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="{{ path('view-project-event-participation', {'id': circle.id} ) }}">
                                        <i class="icon-supporters"></i>  View Event Participation
                                        {% if arrEventsJoined is defined and arrEventsJoined is not empty and circle
                                            .id in arrEventsJoined | keys %}
                                            ({{ arrEventsJoined[circle.id] }})
                                        {% else %}
                                            (0)
                                        {% endif %}
                                    </a></li>
                                {% if requestToJoinStatus == 'Activated' %}
                                    <li><a href="javascript:void(0);" name="exitProject" projectid="{{ circle.id }}"  data-toggle="modal" data-target="#selectAreaModal">
                                            <i class="fa fa-edit"></i>  Exit Project</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="head-sec share-links" style="top: -50px;">
            <a {% if isMandatoryFilled is defined and isMandatoryFilled is not empty and isMandatoryFilled == true %}
                href="{{ path('create-an-event') }}" {% else %} href="javascript:void(0)" {% endif %} class="btn btn-primary btn-create">Create an Event</a>
        </div>
    </div>
</div>
<div class="modal fade" id="selectAreaModal" tabindex="-1" aria-labelledby="selectAreaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
                <div id="selectAreaModalBody"></div>
            </div>
        </div>
    </div>
</div>