{{ form_start(form) }}
<h5>About</h5>
<p>Kindly fill the details below and complete your profile.</p>
<div class="row row-sm cust-row">
    <div class="col-lg-4 col-md-6">
        <label>Organization Name *</label>
        {{ form_widget(form.trnOrganizationDetails[0].organizationName) }}
    </div>

    <div class="col-lg-4 col-md-6">
        {% if appUser.trnOrganizationDetails[0].mstTypeOfOrganization is defined and appUser.trnOrganizationDetails[0].mstTypeOfOrganization is not
            empty and appUser.trnOrganizationDetails[0].mstTypeOfOrganization is not null
        %}
            <label>Type of Organization *</label>
            <input type="text" class="form-control" value="{{ appUser.trnOrganizationDetails[0].mstTypeOfOrganization }}" readonly>
            <div style="display: none">{{ form_widget(form.trnOrganizationDetails[0].mstTypeOfOrganization) }}</div>
        {% else %}
            <div class="cust-select">
                <label>Type of Organization *</label>
                {{ form_widget(form.trnOrganizationDetails[0].mstTypeOfOrganization) }}
            </div>
        {% endif %}
    </div>
    <div class="w-100"></div>
    <div class="col-lg-4 col-md-12">
        <div class="row row-sm">
            <div class="col-lg-5 col-md-6">
                {% if appUser.appUserInfo.mstSalutation is defined and appUser.appUserInfo.mstSalutation is not
                    empty and appUser.appUserInfo.mstSalutation is not null and appUser.appUserInfo.mstSalutation
                    .isActive == 1
                %}
                    <label>Salutation *</label>
                    <input type="text" class="form-control" value="{{ appUser.appUserInfo.mstSalutation }}" readonly>
                    <div style="display: none">{{ form_widget(form.appUserInfo.mstSalutation) }}</div>
                {% else  %}
                    <div class="cust-select">
                        <label>Salutation *</label>
                        {{ form_widget(form.appUserInfo.mstSalutation) }}
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-7 col-md-6">
                <label>First Name *</label>
                {{ form_widget(form.appUserInfo.userFirstName) }}
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <label>Middle Name</label>
        {{ form_widget(form.appUserInfo.userMiddleName) }}
    </div>
    <div class="col-lg-4 col-md-6">
        <label>Last Name *</label>
        {{ form_widget(form.appUserInfo.userLastName) }}
    </div>
    <div class="col-lg-4 col-md-6">
        <label>Registered Office Address Line 1 *</label>
        {{ form_widget(form.appUserInfo.address1) }}
    </div>
    <div class="col-lg-4 col-md-6">
        <label>Registered Office Address Line 2</label>
        {{ form_widget(form.appUserInfo.address2) }}
    </div>
    <div class="col-lg-4 col-md-6">
        {% if appUser.appUserInfo.mstCountry is defined and appUser.appUserInfo.mstCountry is not
            empty and appUser.appUserInfo.mstCountry is not null
        %}
            <label>Country *</label>
            <input type="text" class="form-control" value="{{ appUser.appUserInfo.mstCountry }}" readonly>
            <div style="display: none">{{ form_widget(form.appUserInfo.mstCountry) }}}</div>
        {% else  %}
            <div class="cust-select">
                <label>Country *</label>
                {{ form_widget(form.appUserInfo.mstCountry) }}
            </div>
        {% endif %}
    </div>
    <div class="col-lg-4 col-md-6">
        {% if appUser.appUserInfo.mstCountry is defined and appUser.appUserInfo.mstCountry is not
            empty and appUser.appUserInfo.mstCountry is not null
        %}
            <label>State *</label>
            <input type="text" class="form-control" value="{{ appUser.appUserInfo.mstState }}" readonly>
            <div style="display: none">{{ form_widget(form.appUserInfo.mstState) }}}</div>
        {% else  %}
            <div class="cust-select">
                <label>State *</label>
                {{ form_widget(form.appUserInfo.mstState) }}
            </div>
        {% endif %}
    </div>
    <div class="col-lg-4 col-md-6">
        {% if appUser.appUserInfo.mstCountry is defined and appUser.appUserInfo.mstCountry is not
            empty and appUser.appUserInfo.mstCountry is not null
        %}
            <label>City *</label>
            <input type="text" class="form-control" value="{{ appUser.appUserInfo.mstCity }}" readonly>
            <div style="display: none">{{ form_widget(form.appUserInfo.mstCity) }}}</div>
        {% else  %}
            <div class="cust-select">
                <label>City *</label>
                {{ form_widget(form.appUserInfo.mstCity) }}
            </div>
        {% endif %}
    </div>
    <div class="col-lg-4 col-md-6">
        <label>Pin Code * <span>e.g. 400101</span></label>
        {{ form_widget(form.appUserInfo.pinCode) }}
    </div>
    <div class="col-lg-4 col-md-6">
        <label>Email ID *</label>
        {{ form_widget(form.appUserInfo.userEmail) }}
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="form-group mob-number">
            <label>Mobile Number</label>
            <div class="input-group-prepend">
                <div class="cust-select">
                    <select class="form-control">
                        <option>+91</option>
                    </select>
                    <div style="display: none;">
                        {{ form_widget(form.appUserInfo.mobileCountryCode) }}
                    </div>
                </div>
            </div>
            {{ form_widget(form.appUserInfo.userMobileNumber) }}
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <label
                {% if appUser.appUserInfo.dateOfBirth is defined and appUser.appUserInfo.dateOfBirth is not null and
                    appUser.appUserInfo.dateOfBirth != '' %}
                    class="clicked"
                {% endif %}
        >Date of Birth</label>
        <div class="cust-calender">
            {{ form_widget(form.appUserInfo.dateOfBirth) }}
        </div>
    </div>
    <div class="col-lg-12 col-sm-12">
        <div class="main-form-group">
            {{ form_widget(form.trnOrganizationDetails[0].aboutOrganization) }}
            <div class="textarea-instru">
                <small>A maximum of 300 words only </small>
                <small class="text-right ml-auto">Word count - <b class="words-left">0</b><b>/300</b>
                </small>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <label>Organization PAN No *</label>
        {{ form_widget(form.appUserInfo.pancardNumber) }}
    </div>
    <div class="col-lg-4 col-md-6">
        <label>Registration Certificate/ Trust Deed * </label>
        {{ form_widget(form.trnOrganizationDetails[0].registrationCertificateTrustDeed) }}
    </div>
    <div class="col-lg-4 col-sm-6">
        <label
            {% if appUser.trnOrganizationDetails[0].incorporatedOnDate is defined and appUser.trnOrganizationDetails[0].incorporatedOnDate is not null and
                appUser.trnOrganizationDetails[0].incorporatedOnDate != '' %}
                class="clicked"
            {% endif %}
        >Incorporated On Date *</label>
        <div class="cust-calender">
            {{ form_widget(form.trnOrganizationDetails[0].incorporatedOnDate) }}
        </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <label>80G Registration No</label>
        {{ form_widget(form.trnOrganizationDetails[0].registrationNo80G) }}
    </div>
    <div class="col-lg-4 col-sm-6">
        <label
            {% if appUser.trnOrganizationDetails[0].registrationDate80G is defined and appUser.trnOrganizationDetails[0].registrationDate80G is not null and
                appUser.trnOrganizationDetails[0].registrationDate80G != '' %}
                class="clicked"
            {% endif %}
        >80G Registration Date</label>
        <div class="cust-calender">
            {{ form_widget(form.trnOrganizationDetails[0].registrationDate80G ) }}
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <label>Website</label>
        {{ form_widget(form.trnOrganizationDetails[0].website) }}
    </div>
</div>
<div class="row form-group row-sm row-grid-2">
    <div class="col-lg-9 col-md-12">
        <div class="input-field">
            <label class="active">Upload Documentation <span>(e.g. Proof of registration)</span></label>
            <div class="input-images-3 multi"></div>
            <small>Image format - jpgs, png and size 60 KB</small>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
        <div class="input-field upload-logo mb-3">
            <label class="active">Company Logo</label>
            <div class="input-images-1 single"></div>
            <small>Image format - <br> jpg, png and size 20 KB</small>
        </div>
    </div>
</div>
<h5>Bank Account Details</h5>
<p>Provide the details of the bank account where you would like donations to be deposited.</p>
{% for trnBankDetails in form.trnBankDetails %}
    <div class="row cust-row row-sm">
        <div class="col-lg-12 col-sm-12">
            <label>Beneficiary Bank Name*</label>
            {{ form_widget(trnBankDetails.bankName) }}
        </div>
        <div class="col-lg-12 col-sm-12">
            <label>Beneficiary Account Holder Name*</label>
            {{ form_widget(trnBankDetails.accountHolderName) }}
        </div>
        <div class="col-lg-4 col-sm-12">
            <label>Beneficiary Bank Account Number*</label>
            {{ form_widget(trnBankDetails.accountNumber) }}
        </div>
        <div class="col-lg-4 col-sm-12">
            <label>Beneficiary IFSC Code*</label>
            {{ form_widget(trnBankDetails.ifscCode) }}
        </div>
        <div class="col-lg-4 col-sm-12">
            {% if trnBankDetail.mstBankAccountType is defined and trnBankDetail.mstBankAccountType is not empty and
                trnBankDetail.mstBankAccountType != ''%}
                <label>Beneficiary Account Type*</label>
                <input type="text" class="form-control" value="{{ trnBankDetail.mstBankAccountType }}" readonly>
                <div style="display: none">{{ form_widget(trnBankDetails.mstBankAccountType) }}</div>
            {% else %}
                <div class="cust-select">
                    <label>Beneficiary Account Type*</label>
                    {{ form_widget(trnBankDetails.mstBankAccountType) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
<div class="row form-group row-sm row-grid-2 text-center mt-3">
    <div class="offset-lg-3 offset-sm-1 col-lg-6 col-sm-10">
        <label class="checkbox-label" for="tnc" >
            I'd like to receive communication from Giving Circle.
            <input type="checkbox" id="tnc"
                    {% if appUser.appUserInfo.isSubscribedToNewLetter is defined and
                        appUser.appUserInfo.isSubscribedToNewLetter is not empty and
                        appUser.appUserInfo.isSubscribedToNewLetter == 1 %}
            checked
                    {% endif %}>
            <span class="checkmark"></span>

        </label>
        <div style="display: none;">
            {{ form_widget(form.appUserInfo.isSubscribedToNewLetter) }}
        </div>
    </div>
</div>
<div class="btn-sec mt-3 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
    <a href="javascript:void(0);" class="btn btn-primary btn-continue">Continue</a>
</div>
{{ form_end(form) }}