<section class="event-listing">
    <div class="row">
        {% for eventData in arrEventList %}

            {% set commentCount = get_event_comment_count(eventData.id) %}

            {% if eventData.isCrowdFunding %}
                <div class="col-xl-4 col-sm-6">
                    <div class="card " data-aos="fade-right" data-aos-delay="200">
                        <a href="{{ path('crowd-funding-event-details', {'id': eventData.id}) }}">
                            <figure>
                                {% if eventData.profileImage is defined and  eventData.profileImage is not empty and
                                    eventData.profileImage != 'files/'  %}
                                    <img src="{{ asset('images') }}/{{ eventData.profileImage }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                {% elseif eventData.backgroundImagePath is defined and  eventData.backgroundImagePath is not empty and
                                    eventData.backgroundImagePath != 'files/' %}
                                    <img src="{{ asset('images') }}/{{ eventData.backgroundImagePath }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                {% else %}
                                    {% set break = false %}
                                    {% for trnProductMedia in eventData.trnProductMedia %}
                                        {% if trnProductMedia.mediaType == 'image' and
                                            break == false %}
                                            {% set break = true %}
                                            <img src="{{ asset('images') }}/{{ trnProductMedia.uploadedFilePath}}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </figure>
                        </a>
                        <div class="card-body">
                            <a href="{{ path('crowd-funding-event-details', {'id': eventData.id}) }}">
                                <span class="funding-tag">Crowdfunding</span>
                                {% if eventData.appUser.appUserInfo.mstUserMemberType
                                    .userMemberType == 'Organization' %}
                                    <div class="status">80G</div>
                                {% endif %}
                                {% if eventData.isUrgent == true %}
                                    <div class="status">Urgent</div>
                                {% endif %}
                                <h4>{{ eventData.name }}</h4>
                                <h5>by {{ eventData.trnCircle }}</h5>
                                {% set crowdFundingData = crowd_funding_data(eventData.id) %}
                                <div class="fund-raiser">
                                    <h4><span class="rupee-icon">&#x20B9;</span>
                                        {{ crowdFundingData.totalTransactionAmount | default(0) |number_format(2, '.', ',') }}
                                        <b>Raised</b>
                                    </h4>
                                    {% set targetAmount = eventData.trnCrowdFundEvents[0].targetAmount %}
                                    {% set percentage = ((crowdFundingData.totalTransactionAmount/targetAmount) * 100)|round %}

                                    {% set currdate = "now"|date("Y-m-d") %}
                                    {% set difference = date(eventData.toDate).diff(date(currdate)) %}
                                    {% set leftDays = difference.days %}

                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ percentage }}%" role="progressbar"
                                             aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">
                                            <div class="number">{{ percentage }}%</div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between fund-status">
                                        <div class="col">
                                            <b>{{ leftDays }} days left</b>
                                        </div>
                                        <div class="col text-right">
                                            <b>{{ crowdFundingData.supporters | default(0) }} Supporters</b>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul class="share-view">
                                <li>
                                    <a href="#" class="eventLike" eventId = "{{ eventData.id
                                    }}">
                                        <i class="far fa-thumbs-up"></i>
                                        <b id="eventLike_{{ eventData.id }}">{{ eventData.likeCount|default('0') }}</b>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('event-details', {'id' : eventData.id }) }}#comments">
                                        <i class="far fa-comment"></i>
                                        <b>{{ commentCount|default('0') }}</b>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="social-share-btn"><i
                                                class="fas fa-share-alt"></i></a>
                                </li>
                            </ul>
                            <div class="share-sec">
                                <div class="social-media">
                                    <a href="#" class="fa fa-close"></a>
                                    <ul>
                                        <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('crowd-funding-event-details', {'id': eventData.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                                        <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://twitter.com/intent/tweet?text={{ eventData.name }}&amp;url={{ app.request.schemeAndHttpHost ~  path('crowd-funding-event-details', {'id': eventData.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                                        <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('crowd-funding-event-details', {'id': eventData.id}) }}&amp;title={{ eventData.name }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                                        <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('crowd-funding-event-details', {'id': eventData.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-xl-4 col-sm-6">
                    <div class="card " data-aos="fade-right" data-aos-delay="200">
                        <a href="{{ path('fund-details', {'id': eventData.id}) }}">
                            <figure>
                                {% if eventData.profileImage is defined and  eventData.profileImage is not empty and
                                    eventData.profileImage != 'files/'  %}
                                    <img src="{{ asset('images') }}/{{ eventData.profileImage }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                {% elseif eventData.backgroundImagePath is defined and  eventData.backgroundImagePath is not empty and
                                    eventData.backgroundImagePath != 'files/' %}
                                    <img src="{{ asset('images') }}/{{ eventData.backgroundImagePath }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                {% else %}
                                    {% set break = false %}
                                    {% for trnProductMedia in eventData.trnProductMedia %}
                                        {% if trnProductMedia.mediaType == 'image' and
                                            break == false and trnProductMedia.uploadedFilePath != 'files/' %}
                                            {% set break = true %}
                                            <img src="{{ asset('images') }}/{{ trnProductMedia.uploadedFilePath}}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </figure>
                        </a>
                        <div class="card-body">
                            <a href="{{ path('fund-details', {'id': eventData.id}) }}">
                                <div class="status">
                                    {% if arrEventUpComingOrOnGoingDetails is defined and
                                        arrEventUpComingOrOnGoingDetails is not empty and
                                        arrEventUpComingOrOnGoingDetails[eventData.id] is defined and
                                        arrEventUpComingOrOnGoingDetails[eventData.id] is not empty
                                        and arrEventUpComingOrOnGoingDetails[eventData.id] != '' %}
                                        {{ arrEventUpComingOrOnGoingDetails[eventData.id]['eventUpComingOrOnGoing'] }}
                                    {% endif %}
                                </div>
                                {% if eventData is defined and eventData
                                    .trnFundRaiserCircleEventDetails is defined and eventData
                                    .trnFundRaiserCircleEventDetails is not empty and
                                    eventData.trnFundRaiserCircleEventDetails[0] is defined
                                    and eventData.trnFundRaiserCircleEventDetails[0] is not
                                    empty and eventData.trnFundRaiserCircleEventDetails[0]
                                    .isUrgent == 1 %}
                                    <div class="status">Urgent</div>
                                {% endif %}
                                <h4>{{ eventData.name }} </h4>
                                <h5>by {{ eventData.trnCircle }}</h5>
                                <h5 class="orange">{% for mstEventProductType in eventData
                                        .mstEventProductType %}{{ mstEventProductType
                                    .eventProductType }}{% if not loop.last %}, {% endif %} {% endfor %}</h5>
                                <ul class="timing">
                                    <li><i class="fa fa-calendar-o"></i>
                                        {% if arrEventUpComingOrOnGoingDetails is defined and
                                            arrEventUpComingOrOnGoingDetails is not empty and
                                            arrEventUpComingOrOnGoingDetails[eventData.id] is defined and
                                            arrEventUpComingOrOnGoingDetails[eventData.id] is not empty
                                            and arrEventUpComingOrOnGoingDetails[eventData.id] != '' %}
                                            {% if arrEventUpComingOrOnGoingDetails[eventData
                                                .id]['eventUpComingOrOnGoing'] == 'UPCOMING' %}
                                                {{ arrEventUpComingOrOnGoingDetails[eventData
                                                    .id]['startDate'] |date('l d M Y') }}
                                            {% elseif arrEventUpComingOrOnGoingDetails[eventData
                                                .id]['eventUpComingOrOnGoing'] == 'ONGOING' or arrEventUpComingOrOnGoingDetails[eventData
                                                .id]['eventUpComingOrOnGoing'] == 'PAST'  %}
                                                {{ arrEventUpComingOrOnGoingDetails[eventData
                                                    .id]['endDate'] |date('l d M Y') }}
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                    {% if arrEventUpComingOrOnGoingDetails is defined and
                                        arrEventUpComingOrOnGoingDetails is not empty and
                                        arrEventUpComingOrOnGoingDetails[eventData.id] is defined and
                                        arrEventUpComingOrOnGoingDetails[eventData.id] is not empty
                                        and arrEventUpComingOrOnGoingDetails[eventData.id] !=
                                        '' and arrEventUpComingOrOnGoingDetails[eventData
                                        .id]['startTime'] is not null and arrEventUpComingOrOnGoingDetails[eventData
                                        .id]['startTime'] != '' %}
                                        <li><i class="fa fa-clock-o"></i>
                                            {{ arrEventUpComingOrOnGoingDetails[eventData
                                                .id]['startTime']| date('h:i A') }} to
                                            {{ arrEventUpComingOrOnGoingDetails[eventData
                                                .id]['endTime'] | date('h:i A')}}
                                        </li>
                                    {% endif %}
                                    <li><i class="fa fa-map-marker"></i> {{ eventData.mstCity }}, {{ eventData.mstState }}, {{
                                        eventData.mstCountry }}</li>
                                </ul>
                            </a>
                            <ul class="share-view">
                                <li>
                                    <a href="#" class="eventLike" eventId = "{{ eventData.id
                                    }}">
                                        <i class="far fa-thumbs-up"></i>
                                        <b id="eventLike_{{ eventData.id }}">{{ eventData.likeCount|default('0') }}</b>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('event-details', {'id' : eventData.id }) }}#comments">
                                        <i class="far fa-comment"></i>
                                        <b>{{ eventData.commentCount|default('0') }}</b>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="social-share-btn"><i
                                                class="fas fa-share-alt"></i></a>
                                </li>
                            </ul>
                            <div class="share-sec">
                                <div class="social-media">
                                    <a href="#" class="fa fa-close"></a>
                                    <ul>
                                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('event-details', {'id': eventData.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/intent/tweet?text={{ eventData.name }}&amp;url={{ app.request.schemeAndHttpHost ~  path('event-details', {'id': eventData.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                                        <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('event-details', {'id': eventData.id}) }}&amp;title={{ eventData.name }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                                        <li><a href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('event-details', {'id': eventData.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if (loop.index % 6) == 0  %}
                <div class="col-sm-12">
                    <div class="background-express">
                        <div class="content-area">
                            <h2 data-aos="fade-down" data-aos-delay="200">Banner <br> <br> Contribute
                                to a
                                Change
                            </h2>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>