{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}

    <div class="modal fade common" id="tncpopup" tabindex="-1" aria-labelledby="demoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="btn-close" data-dismiss="modal" data-target="#tnc" aria-label="Close"></a>
                <h2 class="modal-title" id="demoLabel">{{ tncContent.pageTitle }}</h2>
                <div class="modal-body">
                    <div class="tnc-popup">
                        {# Content Start from Cms  #}
                        {% for content in tncContent.cmsPageContent %}
                            <p>
                                {% include 'portal/page/_page_content_display.html.twig' %}
                            </p>
                        {% endfor %}
                        {# Content End from Cms  #}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md left-list">
                    <section class="" data-aos="fade-right" data-aos-delay="200">
                        <h2>Share Your Details</h2>
                        <div class="mandate-text"><span>*</span> Mandatory Fields </div>
                        <form id="frmMakePayment" method="post" action="{{ path('make-payment') }}">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="fname-fund">First Name *</label>
                                        <input type="text" class="form-control required" id="fname-fund" onkeypress="return blockSpecialChar(event)" value="{{
                                        arrUserData.first_name}}"
                                               name="fname-fund">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lname-fund">Last Name *</label>
                                        <input type="text" class="form-control required" id="lname-fund" onkeypress="return blockSpecialChar(event)" value="{{
                                        arrUserData.last_name}}"  name="lname-fund">
                                    </div>
                                </div>
                                <div class="col-12 anonymous-check">
                                    <label for="anonymous"><input type="checkbox" id="anonymous" name="anonymous"> Make
                                        my donation
                                        anonymous <span class="checkmark"></span></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email ID</label>
                                        <input type="text" class="form-control" id="email-id" name ="email-id" value="{{ arrUserData.email}}"
                                               placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mob-number">
                                        <label>Mobile Number</label>
                                        <div class="input-group-prepend">
                                            <div class="cust-select">
                                                <select class="form-control" id="countryCode" required>
                                                    <option selected value="91">+ 91</option>
                                                </select>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control mob-no-input" name="mobile-no" id
                                        ="mobile-no"  value="{{ arrUserData.mobile_number}}"  placeholder="" required>
                                        <div class="tooltip thm2">
                                            <span class="tooltiptext">
                                                <ul>
                                                    <li>Your Mobile number is outside India.</li>
                                                    <li>Your mobile verification is through email id.</li>
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {#<div class="col-md-6">
                                    <div class="form-group">
                                        <label for="panNum">PAN Number (For Tax Rebate)</label>
                                        <input type="lname" class="form-control" id="panNum" onkeypress="return blockSpecialChar(event)" value="{{ arrUserData.pan_number}}" name="panNum"
                                               placeholder="" >
                                    </div>
                                </div>#}
                                <div class="col-sm-12">
                                    <b>Drop a hearty note...</b>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="e.g. Thank you for taking up this initiative. I am glad to help in some way" name="txtNote" id="txtNote" rows="3"></textarea>
                                    </div>
                                </div>

                                <input type="hidden" id="hdnChangeMakerArticleId" name="hdnChangeMakerArticleId"
                                        {% if changeMakerArticle is defined and changeMakerArticle is not empty and changeMakerArticle is not null %}
                                            value="{{ changeMakerArticle.id }}"
                                        {% endif %}
                                />

                                <input type="hidden" id="hdnTrnCircleEventsId" name="hdnTrnCircleEventsId"
                                        {% if trnCircleEvent is defined and trnCircleEvent is not empty and trnCircleEvent is not null %}
                                            value="{{ trnCircleEvent.id }}"
                                        {% endif %}
                                />
                                <input type="hidden" id="hdnTrnFundRaiserCircleEventSubEventId" name="hdnTrnFundRaiserCircleEventSubEventId"
                                   {% if trnFundRaiserCircleEventSubEvent is defined and trnFundRaiserCircleEventSubEvent is not empty and trnFundRaiserCircleEventSubEvent is not null %}
                                       value="{{ trnFundRaiserCircleEventSubEvent.id }}"
                                   {% endif %}
                                />
                                <input type="hidden" id="hdnTnCrowdFundEventId" name="hdnTnCrowdFundEventId"
                                    {% if tnCrowdFundEvent is defined and tnCrowdFundEvent is not empty and tnCrowdFundEvent is not null %}
                                        value="{{ tnCrowdFundEvent.id }}"
                                    {% endif %}
                                />
                                <input type="hidden" id="contributionAmount" name="contributionAmount" value="{{ amountToContribute }}" />
                                <div class="col-sm-12 tnc-check">
                                    <label for="tnc"><input type="checkbox" id="tnc"> I agree to <a href="#" data-toggle="modal" data-target="#tncpopup"><b>Terms &
                                                Conditions</b></a>
                                        <span class="checkmark"></span></label>
                                    <a href="javascript:void(0);" class="btn btn-primary btn-donate">Continue to Donate</a>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <div class="col-md-auto right-list">
                    <div class="donate-amount">
                        <span>You are donating towards</span>
                        <figure>
                            <img src="{{ asset('images') }}/{{ strImage}}" alt="">
                        </figure>

                            {% if trnCircleEvent is not empty %}
                                <h4>{{ trnCircleEvent.name}}</h4>
                                <b>By {{ trnCircleEvent.trnCircle.circle }}</b>
                            {% else %}
                                <h4>Giving Circle</h4>
                            {% endif %}
                        <b>Donating Amount</b>
                        <h3><i class="fa fa-rupee"></i> {{ amountToContribute |number_format(2, '.', ',') }}</h3>
                        {#{% if trnFundRaiserCircleEventSubEvent is defined and
                            trnFundRaiserCircleEventSubEvent is not empty and
                            trnFundRaiserCircleEventSubEvent is not null %}
                            <h5>For <span>{{ trnFundRaiserCircleEventSubEvent.timePeriodSupported }}, {{ trnFundRaiserCircleEventSubEvent.noOfBeneficiaries }}</span></h5>
                        {% endif %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/portal/funds/share-your-details.js?z=3') }}"></script>
{% endblock %}