{% extends 'layout/content.html.twig' %}
{% block cms_content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><a href="{{ path(path_add) }}" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> {{label_title|trans}}</a></h4>
                </div>
                <nav class="card-content collapse show">
                    <div class="card-body card-dashboard ">
                        <table id="dataTable" class="table table-responsive-md table-sm text-sm">
                            <thead>
                            <tr>
                                <th>{{ 'label.serial_number'|trans|upper }}</th>
                                <th>{{ 'label.company'|trans|upper }}</th>
                                <th>{{ 'label.app_user'|trans|upper }}</th>
                                <th>{{ 'label.collection_centre'|trans|upper }}</th>
                                <th>{{ 'label.latitude'|trans|upper }}</th>
                                <th>{{ 'label.longitude'|trans|upper }}</th>
                                <th>{{ 'label.start_time'|trans|upper }}</th>
                                <th>{{ 'label.end_time'|trans|upper }}</th>
                                <th>{{ 'label.collection_centre_open_on_days'|trans|upper }}</th>
                                <th>{{ 'label.status'|trans|upper }}</th>
                                <th>{{ 'label.is_active'|trans|upper }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for collection_centre in collection_centres %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ collection_centre.orgCompany }}</td>
                                    <td>{{ collection_centre.appUser.appUserDetails }}</td>
                                    <td>{{ collection_centre | raw }}</td>
                                    <td>{{ collection_centre.latitude }}</td>
                                    <td>{{ collection_centre.longitude }}</td>
                                    <td>{{ collection_centre.startTime|date('g:i A') }}</td>
                                    <td>{{ collection_centre.endTime|date('g:i A') }}</td>
                                    <td>  {% for mstDaysOfWeek in collection_centre.mstDaysOfWeek %}
                                            {{ mstDaysOfWeek.dayOfWeek }},

                                        {% endfor %}
                                    </td>
                                    <td>{{ collection_centre.mstStatus.status }}</td>
                                    <td>{{ collection_centre.isActive ? 'Yes' : 'No' }}</td>

                                    <td>
                                        <div class="btn-group-toggle" role="group" aria-label="Action Buttons">
                                            <a href="{{ path(path_edit, {'id': collection_centre.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i></button></a>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">{{'info.no_record_found'|trans}}</td>
                                </tr>
                            {% endfor %}
                            </tbody></table>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="text-muted"><span class="domrecord"></span></div>
                            </div>
                            <div class="col-sm-7">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="dompage"></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
