{% extends 'portal/layout/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('resources/css/jquery-ui.css') }}">
{% endblock %}
{% block portal_content %}


    {% set isUserJoined = false %}
    {% set requestStatus = '' %}
    {% if app.user %}
        {% set isUserJoined = get_user_join_status( get_parameter('company_id'), app.user.id, trnCircleEvents.trnCircle.id) %}
        {% set requestStatus = get_pending_request_status( get_parameter('company_id'), app.user.id, trnCircleEvents.trnCircle.id) %}

    {% endif %}

    {{ render(controller(
        'App\\Controller\\Portal\\EventDetailsController::eventDetailsBanner',
        { 'id': trnCircleEvents.id }
    )) }}
    <div class="wrapper">
        {{ render(controller(
            'App\\Controller\\Portal\\EventDetailsController::eventDetailsHeaderSection',
            { 'id': trnCircleEvents.id }
        )) }}
        <section class="latest-events">
            <div class="container">
                <div class="row listing-page" data-aos="fade-right" data-aos-delay="200">
                    {{ render(controller(
                        'App\\Controller\\Portal\\EventDetailsController::eventDetailsNavigationSection',
                        { 'id': trnCircleEvents.id, 'active' : 'material' }
                    )) }}
                    <div class="col right-list">
                        <h2 data-aos="fade-right" data-aos-delay="200">Material</h2>
                        <section class="skillRequiredBox">
                            <h3>Item</h3>
                            <div class="content">
                                <table class="table skillRequiredList itemTable">
                                    <thead>
                                    <tr>
                                        <th>Item Required</th>
                                        <th>Quantity <small>(Including Units)</small></th>
                                        <th>Remarks</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    {% for trnMaterialInKindCircleEventSubEvent in trnMaterialInKindCircleEventDetails.trnMaterialInKindCircleEventSubEvents %}
                                        <tr>
                                            <td>{{ trnMaterialInKindCircleEventSubEvent.itemName }}</td>
                                            <td>{{ trnMaterialInKindCircleEventSubEvent.itemQuantity }} {{ trnMaterialInKindCircleEventSubEvent.unit }}</td>
                                            <td>{{ trnMaterialInKindCircleEventSubEvent.subEventName }}</td>
                                            <td>
                                                {#<a href="#" class="btn btn-primary btn-participate {{ num_to_words
                                                    (loop.index) }}" sequence="{{ num_to_words(loop.index) }}">Contribute</a>#}


                                                {% if trnCircleEvents.mstStatus.status == 'Expired'  %}
                                                {# no buttons for expired events #}
                                                {% else %}
                                                    {% if trnCircleEvents.trnCircle.mstJoinBy.joinBy == 'Closed' %}
                                                    {% if app.user %}
                                                        {#{{ dump(isUserJoined) }}
                                                        {{ dump(requestStatus) }}#}
                                                        {% if isUserJoined == true %}
                                                            {% if requestStatus == 'Activated' %}
                                                                <a href="javascript:void(0);" class="btn btn-primary btn-participate {{ num_to_words
                                                                    (loop.index) }}" sequence="{{ num_to_words(loop.index) }}">Contribute</a>
                                                            {% endif %}
                                                        {% elseif requestStatus == 'Pending Activation' %}
                                                            <a href="javascript:void(0);" class="btn btn-primary btn-participate {{ num_to_words
                                                                (loop.index) }}" sequence="ReqPending">Request to Contribute</a>
                                                        {% elseif requestStatus == ''  %}
                                                            <a href="javascript:void(0);" class="btn btn-primary btn-participate {{ num_to_words
                                                                (loop.index) }}" sequence="NJoined">Request to Contribute</a>
                                                        {% endif %}
                                                    {% else %}
                                                        <a href="javascript:void(0);" class="btn btn-primary btn-participate {{ num_to_words
                                                            (loop.index) }}" sequence="NLoggedIn">Request to Contribute</a>
                                                    {% endif %}
                                                {% else %}
                                                    {# project type is open #}
                                                    {% if app.user %}
                                                        {% if isUserJoined == true %}
                                                            {% if requestStatus == 'Activated' %}
                                                                <a href="javascript:void(0);" class="btn btn-primary btn-participate {{ num_to_words
                                                                    (loop.index) }}" sequence="{{ num_to_words(loop.index) }}">Contribute</a>
                                                            {% endif %}
                                                        {% else %}
                                                            <a href="javascript:void(0);" class="btn btn-primary btn-participate {{ num_to_words
                                                                (loop.index) }}" sequence="NJoined">Contribute</a>
                                                        {% endif %}
                                                    {% else %}
                                                        <a href="javascript:void(0);" class="btn btn-primary btn-participate {{ num_to_words
                                                            (loop.index) }}" sequence="NLoggedIn">Contribute</a>
                                                    {% endif %}
                                                {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr class="participateCalender {{ num_to_words(loop.index) }}">
                                            <td colspan="4">
                                                <form method="post" id="frmContribute_{{ loop.index }}" action="{{ path
                                                    ('material-details-contribute')
                                                }}">
                                                    <div class="participateCalenderBox">
                                                        <div>
                                                            <div>
                                                                <p>
                                                                    Enter your contribution details
                                                                </p>
                                                            </div>
                                                            <div>
                                                                <a href="javascript:void(0);"
                                                                   class="participateCal btn-close"
                                                                   sequence="{{ num_to_words(loop.index) }}"></a>
                                                            </div>
                                                        </div>
                                                        <div class="row row-sm materialDtls">
                                                            <div class="col-md-auto">
                                                                <div class="form-group">
                                                                    <label class="clicked">Quantity</label>
                                                                    <div class="cust-select">
                                                                        <select class="form-control" name="itemQuantity" id="itemQuantity_{{ loop.index }}"
                                                                                required>
                                                                            <option></option>
                                                                            {% for i in 1..trnMaterialInKindCircleEventSubEvent.itemQuantity %}
                                                                                {% set selected = "" %}
                                                                                {% if trnMaterialInKindCircleEventSubEvent.itemQuantity == i %}
                                                                                    {% set selected = "selected" %}
                                                                                {% endif %}
                                                                                <option {{ selected }}>{{ i}} {{
                                                                                    trnMaterialInKindCircleEventSubEvent.unit }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="address-details">
                                                                    <h5>Select Collection Centre</h5>
                                                                    <div class="owl-carousel">
                                                                        {% for count, trnMaterialInKindCircleEventCollectionCentre in trnMaterialInKindCircleEventDetails.trnMaterialInKindCircleEventCollectionCentres %}
                                                                            <div class="item" data-aos="fade-down"
                                                                                 data-aos-delay="200">
                                                                                <label for="center_{{ trnMaterialInKindCircleEventSubEvent.id }}_{{ count+1 }}" class="">
                                                                                    <b>Collection Centre {{ loop.index }}</b>
                                                                                    <b>{{ trnMaterialInKindCircleEventCollectionCentre
                                                                                        .trnCollectionCentreDetails.firstName }}
                                                                                        {{ trnMaterialInKindCircleEventCollectionCentre
                                                                                        .trnCollectionCentreDetails.lastName }}</b>
                                                                                    <p>{{ trnMaterialInKindCircleEventCollectionCentre
                                                                                        .trnCollectionCentreDetails.address1 }},
                                                                                        {{ trnMaterialInKindCircleEventCollectionCentre
                                                                                        .trnCollectionCentreDetails.address2 }},
                                                                                        {{ trnMaterialInKindCircleEventCollectionCentre
                                                                                        .trnCollectionCentreDetails.mstCity }},
                                                                                        {{ trnMaterialInKindCircleEventCollectionCentre
                                                                                        .trnCollectionCentreDetails.mstState }},
                                                                                        {{ trnMaterialInKindCircleEventCollectionCentre
                                                                                        .trnCollectionCentreDetails.mstCountry }},
                                                                                        {{ trnMaterialInKindCircleEventCollectionCentre
                                                                                        .trnCollectionCentreDetails.pinCode }}.</p>
                                                                                    <input type="radio"
                                                                                           value="{{ trnMaterialInKindCircleEventCollectionCentre.id }}"
                                                                                           id="center_{{ trnMaterialInKindCircleEventSubEvent.id }}_{{ count+1 }}"
                                                                                           name="collectionCenter_{{ trnMaterialInKindCircleEventSubEvent.id }}">
                                                                                    {#

                                                                                    id="center_{{ trnMaterialInKindCircleEventSubEvent.id }}_{{ count+1 }}"
                                                                                           name="collectionCenter[{{ trnMaterialInKindCircleEventSubEvent.id }}]"

                                                                                    #}


                                                                                    <span class="checkmark"></span>
                                                                                </label>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="trnEventId" value="{{ trnCircleEvents.id }}" />
                                                            <input type="hidden" name="trnMaterialInKindCircleEventDetailsId" value="{{ trnMaterialInKindCircleEventDetails.id }}" />
                                                            <input type="hidden" name="trnMaterialInKindCircleEventSubEventId" value="{{trnMaterialInKindCircleEventSubEvent.id }}" />
                                                        </div>
                                                        <div class="text-right">
                                                            <a href="javascript:void(0);" loop-index="{{ loop.index }}"
                                                               class="btn btn-primary btn-continue">Continue</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <a href="mailto:{{ changeMakerEmail }}?subject={{ trnCircleEvents.name|raw }}&cc={{ get_gc_email() }}" class="connect-cm-link">Connect with the Change Maker</a>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h3>Event Date</h3>
                                    <ul class="timelineView">
                                        <li>
                                            <b>Start Date</b>
                                            {{
                                            trnMaterialInKindCircleEventDetails.fromDate |date('l d M Y')
                                            }}
                                        </li>
                                        <li>
                                            <b>End Date</b>
                                            {{
                                            trnMaterialInKindCircleEventDetails.toDate |date('l d M Y')
                                            }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <section>
                            <h3>Collection Centre</h3>
                            <ul class="timelineView colctnCenter">
                                {% for trnMaterialInKindCircleEventCollectionCentre in trnMaterialInKindCircleEventDetails.trnMaterialInKindCircleEventCollectionCentres %}
                                    <li>
                                        <b>Collection Centre {{ loop.index }}</b>
                                        <b>{{ trnMaterialInKindCircleEventCollectionCentre
                                            .trnCollectionCentreDetails.firstName }}
                                            {{ trnMaterialInKindCircleEventCollectionCentre
                                            .trnCollectionCentreDetails.lastName }}</b>
                                        <p>{{ trnMaterialInKindCircleEventCollectionCentre
                                            .trnCollectionCentreDetails.address1 }},
                                            {{ trnMaterialInKindCircleEventCollectionCentre
                                            .trnCollectionCentreDetails.address2 }},
                                            {{ trnMaterialInKindCircleEventCollectionCentre
                                            .trnCollectionCentreDetails.mstCity }},
                                            {{ trnMaterialInKindCircleEventCollectionCentre
                                            .trnCollectionCentreDetails.mstState }},
                                            {{ trnMaterialInKindCircleEventCollectionCentre
                                            .trnCollectionCentreDetails.mstCountry }},
                                            {{ trnMaterialInKindCircleEventCollectionCentre
                                            .trnCollectionCentreDetails.pinCode }}.
                                        </p>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <b>Timing of the Collection Centre</b>
                                                <div class="row row-sm">
                                                    <div class="col-sm-6">
                                                        <b>Start Time</b>
                                                        {{ trnMaterialInKindCircleEventCollectionCentre
                                                        .trnCollectionCentreDetails.startTime | date
                                                            ('H:i') }} hrs
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <b>End Time</b>
                                                        {{ trnMaterialInKindCircleEventCollectionCentre
                                                        .trnCollectionCentreDetails.endTime | date
                                                            ('H:i') }} hrs
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <b>Collection Centre Open on Days</b>
                                                <p>
                                                    {% for weekDay in trnMaterialInKindCircleEventCollectionCentre
                                                        .trnCollectionCentreDetails.mstDaysOfWeek %}
                                                        {{ weekDay |slice(0,3) }}
                                                        {% if loop.index < (trnMaterialInKindCircleEventCollectionCentre
                                                            .trnCollectionCentreDetails.mstDaysOfWeek |length) %}
                                                            ,
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <b>Date Range for accepting Collections</b>
                                                <div class="row row-sm">
                                                    <div class="col-sm-6">
                                                        <b>From</b>
                                                        {{
                                                        trnMaterialInKindCircleEventCollectionCentre.fromDate |date('d M Y') }}
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <b>To</b>
                                                        {{
                                                        trnMaterialInKindCircleEventCollectionCentre.toDate |date('d M Y') }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}


                            </ul>
                        </section>
                        {{ render(controller(
                            'App\\Controller\\Portal\\EventDetailsController::eventDetailsBottomNavigationSection',
                            { 'id': trnCircleEvents.id,  'active' : 'material' }
                        )) }}
                    </div>
                </div>
            </div>
        </section>
        {{ include('portal/event/comment-section.html.twig', {'events': trnCircleEvents}) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/easy-responsive-tabs.js') }}"></script>
    <script src="{{ asset('resources/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('resources/js/jquery-ui.multidatespicker.js') }}"></script>
    <script>
        var pathToContributeBeforeLogin = "{{ path('event-donate-before-login', {'event': trnCircleEvents.id, 'processType': 'contribute' }) }}";
        var nowJoined = '{{ nowJoined }}';
        var ajaxEventLikeURL = "{{ path('event-like') }}";
        var commentPath = "{{ path('event-comment') }}";
        var eventCommentLike = "{{ path('event-comment-like') }}";
        var pathToEventShare = "{{ path('event-share') }}";
    </script>
    <script src="{{ asset('assets/js/portal/event/material-details.js?z=4') }}"></script>
    <script src="{{ asset('assets/js/portal/event/event-comment.js') }}"></script>
{% endblock %}