{% extends 'portal/layout/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('resources/css/my-account.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/jquery-ui.css')}}">
    <style>

    </style>
{% endblock %}
{% block portal_content %}
    {% set paymentGatewayCharges = 0 %}
    {% set platformFees = 0 %}
    {% set alreadyWithdrawn = 0 %}
    {{ include('portal/my-account/my-account-banner.html.twig') }}
    <div class="wrapper myaccount">
        <div class="container">
            {{ include('portal/my-account/activity-button.html.twig') }}
            <div class="cust-tabs">
                {{ include('portal/my-account/sidebar-navigation.html.twig') }}
                <div class="tab-content">
                    <div class="changeMakers projects">
                        <div class="head-sec mb-0">
                            <h3>Reports</h3>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <a class="btn btn-primary-o mt-3" href="{{ path('my-account-reports-cf-calculator') }}">Crowdfunding Calculator</a>
                                <a class="btn btn-primary-o mt-3" href="{{ path('my-account-reports-fund-detail') }}">CF or Funds Detailed Report</a>
                                <a class="btn btn-primary-o mt-3" href="{{ path('my-account-reports-impact-report') }}">Impact Report</a>
                                <a class="btn btn-primary-o mt-3" href="{{ path('my-account-reports-member-wise') }}">Member Wise Report</a>
                                <a class="btn btn-primary-o mt-3 active" href="{{ path('my-account-reports-event-performance') }}">Event Performance</a>

                                <div class="mt-5" style="overflow-x: auto;">
                                    <table id="reportTable" class="table table-responsive table-sm text-sm">
                                        <thead>
                                        <tr>
                                            <th colspan="7"></th>
                                            <th colspan="4">Time Contribution</th>
                                            <th colspan="4">Material Contribution</th>
                                            <th colspan="3">Funds Contribution</th>
                                        </tr>
                                        <tr>
                                            <th>Sr No.
                                                <input type="hidden" name="filename" id="filename" value="Event Performance">
                                                <input type="hidden" name="pdfFileSize" id="pdfFileSize" value="A2">
                                            </th>
                                            <th>Project Name</th>
                                            <th>Event Name</th>
                                            <th>No. of Invitation Sent</th>
                                            <th>No. of Members Joined</th>
                                            <th>No. of Members No Response</th>

                                            <th>No. of Participants</th>
                                            <th>Specific Skills</th>
                                            <th>Hours Asked</th>
                                            <th>Hours Achieved</th>

                                            <th>No. of Participants</th>
                                            <th>Items</th>
                                            <th>Quantity Required</th>
                                            <th>Quantity Received</th>

                                            <th>No. of Participants</th>
                                            <th>Target Amount</th>
                                            <th>Amount Received</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for detail in details %}
                                            {% for data in detail %}
                                                <tr>
                                                    <td>{{ data.sr_no }}</td>
                                                    <td>{{ data.circleName }}</td>
                                                    <td>{{ data.eventName }}</td>
                                                    <td>{{ data.no_of_invitation }}</td>
                                                    <td>{{ data.members_joined }}</td>
                                                    <td>{{ data.members_pending }}</td>

                                                    <td>{{ data.v_participant_count }}</td>
                                                    <td>{{ data.specific_skill }}</td>
                                                    <td>{{ data.hours_asked }}</td>
                                                    <td>{{ data.hours_achieved }}</td>

                                                    <td>{{ data.memberCnt }}</td>
                                                    <td>{{ data.item }}</td>
                                                    <td>{{ data.qtyRequired }}</td>
                                                    <td>{{ data.qtyReceived }}</td>

                                                    <td>{{ data.fund_no_of_participant }}</td>
                                                    <td>{{ data.fund_total_amt_required }}</td>
                                                    <td>{{ data.fund_total_amt_received }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td>{{'info.no_record_found'|trans}}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/easy-responsive-tabs.js') }}"></script>
    <script src="{{ asset('resources/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('resources/js/image-uploader.min.js') }}"></script>

    <script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>

    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {

            $('body').addClass('inner-pg logged my-account');
            $( ".datepicker" ).datepicker({
                showOn: "both",
                buttonImage: "/resources/images/common/icons/icon_calender.png",
                buttonImageOnly: true,
                buttonText: "Select date"
            });
            $('.input-images-3').imageUploader({
                label: 'Upload Documentation',
                label2: 'Add More Images'
            });

            if ($('#reportTable').length) {
                var report = $("#reportTable").DataTable({
                    "paging": false,
                    "lengthChange": true,
                    "order": [],
                    "ordering": false,
                    "info": true,
                    "searching": false,
                    "autoWidth": true,
                    "dom": 'Bfrtip',
                    /*"buttons": [
                        'excel', 'pdf'
                    ]*/
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            title: $("#filename").val()+ '-Report-GivingCircle',
                        },
                        {
                            extend: 'pdfHtml5',
                            title: $("#filename").val()+ '-Report-GivingCircle',
                            pageSize : $("#pdfFileSize").val(),
                        }
                    ]
                });
                /*report.buttons().container()
                    .appendTo( $('.col-sm-6:eq(0)', report.table().container() ) );*/
            }
            $("#reportTable_info").hide();

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#imagePreview').css('background-image', 'url('+e.target.result +')');
                        $('#imagePreview').hide();
                        $('#imagePreview').fadeIn(650);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imageUpload").change(function() {
                //alert('profile image');
                $(this).parents('.avatar-edit').find('.avatar-preview').addClass('imageadded');
                readURL(this);
            });






            function bannerImg(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#imagePreview2').css('background-image', 'url('+e.target.result +')');
                        $('#imagePreview2').hide();
                        $('#imagePreview2').fadeIn(650);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imageUpload2").change(function() {
                //alert('banner image');
                $(this).parents('.banner-image').find('.banner-preview').addClass('imageadded');
                $(this).parents().find('.profile-bg').hide();
                bannerImg(this);
            });


            function formcontrol(){
                $(".form-control").filter(function() {
                    if (this.value.length !==0){
                        $(this).siblings('label').addClass('clicked');
                    }
                });
            }

            formcontrol();
            $('.form-group label').click(function () {
                $(this).addClass('clicked');
            });
            $('.form-control').click(function () {
                $(this).siblings('label').addClass('clicked');
            });
            $('.form-control').keyup(function () {
                $(this).siblings('label').addClass('clicked');
            });
            $('.form-control').blur(function () {
                if ($(this).val()) {
                    $(this).siblings('label').addClass('clicked');
                } else if (!$(this).val()) {
                    $(this).siblings('label').removeClass('clicked');
                }
            });


        });



    </script>
{% endblock %}