{% extends 'portal/layout/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('resources/css/jquery-ui.css') }}">
{% endblock %}
{% block portal_content %}

    {% set isUserJoined = false %}
    {% set requestStatus = '' %}
    {% if app.user %}
        {% set isUserJoined = get_user_join_status( get_parameter('company_id'), app.user.id, trnCircleEvents.trnCircle.id) %}
        {% set requestStatus = get_pending_request_status( get_parameter('company_id'), app.user.id, trnCircleEvents.trnCircle.id) %}

    {% endif %}

    {{ render(controller(
        'App\\Controller\\Portal\\EventDetailsController::eventDetailsBanner',
        { 'id': trnCircleEvents.id }
    )) }}
    <div class="wrapper">

        {{ render(controller(
            'App\\Controller\\Portal\\EventDetailsController::eventDetailsHeaderSection',
            { 'id': trnCircleEvents.id }
        )) }}

        <section class="latest-events">
            <div class="container">
                <div class="row listing-page" data-aos="fade-right" data-aos-delay="200">

                    {{ render(controller(
                        'App\\Controller\\Portal\\EventDetailsController::eventDetailsNavigationSection',
                        { 'id': trnCircleEvents.id, 'active' : 'volunteer' }
                    )) }}

                    <div class="col right-list">
                        <h2 data-aos="fade-right" data-aos-delay="200">Volunteer (Time)</h2>
                        <section>
                            <h3>Broad Skills Required</h3>
                            <p>
                                {{ trnVolunteerCircleEventDetails.workDescription}}
                            </p>
                        </section>
                        <section class="skillRequiredBox">
                            <h3>Specific Skills Required</h3>
                            <div class="content">
                                <table class="table skillRequiredList">

{#                                    {{ dump(trnCircleEvents.trnCircle.mstJoinBy.joinBy) }}#}

                                    {% for trnVolunterCircleEventSubEvents in trnVolunteerCircleEventDetails.trnVolunterCircleEventSubEvents  %}
                                        <tr>
                                            <td>{{ trnVolunterCircleEventSubEvents.subEventName }}</td>
                                            <td>{{ trnVolunterCircleEventSubEvents.numberOfHours }} Hours</td>
                                            <td>{{ trnVolunterCircleEventSubEvents.subEventReccuringBy }}</td>
                                            <td>
                                                {% if trnCircleEvents.mstStatus.status == 'Expired'  %}
                                                    {# no buttons for expired events #}
                                                {% else %}
                                                    {% if trnCircleEvents.trnCircle.mstJoinBy.joinBy == 'Closed' %}
                                                        {% if app.user %}
                                                            {% if isUserJoined == true %}
                                                                {% if requestStatus == 'Activated' %}
                                                                    <a href="javascript:void(0);"
                                                                       class="btn btn-primary btn-participate {{ num_to_words(loop.index) }}"
                                                                       sequence="{{ num_to_words(loop.index) }}">
                                                                        Participate
                                                                    </a>
                                                                {% endif %}
                                                            {% elseif requestStatus == 'Pending Activation' %}
                                                                <a href="javascript:void(0);"
                                                                   class="btn btn-primary btn-participate {{ num_to_words(loop.index) }}"
                                                                   sequence="ReqPending">
                                                                    Request to Participate
                                                                </a>
                                                            {% elseif requestStatus == ''  %}
                                                                <a href="javascript:void(0);"
                                                                   class="btn btn-primary btn-participate {{ num_to_words(loop.index) }}"
                                                                    sequence="NJoined">
                                                                    Request to Participate
                                                                </a>
                                                            {% endif %}
                                                        {% else %}
                                                            <a href="javascript:void(0);"
                                                               class="btn btn-primary btn-participate {{ num_to_words(loop.index) }}"
                                                               sequence="NLoggedIn">
                                                                Request to Participate
                                                            </a>
                                                        {% endif %}
                                                    {% else %}
                                                        {# project type is open #}
                                                        {% if app.user %}
                                                            {% if isUserJoined == true %}
                                                                {% if requestStatus == 'Activated' %}
                                                                    <a href="javascript:void(0);"
                                                                       class="btn btn-primary btn-participate {{ num_to_words(loop.index) }}"
                                                                       sequence="{{ num_to_words(loop.index) }}">
                                                                        Participate
                                                                    </a>
                                                                {% endif %}
                                                            {% else %}
                                                                <a href="javascript:void(0);"
                                                                   class="btn btn-primary btn-participate {{ num_to_words(loop.index) }}"
                                                                   sequence="NJoined">
                                                                    Participate
                                                                </a>
                                                            {% endif %}
                                                        {% else %}
                                                            <a href="javascript:void(0);"
                                                               class="btn btn-primary btn-participate {{ num_to_words(loop.index) }}"
                                                               sequence="NLoggedIn">
                                                                Participate
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr class="participateCalender {{ num_to_words(loop.index) }}">
                                            <td colspan="4">
                                                <form method="post" id="frmParticipate_{{ loop.index }}" action="{{ path
                                                    ('volunteer-request-participate')
                                                }}">
                                                    <div class="participateCalenderBox">
                                                        <div style="width: 100%;">
                                                            <div style="display: table-cell; width: inherit;">
                                                                <p>Enter your own volunteering Date, Hours and Time</p>
                                                            </div>
                                                            <div style="display: table-cell;">
                                                                <a href="javascript:void(0);"
                                                                   class="participateCal btn-close"
                                                                   sequence="{{ num_to_words(loop.index) }}"></a>
                                                            </div>
                                                        </div>
                                                        <ul class="actionList">
                                                            <li>
                                                                <div name="datepickerParticipate_{{ loop.index }}"
                                                                     class="datepickerParticipate datepicker">
                                                                    <h4>Select Event Dates</h4>
                                                                </div>
                                                                <ul class="legends">
                                                                    <li>Event Dates</li>
                                                                    <li>Selected Event Dates</li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="form-group">
                                                                    <label class="clicked">Event Hours</label>
                                                                    <div class="cust-select">
                                                                        <select name="numberOfHours" id="numberOfHours_{{ loop.index }}"
                                                                        class="form-control"
                                                                                required>
                                                                            <option value=""></option>
                                                                            {% for i in 1..trnVolunterCircleEventSubEvents.numberOfHours %}
                                                                                {% set selected = "" %}
                                                                                {% if trnVolunterCircleEventSubEvents.numberOfHours == i %}
                                                                                    {% set selected = "selected" %}
                                                                                {% endif %}
                                                                                <option value="{{ i }}" {{ selected}} >{{ i }}
                                                                                    Hours</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <input type="hidden" name="trnEventId" value="{{ trnCircleEvents.id }}" />
                                                            <input type="hidden" name="trnVolunteerCircleEventDetailsId" value="{{ trnVolunteerCircleEventDetails.id }}" />
                                                            <input type="hidden" name="trnVolunterCircleEventSubEventsId" value="{{trnVolunterCircleEventSubEvents.id }}" />
                                                            <input type="hidden" name="selectedDateRange" id="selectedDateRange_{{ loop.index }}" value="" />
                                                            <li>
                                                                <div class="form-group">
                                                                    <label class="clicked">Event Time</label>
                                                                    <div class="cust-select">
                                                                        <select name="eventTime" id="eventTime_{{ loop.index }}" class="form-control"
                                                                                required>
                                                                            <option></option>
                                                                            {% set startTime = trnVolunteerCircleEventDetails.fromTime | date('H') %}
                                                                            {% set endTime = trnVolunteerCircleEventDetails.toTime | date('H') %}
                                                                            {% for i in startTime .. endTime %}
                                                                                {% set selected = "" %}
                                                                                {% if startTime == i %}
                                                                                    {% set selected = "selected" %}
                                                                                {% endif %}
                                                                                <option value="{{ i }}" {{ selected}} >{{ i }}:00
                                                                                    Hours </option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0)" loop-index="{{ loop.index }}"
                                                                   class="btn btn-primary btn-continue">Continue</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <a href="mailto:{{ changeMakerEmail }}?subject={{ trnCircleEvents.name|raw }}&cc={{ get_gc_email() }}" class="connect-cm-link">Connect with the Change Maker</a>
                            </div>
                        </section>
                        <section>
                            <h3>Key Responsibility</h3>
                            <p>
                                {{ trnVolunteerCircleEventDetails.keyResponsibility}}
                            </p>
                        </section>
                        <section>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h3>Event Date</h3>
                                    <ul class="timelineView">
                                        <li>
                                            <b>Start Date</b>
                                            {{ trnVolunteerCircleEventDetails.fromDate | date('l d M Y') }}
                                        </li>
                                        <li>
                                            <b>End Date</b>
                                            {{ trnVolunteerCircleEventDetails.toDate | date('l d M Y') }}
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-4">
                                    <h3>{{ trnVolunteerCircleEventDetails.mstPlaceOfWork.placeOfWork }}</h3>
                                    <ul class="timelineView">
                                        <li>
                                            <b>
                                                {% if trnVolunteerCircleEventDetails.mstPlaceOfWork.placeOfWork == 'On Site' %}
                                                    Start Time
                                                {% else %}
                                                    Check In
                                                {% endif %}
                                            </b>
                                            {{ trnVolunteerCircleEventDetails.fromTime | date("H:i") }} hours
                                        </li>
                                        <li>
                                            <b>
                                                {% if trnVolunteerCircleEventDetails.mstPlaceOfWork.placeOfWork == 'On Site' %}
                                                    End Time
                                                {% else %}
                                                    Check Out
                                                {% endif %}
                                            </b>
                                            {{ trnVolunteerCircleEventDetails
                                            .toTime | date("H:i") }} hours
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-4">
                                    <h3>Event Occurrence</h3>
                                    <ul class="timelineView">
                                        {% if trnVolunteerCircleEventDetails.mstEventOccurrence
                                            .eventOccurrence == 'Recurring' %}
                                            <li>
                                                <b>{{ trnVolunteerCircleEventDetails.mstEventOccurrence.eventOccurrence }}</b>
                                                {% if trnVolunteerCircleEventDetails_recurringDetails.mstRecurringBy.recurringBy is defined %}
                                                    {{ trnVolunteerCircleEventDetails_recurringDetails.mstRecurringBy.recurringBy }}
                                                {% else %}
                                                    Daily
                                                {% endif %}
                                            </li>
                                            <li>
                                                <b>No. of Hours</b>
                                                {{ trnVolunteerCircleEventDetails_recurringDetails.numberOfHours }} hrs
                                            </li>
                                            {% if trnVolunteerCircleEventDetails_recurringDetails.mstRecurringBy.recurringBy is defined and trnVolunteerCircleEventDetails_recurringDetails.mstRecurringBy.recurringBy == 'Monthly' %}
                                                <b>Dates Selected</b><br/>
                                                {% set datesArr = trnVolunteerCircleEventDetails_recurringDetails.datesSelected|split(',') %}
                                                {% for dateval in datesArr %}
                                                    {{ dateval|date('d') }}<sup>th</sup>
                                                    {% if not loop.last %}
                                                        <br>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}


                                        {% else %}
                                            <li>
                                                <b>{{ trnVolunteerCircleEventDetails.mstEventOccurrence.eventOccurrence }}</b>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </section>


                        <section>
                            <h3>Place of Work</h3>
                            <div class="map-section">
                                <b>{{ trnVolunteerCircleEventDetails.mstPlaceOfWork.placeOfWork }}</b>
                                {% if trnVolunteerCircleEventDetails.mstPlaceOfWork.placeOfWork == 'On Site' and
                                    trnVolunteerCircleEventDetails.trnVolunterCircleEventOnSiteAddresses|length > 0 %}

                                    {% set onSiteAddress = trnVolunteerCircleEventDetails.trnVolunterCircleEventOnSiteAddresses[0] %}
                                    <span>Event On Site Address</span>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="map-address">
                                                <i class="fa fa-map-marker"></i>
                                                {{ onSiteAddress.eventOnSiteAddress1 }}
                                                {#{% if onSiteAddress.eventOnSiteAddress2 != '' %}
                                                    {{ onSiteAddress.eventOnSiteAddress2 }},
                                                {% endif %}
                                                {{ onSiteAddress.mstAreasInCity }}, {{ onSiteAddress.mstCity }},
                                                {{ onSiteAddress.mstState }} {{ onSiteAddress.eventOnSitePinCode }}.#}
                                            </div>
                                        </div>
                                        {# enable map once onsite address map key is received and integrated #}
                                        <div class="col-sm-8">
                                            <div class="map-view">
                                                {% set map_lat= onSiteAddress.eventOnSiteLocationLatitude %}
                                                {% set map_long= onSiteAddress.eventOnSiteLocationLongitude %}
                                                {{ include('portal/event/map-review.html.twig') }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </section>
                        {{ render(controller(
                            'App\\Controller\\Portal\\EventDetailsController::eventDetailsBottomNavigationSection',
                            { 'id': trnCircleEvents.id,  'active' : 'volunteer' }
                        )) }}
                    </div>
                </div>
            </div>
        </section>
        <div class="col">
            {{ include('portal/event/comment-section.html.twig', {'events': trnCircleEvents}) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('resources/js/jquery-ui.multidatespicker.js') }}"></script>
    <script>
        var pathToParticipateBeforeLogin = "{{ path('event-donate-before-login', {'event': trnCircleEvents.id, 'processType': 'participate' }) }}";
        var nowJoined = '{{ nowJoined }}';
        var ajaxEventLikeURL = "{{ path('event-like') }}";
        var commentPath = "{{ path('event-comment') }}";
        var eventCommentLike = "{{ path('event-comment-like') }}";
        var pathToEventShare = "{{ path('event-share') }}";
        var eventDates = {};
        {% for dates in arrEventDates %}
        eventDates[new Date('{{ dates }}')] = new Date('{{ dates }}');
        {% endfor %}

    </script>
    <script src="{{ asset('assets/js/portal/event/volunteer-details.js?z=3') }}"></script>
    <script src="{{ asset('assets/js/portal/event/event-comment.js') }}"></script>
{% endblock %}