<!DOCTYPE html>
<html  lang="en">
<head>
    <title>Payu</title>

    <style>
        .container {
            width: 70%;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
    </style>

    <script>
        window.onload = function() {
            var auto_refresh = setInterval(function () {
                submitform();
            }, 2000);
        }
        // Form submit function
        function submitform() {
            document.getElementById("paymentForm").submit();
        }
    </script>
</head>
<body>

<div class="container">
    <img src="{{ asset('resources/images/common/logo.png') }}" alt="{{ 'title.app'|trans }}" title="{{ 'title.app'|trans }}">

    <br><br><br>

    You are being redirected to Payu Payment Gateway in 3 seconds.... If not then click on the below "Pay" button.

    <br>
    <br>


    <form action="{{ transaction.url }}" id="paymentForm" method="post">
        <input type="hidden" name="firstname" value="{{ transaction.firstname }}" />
        <input type="hidden" name="lastname" value="{{ transaction.lastname }}" />
        <input type="hidden" name="surl" value="{{ transaction.surl }}" />
        <input type="hidden" name="phone" value="{{ transaction.phone }}" />
        <input type="hidden" name="key" value="{{ transaction.key }}" />
        <input type="hidden" name="hash" value ="{{ transaction.hash }}" />
        <input type="hidden" name="curl" value="{{ transaction.curl }}" />
        <input type="hidden" name="furl" value="{{ transaction.furl }}" />
        <input type="hidden" name="txnid" value="{{ transaction.txnid }}" />
        <input type="hidden" name="productinfo" value="{{ transaction.productinfo }}" />
        <input type="hidden" name="amount" value="{{ transaction.amount }}" />
        <input type="hidden" name="email" value="{{ transaction.email }}" />
        <input type="hidden" name="address1" value="{{ transaction.address1 }}" />
        <input type="hidden" name="address2" value="{{ transaction.address2 }}" />
        <input type="hidden" name="city" value="{{ transaction.city }}" />

        <input type="submit" id="btnsubmit" name="btnsubmit"  value="Pay">
    </form>

</div>

</body>
</html>
