{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}

    <section class="banner-sec">
        {% set pageContentHeader = get_cms_page_content_by_slugname('create-project') %}
        {{ include('portal/project-details/_create_project_header.html.twig') }}
    </section>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="start-project col-lg order-lg-2" id="start-project">
                    <div class="head-sec">
                        <h2>Start Your Project Now</h2>
                        <div class="tips-button">
                            <a href="{{ path('create-project-tip') }}"><i class="tips-icon"></i> Tips for Project Creation</a>
                        </div>
                    </div>
                    <ul class="steps">
                        <li class="completed">
                            <span class="num"></span>
                            Interest Area
                        </li>
                        <li class="active">
                            <span class="num"></span>
                            Project Details
                        </li>
                        <li class="">
                            <span class="num"></span>
                            Gallery
                        </li>
                    </ul>
                    <div class="project-details">
                        {{ form_start(form) }}
                            <div class="mandate-text"><span>*</span> Mandatory Fields </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-Project.png"
                                                    alt=""></i>
                                        <label for="projectName">
                                            <span>My Social Project Name *</span>
                                            <div class="tooltip">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext">Choose a name that is not the same as your organisation’s name. Its a name by which you would like the project to be known</span>
                                            </div>
                                            <em>(Edit the name of your own project)</em>
                                        </label>
                                        <div class="input-edit">
                                            {{ form_widget(form.circle) }}
                                            <a href="#" class="edit-link">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                        </div>
                                        {{ form_errors(form.circle) }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-ProjectType.png"
                                                    alt=""></i>
                                        <label for="projectType">
                                            <span>My Project Type *</span>
                                            <div class="tooltip">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext">Open & Closed
                                                    <br><br>
                                                    Open - Projects which do not require your permission for members to join while you get notified.
                                                    It's ideal to keep projects open for volunteers and like minded people to join and experience
                                                    the good work through your updates.
                                                    <br><br>
                                                    Closed - Project which are visible to all but joining them requires your consent.
                                                    The request to join queues up for your approval.
                                                    This is ideal when its a closed group of members that are needed to work in tandem.
                                                    eg residential society rain water harvesting , Alumni working for the betterment of the School / College.
                                                </span>
                                            </div>
                                        </label>
                                        <ul class="project-status">
                                            <li class="project-status-input" id="project-status-input-Open" value="1">
                                                <i class="fa fa-unlock"></i>
                                                <span>Open</span>
                                            </li>
                                            <li class="project-status-input" id="project-status-input-Closed" value="2">
                                                <i class="fa fa-lock"></i>
                                                <span>Closed</span>
                                            </li>
                                        </ul>
                                        {{ form_errors(form.mstJoinBy) }}
                                        {{ form_widget(form.mstJoinBy) }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-Location.png"
                                                    alt=""></i>
                                        <label for="country">My Location *</label>
                                        <div class="row row-sm">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="clicked" for="country">Country</label>
                                                    <div class="cust-select">
                                                        {{ form_widget(form.mstCountry) }}
                                                    </div>
                                                </div>
                                                {{ form_errors(form.mstCountry) }}
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="clicked" for="State">State</label>
                                                    <div class="cust-select">
                                                        {{ form_widget(form.mstState) }}
                                                    </div>
                                                </div>
                                                {{ form_errors(form.mstState) }}
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="clicked" for="City">City</label>
                                                    <div class="cust-select">
                                                        {{ form_widget(form.mstCity) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-About.png" alt=""></i>
                                        <label for="aboutMe">
                                            <span>About Me *</span>
                                        </label>
                                        {{ form_widget(form.circleInformation) }}
                                        <div class="textarea-instru">
                                            <small>A maximum of 300 words only </small>
                                            <small class="text-right ml-auto">Word count - <b
                                                        class="words-left">0</b><b>/300</b>
                                            </small>
                                        </div>
                                        {{ form_errors(form.circleInformation) }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-Goal.png" alt=""></i>
                                        <label for="myGoals">
                                            <span>My Goal & Plans *</span>
                                        </label>
                                        {{ form_widget(form.howGoalWillBeAchieved) }}
                                        <div class="textarea-instru">
                                            <small>A maximum of 300 words only </small>
                                            <small class="text-right ml-auto">Word count - <b
                                                        class="words-left">0</b><b>/300</b>
                                            </small>
                                        </div>
                                        {{ form_errors(form.howGoalWillBeAchieved) }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-Story-Blue.png"
                                                    alt=""></i>
                                        <label for="addnlInfo">
                                            <span>Any Additional Information</span>
                                        </label>
                                        {{ form_widget(form.impactStatement) }}
                                        <div class="textarea-instru">
                                            <small>A maximum of 300 words only </small>
                                            <small class="text-right ml-auto">Word count - <b
                                                        class="words-left">0</b><b>/300</b>
                                            </small>
                                        </div>
                                        {{ form_errors(form.impactStatement) }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-Keypad.png"
                                                    alt=""></i>
                                        <label for="suggestedKeywords">
                                            <span>Suggested Keywords
                                                <div class="tooltip">
                                                    <i class="fas fa-info-circle"></i>
                                                    <span class="tooltiptext">Choose words that represent your cause.
                                                        Relate to how people see the cause and it may not be necessary
                                                        that it should match by your naming convention. e.g. if you are
                                                        working towards feeding children healthy food then "Hunger",
                                                        "eradication of hunger", "malnutrition", "children" etc are
                                                        the words with which people will search and you must make use of them
                                                        while writing about the event / project. List those words here for
                                                        the platform to show the results accordingly.</span>
                                                </div>
                                            </span>
                                        </label>
                                        {{ form_widget(form.suggestedKeywords) }}
                                        <div class="textarea-instru">
                                            <small>A maximum of 160 words only </small>
                                            <small class="text-right ml-auto">Word count - <b
                                                        class="words-left">0</b><b>/160</b>
                                            </small>
                                        </div>
                                        {{ form_errors(form.suggestedKeywords) }}
                                    </div>
                                </div>

                                {#<div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-Bank.png" alt=""></i>
                                        <label for="benBankName">
                                            <span>Bank Account Details</span>
                                        </label>
                                        <div class="row row-sm prefilled-data">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <span class="label-text">Beneficiary Bank Name</span>
                                                    {{ trnCircle.beneficiaryBankName}}
                                                    <div style="display: none;">
                                                        {{ form_widget(form.beneficiaryBankName) }}
                                                    </div>
                                                    #}{# {% if trnCircle is defined and trnCircle is not empty and
                                                        trnCircle.beneficiaryBankName is defined and trnCircle
                                                        .beneficiaryBankName is not empty and trnCircle
                                                        .beneficiaryBankName != ''  %}
                                                        {{ trnCircle.beneficiaryBankName}}
                                                        <div style="display: none;">
                                                            {{ form_widget(form.beneficiaryBankName) }}
                                                        </div>
                                                    {% else %}
                                                        {{ form_widget(form.beneficiaryBankName) }}
                                                    {% endif %} #}{#

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <span class="label-text">Beneficiary Account Holder Name</span>
                                                    {{ trnCircle.beneficiaryAccountHolderName}}
                                                    <div style="display: none;">
                                                        {{ form_widget(form.beneficiaryAccountHolderName) }}
                                                    </div>
                                                    #}{# {% if trnCircle is defined and trnCircle is not empty and
                                                        trnCircle.beneficiaryAccountHolderName is defined and trnCircle
                                                        .beneficiaryAccountHolderName is not empty and trnCircle
                                                        .beneficiaryAccountHolderName != '' %}
                                                        {{ trnCircle.beneficiaryAccountHolderName}}
                                                        <div style="display: none;">
                                                            {{ form_widget(form.beneficiaryAccountHolderName) }}
                                                        </div>
                                                    {% else %}
                                                        {{ form_widget(form.beneficiaryAccountHolderName) }}
                                                    {% endif %} #}{#
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <span class="label-text">Beneficiary Bank Account Number</span>
                                                    {{ trnCircle.beneficiaryBankAccountNumber}}
                                                    <div style="display: none;">
                                                        {{ form_widget(form.beneficiaryBankAccountNumber) }}
                                                    </div>
                                                    #}{# {% if trnCircle is defined and trnCircle is not empty and
                                                        trnCircle.beneficiaryBankAccountNumber is defined and trnCircle
                                                        .beneficiaryBankAccountNumber is not empty and trnCircle
                                                        .beneficiaryBankAccountNumber != '' and trnCircle
                                                        .beneficiaryBankAccountNumber != null %}
                                                        {{ trnCircle.beneficiaryBankAccountNumber}}
                                                        <div style="display: none;">
                                                            {{ form_widget(form.beneficiaryBankAccountNumber) }}
                                                        </div>
                                                    {% else %}
                                                        {{ form_widget(form.beneficiaryBankAccountNumber) }}
                                                    {% endif %}#}{#
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <span class="label-text">Beneficiary IFSC Code</span>
                                                    {{ trnCircle.beneficiaryIfscCode}}
                                                    <div style="display: none;">
                                                        {{ form_widget(form.beneficiaryIfscCode) }}
                                                    </div>
                                                    #}{#{% if trnCircle is defined and trnCircle is not empty and
                                                        trnCircle.beneficiaryIfscCode is defined and trnCircle
                                                        .beneficiaryIfscCode is not empty and trnCircle
                                                        .beneficiaryIfscCode != '' and trnCircle
                                                        .beneficiaryIfscCode != null %}
                                                        {{ trnCircle.beneficiaryIfscCode}}
                                                        <div style="display: none;">
                                                            {{ form_widget(form.beneficiaryIfscCode) }}
                                                        </div>
                                                    {% else %}
                                                        {{ form_widget(form.beneficiaryIfscCode) }}
                                                    {% endif %}#}{#
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <span class="label-text">Beneficiary Account Type</span>
                                                    {{ trnCircle.mstBankAccountTypeBeneficiary}}
                                                    <div style="display: none;">
                                                        {{ form_widget(form.mstBankAccountTypeBeneficiary) }}
                                                    </div>
                                                    #}{# {% if trnCircle is defined and trnCircle is not empty and
                                                        trnCircle.mstBankAccountTypeBeneficiary is defined and trnCircle
                                                        .mstBankAccountTypeBeneficiary is not empty and trnCircle
                                                        .mstBankAccountTypeBeneficiary != '' and trnCircle
                                                        .mstBankAccountTypeBeneficiary != null %}
                                                        {{ trnCircle.mstBankAccountTypeBeneficiary}}
                                                        <div style="display: none;">
                                                            {{ form_widget(form.mstBankAccountTypeBeneficiary) }}
                                                        </div>
                                                    {% else %}
                                                        <div class="cust-select">
                                                            {{ form_widget(form.mstBankAccountTypeBeneficiary) }}
                                                        </div>
                                                    {% endif %}#}{#
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>#}
                            </div>
                            <div class="btn-sec" data-aos="fade-right" data-aos-delay="200">
{#                                <a href="javascript:void(0);" class="back-link">Back</a>#}
                                <input type="submit" class="btn btn-primary btn-continue" value="Continue" />
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="feature-section col-lg order-lg-1">
                    <h4 data-aos="fade-right" data-aos-delay="200">{{ pageContentHeader.cmsPageContent[2].pageContent|raw }}</h4>

                    {% set iconList = {'0' : '<i class="fc-inspiration"></i> ' , '1' : '<i class="fc-spread"></i> ',
                        '2' : '<i class="fc-generate"></i> ', '3' : '<i class="fc-plan"></i> ', '4' : '<i class="fc-share"></i> '} %}

                    {% set liList = pageContentHeader.cmsPageContent[3].pageContent %}
                    {% set liList = liList|split('</li>') %}
                    {% set newLiList = [] %} {# defualt to original value #}
                    {% for listitems in liList %}
                        {% set iconkey = loop.index0 %}
                        {% if iconList[iconkey] is defined %}
                            {% set newLiVal = listitems|replace({'<li>' : '<li>'~iconList[iconkey]}) %}
                        {% else %}
                            {% set newLiVal = listitems|replace({'<li>' : '<li><i class="fc-inspiration"></i>'}) %}
                        {% endif %}
                        {% set newLiList = newLiList|merge([newLiVal]) %}
                    {% endfor %}
                    <div class="feature-list" data-aos="fade-right" data-aos-delay="200">
                        {{ newLiList|join('</li>')|raw }}
                    </div>

                    <figure>
                        <img src="/resources/images/common/create-project/features-image.png" alt="">
                    </figure>

                    <div class="view-project-button">
                        <div class="demo-text">
                            {{ pageContentHeader.cmsPageContent[4].pageContent|raw }}
                            <a href="#" data-toggle="modal" data-target="#demoModal">View Now</a>
                        </div>
                    </div>

                    {#<div class="view-project-button">
                        <a href="#" data-toggle="modal" data-target="#demoModal">
                            View Project Creation Demo
                            {{ pageContentHeader.cmsPageContent[2].pageContent|raw }}
                        </a>
                    </div>#}
                </div>
            </div>
        </div>
    </div>

    {{ include('portal/project-details/_project_demo.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var projectType = "";
        {% if trnCircle is defined and trnCircle is not empty and
            trnCircle.mstJoinBy is defined and trnCircle.mstJoinBy is not empty %}
            projectType = "{{ trnCircle.mstJoinBy }}";
        {% endif %}
    </script>
    <script src="{{ asset('assets/js/portal/circle/create-circle-project-details.js?z=1') }}"></script>
{% endblock %}