{% extends 'portal/layout/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('resources/css/my-account.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/jquery-ui.css')}}">
{% endblock %}
{% block portal_content %}
    {{ render(controller(
        'App\\Controller\\Portal\\MyAccountController::myAccountBanner'
    )) }}
    <div class="wrapper myaccount">
        <div class="container">
            {{ include('portal/my-account/activity-button.html.twig') }}
            <div class="cust-tabs">
                {{ include('portal/my-account/sidebar-navigation.html.twig') }}
                {#{% if arrSocialProfileData is defined and arrSocialProfileData is not empty and
                    (arrSocialProfileData.trnCircleCount > 0 or arrSocialProfileData.trnContributor > 0 or
                    arrSocialProfileData.nDonationCount > 0 )
                %}#}
                    {{ render(controller(
                        'App\\Controller\\Portal\\MyAccountController::socialProfileActivated'
                    )) }}
                {#{% else %}
                    {{ render(controller(
                        'App\\Controller\\Portal\\MyAccountController::socialProfileEmptyInfo'
                    )) }}
                {% endif %}#}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/portal/my-account/social-profile.js') }}"></script>
{% endblock %}