<div class="tab-content">
    <h3>Social Profile</h3>
    <h5>As Change Maker</h5>
    <div class="rounded-box">
        <div>
            <ul class="half-circle">
                <li class="active">
                    <span class="num">{{ arrSocialProfileData.trnCircleCount | default(0) }}</span>
                    <span class="name">Projects</span>
                </li>
                <li>
                    <span class="num">{{ arrSocialProfileData.myEventCount.volunteersCount | default(0) }}</span>
                    <span class="name">Volunteers</span>
                </li>
                <li>
                    <span class="num">{{ arrSocialProfileData.myEventCount.sum | default(0) }}</span>
                    <span class="name">Events</span>
                </li>
            </ul>
        </div>
        <div>
            <h5>Impact</h5>
            <ul class="impact-list">
                <li>
                    <span class="time">Time</span>
                    <span class="counter">{{ arrSocialProfileData.myEventCount.volunteer | default(0) }}</span>
                    <span class="events-tl">Events</span>
                </li>
                <li>
                    <span class="time">Money</span>
                    <span class="counter">{{ arrSocialProfileData.myEventCount.material | default(0) }}</span>
                    <span class="events-tl">Events</span>
                </li>
                <li>
                    <span class="time">Material</span>
                    <span class="counter">{{ arrSocialProfileData.myEventCount.fund | default(0) }}</span>
                    <span class="events-tl">Events</span>
                </li>

            </ul>
        </div>
        <div>
            <ul class="time-amt">
                <li>
                    <span>{{ arrSocialProfileData.myEventCount.projectHrs | default(0) }}</span>
                    hrs
                </li>
                <li>
                    <span>
                        {% set donationToMyPrj = (arrSocialProfileData.myEventCount.donationToMyPrj) / 100000 %}
                        {% if donationToMyPrj < 1  %}
                            {{ donationToMyPrj * 100 }}
                        {% else  %}
                            {{ donationToMyPrj }}
                        {% endif %}
                    </span>
                    {% if donationToMyPrj < 1  %} K {% else %} lacs {% endif %}

                </li>
            </ul>
        </div>
    </div>

    <h5>As Contributors</h5>
    <div class="rounded-box">
        <div>
            <ul class="half-circle">
                <li class="active">
                    <span class="num">{{ arrSocialProfileData.trnContributor | default(0) }}</span>
                    <span class="name">Projects</span>
                </li>
                <li>
                    <span class="num">{{ arrSocialProfileData.myContribution.nAsAVolunteer | default(0) }}</span>
                    <span class="name">Volunteers</span>
                </li>
                <li>
                    <span class="num">{{ (arrSocialProfileData.myContribution.nMyConVolunteerEvnCount
                        + arrSocialProfileData.myContribution.myDonatingEventCount +
                        arrSocialProfileData.myContribution.nMyMaterialEvents ) | default(0) }}</span>
                    <span class="name">Events</span>
                </li>
            </ul>
        </div>
        <div>
            <h5>Impact</h5>
            <ul class="impact-list">
                <li>
                    <span class="time">Time</span>
                    <span class="counter">{{ arrSocialProfileData.myContribution.nMyConVolunteerEvnCount | default(0) }}</span>
                    <span class="events-tl">Events</span>
                </li>
                <li>
                    <span class="time">Money</span>
                    <span class="counter">{{ arrSocialProfileData.myContribution.myDonatingEventCount | default(0) }}</span>
                    <span class="events-tl">Events</span>
                </li>
                <li>
                    <span class="time">Material</span>
                    <span class="counter">{{ arrSocialProfileData.myContribution.nMyMaterialEvents | default(0) }}</span>
                    <span class="events-tl">Events</span>
                </li>
            </ul>
        </div>
        <div>
            <ul class="time-amt">
                <li>
                    <span>{{ arrSocialProfileData.myContribution.nMyVolunteeringHrs | default(0) }}</span>
                    hrs
                </li>
                <li>
                    <span>
                        {% set donationToMyPrj = (arrSocialProfileData.myContribution.myDonationAmt) / 100000 %}
                        {% if donationToMyPrj < 1  %}
                            {{ donationToMyPrj * 100 }}
                        {% else  %}
                            {{ donationToMyPrj }}
                        {% endif %}
                    </span>
                    {% if donationToMyPrj < 1  %} K {% else %} lacs {% endif %}
                </li>
            </ul>
        </div>
    </div>

    <h5>Donation Information</h5>
    <div class="table-responsive rounded-cust-tbl">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-sr-no">Sr. No.</th>
                <th class="col-date">Date</th>
                <th class="col-category">Event Name</th>
                <th class="col-typ">Type</th>
                <th class="col-amt">Amount</th>
                <th class="col-amt">Transaction Id</th>
                <th class="col-receipt">Receipt</th>
                <th class="col-status">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for donationData in arrSocialProfileData.arrDonationData %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ donationData.orderDateTime | date('d M Y H:i:s') }}</td>
                    <td>
                        {% if donationData.isGivingCircleDonation is defined and donationData.isGivingCircleDonation
                            is not empty %}
                            Change Maker <i>{{ donationData.changeMakerArticle.articleFor }}</i>
                        {% else  %}
                            {{ donationData.trnCircleEvent }}
                        {% endif %}
                    </td>
                    <td>
                        <label>
                            {% if arrDonationRecurringData is defined and arrDonationRecurringData is not empty and
                                arrDonationRecurringData is not null and  donationData.id in arrDonationRecurringData|keys  %}
                                {{ arrDonationRecurringData[donationData.id] | raw  }}
                            {% endif %}
                        </label>
                    </td>
                    <td><i class="fa fa-rupee"></i> {{ donationData.transactionAmount | number_format(2, '.', ',') }}</td>
                    <td>{{ donationData.transactionId }}
                        {% if donationData.textNote is defined and donationData.textNote is not empty and
                            donationData.textNote != '' %}
                            <div class="tooltip">
                                <i style="color: #F05235;" class="fas fa-info-circle"></i>
                                <span class="tooltiptext">{{ donationData.textNote }}</span>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <i class="fa fa-file-pdf-o"></i>
                        <a href="{{ path('print-receipt', {'transaction' : donationData.transactionId}) }}"  >Payment Receipt</a>
                        <br/>
                        {% if donationData.trnCircleEvent is defined and donationData.trnCircleEvent is not empty and
                            donationData.trnCircleEvent.trnCircle.appUser.appUserInfo.mstUserMemberType == 'Organization' and
                            donationData.trnCircleEvent.trnCircle.appUser.trnOrganizationDetails[0].registrationNo80G is not empty %}
                        <i class="fa fa-file-pdf-o"></i> <a href="{{ path('print-eighty-g-certificate',
                            {'transaction' : donationData.transactionId}) }}" target="_blank"
                        >80G Certificate</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if donationData.trnCircleEvent is defined and donationData.trnCircleEvent is not empty and
                            arrEventUpComingOrOnGoingDetails is defined and
                            arrEventUpComingOrOnGoingDetails is not empty and
                            arrEventUpComingOrOnGoingDetails[donationData.trnCircleEvent.id] is defined and
                            arrEventUpComingOrOnGoingDetails[donationData.trnCircleEvent.id] is not empty
                            and arrEventUpComingOrOnGoingDetails[donationData.trnCircleEvent.id] != '' %}
                            {{ arrEventUpComingOrOnGoingDetails[donationData.trnCircleEvent.id]['eventUpComingOrOnGoing'] }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% set isMandatoryFilled = check_if_all_mandatory_filled() %}
    <div class="btn-sec mt-3 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
        {% if isMandatoryFilled is defined and isMandatoryFilled is not empty and isMandatoryFilled == true %}
            <a href="{{ path('create-project') }}" class="btn btn-primary">Create Your Own Project</a>
            <a href="{{ path('contribute-to-a-change') }}" class="btn btn-primary">Contribute To A Change</a>
            <a href="{{ path('express-donate-listing') }}" class="btn btn-primary">Express Donate</a>
        {% else %}
            <a href="javascript:void(0);" class="btn btn-primary">Create Your Own Project</a>
            <a href="javascript:void(0);" class="btn btn-primary">Contribute To A Change</a>
            <a href="javascript:void(0);" class="btn btn-primary">Express Donate</a>
        {% endif %}
    </div>
</div>