{% extends 'layout/content.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/plugins/kartik-v/bootstrap-fileinput/css/fileinput.min.css')}}">
    <style>
        .secAIsel {
            width: 450px;
            max-width: 100%;
            /* So it doesn't overflow from it's parent */
        }

        .secAIsel > option {
            /* wrap text in compatible browsers */
            -moz-white-space: pre-wrap;
            -o-white-space: pre-wrap;
            white-space: pre-wrap;
            /* hide text that can't wrap with an ellipsis */
            overflow: hidden;
            text-overflow: ellipsis;
            /* add border after every option */
            border-bottom: 1px solid #DDD;
        }
    </style>
{% endblock %}
{% import _self as formMacro %}
{% macro organizationDetailsContent(form)  %}
    <div class="col-sm-12 trnOrganizationDetails">
        <div class="row mt-3">
            <div class="col-sm-3">
                {{ form_row(form.organizationName) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.organizationLogo) }}
                <br/><span style="font-size: .5em;color: #f00;"><b>File Type:</b> jpeg|png|jpg & <b>Pixel</b>:- 250px x 100px</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-6">
                {{ form_row(form.aboutOrganization) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3">
                {{ form_row(form.mstTypeOfOrganization) }}
            </div>
            {#<div class="col-sm-3">
                {{ form_row(form.mstAreaInterest) }}
            </div>#}
        </div>
        <div class="row mt-3">
            <div class="col-sm-3">
                {{ form_row(form.registrationCertificateTrustDeed) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.incorporatedOnDate) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3">
                {{ form_row(form.registrationNo80G) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.registrationDate80G) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3">
                {{ form_row(form.website) }}
            </div>
        </div>

        <div style="display: none;" class="col-sm-4 removebutton mb-4"> <br>
            <button type="button" class="btn btn-danger btn-sm removeOrganizationDetails"><i class="fa
        fa-trash"></i> Remove Content
                Block</button>
        </div>
    </div>
{% endmacro %}

{% macro bankDetailsContent(form)  %}
    <div class="col-sm-12 trnBankDetails">
        <div class="row mt-3">
            <div class="col-sm-3">
                {{ form_row(form.bankName) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.accountHolderName) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3">
                {{ form_row(form.accountNumber) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.ifscCode) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.mstBankAccountType) }}
            </div>
        </div>
        <div style="display: none;" class="col-sm-4 removebutton mb-4"> <br>
            <button type="button" class="btn btn-danger btn-sm removeBankDetails"><i class="fa
        fa-trash"></i> Remove Content
                Block</button>
        </div>
    </div>
{% endmacro %}

{% block cms_content %}
    {% set back_to_list = app.request.server.get('HTTP_REFERER') %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                {% if mode == 'add' %}<i class="fa fa-plus"></i> {% else%} <i class="fa fa-edit"></i> {% endif%}  <b>{{label_title|trans|upper}}</b>
            </h5>
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.orgCompany) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.mstUserMemberType) }}
                </div>
                <div class="col-sm-3" style="display: none;">
                    {{ form_row(form.userName) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.mstSalutation) }}
                </div>

                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.userFirstName) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.userMiddleName) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.userLastName) }}
                </div>

            </div>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.userEmail) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.mobileCountryCode) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.userMobileNumber) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.mstCountry) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.mstState) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.mstCity) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3" >
                    {{ form_row(form.mstStatus) }}
                </div>
                <div class="col-sm-3" >
                    <label for="app_user_registration_reasonToReject">{{ 'label.reason_to_reject'|trans }}</label>
                    {{ form_row(form.reasonToReject) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.dateOfBirth) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.address1) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.address2) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.pinCode) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    {{ form_row(form.appUserInfo.mstSkillSet) }}
                </div>
                 {#<div class="col-sm-3">
                     <select id="primaryArea" multiple="multiple">
                         {% for mstAreaInterest in mstAreaInterestArr %}
                             {% if arrPrimaryAI is defined and
                                 arrPrimaryAI is not empty and
                                 arrPrimaryAI is not null and
                                 mstAreaInterest.id in arrPrimaryAI|keys %}
                                 <option value="mstAreaInterest.id" selected="selected">
                            {% else %}
                                <option value="{{ mstAreaInterest.id }}">
                            {% endif %}
                                 {{ mstAreaInterest.areaInterest }}
                             </option>
                         {% endfor %}
                     </select>
#}{#                    {{ form_row(form.appUserInfo.primaryAreaInterest) }}#}{#
                </div>#}
                {#<div class="col-sm-3">
                    {% for mstAreaInterest in mstAreaInterestArr %}
                        {% set secondaryAIList = get_secondary_area_of_interest(mstAreaInterest.id) %}
                        <select id="secondaryArea" multiple="multiple">
                            {% for secondaryAI in secondaryAIList %}
                                {% if arrSecondaryAI is defined and
                                    arrSecondaryAI is not empty and
                                    arrSecondaryAI is not null and
                                    mstAreaInterest.id in arrSecondaryAI|keys and
                                    secondaryAI.id in arrSecondaryAI[mstAreaInterest.id]|keys %}
                                    <option value="{{ secondaryAI.id }}" selected="selected">{{ secondaryAI }}</option>
                                {% else %}
                                    <option value="{{ secondaryAI.id }}">{{ secondaryAI }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% endfor %}
                </div>#}
            </div>

            <div>
                <label class="required">Area Of Interest</label>
            </div>
            {% for mstAreaInterest in mstAreaInterestArr %}
                {% if (loop.index % 3) == 1 %}
                <div class="row">
                {% endif %}
                <div class="col-sm-3" style="margin-right: 5px;">
                    {% if arrPrimaryAI is defined and
                        arrPrimaryAI is not empty and
                        arrPrimaryAI is not null and
                        mstAreaInterest.id in arrPrimaryAI|keys %}
                        <input type="checkbox" checked="checked" name="primaryArea[]" id="primaryArea_{{ mstAreaInterest.id }}" value="{{ mstAreaInterest.id }}" paiName="{{ mstAreaInterest.areaInterest }}"> &nbsp;{{ mstAreaInterest.areaInterest }}
                    {% else %}
                        <input type="checkbox" name="primaryArea[]" id="primaryArea_{{ mstAreaInterest.id }}" value="{{ mstAreaInterest.id }}" paiName="{{ mstAreaInterest.areaInterest }}"> &nbsp;{{ mstAreaInterest.areaInterest }}
                    {% endif %}

                    {% set secondaryAIList = get_secondary_area_of_interest(mstAreaInterest.id) %}
                    <select id="secondaryArea_{{ mstAreaInterest.id }}" name="secondaryArea[{{ mstAreaInterest.id }}][]" multiple="multiple" class="secAIsel">
                        {% for secondaryAI in secondaryAIList %}
                            {% if arrSecondaryAI is defined and
                                arrSecondaryAI is not empty and
                                arrSecondaryAI is not null and
                                mstAreaInterest.id in arrSecondaryAI|keys and
                                secondaryAI.id in arrSecondaryAI[mstAreaInterest.id]|keys %}
                                <option value="{{ secondaryAI.id }}" selected="selected">{{ secondaryAI }}</option>
                            {% else %}
                                <option value="{{ secondaryAI.id }}">{{ secondaryAI }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% if (loop.index % 3) == 0 %}
                </div>
                    <div style="padding-bottom: 10px;">&nbsp;</div>

                {% endif %}
            {% endfor %}

            {% if (mstAreaInterestArr|length % 3) !=  0 %}
                {# if last index was not ended in loop, div needs to get ended here #}
                </div>
                <div style="padding-bottom: 10px;">&nbsp;</div>
            {% endif %}


            <div style="display: none;"  class="card-header mt-2 organizationDetails">
                <h3 class="card-title">{{ 'Organization Details'|upper }}</h3>
            </div>
            <div style="display: none;"  class="row organizationDetails" data-prototype="{{ formMacro.organizationDetailsContent(form
                .trnOrganizationDetails
                .vars.prototype)|e('html_attr') }}">
                <div class="col" id="organizationDetailsContent" >
                    {% for row in form.trnOrganizationDetails %}
                        {{ formMacro.organizationDetailsContent(row) }}
                    {% endfor %}
                </div>
            </div>
            <div class="row" style="display: none;">
                <div class="col-sm-3">
                    <button type="button" id="addOrganizationDetails" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> Add
                        Content Block</button>
                </div>
            </div>
            <div class="card-header mt-2">
                <h3 class="card-title">{{ 'Bank Details'|upper }}</h3>
            </div>
            <div  class="row bankDetails" data-prototype="{{ formMacro.bankDetailsContent(form
                .trnBankDetails
                .vars.prototype)|e('html_attr') }}">
                <div class="col" id="bankDetailsContent" >
                    {% for row in form.trnBankDetails %}
                        {{ formMacro.bankDetailsContent(row) }}
                    {% endfor %}
                </div>
            </div>

            <div style="display: none;" class="row">
                <div class="col-sm-3">
                    <button type="button" id="addBankDetails" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> Add
                        Content Block</button>
                </div>
            </div>

            <div class="card-header mt-2">
                <h3 class="card-title">{{ 'Other Details'|upper }}</h3>
            </div>

            <div class="individualDetailsOnly">
                <div class="row mt-3">
                    <div class="col-sm-3">
                        {{ form_row(form.appUserInfo.pancardNumber) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_row(form.trnVolunterDetail.mstGender) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_row(form.trnVolunterDetail.mstMaritalStatus) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3">
                        {{ form_row(form.trnVolunterDetail.educationLevel) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_row(form.trnVolunterDetail.mstEmploymentStatus) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_row(form.trnVolunterDetail.distanceWillingToTravel) }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3">
                        {{ form_row(form.trnVolunterDetail.hasDisability) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_row(form.trnVolunterDetail.isWillingToHelpInDisaster) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_row(form.trnVolunterDetail.mstSourceOfInformation) }}
                    </div>
                </div>

                <div class="card-header mt-2">
                    <h3 class="card-title">{{ 'Volunteer Availability'|upper }}</h3>
                    {% set daysArr = get_days_list() %}
                    {% set arrMorningAvailability = [] %}
                    {% set arrAfternoonAvailability = [] %}
                    {% set arrEveningAvailability = [] %}
                    {% for timeSlot, days in arrAvailability %}
                        {% if timeSlot== 'Morning'  %}
                            {% for day in days %}
                                {% if day is not empty %}
                                    {% set arrMorningAvailability = arrMorningAvailability|merge([day]) %}
                                {% endif %}
                            {% endfor %}
                        {% elseif timeSlot== 'Afternoon' %}
                            {% for day in days %}
                                {% if day is not empty %}
                                    {% set arrAfternoonAvailability = arrAfternoonAvailability|merge([day]) %}
                                {% endif %}
                            {% endfor %}
                        {% elseif timeSlot== 'Evening' %}
                            {% for day in days %}
                                {% if day is not empty %}
                                    {% set arrEveningAvailability = arrAfternoonAvailability|merge([day]) %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3">
                        Available In Morning
                    </div>
                    <div class="col-sm-3">
                        <select id="availableInMorning" name="availableInMorning[]" multiple="multiple" style="width: 200px;">
                            {% for key,day in daysArr %}
                                {% if day|upper in arrMorningAvailability %}
                                    <option value="{{ key }}" selected="selected">{{ day }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ day }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3">
                        Available In Afternoon
                    </div>
                    <div class="col-sm-3">
                        <select id="availableInAfternoon" name="availableInAfternoon[]" multiple="multiple" style="width: 200px;">
                            {% for key,day in daysArr %}
                                {% if day|upper in arrAfternoonAvailability %}
                                    <option value="{{ key }}" selected="selected">{{ day }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ day }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-3">
                        Available In Evening
                    </div>
                    <div class="col-sm-3">
                        <select id="availableInEvening" name="availableInEvening[]" multiple="multiple" style="width: 200px;">
                            {% for key,day in daysArr %}
                                {% if day|upper in arrEveningAvailability %}
                                    <option value="{{ key }}" selected="selected">{{ day }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ day }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.appUserInfo.isSubscribedToNewLetter) }}
                </div>
                <div style="display: none;" class="col-sm-3" >
                    {{ form_row(form.isActive) }}
                </div>
            </div>
            {#<div class="card-header mt-2">
                <h3 class="card-title">{{ 'Documents'|upper }}</h3>
            </div>

            <div class="row form-group row-sm row-grid-2">
                <div class="col-md-12">
                    <div class="input-field">
                        <label class="active">Upload Documentation <span>(e.g. Training or Certification Earned)</span></label>
                        <div class="input-images-3 multi"></div>
                        <small>Image format - jpgs, png and size 60 KB</small>
                    </div>
                </div>
            </div>#}

        </div>
    </div>
    <div class="card-footer">
        <button type="submit" onclick="return validate();" class="{{ button_css|default("btn btn-dark btn-sm") }}">
            <i class="fa fa-save" aria-hidden="true"></i> {{ label_button|trans }}
        </button>
        <a href="{{ back_to_list }}" class="btn btn-link"><i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}</a>
    </div>
    {{ form_end(form) }}
    <br>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/summernote/summernote-bs4.css') }}" media="all" rel="stylesheet" type="text/css" />
    <script src="{{ asset('assets/plugins/summernote/summernote-bs4.min.js') }}" type="text/javascript"></script>
    <script src="{{asset('assets/plugins/kartik-v/bootstrap-fileinput/js/fileinput.min.js')}}"></script>
    <script src="{{asset('assets/plugins/kartik-v/bootstrap-fileinput/themes/fa/theme.min.js')}}"></script>
    <script src="{{ asset('assets/js/registration/register/form.js?z=3') }}"></script>
{% endblock %}