{% extends 'layout/content.html.twig' %}

{% block cms_content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title txt-bold float-left">User Name:- <b>{{ data.userName |upper}}</b></h4>
            <h4 class="card-title float-right">
                <a href="{{ path(path_edit, {'id': data.id}) }}" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i> {{'label.edit'|trans}}</a>
                <a href="{{ path(path_index) }}" class="btn btn-dark btn-sm"><i class="fa fa-list"></i> {{'label.back_to_list' | trans}}</a>
            </h4>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="card-body">
                    <div class="card-header mt-2">
                        <h3 style="float: left" class="card-title">{{ 'User Details'|upper }}</h3>
                        <img style="float: right"  src="{{ data.appUserInfo.profilePic|imagine_filter
                                ('resize_image_100') }}" alt="Profile Pic">
                    </div>
                    <div class="row">
                        <table class="table table-responsive-md text-sm">
                            <tbody>
                            <tr>
                                <th>{{ 'label.company'|trans }}</th>
                                <td>{{ data.appUserInfo.orgCompany }}</td>
                                <th>{{ 'label.user_member_type'|trans }}</th>
                                <td>{{ data.appUserInfo.mstUserMemberType }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'label.username'|trans }}</th>
                                <td>{{ data.userName }}</td>
                                <th>{{ 'label.name'|trans }}</th>
                                <td>{{ data.appUserInfo.mstSalutation }} &nbsp; {{ data.appUserInfo.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'label.email'|trans }}</th>
                                <td>{{ data.appUserInfo.userEmail }}</td>
                                <th>{{ 'label.date_of_birth'|trans }}</th>
                                <td>{{ data.appUserInfo.dateOfBirth | date('d-M-Y') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'label.status'|trans }}</th>
                                <td>{{ data.mstStatus }}</td>
                                {% if data.reasonToReject != '' %}
                                    <th>{{ 'label.reason_to_reject'|trans }}</th>
                                    <td>{{ data.reasonToReject }}</td>
                                {% else %}
                                    <th></th>
                                    <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>{{ 'label.mobile'|trans }}</th>
                                <td>{{ data.appUserInfo.mobileCountryCode }} &nbsp; {{ data.appUserInfo.userMobileNumber }}</td>
                                <th>{{ 'label.address'|trans }}</th>
                                <td>{{ data.appUserInfo.address1 }}, &nbsp;{{ data.appUserInfo.address2
                                    }},&nbsp;{{ data.appUserInfo.pinCode }},&nbsp;{{ data.appUserInfo.mstCity }},
                                    &nbsp;{{ data.appUserInfo.mstState }},&nbsp;{{ data.appUserInfo.mstCountry }}</td>
                            </tr>
                            {#<tr>
                                <th>{{ 'label.latitude'|trans }}</th>
                                <td>{{ data.appUserInfo.locationLatitude }}</td>
                                <th>{{ 'label.longitude'|trans }}</th>
                                <td>{{ data.appUserInfo.locationLongitude }}</td>
                            </tr>#}
                            <tr>
                                <th>{{ 'label.skill_set'|trans }}</th>
                                <td>{{ data.appUserInfo.mstSkillSet | join(', ') }}</td>
                                <td colspan="2"></td>
                            </tr>
                            {% for trnAreaOfInterest in trnVolunterInterestArr %}
                                <tr>
                                    <th>{{ 'label.area_interest_primary'|trans }}</th>
                                    <td>{{ trnAreaOfInterest.areaInterestPrimary.areaInterest }}</td>
                                    <th>{{ 'label.area_interest_secondary'|trans }}</th>
                                    <td>{{ trnAreaOfInterest.areaInterestSecondary | join(', ') }}</td>
                                    <td colspan="4"></td>
                                </tr>
                            {% endfor %}
                            {#<tr>
                                <th>{{ 'label.facebook_link'|trans }}</th>
                                <td>{{ data.appUserInfo.facebookLink }}</td>
                                <th>{{ 'label.google_plus_link'|trans }}</th>
                                <td>{{ data.appUserInfo.googlePlusLink }}</td>
                            </tr>#}
                            </tbody>
                        </table>
                    </div>
                    {% if data.appUserInfo.mstUserMemberType == 'Organization' %}
                        <div class="card-header mt-2">
                            <h3 class="card-title">{{ 'Organization Details'|upper }}</h3>
                        </div>
                        <div class="row">
                            <table class="table table-responsive-md text-sm">
                                {% for trnOrganizationDetail in data.trnOrganizationDetails %}
                                <tbody>
                                    <tr>
                                        <th>{{ 'label.organization'|trans }}</th>
                                        <td>{{ trnOrganizationDetail.organizationName }}</td>
                                        <th>{{ 'label.type_of_organization'|trans }}</th>
                                        <td>{{ trnOrganizationDetail.mstTypeOfOrganization }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'label.about_organization'|trans }}</th>
                                        <td>{{ trnOrganizationDetail.aboutOrganization |raw }}</td>
                                        <th>{{ 'label.organization_logo'|trans }}</th>
                                        <td>
                                            {% if trnOrganizationDetail.logoFilePath is not empty and
                                                trnOrganizationDetail.logoFilePath != '' and
                                                trnOrganizationDetail.logoFilePath != 'files/'
                                                %}
                                                <img src="{{ trnOrganizationDetail.logoFilePath|imagine_filter('resize_logo_120') }}" alt="{{ trnOrganizationDetail.organizationName }}">
                                            {% else %}
                                                --
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'label.registration_certificate_trust_deed'|trans }}</th>
                                        <td>{{ trnOrganizationDetail.registrationCertificateTrustDeed  }}</td>
                                        <th>{{ 'label.incorporated_on_date'|trans }}</th>
                                        <td>{{ trnOrganizationDetail.incorporatedOnDate | date('d-M-Y') }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'label.registration_no_80g'|trans }}</th>
                                        <td>{{ trnOrganizationDetail.registrationNo80G  }}</td>
                                        <th>{{ 'label.registration_date_80g'|trans }}</th>
                                        <td>{{ trnOrganizationDetail.registrationDate80G | date('d-M-Y') }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'label.registration_date_80g'|trans }}</th>
                                        <td>{{ trnOrganizationDetail.registrationDate80G | date('d-M-Y') }}</td>
                                        <th>{{ 'label.website'|trans }}</th>
                                        <td>{{ trnOrganizationDetail.website }}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}

                    <div class="card-header mt-2">
                        <h3 class="card-title">{{ 'Bank Details'|upper }}</h3>
                    </div>
                    <div class="row">
                        <table class="table table-responsive-md text-sm">
                            {% for trnBankDetails in data.trnBankDetails %}
                                <tbody>
                                <tr>
                                    <th>{{ 'label.bank_name'|trans }}</th>
                                    <td>{{ trnBankDetails.bankName }}</td>
                                    <th>{{ 'label.account_holder_name'|trans }}</th>
                                    <td>{{ trnBankDetails.accountHolderName }}</td>
                                    <th>{{ 'label.account_number'|trans }}</th>
                                    <td>{{ trnBankDetails.accountNumber }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.ifsc_code'|trans }}</th>
                                    <td>{{ trnBankDetails.ifscCode  }}</td>
                                    <th>{{ 'label.bank_account_type'|trans }}</th>
                                    <td>{{ trnBankDetails.mstBankAccountType}}</td>
                                    <th></th>
                                    <td></td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>

                    {% if data.appUserInfo.mstUserMemberType == 'Organization' %}
                        <div class="card-header mt-2">
                            <h3 class="card-title">{{ 'Organization Documents'|upper }}</h3>
                        </div>
                        <div class="row">
                            <table class="table table-responsive-md text-sm">
                                <tbody>
                                {% for trnOrganizationUploadDocuments in data.trnOrganizationUploadDocuments %}
                                    <tr>
                                        <th>{{ 'label.document'|trans}}</th>
                                        <td><a href="{{ uploaded_file(trnOrganizationUploadDocuments.uploadDocumentPath) }}" target="_blank">{{ trnOrganizationUploadDocuments.mediaName }}</a></td>
                                        <th>{{ 'label.document_file_name'|trans}}</th>
                                        <td>{{ trnOrganizationUploadDocuments.mstUploadDocumentType }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="card-header mt-2">
                            <h3 class="card-title">{{ 'Media Documents'|upper }}</h3>
                        </div>
                        <div class="row">
                            <table class="table table-responsive-md text-sm">
                                <tbody>
                                {% if data.trnVolunterDetail is not empty and data.trnVolunterDetail.trnVolunteerDocuments is not empty %}
                                    {% for trnUploadDocuments in data.trnVolunterDetail.trnVolunteerDocuments %}
                                        <tr>
                                            <th>{{ 'label.document'|trans}}</th>
                                            <td><a href="{{ asset('/images/files/') ~ trnUploadDocuments.uploadedFilePath }}" target="_blank">{{ trnUploadDocuments.uploadedFilePath }}</a></td>
    {#                                        <th>{{ 'label.document_file_name'|trans}}</th>#}
    {#                                        <td>{{ trnUploadDocuments.mstUploadDocumentType }}</td>
                                        </tr>#}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                        <div class="card-header mt-2">
                            <h3 class="card-title">{{ 'Other Details'|upper }}</h3>
                        </div>
                        <div class="row">
                            {% set daysArr = get_days_list() %}
                            {% set arrMorningAvailability = [] %}
                            {% set arrAfternoonAvailability = [] %}
                            {% set arrEveningAvailability = [] %}
                            {% if data.trnVolunterDetail is not empty
                                and data.trnVolunterDetail.trnVolunterAvailabilities is not empty %}
                                {% for days in data.trnVolunterDetail.trnVolunterAvailabilities %}

                                    {% set timeSlot = days.availableOnTime %}
                                    {% if timeSlot== 'morning'  %}
                                        {% set arrMorningAvailability = arrMorningAvailability|merge([days.availableOnDay]) %}
                                    {% elseif timeSlot== 'afternoon' %}
                                        {% set arrAfternoonAvailability = arrAfternoonAvailability|merge([days.availableOnDay]) %}
                                    {% elseif timeSlot== 'evening' %}
                                        {% set arrEveningAvailability = arrEveningAvailability|merge([days.availableOnDay]) %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <table class="table table-responsive-md text-sm">
                                <tr>
                                    <th>{{ 'label.pan_card'|trans }}</th>
                                    <td>{{ data.appUserInfo.pancardNumber }}</td>
                                    <th>{{ 'label.gender'|trans }}</th>
                                    <td>{{ data.trnVolunterDetail.mstGender|default('') }}</td>
                                    <th>{{ 'label.marital_status'|trans }}</th>
                                    <td>{{ data.trnVolunterDetail.mstMaritalStatus|default('') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Education Level'|trans }}</th>
                                    <td>{{ data.trnVolunterDetail.educationLevel|default('') }}</td>
                                    <th>{{ 'Employment Status'|trans }}</th>
                                    <td>{{ data.trnVolunterDetail.mstEmploymentStatus|default('') }}</td>
                                    <th>{{ 'Distance Willing to Travel'|trans }}</th>
                                    <td>{{ data.trnVolunterDetail.distanceWillingToTravel|default('') }}</td>
                                </tr>

                                <tr>
                                    <th>{{ 'Do you consider this person with a disability?'|trans }}</th>
                                    <td>
                                        {% if data.trnVolunterDetail is not empty %}
                                            {{ data.trnVolunterDetail.hasDisability ? 'Yes' : 'No' }}
                                        {% endif %}
                                    </td>
                                    <th>{{ 'Do you want to help in disaster?'|trans }}</th>
                                    <td>
                                        {% if data.trnVolunterDetail is not empty %}
                                            {{ data.trnVolunterDetail.isWillingToHelpInDisaster ? 'Yes' : 'No' }}
                                        {% endif %}
                                    </td>
                                    <th>{{ 'How did you hear about us?'|trans }}</th>
                                    <td>
                                        {% if data.trnVolunterDetail is not empty %}
                                            {{ data.trnVolunterDetail.mstSourceOfInformation|join(', ')|default('') }}
                                        {% endif %}
                                    </td>
                                </tr>

                            </table>
                        </div>

                        <div class="card-header mt-2">
                            <h3 class="card-title">{{ 'Volunteer Availability'|upper }}</h3>
                        </div>
                        <div class="row">
                            <table class="table table-responsive-md text-sm">
                                <tr>
                                    <th>{{ 'Available In Morning'|trans }}</th>
                                    <td>{{ arrMorningAvailability|join(', ')|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Available In Afternoon'|trans }}</th>
                                    <td>{{ arrAfternoonAvailability|join(', ')|default('-') }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Available In Evening'|trans }}</th>
                                    <td>{{ arrEveningAvailability|join(', ')|default('-') }}</td>
                                </tr>
                            </table>
                        </div>

                    {% endif %}
                    <div class="row">
                        <table class="table table-responsive-md text-sm" style="width: auto;">
                            <tr>
                                <th>{{ 'I\'d like to receive communications from Giving Circle:'|trans }}</th>
                                <td>{{ data.appUserInfo.isSubscribedToNewLetter ? 'Yes' : 'No' }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
