{% extends 'layout/content.html.twig' %}

{% block cms_content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title txt-bold float-left">{{ data.circle |upper}}</h4>
            <h4 class="card-title float-right">
                <a href="{{ path(path_edit, {'id': data.id}) }}" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i> {{'label.edit'|trans}}</a>
                <a href="{{ path(path_index) }}" class="btn btn-dark btn-sm"><i class="fa fa-list"></i> {{'label.back_to_list' | trans}}</a>
                &nbsp;

            </h4>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="card-body">
                    <div class="card-header mt-2">
                        <h3 class="card-title">{{ 'Project Details'|upper }}</h3>
                    </div>
                    <div class="row">
                        <table class="table table-responsive-md text-sm">
                            <tbody>
                            <tr>
                                <th>{{ 'label.company'|trans }}</th>
                                <td colspan="3">{{ data.orgCompany }}</td>
                                <th>{{ 'label.app_user'|trans }}</th>
                                <td colspan="3">{{ data.appUser.appUserDetails }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'label.circle'|trans }}</th>
                                <td>{{ data.circle }}</td>
                                <th>{{ 'label.type_of_circle'|trans }}</th>
                                <td>{{ data.mstJoinBy.joinBy }}</td>
                                <td colspan="4"></td>
                            </tr>
                            {% for trnAreaOfInterest in data.trnAreaOfInterests %}
                            <tr>
                                <th>{{ 'label.area_interest_primary'|trans }}</th>
                                <td>{{ trnAreaOfInterest.areaInterestPrimary.areaInterest }}</td>
                                <th>{{ 'label.area_interest_secondary'|trans }}</th>
                                <td>{{ trnAreaOfInterest.areaInterestSecondary | join(',') }}</td>
                                <td colspan="4"></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th>{{ 'label.location'|trans }}</th>
                                <td colspan="4">{{ data.address }}</td>
                                {#<th>{{ 'label.geo_code'|trans }}</th>
                                <td colspan="3">{{ data.geoCode }}</td>#}
                            </tr>
                            <tr>
                                <th>{{ 'label.information_about_circle'|trans }}</th>
                                <td colspan="7">{{ data.circleInformation|default('-') | raw }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'label.how_goal_will_be_achieved'|trans }}</th>
                                <td colspan="7">{{ data.howGoalWillBeAchieved|default('-') | raw }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'label.impact_statement'|trans }}</th>
                                <td colspan="7">{{ data.impactStatement|default('-') | raw }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'label.suggested_keywords'|trans }}</th>
                                <td colspan="7">{{ data.suggestedKeywords|default('-') | raw }}</td>
                            </tr>

                            <tr>
                                <th>{{ 'label.is_active'|trans }}</th>
                                <td>{{ data.isActive ? 'Yes' : 'No'  }}</td>
                                <th>{{ 'label.status'|trans }}</th>
                                <td>{{ data.mstStatus }}</td>
                                {% if data.mstStatus == 'Rejected' %}
                                    <th>Reason to Reject / Deactivate</th>
                                    <td>{{ data.reasonToReject|raw }}</td>
                                {% endif %}
                                <th></th>
                                <td></td>
                            </tr>

                            {#<tr>
                                <th>{{ 'label.beneficiary_account_type'|trans }}</th>
                                <td>{{ data.mstBankAccountTypeBeneficiary }}</td>
                                <th>{{ 'label.beneficiary_bank_name'|trans }}</th>
                                <td>{{ data.beneficiaryBankName }}</td>
                                <th>{{ 'label.beneficiary_account_holder_name'|trans }}</th>
                                <td>{{ data.beneficiaryAccountHolderName }}</td>
                                <th>{{ 'label.beneficiary_bank_account_number'|trans }}</th>
                                <td>{{ data.beneficiaryBankAccountNumber }}</td>
                            </tr>

                            <tr>
                                <th>{{ 'label.beneficiary_account_type'|trans }}</th>
                                <td>{{ data.mstBankAccountTypeBeneficiary }}</td>
                                <th>{{ 'label.beneficiary_bank_name'|trans }}</th>
                                <td>{{ data.beneficiaryBankName }}</td>
                                <th>{{ 'label.beneficiary_account_holder_name'|trans }}</th>
                                <td>{{ data.beneficiaryAccountHolderName }}</td>
                                <th>{{ 'label.beneficiary_bank_account_number'|trans }}</th>
                                <td>{{ data.beneficiaryBankAccountNumber }}</td>
                            </tr>#}

                            </tbody>
                        </table>
                    </div>
                    <div class="card-header mt-2">
                        <h3 class="card-title">{{ 'Event List'|upper }}</h3>
                    </div>

                    <div class="card-body card-dashboard ">
                        <table id="dataTable" class="table table-responsive-md table-sm text-sm">
                            <thead>
                            <tr>
                                <th>{{ 'label.id'|trans|upper }}</th>
                                <th>{{ 'label.circle_event'|trans|upper }}</th>
                                <th>{{ 'label.circle_event_type_of_event'|trans|upper }}</th>
                                <th>{{ 'label.circle_event_product_type'|trans|upper }}</th>
                                <th>{{ 'label.area_interest_primary'|trans|upper }}</th>
                                <th>{{ 'label.city'|trans|upper }}</th>
                                <th>{{ 'label.state'|trans|upper }}</th>
                                <th>{{ 'label.country'|trans|upper }}</th>
                                <th>{{ 'label.status'|trans|upper }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for circle_event in data.trnCircleEvents %}
                                <tr>
                                    <td>{{ circle_event.id }}</td>
                                    <td>{{ circle_event.name }}</td>
                                    <td>{{ circle_event.mstJoinBy.joinBy }}</td>
                                    <td>{{ circle_event.mstEventProductType | join(',') }}</td>
                                    <td>{{ circle_event.trnCircle.trnAreaOfInterests | join(',')  }}</td>
                                    <td>{{ circle_event.mstCity.city }}</td>
                                    <td>{{ circle_event.mstCity.mstState.state }}</td>
                                    <td>{{ circle_event.mstCity.mstCountry.country }}</td>
                                    <td>{{ circle_event.mstStatus.status }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">{{'info.no_record_found'|trans}}</td>
                                </tr>
                            {% endfor %}
                            </tbody></table>
                    </div>

                    <div class="card-header mt-2">
                        <h3 class="card-title">{{ 'Project Images'|upper }}</h3>
                    </div>

                    <div class="row">

                        <table class="table table-responsive-md text-sm">
                            <tbody>
                                <tr>
                                    <th>{{ 'label.media_name'|trans}}</th>
                                    <td>Profile Image</td>

                                    <th>{{ 'label.media_file_type'|trans}}</th>
                                    <td>Image</td>
                                    <th>{{ 'label.media_alt_text'|trans}}</th>
                                    <td>Profile Image</td>

                                    <th>{{ 'label.media_title'|trans}}</th>
                                    <td>Profile Image</td>

                                    <td><img src="{{ data.profileImagePath|imagine_filter
                                            ('resize_image_100') }}" alt="--"></td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.media_name'|trans}}</th>
                                    <td>Background Image</td>

                                    <th>{{ 'label.media_file_type'|trans}}</th>
                                    <td>Image</td>
                                    <th>{{ 'label.media_alt_text'|trans}}</th>
                                    <td>Background Image</td>

                                    <th>{{ 'label.media_title'|trans}}</th>
                                    <td>Background Image</td>

                                    <td><img src="{{ data.backgroundImagePath|imagine_filter
                                            ('resize_image_100') }}" alt="--"></td>
                                </tr>
                            {% for media in data.trnProductMedia %}
                                <tr>
                                    {% if media.mediaType == 'image' %}

                                        <th>{{ 'label.media_name'|trans}}</th>
                                        <td>{{ media.mediaName }}</td>

                                        <th>{{ 'label.media_file_type'|trans}}</th>
                                        <td>{{ media.mediaType }}</td>

                                        <th>{{ 'label.media_alt_text'|trans}}</th>
                                        <td>{{ media.mediaAltText }}</td>

                                        <th>{{ 'label.media_title'|trans}}</th>
                                        <td>{{ media.mediaTitle }}</td>

                                        <td><img src="{{ media.uploadedFilePath|imagine_filter
                                                ('resize_image_100') }}" alt="--"></td>
                                    {% else %}
                                        {% if media.mediaURL is not empty %}
                                            <th>{{ 'label.media_name'|trans}}</th>
                                            <td>{{ media.mediaName }}</td>

                                            <th>{{ 'label.media_file_type'|trans}}</th>
                                            <td>{{ media.mediaType }}</td>

                                            <th>{{ 'label.media_url'|trans}}</th>
                                            <td>{{ media.mediaURL }}</td>

                                            <td colspan="2">
                                                <iframe src="{{ media.mediaURL }}" frameborder="0"
                                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}
