{% extends 'layout/content.html.twig' %}
{% block cms_content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col">
            <div class="card">
                {# <div class="card-header">
                    <h4 class="card-title"><a href="{{ path(path_add) }}" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> {{label_title|trans}}</a></h4>
                </div>#}
                <nav class="card-content collapse show">
                    <div class="card-body card-dashboard ">
                        <table id="dataTable" class="table table-responsive-md table-sm text-sm">
                            <thead>
                            <tr>
                                <th>{{ 'label.creation_date'|trans|upper }}</th>
                                <th>{{ 'label.company'|trans|upper }}</th>
                                <th>{{ 'label.app_user'|trans|upper }}</th>
                                <th>{{ 'label.circle'|trans|upper }}</th>
                                <th>{{ 'label.type_of_circle'|trans|upper }}</th>
                                <th>{{ 'label.area_interest_primary'|trans|upper }}</th>
                                {#<th>{{ 'label.area_interest_secondary'|trans|upper }}</th> #}
                                <th>{{ 'label.city'|trans|upper }}</th>
                                <th>{{ 'label.state'|trans|upper }}</th>
                                <th>{{ 'label.country'|trans|upper }}</th>
                                <th>{{ 'label.status'|trans|upper }}</th>
                                {#<th>{{ 'label.circle_link'|trans|upper }}</th>#}
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for circle in circles %}
                                <tr>
                                    <td>{{ circle.createdOn|date('d M Y') }}</td>
                                    <td>{{ circle.orgCompany }}</td>
                                    <td>{{ circle.appUser.appUserDetails }}</td>
                                    <td>{{ circle.circle }}</td>
                                    <td>{{ circle.mstJoinBy.joinBy }}</td>
                                    <td>{{ circle.trnAreaOfInterests | join(',') }}</td>
                                    {#<td>{{ circle.areaInterestSecondary.areaInterest }}</td>#}
                                    <td>{{ circle.mstCity.city }}</td>
                                    <td>{{ circle.mstCity.mstState.state }}</td>
                                    <td>{{ circle.mstCity.mstCountry.country }}</td>
                                    <td>{{ circle.mstStatus.status }}</td>
                                    {#<td>{{ circle.circleLink }}</td>#}
                                    <td>
                                        <div class="btn-group-toggle" role="group" aria-label="Action Buttons">
                                            <a href="{{ path(path_show, {'id': circle.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-expand"></i></button></a>&nbsp;
                                            <a href="{{ path(path_edit, {'id': circle.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i></button></a>
{#                                            <a href="{{ path(path_upload, {'id': circle.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-file-upload"></i></button></a>&nbsp;#}
                                            <a href="{{ path(path_comment, {'circle_id': circle.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fas fa-comment"></i></button></a>&nbsp;
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">{{'info.no_record_found'|trans}}</td>
                                </tr>
                            {% endfor %}
                            </tbody></table>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="text-muted"><span class="domrecord"></span></div>
                            </div>
                            <div class="col-sm-7">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="dompage"></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
