<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Giving Circle</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <style>
        body.Certi80g{background: #FCFCFC;padding: 0;margin: 0;font-size: 14px;font-family: 'Poppins', sans-serif;font-weight: 500;font-style: normal;color:#303030;}
        b{font-weight: 600;}
        strong{font-weight: 700;}
        a{transition: ease all 0.5s;}
        .Certi80g .container{max-width: 1280px !important;width: 100%;height: 100vh;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;position: relative;}
        .Certi80g .white-box{padding: 13px;background: #fff;display: block;width: 100%;-webkit-box-shadow: 0 0px 11px 4px rgb(193 193 193 / 39%);-moz-box-shadow: 0 0px 11px 4px rgb(193 193 193 / 39%);box-shadow: 0 0px 11px 4px rgb(193 193 193 / 39%);border-radius: 25px;top: 50%;left: 50%;position: absolute;transform: translate(-50%, -50%);z-index: 0;overflow: hidden;}
        .Certi80g .white-box::after{content: ''; width: 100%; height: 200px; background: #F5F8F6; border-bottom-left-radius:180%; border-bottom-right-radius:180%; position: absolute; top:0; left: 0;z-index: -2;}
        .inner-box {margin: 12px; border-radius: 25px; border: dashed 1px #F05235; position: relative; padding: 10px;}
        .inner-box::after{content: '';width: calc(100% + 26px);height: calc(100% + 26px);border: solid 1px #333E69;position: absolute;left: -13px;top: -13px;border-radius: 25px;z-index: -1;}
        .inner-box .header{text-align: center; position: relative;max-width: 550px; margin: 0px auto 70px auto;}
        .inner-box .logo{position: absolute; width: 114px; height: 76px; left: 40px; top: 20px;}
        .inner-box .logo img{width: 100%; height: 100%;}
        .inner-box h1{font-size: 36px;font-weight: 700;color:#333E69; margin: 8px 0;}
        .inner-box address{font-size: 12px; font-weight: 500; margin: 0 0 2px 0;}
        .inner-box .contact-links {display: block; margin-bottom: 10px;}
        .inner-box .contact-links a{font-size: 12px; color: #303030; text-decoration: none; padding-left: 20px; position: relative;}
        .inner-box .contact-links a i{font-size: 16px; position: absolute; left: 0;top: 1px;width: 16px;text-align: center;}
        .inner-box .contact-links a:hover{color:#F05235; text-decoration: underline;}
        .inner-box .contact-links a + a {margin-left: 10px;}
        .inner-box .head {position: absolute;bottom: -88px;display: inline-flex;justify-content: center;align-items: center;color: #fff;width: 200px;height: 50px;text-align: center;vertical-align: middle;background: #F05235;border: solid 5px #fff;margin: 0 auto;transform: translate(-50%, -50%);border-radius: 30px;font-size: 14px;font-weight: 600;}
        .receipt-info{display: flex;flex-direction: row;justify-content: space-between; padding:0 35px; margin-bottom: 30px;}
        .donor-info {padding: 22px 35px 10px 35px; background: #F5F8F6; padding-left: 267px; position: relative; margin-bottom: 20px;}
        .donor-info h3 {font-size: 18px; font-weight: 700; color: #F05235; display: inline-block;}
        .donor-info h4 {font-size: 16px; font-weight: 700; display: inline-block; position: absolute; width: 240px; left: 35px;}
        .amount-details {padding:0 35px}
        .amount-details table thead tr{border-top: solid 1px #707070; border-bottom: solid 1px #707070;}
        .amount-details table tr.total{border-top: solid 1px rgb(112 112 112 / 30%); border-bottom: solid 1px rgb(112 112 112 / 30%); background: #F5F8F6;}
        .amount-details table tr th{color: #303030; padding:14px 9px 14px 9px;}
        .amount-details table tr td{padding:19px 9px 19px 9px;}
        .amount-details table tr.total td{text-align: right;}
        .amount-details table tr td:last-child,
        .amount-details table tr th:last-child{padding-right: 25px; text-align: right;width: 120px;}

        @media screen and (max-width: 768px){
            .inner-box .logo{position: relative;margin: 0 auto 30px auto;left: 0;}
            .Certi80g .container{height: 100%;}
            .Certi80g .white-box{top: 15px;left: 0;position: relative;transform: none;}
            .Certi80g .white-box::after{height: 295px;border-bottom-left-radius: 200px; border-bottom-right-radius: 200px;}
            .donor-info h4{position: relative;left: 0;}
            .donor-info{padding-left: 35px;}
        }
        @media screen and (max-width: 599px){
            .Certi80g .white-box::after{display: none;}
            .inner-box .header{margin: 0px auto 80px auto;}
            .receipt-info{margin-bottom: 10px;}
        }

    </style>
</head>

<body class="Certi80g">
<div class="container">
    <div class="white-box">
        <div class="inner-box">
            <div class="logo">
                {%  if trnOrganizationDetails is defined and trnOrganizationDetails is not null and
                    trnOrganizationDetails.logoFilePath is defined and trnOrganizationDetails.logoFilePath is not null
                    and trnOrganizationDetails.logoFilePath != 'files/' %}
                    <img src="{{absolute_url(asset('images') ~'/'~trnOrganizationDetails.logoFilePath )}}" alt="">
                {% else %}
                    <img src="{{absolute_url(asset('resources/images/common/organization-logo.png'))}}" alt="">
                {% endif %}
            </div>
            <div class="header">
                <h1>{{ trnOrganizationDetails.organizationName }}</h1>
                <address>{{ appUserInfo.address1 }}, {{ appUserInfo.address2 }}, {{ appUserInfo.mstCity }},
                    {{ appUserInfo.mstState }}, {{ appUserInfo.mstCountry }}.</address>
                <div class="contact-links">
                    <a href="tel:{{ appUserInfo.mobileCountryCode }}{{ appUserInfo.userMobileNumber }}"><i class="fa fa-phone"></i>{{ appUserInfo.mobileCountryCode }} {{ appUserInfo.userMobileNumber }} </a>
                    <a href="mailto:{{ appUserInfo.userEmail }}"><i class="fa fa-envelope-o"></i> {{ appUserInfo.userEmail }}</a>
                </div>
                <div class="pan">
                    {% if appUserInfo.pancardNumber is not empty %}
                        <strong>PAN Number</strong> : {{ appUserInfo.pancardNumber }}
                    {% endif %}
                </div>
                <div style="top:120px; left: 30%; line-height: 30px;" class="head">DONATION RECEIPT</div>
            </div>
            <div class="receipt-info">
                <span><strong>Receipt Number</strong> : {{ trnOrder.userInvoiceNo }}</span>
                <span><strong>Receipt Date</strong> : {{ trnOrder.orderDateTime | date('d M Y')  }}</span>
            </div>
            <div class="donor-info">
                <h4>Received with thanks from :</h4>

                <div class="right">
                    <h3><i>{{ trnOrder.userFirstName}} {{ trnOrder.userLastName}},</i></h3> {% if trnOrder.userPanNumber is not empty %}(<b>PAN Number</b> : {{ trnOrder.userPanNumber }}){% endif %}
                    <p>{% if trnOrder.shippingAddressOne is not empty %}
                        {{ trnOrder.shippingAddressOne}}, {% endif %}{% if trnOrder.shippingAddressTwo is not empty %}
                        {{ trnOrder.shippingAddressTwo}}, {% endif %}{% if trnOrder.shippingAddressPincode is not empty %}
                        {{ trnOrder.shippingAddressPincode}}, {% endif %}{% if trnOrder.shippingAddressCity is not empty %}
                        {{ trnOrder.shippingAddressCity}}, {% endif %}{% if trnOrder.shippingAddressState is not empty %}
                        {{ trnOrder.shippingAddressState}}, {% endif %}{% if trnOrder.shippingAddressCountry is not empty %}
                        {{ trnOrder.shippingAddressCountry}}.{% endif %}</p>
                    <p>the sum of <strong><i class="fa fa-inr"></i> {{ trnOrder.totalAmount| number_format(2, '.', ',') }} ({{ trnOrder.transactionCurrency.currency}}s {{ trnOrder.totalAmount |craue_spellout | ucwords}} Only)</strong> <br>through <strong>PayU</strong> for the following:</p>
                </div>
            </div>
            <div class="table-responsive amount-details">
                <table class="table" >
                    <thead>
                    <tr>
                        <th scope="col">Donation Purpose</th>
                        <th scope="col">Amount (<i class="fa fa-inr"></i>)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Support {{ trnCircleEvent.name }}
                            {% if trnFundRaiserCircleEventSubEvents is defined and trnFundRaiserCircleEventSubEvents
                                is not empty and trnFundRaiserCircleEventSubEvents is not null  %}
                                , {{ trnFundRaiserCircleEventSubEvents.subEventName }}
                            {% endif %}
                        </td>
                        <td>{{ trnOrder.totalAmount| number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr class="total">
                        <td><strong>Total</strong></td>
                        <td><i class="fa fa-inr"></i> <strong>{{ trnOrder.totalAmount| number_format(2, '.', ',') }}</strong></td>
                    </tr>
                    <tr>
                        <td>Donation is exempt U/S 80G of Income Tax Act 1961 vide certificate of exemption no.
                            <strong>{{ trnOrganizationDetails.registrationNo80G }}</strong>.</td>
                        <td style="padding: 0px"><b style="margin-right: 20px;">Powered by</b> <br>
                            <img  src="{{absolute_url(asset('resources/images/common/gc-logo.png'))}}"  alt=""></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>