{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}
    {% set banners = get_cms_page_banner(pageContentByPage.id) %}
    {% set otherBanners = [] %}
    {% set hasTopBanner = false %}
    {% set defaultBanner = asset('/resources/images/common/express-donate-banner.jpg') %}
    {% set defaultBannerTitle = pageContentByPage.pageTitle %}
    {% set defaultBannerAlt = pageContentByPage.pageTitle %}

    {% if banners|length > 0 and banners is not empty %}
        {% for banner in banners %}
            {% if banner.bannerPosition == 'top' %}
                {% set hasTopBanner = true %}
            {% else %}
                {% set otherBanners = otherBanners|merge({ (banner.bannerPosition) : banner}) %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {{ include('portal/page/_top_static_banner.html.twig') }}

    {#<section class="static-banner">
        {% if banners|length > 0 and banners is not empty %}
            {% for banner in banners %}
                {% if banner.bannerPosition == 'top' %}
                    {% set hasTopBanner = true %}
                    <img src="{{ asset('images/fil8es') }}/{{ banner.bannerDesktopImage}}" alt="{{ banner.bannerImageAlt }}" title="{{ banner.bannerImageTitle }}">
                {% else %}
                    {% set otherBanners = otherBanners|merge({ (banner.bannerPosition) : banner}) %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if hasTopBanner == false %}
        #}{# default banner if no banner added from backend #}{#
            <img src="{{ asset('resources/images/common/express-donate-banner.jpg') }}" alt="Express Donate" title="Express Donate">
        {% endif %}
    </section>#}
    <div class="wrapper">
        <div class="container">
            <div class="row listing-page">
                <div class="col-auto refine-search">
                    <label><i class="fc-refine-search"></i> Refine Search <a href="#" class="clearAll"><i
                                    class="fas fa-sync"></i> Clear
                            All</a> </label>
                    <ul class="categories">
                        <li>
                            <!-- <h5>Status</h5> -->
                            <ul class="category">
                                <li>
                                    <label class="checkbox-label" for="Crowdfunding">Crowdfunding
                                        <input type="checkbox" name="categoryChkBox" value="Crowdfunding" id="Crowdfunding">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox-label" for="OtherEvents">Other Events
                                        <input type="checkbox" name="categoryChkBox" value="Other Events" id="OtherEvents">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h5>Status</h5>
                            <ul class="type">
                                <li>
                                    <label class="checkbox-label" for="80G">
                                        80G - Tax Benefit
                                        <input type="checkbox" name="statusChkBox" value="80G" id="80G">
                                        <span class="checkmark"></span>
                                        <div class="tooltip"><i class="fas fa-info-circle"></i>
                                            <span class="tooltiptext">Projects that provide an 80-G Tax Benefit to Indian residents</span>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox-label" for="Urgent">Urgent
                                        <input type="checkbox" name="statusChkBox" value="Urgent" id="Urgent">
                                        <span class="checkmark"></span>
                                        <div class="tooltip"><i class="fas fa-info-circle"></i>
                                            <span class="tooltiptext">Projects that need urgent donations</span>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="form-group">
                                <!-- <label for="searchCity">Search by City</label> -->
                                <input type="text" name="searchCity" id="searchCity" placeholder="Search by City"
                                       class="form-control">
                            </div>
                        </li>
                        <li>
                            <h5>Category</h5>
                            <ul class="category">
                                {% for interest in areaInterests %}
                                    <li>
                                        <label class="checkbox-label" for="areaOfInterestChkBox_{{ interest.id }}">
                                            {{ interest.areaInterest }}
                                            <input type="checkbox" name="areaOfInterestChkBox" value="{{ interest.id }}" id="areaOfInterestChkBox_{{ interest.id }}">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    {% if otherBanners|length > 0 and otherBanners['left'] is defined and otherBanners['left'] is not empty %}
                    <div class="express-donate-parallax" data-aos="fade-down" data-aos-delay="200"
                         data-image-src="{{ asset('images/files/') ~ otherBanners['left'].bannerDesktopImage}}">
                        {{ otherBanners['left'].bannerDescription|default('<h2><br><br><br><br><br><br><br></h2>')|raw }}
                    </div>
                    {% endif %}
                </div>
                <div class="col right-list">
                    <nav aria-label="breadcrumb" data-aos="fade-right" data-aos-delay="500"
                         class="breadcrumb d-flex justify-content-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><i class="fa fc-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ pageContentByPage.pageTitle }}</li>
                        </ol>
                    </nav>
                    <section class="changeMakers events" data-aos="fade-down" data-aos-delay="200">
                        <div class="head-sec">
                            <h2 data-aos="fade-right" data-aos-delay="200">{{ pageContentByPage.pageTitle }}</h2>
                            {% set content = pageContentByPage.cmsPageContent[0] %}
                            <p>
                                {% include 'portal/page/_page_content_display.html.twig' %}
                            </p>
                            <h3><b class="eventCount">{{ arrEventList|length }}</b> Events Found</h3>
                            <div class="search-sec">
                                <div class="input-group">
                                    <input type="text" class="search-input"
                                           placeholder="Search by Event Name, Project Name">
                                    <button href="#" class="btn search-input-btn"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <section class="event-listing">
                            <div class="row">
                                {% for eventData in arrEventList %}

                                    {% set commentCount = get_event_comment_count(eventData.id) %}

                                    {% if eventData.isCrowdFunding %}
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="card " data-aos="fade-right" data-aos-delay="200">
                                                <a href="{{ path('crowd-funding-event-details', {'id': eventData.id}) }}">
                                                    <figure>
                                                        {% if eventData.profileImage is defined and  eventData.profileImage is not empty and
                                                            eventData.profileImage != 'files/'  %}
                                                            <img src="{{ asset('images') }}/{{ eventData.profileImage }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                                        {% elseif eventData.backgroundImagePath is defined and  eventData.backgroundImagePath is not empty and
                                                            eventData.backgroundImagePath != 'files/' %}
                                                            <img src="{{ asset('images') }}/{{ eventData.backgroundImagePath }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                                        {% else %}
                                                            {% set break = false %}
                                                            {% for trnProductMedia in eventData.trnProductMedia %}
                                                                {% if trnProductMedia.mediaType == 'image' and
                                                                    break == false %}
                                                                    {% set break = true %}
                                                                    <img src="{{ asset('images') }}/{{ trnProductMedia.uploadedFilePath}}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </figure>
                                                </a>
                                                <div class="card-body">
                                                    <a href="{{ path('crowd-funding-event-details', {'id': eventData.id}) }}">
                                                        <span class="funding-tag">Crowdfunding</span>
                                                        {% if eventData.appUser.appUserInfo.mstUserMemberType
                                                            .userMemberType == 'Organization' %}
                                                            <div class="status">80G</div>
                                                        {% endif %}
                                                        {% if eventData.isUrgent == true %}
                                                            <div class="status">Urgent</div>
                                                        {% endif %}
                                                        <h4>{{ eventData.name }}</h4>
                                                        <h5>by {{ eventData.trnCircle }}</h5>
                                                        {% set crowdFundingData = crowd_funding_data(eventData.id) %}

                                                        {% set targetAmount = eventData.trnCrowdFundEvents[0].targetAmount %}
                                                        {% set percentage = ((crowdFundingData.totalTransactionAmount/targetAmount) * 100)|round %}

                                                        {% set currdate = "now"|date("Y-m-d") %}
                                                        {% set difference = date(eventData.toDate).diff(date(currdate)) %}
                                                        {% set leftDays = difference.days %}


                                                        <div class="fund-raiser">
                                                            <h4><span class="rupee-icon">&#x20B9;</span>
                                                                {{ crowdFundingData.totalTransactionAmount | default(0) |number_format(2, '.', ',') }}
                                                                <b>Raised</b>
                                                            </h4>

                                                            <div class="progress">
                                                                <div class="progress-bar" style="width: {{ percentage }}%" role="progressbar"
                                                                     aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">
                                                                    <div class="number">{{ percentage }}%</div>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-between fund-status">
                                                                <div class="col">
                                                                    <b>{{ leftDays }} days left</b>
                                                                </div>
                                                                <div class="col text-right">
                                                                    <b>{{ crowdFundingData.supporters | default(0) }} Supporters</b>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <ul class="share-view">
                                                        <li>
                                                            <a href="#" class="eventLike" eventId = "{{ eventData.id
                                                            }}">
                                                                <i class="far fa-thumbs-up"></i>
                                                                <b id="eventLike_{{ eventData.id }}">{{ eventData.likeCount|default('0') }}</b>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('crowd-funding-event-details', {'id': eventData.id}) }}#comments">
                                                                <i class="far fa-comment"></i>
                                                                <b>{{ commentCount|default('0') }}</b>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" class="social-share-btn"><i
                                                                        class="fas fa-share-alt"></i></a>
                                                        </li>
                                                    </ul>
                                                    <div class="share-sec">
                                                        <div class="social-media">
                                                            <a href="#" class="fa fa-close"></a>
                                                            <ul>
                                                                <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('crowd-funding-event-details', {'id': eventData.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                                                                <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://twitter.com/intent/tweet?text={{ eventData.name }}&amp;url={{ app.request.schemeAndHttpHost ~  path('crowd-funding-event-details', {'id': eventData.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                                                                <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('crowd-funding-event-details', {'id': eventData.id}) }}&amp;title={{ eventData.name }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                                                                <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('crowd-funding-event-details', {'id': eventData.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-xl-4 col-sm-6">
                                            <div class="card " data-aos="fade-right" data-aos-delay="200">
                                                <a href="{{ path('fund-details', {'id': eventData.id}) }}">
                                                    <figure>
                                                        {% if eventData.profileImage is defined and  eventData.profileImage is not empty and
                                                            eventData.profileImage != 'files/'  %}
                                                            <img src="{{ asset('images') }}/{{ eventData.profileImage }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                                        {% elseif eventData.backgroundImagePath is defined and  eventData.backgroundImagePath is not empty and
                                                            eventData.backgroundImagePath != 'files/' %}
                                                            <img src="{{ asset('images') }}/{{ eventData.backgroundImagePath }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                                        {% else %}
                                                            {% set break = false %}
                                                            {% for trnProductMedia in eventData.trnProductMedia %}
                                                                {% if trnProductMedia.mediaType == 'image' and
                                                                    break == false and trnProductMedia.uploadedFilePath != 'files/' %}
                                                                    {% set break = true %}
                                                                    <img src="{{ asset('images') }}/{{ trnProductMedia.uploadedFilePath}}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    </figure>
                                                </a>
                                                <div class="card-body">
                                                    <a href="{{ path('fund-details', {'id': eventData.id} ) }}">
                                                        <div class="status">
                                                            {% if arrEventUpComingOrOnGoingDetails is defined and
                                                                arrEventUpComingOrOnGoingDetails is not empty and
                                                                arrEventUpComingOrOnGoingDetails[eventData.id] is defined and
                                                                arrEventUpComingOrOnGoingDetails[eventData.id] is not empty
                                                                and arrEventUpComingOrOnGoingDetails[eventData.id] != '' %}
                                                                {{ arrEventUpComingOrOnGoingDetails[eventData.id]['eventUpComingOrOnGoing'] }}
                                                            {% endif %}
                                                        </div>
                                                        {% if eventData is defined and eventData
                                                            .trnFundRaiserCircleEventDetails is defined and eventData
                                                            .trnFundRaiserCircleEventDetails is not empty and
                                                            eventData.trnFundRaiserCircleEventDetails[0] is defined
                                                            and eventData.trnFundRaiserCircleEventDetails[0] is not
                                                            empty and eventData.trnFundRaiserCircleEventDetails[0]
                                                            .isUrgent == 1 %}
                                                            <div class="status">Urgent</div>
                                                        {% endif %}
                                                        <h4>{{ eventData.name }} </h4>
                                                        <h5>by {{ eventData.trnCircle }}</h5>
                                                        <h5 class="orange">{% for mstEventProductType in eventData
                                                                .mstEventProductType %}{{ mstEventProductType
                                                            .eventProductType }}{% if not loop.last %}, {% endif %} {% endfor %}</h5>
                                                        <ul class="timing">
                                                            <li><i class="fa fa-calendar-o"></i>
                                                                {% if arrEventUpComingOrOnGoingDetails is defined and
                                                                    arrEventUpComingOrOnGoingDetails is not empty and
                                                                    arrEventUpComingOrOnGoingDetails[eventData.id] is defined and
                                                                    arrEventUpComingOrOnGoingDetails[eventData.id] is not empty
                                                                    and arrEventUpComingOrOnGoingDetails[eventData.id] != '' %}
                                                                    {% if arrEventUpComingOrOnGoingDetails[eventData
                                                                        .id]['eventUpComingOrOnGoing'] == 'UPCOMING' %}
                                                                        {{ arrEventUpComingOrOnGoingDetails[eventData
                                                                            .id]['startDate'] |date('l d M Y') }}
                                                                    {% elseif arrEventUpComingOrOnGoingDetails[eventData
                                                                        .id]['eventUpComingOrOnGoing'] == 'ONGOING' or arrEventUpComingOrOnGoingDetails[eventData
                                                                        .id]['eventUpComingOrOnGoing'] == 'PAST'  %}
                                                                        {{ arrEventUpComingOrOnGoingDetails[eventData
                                                                            .id]['endDate'] |date('l d M Y') }}
                                                                    {% endif %}
                                                                {% endif %}
                                                            </li>
                                                            {% if arrEventUpComingOrOnGoingDetails is defined and
                                                                arrEventUpComingOrOnGoingDetails is not empty and
                                                                arrEventUpComingOrOnGoingDetails[eventData.id] is defined and
                                                                arrEventUpComingOrOnGoingDetails[eventData.id] is not empty
                                                                and arrEventUpComingOrOnGoingDetails[eventData.id] !=
                                                                '' and arrEventUpComingOrOnGoingDetails[eventData
                                                                .id]['startTime'] is not null and arrEventUpComingOrOnGoingDetails[eventData
                                                                .id]['startTime'] != '' %}
                                                                <li><i class="fa fa-clock-o"></i>
                                                                    {{ arrEventUpComingOrOnGoingDetails[eventData
                                                                        .id]['startTime']| date('h:i A') }} to
                                                                    {{ arrEventUpComingOrOnGoingDetails[eventData
                                                                        .id]['endTime'] | date('h:i A')}}
                                                                </li>
                                                            {% endif %}
                                                            <li><i class="fa fa-map-marker"></i> {{ eventData.mstCity }}, {{ eventData.mstState }}, {{
                                                                eventData.mstCountry }}</li>
                                                        </ul>
                                                    </a>
                                                    <ul class="share-view">
                                                        <li>
                                                            <a href="#" class="eventLike" eventId = "{{ eventData.id
                                                            }}">
                                                                <i class="far fa-thumbs-up"></i>
                                                                <b id="eventLike_{{ eventData.id }}">{{ eventData.likeCount|default('0') }}</b>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('event-details', {'id' : eventData.id }) }}#comments">
                                                                <i class="far fa-comment"></i>
                                                                <b>{{ commentCount|default('0') }}</b>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" class="social-share-btn"><i
                                                                        class="fas fa-share-alt"></i></a>
                                                        </li>
                                                    </ul>
                                                    <div class="share-sec">
                                                        <div class="social-media">
                                                            <a href="#" class="fa fa-close"></a>
                                                            <ul>
                                                                <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('event-details', {'id': eventData.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                                                                <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://twitter.com/intent/tweet?text={{ eventData.name }}&amp;url={{ app.request.schemeAndHttpHost ~  path('event-details', {'id': eventData.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                                                                <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('event-details', {'id': eventData.id}) }}&amp;title={{ eventData.name }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                                                                <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('event-details', {'id': eventData.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if (loop.index % 6) == 0  %}
                                        {% if otherBanners|length > 0 and otherBanners['middle'] is defined and otherBanners['middle'] is not empty %}
                                            <div class="col-sm-12">
                                                <div class="background-express" data-image-src="{{ asset('images/files/') ~ otherBanners['middle'].bannerDesktopImage}}">
                                                    <div class="content-area" data-aos="fade-down" data-aos-delay="200">
                                                        {{ otherBanners['middle'].bannerDescription|raw }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var ajaxExpressDonateListingURL = "{{ path('ajax-express-donate-listing') }}";
        var ajaxEventLikeURL = "{{ path('event-like') }}";
        var pathToEventShare = "{{ path('event-share') }}";
    </script>
    <script src="{{ asset('assets/js/portal/funds/express-donate.js?z=2') }}"></script>
{% endblock %}