{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-12 mx-auto">
                    <div class="text-center">
                        <div class="login-head" data-aos="fade-right" data-aos-delay="100"><img src=" {{asset('resources/images/common/icons/icon-thumb.png')}}">
                        </div>
                        <h2>{{ pageContentByPage.pageTitle }}</h2>
                        <h5>
                            <span class="semibold">
                                {% set content = pageContentByPage.cmsPageContent[0] %}
                                {% include 'portal/page/_page_content_display.html.twig' %}
                            </span>
                            <b>Transaction ID</b> : {{ trnOrder.transactionId }}
                        </h5>
                    </div>
                    <div class="btn-block pdf-download">
                        <a href="{{ path('print-receipt', {'transaction' : trnOrder.transactionId}) }}" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> Payment Receipt</a>
                        {% if trnOrder.trnCircleEvent is not empty and trnOrder.trnCircleEvent.trnCircle.appUser.appUserInfo.mstUserMemberType ==
                            'Organization'	and trnOrder.trnCircleEvent.trnCircle.appUser.trnOrganizationDetails[0].registrationNo80G is not empty %}
                        <a href="{{ path('print-eighty-g-certificate', {'transaction' : trnOrder.transactionId}) }}" target="_blank"
                           class="btn
                        btn-primary"><i class="fa
                        fa-file-pdf-o"></i> 80G
                            Certificate</a>
                        {% endif %}
                    </div>
                    {% if trnOrder.trnCircleEvent is not empty and trnOrder.trnCircleEvent.trnCircle.appUser.appUserInfo.mstUserMemberType ==
                        'Organization'	 %}
                    <div class="confirmation-text">
                        Please note that confirmation email {%
                            if trnOrder.trnCircleEvent.trnCircle.appUser.trnOrganizationDetails[0].registrationNo80G is not empty %}along with <b>80G certificate</b> {%
                            endif %}has been sent to
                        <b>{{ trnOrder.userEmail }}</b> and SMS has been sent to your registered mobile number
                        <b>{{ mobileNo }}</b>.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('body').addClass('login-page event logged');
        });
        history.pushState(null, document.title, location.href);
        window.addEventListener('popstate', function (event)
        {
            history.pushState(null, document.title, location.href);
        });
    </script>
{% endblock %}