<div class="card-header mt-2">
    <h3 class="card-title">{{ 'Event Product Type Details:- '|upper }} <b>Crowdfunding</b></h3>
</div>

{% for trnCrowdFundEvent in data.trnCrowdFundEvents %}
    <div class="row">
        <table class="table table-responsive-md text-sm">
            <tbody>
                <tr>
                    <th>{{ 'Campaign Start Date'|trans }}</th>
                    <td>{{ data.fromDate | date('d-m-Y') }}</td>
                    <th>{{ 'Campaign End Date'|trans }}</th>
                    <td>{{ data.toDate | date('d-m-Y') }}</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <th>{{ 'Target Amount'|trans }}</th>
                    <td>{{ trnCrowdFundEvent.mstTargetAmountCurrency.iso3 }} {{ trnCrowdFundEvent.targetAmount }}</td>
                    <th>{{ 'Minimum Contribution Amount'|trans }}</th>
                    <td>{{ trnCrowdFundEvent.mstMinimumContributionCurrency.iso3 }} {{ trnCrowdFundEvent.minimumContribution|default(0) }}</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <th>{{ 'Would you like to distribute the Campaign ?'|trans }}</th>
                    <td>{{ trnCrowdFundEvent.isDistributedEvent == true ? 'Yes' : 'No' }}</td>
                    {% if isChildEvent == true %}
                        <th>Parent Event</th>
                        <td>
                            <a href="{{ path(path_show, {'id': data.parentTrnCircleEvents
                            .id}) }}" title="Show Parent Details" ><button type="button" class="btn
                                                btn-dark
                                                btn-sm"><i
                                            class="fa fa-expand"></i></button></a>&nbsp;
                        </td>
                    {% else %}
                        <td colspan="2"></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    {% if trnCrowdFundEvent.isDistributedEvent == true %}
        <div class="card-header mt-2 recurringDetails">
            <h3 class="card-title">{{ 'Distributed Event Details'|upper }}</h3>
        </div>
        <table class="table table-responsive-md text-sm">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Set Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for trnCrowdFundEventDistributedDetail in trnCrowdFundEvent.trnCrowdFundEventDistributedDetails %}
                    <tr>
                        <td>
                            {{ trnCrowdFundEventDistributedDetail.campaignerName }}
                        </td>
                        <td>
                            +91 {{ trnCrowdFundEventDistributedDetail.mobileNumber }}
                        </td>
                        <td>
                            {{ trnCrowdFundEventDistributedDetail.campaingerEmail }}
                        </td>
                        <td>
                            INR {{ trnCrowdFundEventDistributedDetail.targetAmount |number_format(2, '.', ',') }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    <div class="card-header mt-2">
        <h3 class="card-title">{{ 'Bank Account Details'|upper }}</h3>
    </div>
    <div class="row">
        <table class="table table-responsive-md text-sm">
            <tbody>
            <tr>
                <th>{{ 'label.beneficiary_bank_name'|trans }}</th>
                <td>{{ data.appUser.trnBankDetails[0].bankName }}</td>
                <th>{{ 'label.beneficiary_account_holder_name'|trans }}</th>
                <td>{{ data.appUser.trnBankDetails[0].accountHolderName }}</td>
            </tr>
            <tr>
                <th>{{ 'label.beneficiary_bank_account_number'|trans }}</th>
                <td>{{ data.appUser.trnBankDetails[0].accountNumber }}</td>
                <th>{{ 'label.beneficiary_ifsc_code'|trans }}</th>
                <td>{{ data.appUser.trnBankDetails[0].ifscCode }}</td>
            </tr>
            <tr>
                <th>{{ 'label.beneficiary_account_type'|trans }}</th>
                <td>{{ data.appUser.trnBankDetails[0].mstBankAccountType }}</td>
                <th></th>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="card-header mt-2">
        <h3 class="card-title">{{ 'Crowdfunding Uploaded Documents'|upper }}</h3>
    </div>
    <table class="table table-responsive-md text-sm">
        {% if trnCrowdFundEvent.trnCrowdFundEventDocuments|length > 0 %}
            <thead>
            <tr>
                <th>
                    Document Caption
                </th>
                <th>
                    Document
                </th>

            </tr>
            </thead>
            <tbody>
            {% for trnCrowdFundEventDocument in trnCrowdFundEvent.trnCrowdFundEventDocuments %}
                <tr>
                    <td>
                        {{ trnCrowdFundEventDocument.documentCaption|raw }}
                    </td>
                    <td>
                        {% if '.pdf' in trnCrowdFundEventDocument.uploadedFilePath %}
                            <a target="_blank" href="{{ asset('images') }}/{{ trnCrowdFundEventDocument.uploadedFilePath}}">Download</a>
                        {% else %}
                            <img src="{{ trnCrowdFundEventDocument.uploadedFilePath|imagine_filter('resize_image_200') }}">
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th colspan="2">No Documents Uploaded</th>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endfor %}