<div class="card-header mt-2">
    <h3 class="card-title">{{ 'Event Product Type Details:- '|upper }} <b>Fund Raiser</b></h3>
</div>
{% for trnFundRaiserCircleEventDetails in data.trnFundRaiserCircleEventDetails %}
    <div class="row">
        <table class="table table-responsive-md text-sm">
            <tbody>
            <tr>
                <th>{{ 'Target Amount'|trans }}</th>
                <td>{{ trnFundRaiserCircleEventDetails.mstCurrencyTargetAmount.iso3 }} {{ trnFundRaiserCircleEventDetails.targetAmount }}</td>
                <th>Is Urgent</th>
                <td>{{ data.isUrgent ? 'Yes' : 'No' }}</td>
                <th>{{ 'label.for_whom_raising_fund_for'|trans }}</th>
                <td colspan="3">{{ trnFundRaiserCircleEventDetails.purposeOfRaisingFunds|default('-') | raw }}</td>
            </tr>
            <tr>

            </tr>
            <tr>
                <th>{{ 'label.event_occurrence'|trans }}</th>
                <td>{{ trnFundRaiserCircleEventDetails.mstEventOccurrence }}</td>
                <th>{{ 'label.from_date'|trans }}</th>
                <td>{{ trnFundRaiserCircleEventDetails.fromDate | date('Y-m-d') }}</td>
                <th>{{ 'label.to_date'|trans }}</th>
                <td>{{ trnFundRaiserCircleEventDetails.toDate | date('Y-m-d') }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {#{% if trnFundRaiserCircleEventDetails.mstEventOccurrence == 'Recurring' and trnFundRaiserCircleEventDetails.trnCircleEventRecurringDetails|length > 0 %}
        <div class="card-header mt-2 recurringDetails">
            <h3 class="card-title">{{ 'Recurring Details'|upper }}</h3>
        </div>
        {% for trnCircleEventRecurringDetails in trnFundRaiserCircleEventDetails
            .trnCircleEventRecurringDetails %}
            <div class="row">
                <table class="table table-responsive-md text-sm">
                    <tbody>
                    <tr>
                        <th>{{ 'label.recurring_by'|trans }}</th>
                        <td>{{ trnCircleEventRecurringDetails.mstRecurringBy }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'label.days_of_the_week'|trans }}</th>
                        <td>{{ trnCircleEventRecurringDetails.mstDaysOfWeek | join(', ') }}</td>
                        <th>{{ 'label.number_of_days'|trans }}</th>
                        <td>{{ trnCircleEventRecurringDetails.numberOfDays }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% endif %}#}

    <div class="card-header mt-2">
        <h3 class="card-title">{{ 'Sub Events'|upper }}</h3>
    </div>
    {% for trnFundRaiserCircleEventSubEvents in trnFundRaiserCircleEventDetails.trnFundRaiserCircleEventSubEvents %}
        <div class="row">
{#            {{ dump(trnFundRaiserCircleEventSubEvents) }}#}
            <table class="table table-responsive-md text-sm">
                <tbody>
                <tr>
                    <th>{{ 'label.time_period_supported'|trans }}</th>
                    <td>{{ trnFundRaiserCircleEventSubEvents.timePeriodSupported }}</td>
                    <th>{{ 'label.no_of_beneficiaries_supported'|trans }}</th>
                    <td>{{ trnFundRaiserCircleEventSubEvents.noOfBeneficiaries }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.amount_required'|trans }}</th>
                    <td>{{ trnFundRaiserCircleEventSubEvents.mstCurrencySubEvent.iso3 }} {{ trnFundRaiserCircleEventSubEvents.subEventTargetAmount }}</td>
                    <th>{{ 'label.remarks'|trans }}</th>
                    <td>{{ trnFundRaiserCircleEventSubEvents.subEventRemarks }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}

    <div class="card-header mt-2">
        <h3 class="card-title">{{ 'Bank Account Details'|upper }}</h3>
    </div>
    <div class="row">
        <table class="table table-responsive-md text-sm">
            <tbody>
            <tr>
                <th>{{ 'label.beneficiary_bank_name'|trans }}</th>
                <td>{{ data.appUser.trnBankDetails[0].bankName }}</td>
                <th>{{ 'label.beneficiary_account_holder_name'|trans }}</th>
                <td>{{ data.appUser.trnBankDetails[0].accountHolderName }}</td>
            </tr>
            <tr>
                <th>{{ 'label.beneficiary_bank_account_number'|trans }}</th>
                <td>{{ data.appUser.trnBankDetails[0].accountNumber }}</td>
                <th>{{ 'label.beneficiary_ifsc_code'|trans }}</th>
                <td>{{ data.appUser.trnBankDetails[0].ifscCode }}</td>
            </tr>
            <tr>
                <th>{{ 'label.beneficiary_account_type'|trans }}</th>
                <td>{{ data.appUser.trnBankDetails[0].mstBankAccountType }}</td>
                <th></th>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>


{% endfor %}