<div class="card-header mt-2">
    <h3 class="card-title">{{ 'Event Product Type Details:- '|upper }} <b>Material (in Kind)</b></h3>
</div>
{% for trnMaterialInKindCircleEventDetails in data.trnMaterialInKindCircleEventDetails %}
    <div class="row">
        <table class="table table-responsive-md text-sm">
            <tbody>
            {#<tr>
                <th>{{ 'label.cause_of_event'|trans }}</th>
                <td colspan="5">{{ trnMaterialInKindCircleEventDetails.causeOfEvent|default('-') | raw }}</td>
            </tr>#}
            <tr>
                <th>{{ 'label.items_required'|trans }}</th>
                <td colspan="5">{{ trnMaterialInKindCircleEventDetails.itemsRequired|default('-') | raw }}</td>
            </tr>
            {#<tr>
                <th>{{ 'label.tell_a_story'|trans }}</th>
                <td colspan="5">{{ trnMaterialInKindCircleEventDetails.tellAStory|default('-') | raw }}</td>
            </tr>#}
            <tr>
                {#<th>{{ 'label.event_occurrence'|trans }}</th>
                <td>{{ trnMaterialInKindCircleEventDetails.mstEventOccurrence }}</td>#}
                <th>{{ 'label.from_date'|trans }}</th>
                <td>{{ trnMaterialInKindCircleEventDetails.fromDate | date('d-m-Y') }}</td>
                <th>{{ 'label.to_date'|trans }}</th>
                <td>{{ trnMaterialInKindCircleEventDetails.toDate | date('d-m-Y') }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {#<div class="card-header mt-2">
        <h3 class="card-title">{{ 'Sub Events'|upper }}</h3>
    </div>#}
    {% for trnMaterialInKindCircleEventSubEvents in trnMaterialInKindCircleEventDetails
    .trnMaterialInKindCircleEventSubEvents %}
        <div class="row">
            <table class="table table-responsive-md text-sm">
                <tbody>
                <tr>
                    <th>{{ 'label.item_name'|trans }}</th>
                    <td>{{ trnMaterialInKindCircleEventSubEvents.itemName }}</td>
                    <th>{{ 'label.item_quantity'|trans }}</th>
                    <td>{{ trnMaterialInKindCircleEventSubEvents.itemQuantity }}</td>
                    <th>{{ 'label.unit'|trans }}</th>
                    <td>{{ trnMaterialInKindCircleEventSubEvents.unit }}</td>
                </tr>
                <tr>
                    <th>Remarks</th>
                    <td colspan="5">{{ trnMaterialInKindCircleEventSubEvents.subEventName }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}

    {% if trnMaterialInKindCircleEventDetails.mstEventOccurrence == 'Recurring' %}
        <div class="card-header mt-2 recurringDetails">
            <h3 class="card-title">{{ 'Recurring Details'|upper }}</h3>
        </div>
        {% for trnCircleEventRecurringDetails in trnMaterialInKindCircleEventDetails
            .trnCircleEventRecurringDetails %}
            <div class="row">
                <table class="table table-responsive-md text-sm">
                    <tbody>
                    <tr>
                        <th>{{ 'label.recurring_by'|trans }}</th>
                        <td>{{ trnCircleEventRecurringDetails.mstRecurringBy }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'label.days_of_the_week'|trans }}</th>
                        <td>{{ trnCircleEventRecurringDetails.mstDaysOfWeek | join(', ') }}</td>
                        <th>{{ 'label.number_of_days'|trans }}</th>
                        <td>{{ trnCircleEventRecurringDetails.numberOfDays }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% endif %}
    <div class="card-header mt-2">
        <h3 class="card-title">{{ 'Collection Centre'|upper }}</h3>
    </div>
    {% for trnMaterialInKindCircleEventCollectionCentres in trnMaterialInKindCircleEventDetails
        .trnMaterialInKindCircleEventCollectionCentres %}
        <div class="row">
            <table class="table table-responsive-md text-sm">
                <tbody>
                <tr>
                    <th>{{ 'label.collection_centre'|trans }}</th>
                    <td colspan="5">{{ trnMaterialInKindCircleEventCollectionCentres.trnCollectionCentreDetails | raw }}</td>
                </tr>
                <tr>
                    <th>Time of the Collection Centre From / To</th>
                    <td>{{ trnMaterialInKindCircleEventCollectionCentres.trnCollectionCentreDetails.startTime|date('H:i:s') }} - {{ trnMaterialInKindCircleEventCollectionCentres.trnCollectionCentreDetails.endTime|date('H:i:s') }}</td>
                    <th>Collection Centre Open on Days</th>
                    <td>{{ trnMaterialInKindCircleEventCollectionCentres.trnCollectionCentreDetails.mstDaysOfWeek|join(', ') }}</td>
                    <th>Date Range for accepting Collection From - To Date</th>
                    <td>{{ trnMaterialInKindCircleEventCollectionCentres.fromDate|date('d/m/Y') }} - {{ trnMaterialInKindCircleEventCollectionCentres.toDate|date('d/m/Y') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}


{% endfor %}