{% extends 'layout/content.html.twig' %}
{% block cms_content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><a href="{{ path(path_add) }}" class="btn btn-dark btn-sm"><i class="fa fa-plus"></i> {{label_title|trans}}</a></h4>
                </div>
                <nav class="card-content collapse show">
                    <div class="card-body card-dashboard ">
                        <table id="dataTable" class="table table-responsive-md table-sm text-sm">
                            <thead>
                            <tr>
                                <th>{{ 'label.area_interest_primary'|trans|upper }}</th>
                                <th>{{ 'label.circle'|trans|upper }}</th>
                                <th>{{ 'label.circle_event'|trans|upper }}</th>
                                <th>{{ 'label.media_type'|trans|upper }}</th>
                                <th>{{ 'label.media_name'|trans|upper }}</th>
                                <th>{{ 'label.embedded_url'|trans|upper }}</th>
                                <th>{{ 'label.media'|trans|upper }}</th>
                                <th>{{ 'label.is_active'|trans|upper }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for trnProductMedia in trnProductMedias %}
                                <tr>
                                    <td>{{ trnProductMedia.mstAreaInterestPrimary }}</td>
                                    <td>{{ trnProductMedia.trnCircle|default('-') }}</td>
                                    <td>{{ trnProductMedia.trnCircleEvents|default('-') }}</td>
                                    <td>{{ trnProductMedia.mediaType }}</td>
                                    <td>{{ trnProductMedia.mediaName }}</td>
                                    <td>{{ trnProductMedia.mediaURL }}</td>
                                    <td><img src="{{ trnProductMedia.uploadedFilePath|imagine_filter
                                            ('resize_image_100') }}" alt="trnProductMedia.mediaAltText"></td>

                                    <td>{{ trnProductMedia.isActive ? 'Yes' : 'No' }}</td>
                                    <td>
                                        <div class="btn-group-toggle" role="group" aria-label="Action Buttons">
                                            <a href="{{ path(path_show, {'id': trnProductMedia.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-expand"></i></button></a>&nbsp;
                                            <a href="{{ path(path_edit, {'id': trnProductMedia.id}) }}"><button type="button" class="btn btn-dark btn-sm"><i class="fa fa-edit"></i></button></a>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">{{'info.no_record_found'|trans}}</td>
                                </tr>
                            {% endfor %}
                            </tbody></table>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="text-muted"><span class="domrecord"></span></div>
                            </div>
                            <div class="col-sm-7">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="dompage"></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
