<table class="table table-bordered">
    <thead>
    <tr>
        <th class="col-sr-no">Sr. No.</th>
        <th class="col-date">Payment Type</th>
        <th class="col-date">Date</th>
        <th class="col-date">By</th>
        <th class="col-amt">Amount</th>
        <th class="col-amt">Transaction Id</th>
        <th class="col-receipt">Receipt</th>
        <th class="col-status">Action</th>
    </tr>
    </thead>
    <tbody>
    {% set loopIndex = 1 %}
    {% set totalDonation = 0 %}
    {% if arrDonationInformation is defined and arrDonationInformation is not empty %}
        {% if arrDonationInformation is defined and arrDonationInformation is not empty
            and 'arrOnlinePayment' in arrDonationInformation| keys %}
            {% for donationData in arrDonationInformation['arrOnlinePayment'] %}
                <tr>
                    <td>{{ loopIndex }}</td>
                    <td>{% if donationData.paymentMode == 'Online' or  donationData
                            .paymentMode == '' %}
                            Online
                        {% else %}
                            offline
                        {% endif %}
                    </td>
                    <td>{{ donationData.orderDateTime | date('d M Y H:i:s') }}</td>
                    <td>
                        {# {% if donationData.isAnonymousDonation == 1 %}
                            Anonymous Donation
                        {% else %} #}
                            {{ donationData.userFirstName }} {{ donationData.userLastName }}
                        {# {% endif%} #}
                    </td>
                    <td>
                        {% set totalDonation = totalDonation + donationData.transactionAmount %}
                        {{ donationData.transactionAmount | number_format(2, '.', ',') }}
                    </td>
                    <td>{{ donationData.transactionId }}
                        {% if donationData.textNote is defined and donationData.textNote is not empty and
                            donationData.textNote != '' %}
                            <div class="tooltip">
                                <i style="color: #F05235;" class="fas fa-info-circle"></i>
                                <span class="tooltiptext">{{ donationData.textNote }}</span>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <i class="fa fa-file-pdf-o"></i>
                        <a href="{{ path('print-receipt', {'transaction' : donationData.transactionId}) }}"  >Payment Receipt</a>
                        <br/>
                        {% if donationData.trnCircleEvent.trnCircle.appUser.appUserInfo.mstUserMemberType ==
                            'Organization' and donationData.trnCircleEvent.trnCircle.appUser.trnOrganizationDetails[0].registrationNo80G is not empty  %}
                            <i class="fa fa-file-pdf-o"></i> <a href="{{ path('print-eighty-g-certificate',
                            {'transaction' : donationData.transactionId}) }}" target="_blank"
                        >80G Certificate</a>
                        {% endif %}
                    </td>
                    <td>-</td>
                </tr>
                {% set loopIndex = loopIndex + 1 %}
            {% endfor %}
        {% endif %}
        {% if arrDonationInformation is defined and arrDonationInformation is not empty
            and 'arrOfflinePayment' in arrDonationInformation| keys %}
            {% for donationData in arrDonationInformation['arrOfflinePayment'] %}
                <tr>
                    <td>{{ loopIndex }}</td>
                    <td>Offline</td>
                    <td>{{ donationData.createdOn | date('d M Y H:i:s') }}</td>
                    <td>
                        {# {% if donationData.isAnonymousDonation == 1 %}
                            Anonymous Donation
                        {% else %} #}
                            {{ donationData.mstSalutation}} {{ donationData.firstName }} {{ donationData.firstName }}
                        {# {% endif %} #}
                    </td>
                    <td>
                        {{ donationData.amountDonated | number_format(2, '.', ',') }}
                    </td>
                    <td>{{ donationData.bankTransactionId }}
                        {% if donationData.textNote is defined and donationData.textNote is not empty and
                            donationData.textNote != '' %}
                            <div class="tooltip">
                                <i style="color: #F05235;" class="fas fa-info-circle"></i>
                                <span class="tooltiptext">{{ donationData.textNote }}</span>
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        -
                    </td>
                    <td style="width: 200px;">
                        {% if donationData.mstStatus == 'Pending Activation'  %}
                            {% if bEnableAction == true %}
                                <a href="javascript:void(0);" requestid="{{ donationData.id }}" name="btnAcceptRequest" class="btn btn-primary-o">Accept</a>
                                <a href="javascript:void(0);" requestid="{{ donationData.id }}" name="btnRejectRequest" class="btn btn-primary-o">Reject</a>
                            {% else %}
                                -
                            {% endif %}
                        {% else %}
                            {% if donationData.mstStatus == 'Activated' %}
                                Approved
                            {% else %}
                                Rejected
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% set loopIndex = loopIndex + 1 %}
            {% endfor %}
        {% endif %}
    {% endif %}
    </tbody>
</table>
<h6 style="float: right;">Total Donation Received: <strong>{{ totalDonation | number_format(2, '.', ',')  }}</strong></h6>