{% extends 'layout/content.html.twig' %}
{% block cms_content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col">
            <div class="card">
                <nav class="card-content collapse show">
                    <div class="card-body card-dashboard ">
                        <table id="dataTable" class="table table-responsive-md table-sm text-sm">
                            <thead>
                            <tr>
                                <th>{{ 'label.creation_date'|trans|upper }}</th>
                                <th>{{ 'label.status'|trans|upper }}</th>
                                <th>{{ 'label.notifications'|trans|upper }}</th>
                                <th>{{ 'label.circle'|trans|upper }}</th>
                                <th>{{ 'label.circle_event'|trans|upper }}</th>
                                <th>{{ 'label.action'|trans|upper }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for notification in notifications %}
                                <tr>
                                    <td>{{ notification.createdOn|date('d M Y') }}</td>
                                    <td>{{ notification.mstNotificationStatus }}</td>
                                    <td>{{ notification.description | raw }}</td>
                                    <td>{{ notification.trnCircle }}</td>
                                    <td>{{ notification.trnCircleEvents }}</td>
                                    <td>
                                        {% if notification.mstNotificationStatus == 'Unread' %}
                                            <a href="javascript:void(0);" name="notificationRead" notificationid = "{{ notification.id }}"> Mark
                                                as Read
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">{{'info.no_record_found'|trans}}</td>
                                </tr>
                            {% endfor %}
                            </tbody></table>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="text-muted"><span class="domrecord"></span></div>
                            </div>
                            <div class="col-sm-7">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="dompage"></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var strUpdateNotificationStatusURL = "{{ path('product_notifications_update-notification-status') }}"
        $(function () {
            $('[name="notificationRead"]').click(function (){
                $('.loading').show();
                var data = {};
                data['notificationid'] = $(this).attr('notificationid');
                $.ajax({
                    url: strUpdateNotificationStatusURL,
                    type: 'POST',
                    data: data,
                    dataType: "html",
                    success: (function (formdata) {
                        $('.loading').hide();
                        window.location.reload();
                    }),
                });
            });
        });
    </script>
{% endblock %}
