<div class="events-filter">
    <div id="filters" class="button-group">
        <h5 id="totalEvents">Total Events
            {% if totalEventCount is defined and totalEventCount is not empty %} ({{ totalEventCount }}) {% endif %}
        </h5>
        <button class="button is-checked" data-filter="All">All</button>
        <button class="button" id="btnUpComingShow" data-filter=".upcoming">Upcoming
            (
            {% if arrOwnEventData is defined and arrOwnEventData is not empty and 'UPCOMING' in arrOwnEventData|keys %}
                {{ arrOwnEventData['UPCOMING']|length }}
            {% else %}
                0
            {% endif %}
            )
        </button>
        <button class="button" id="btnOnGoingShow"  data-filter=".ongoing">Ongoing
            (
            {% if arrOwnEventData is defined and arrOwnEventData is not empty and 'ONGOING' in arrOwnEventData|keys %}
                {{ arrOwnEventData['ONGOING']|length }}
            {% else %}
                0
            {% endif %}
            )
        </button>
        <button class="button" id="btnPastShow" data-filter=".past">Past
            (
            {% if arrOwnEventData is defined and arrOwnEventData is not empty and 'PAST' in arrOwnEventData|keys %}
                {{ arrOwnEventData['PAST']|length }}
            {% else %}
                0
            {% endif %}
            )
        </button>
    </div>
    <form>
        <div class="filter-panel">
            <div class="search-panel typ2">
                <div class="cust-calender">
                    <input type="text" id="campaignStartDate" class="form-control" name="daterange"
                           placeholder="Filter by Date Range">
                </div>
                <div class="input-group">
                    <input type="text" class="search-input"  id="quicksearch"  placeholder="Search by Project Name, Event Name, Location, Resources">
                    <a href="javascript:void(0);" class="btn search-input-btn"><i class="fa fa-search"></i></a>
                </div>
                <a href="#" class="btn-clear-filter"><i class="fa fa-refresh"></i> Clear Filter</a>
            </div>
        </div>
    </form>

    <div class="grid" id="eventList">
        {% if arrOwnEventData is defined and arrOwnEventData is not empty and 'UPCOMING' in arrOwnEventData|keys %}
            {% for eventData in arrOwnEventData['UPCOMING'] %}
                <div class="card element-item {% if eventData.mstStatus == 'Deactivated' or eventData.mstStatus ==
                'Rejected' or eventData.mstStatus == 'Expired' %} past {% else %} upcoming {% endif %}">
                    <div class="card-image">
                        <figure>
                            {% if eventData.profileImage is defined and  eventData.profileImage is not empty and
                                eventData.profileImage != 'files/'  %}
                                <img src="{{ asset('images') }}/{{ eventData.profileImage }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                            {% elseif eventData.backgroundImagePath is defined and  eventData.backgroundImagePath is not empty and
                                eventData.backgroundImagePath != 'files/' %}
                                <img src="{{ asset('images') }}/{{ eventData.backgroundImagePath }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                            {% else %}
                                {% set break = false %}
                                {% for trnProductMedia in eventData.trnProductMedia %}
                                    {% if trnProductMedia.mediaType == 'image' and
                                        break == false %}
                                        {% set break = true %}
                                        <img src="{{ asset('images') }}/{{ trnProductMedia.uploadedFilePath}}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </figure>
                    </div>
                    <div class="card-body">
                        {% if 'Fundraiser' in eventData.mstEventProductType %}
                            <div class="status">
                                <h4  style="color: #F05235;">{{ eventData.mstStatus }}</h4>
                                {% if eventData is defined and eventData
                                    .trnFundRaiserCircleEventDetails is defined and eventData
                                    .trnFundRaiserCircleEventDetails is not empty and
                                    eventData.trnFundRaiserCircleEventDetails[0] is defined
                                    and eventData.trnFundRaiserCircleEventDetails[0] is not
                                    empty and eventData.trnFundRaiserCircleEventDetails[0]
                                    .isUrgent == 1 %}
                                    <h4>Urgent </h4>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if eventData.mstStatus != 'Deactivated' and eventData.mstStatus != 'Rejected' and eventData.mstStatus != 'Expired'%}
                            <div class="status">
                                <h4>Upcoming</h4>
                            </div>
                        {% elseif eventData.mstStatus == 'Deactivated' or eventData.mstStatus == 'Rejected' or
                            eventData.mstStatus == 'Expired' %}
                            <div class="status">
                                <h4>Past</h4>
                            </div>
                        {% endif %}
                        {% if 'Fundraiser' in eventData.mstEventProductType and eventData.mstStatus =='Rejected' %}
                            <h6>Rejection Reason: <strong style="color: #F05235;">{{ eventData.reasonToReject | ucwords}}</strong></h6>
                        {% endif %}
                        <div class="project-name">
                            <h2>{{ eventData.name  | upper}}</h2>
                        </div>
                        <div class="block-elements">
                            <b>{{ eventData.trnCircle | upper }}</b>
                            <h5>
                                {% if eventData.trnCircle.mstJoinBy == 'Open' %}
                                    <i class="fa fa-unlock"></i> {{ eventData.trnCircle.mstJoinBy }}
                                {% else %}
                                    <i class="fa fa-lock"></i> {{ eventData.trnCircle.mstJoinBy }}
                                {% endif %}
                            </h5>
                            <h5 class="orange">
                                {% for mstEventProductType in eventData.mstEventProductType %}
                                    {{ mstEventProductType.eventProductType }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </h5>
                            {% if eventData.mstStatus != 'Deactivated' and eventData.mstStatus != 'Rejected' and eventData.mstStatus != 'Expired'%}
                                <h4><i class="far fa-calendar"></i>
                                    {% if arrEventUpComingOrOnGoingDetails is defined and
                                        arrEventUpComingOrOnGoingDetails is not empty and
                                        arrEventUpComingOrOnGoingDetails[eventData.id] is defined and
                                        arrEventUpComingOrOnGoingDetails[eventData.id] is not empty
                                        and arrEventUpComingOrOnGoingDetails[eventData.id] != '' %}
                                        {{ arrEventUpComingOrOnGoingDetails[eventData
                                            .id]['startDate'] |date('l d M Y') }}
                                    {% endif %}  -  <i class="far fa-calendar"></i>
                                    {% if arrEventUpComingOrOnGoingDetails is defined and
                                        arrEventUpComingOrOnGoingDetails is not empty and
                                        arrEventUpComingOrOnGoingDetails[eventData.id] is defined and
                                        arrEventUpComingOrOnGoingDetails[eventData.id] is not empty
                                        and arrEventUpComingOrOnGoingDetails[eventData.id] != '' %}
                                        {{ arrEventUpComingOrOnGoingDetails[eventData
                                            .id]['endDate'] |date('l d M Y') }}
                                    {% endif %}
                                </h4>
                            {% endif %}
                            <h5><i class="fas fa-map-marker-alt"></i>
                                {{ eventData.mstCity }}, {{ eventData.mstState }}, {{eventData.mstCountry }}
                            </h5>
                        </div>
                        <ul class="my-story">
                            <li><a href="{{ path('event-details', {'id' : eventData.id }) }}" target="_blank"><i class="fc-connect-with-me"></i> <span>Link</span>   {{ url('event-details', {'id' : eventData.id }) }}</a></li>
                            <li><a href="javascript:void(0);" onclick="setClipboard('{{ url('event-details', {'id': eventData.id}) }}')"><i class="fc-copy-link"></i> Copy Link</a></li>
                        </ul>
                        <div class="head-sec share-links p-0 pt-3">
                            <ul>
                                <li><a href="{{ path('event-details', {'id' : eventData.id }) }}" target="_blank"><i class="fa fa-bars"></i> View</a></li>
                                {% if eventData.mstStatus == 'Activated' %}
                                    <li><a href="{{ path('my-account-send-reminder-for-event', {'id' : eventData.id }) }}"><i class="icon-publish"></i> Send Reminder</a></li>
                                    <li><a href="{{ path('my-account-add-view-lead-for-event', {'id' : eventData.id }) }}"><i class="icon-supporters"></i>  Add / View Lead</a></li>
                                    <li><a href="{{ path('create-an-event-copied', {'id' : eventData.id }) }}" target="_blank"><i class="icon-copy"></i>  Copy & Create Event</a></li>
                                    {#<li><a target="_blank" href="{{ path('my-account-edit-event-data', {'id' : eventData
                                            .id }) }}"><i
                                                    class="fa fa-pencil-alt"></i>  Edit</a></li> #}
                                    <li><a href="{{ path('my-account-view-event-participant-list', {'id' : eventData.id }) }}"><i class="fa fa-users"></i>  Participant View List</a></li>
                                    {#<li><a href="#"><i class="icon-qr"></i> View QR Code</a></li>#}
                                    <li><a href="{{ path('my-account-deactivate-event-data', {'id' : eventData.id }) }}"><i class="icon-deactivate"></i>  Deactivate Event</a></li>
                                    <li class="share-sec">
                                        <a href="javascript:;" class="social-share-btn"><i class="fas fa-share-alt"></i>Share</a>
                                        <div class="social-media" style="width: 200px;">
                                            <a href="#" class="fa fa-close"></a>
                                            <ul>
                                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('event-details', {'id': eventData.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                                                <li><a href="https://twitter.com/intent/tweet?text={{ eventData.name }}&amp;url={{ app.request.schemeAndHttpHost ~  path('event-details', {'id': eventData.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                                                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('event-details', {'id': eventData.id}) }}&amp;title={{ eventData.name }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                                                <li><a href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('event-details', {'id': eventData.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li><a href="{{ path('my-account-event-broadcast-update', {'id' : eventData.id }) }}"><i class="icon-broadcast"></i>  Broadcast / Updates
                                            <div class="tooltip">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext">Send a message or update to all your members regarding an upcoming event.</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li><a href="javascript:void(0)">
                                            <label class="name-checkbox" for="trending_{{ eventData.id }}">
                                                <input type="checkbox" value="{{ eventData.id }}"
                                                        {% if eventData.isTrending == 1 %} checked {% endif %}
                                                       class="checkBoxNameMember"
                                                       id="trending_{{ eventData.id }}">
                                                <span class="checkmark"></span>Trending</label>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if arrOwnEventData is defined and arrOwnEventData is not empty and 'ONGOING' in arrOwnEventData|keys %}
            {% for eventData in arrOwnEventData['ONGOING'] %}
                <div class="card element-item  {% if eventData.mstStatus == 'Deactivated' or eventData.mstStatus ==
                    'Rejected' or eventData.mstStatus == 'Expired' %} past {% else %}  ongoing {% endif %} ">
                    <div class="card-image">
                        <figure>
                            {% if eventData.profileImage is defined and  eventData.profileImage is not empty and
                                eventData.profileImage != 'files/'  %}
                                <img src="{{ asset('images') }}/{{ eventData.profileImage }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                            {% elseif eventData.backgroundImagePath is defined and  eventData.backgroundImagePath is not empty and
                                eventData.backgroundImagePath != 'files/' %}
                                <img src="{{ asset('images') }}/{{ eventData.backgroundImagePath }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                            {% else %}
                                {% set break = false %}
                                {% for trnProductMedia in eventData.trnProductMedia %}
                                    {% if trnProductMedia.mediaType == 'image' and
                                        break == false %}
                                        {% set break = true %}
                                        <img src="{{ asset('images') }}/{{ trnProductMedia.uploadedFilePath}}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </figure>
                    </div>
                    <div class="card-body">
                        {% if 'Fundraiser' in eventData.mstEventProductType %}
                            <div class="status">
                                <h4  style="color: #F05235;">{{ eventData.mstStatus }}</h4>
                                {% if eventData is defined and eventData
                                    .trnFundRaiserCircleEventDetails is defined and eventData
                                    .trnFundRaiserCircleEventDetails is not empty and
                                    eventData.trnFundRaiserCircleEventDetails[0] is defined
                                    and eventData.trnFundRaiserCircleEventDetails[0] is not
                                    empty and eventData.trnFundRaiserCircleEventDetails[0]
                                    .isUrgent == 1 %}
                                    <h4>Urgent </h4>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if eventData.mstStatus != 'Deactivated' and eventData.mstStatus != 'Rejected' and eventData.mstStatus != 'Expired'%}
                            <div class="status">
                                <h4>Ongoing</h4>
                            </div>
                        {% elseif eventData.mstStatus == 'Deactivated' or eventData.mstStatus == 'Rejected' or
                            eventData.mstStatus == 'Expired' %}
                            <div class="status">
                                <h4>Past</h4>
                            </div>
                        {% endif %}
                        {% if 'Fundraiser' in eventData.mstEventProductType and eventData.mstStatus =='Rejected' %}
                            <h6>Rejection Reason: <strong style="color: #F05235;">{{ eventData.reasonToReject | ucwords}}</strong></h6>
                        {% endif %}
                        <div class="project-name">
                            <h2>{{ eventData.name  | upper}}</h2>
                        </div>
                        <div class="block-elements">
                            <b>{{ eventData.trnCircle | upper }}</b>
                            <h5>
                                {% if eventData.trnCircle.mstJoinBy == 'Open' %}
                                    <i class="fa fa-unlock"></i> {{ eventData.trnCircle.mstJoinBy }}
                                {% else %}
                                    <i class="fa fa-lock"></i> {{ eventData.trnCircle.mstJoinBy }}
                                {% endif %}
                            </h5>
                            <h5 class="orange">
                                {% for mstEventProductType in eventData.mstEventProductType %}
                                    {{ mstEventProductType.eventProductType }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </h5>
                            {% if eventData.mstStatus != 'Deactivated' and eventData.mstStatus != 'Rejected' and eventData.mstStatus != 'Expired'%}
                                <h4><i class="far fa-calendar"></i>
                                    {% if arrEventUpComingOrOnGoingDetails is defined and
                                        arrEventUpComingOrOnGoingDetails is not empty and
                                        arrEventUpComingOrOnGoingDetails[eventData.id] is defined and
                                        arrEventUpComingOrOnGoingDetails[eventData.id] is not empty
                                        and arrEventUpComingOrOnGoingDetails[eventData.id] != '' %}
                                        {{ arrEventUpComingOrOnGoingDetails[eventData
                                            .id]['startDate'] |date('l d M Y') }}
                                    {% endif %}
                                    -  <i class="far fa-calendar"></i>
                                    {% if arrEventUpComingOrOnGoingDetails is defined and
                                        arrEventUpComingOrOnGoingDetails is not empty and
                                        arrEventUpComingOrOnGoingDetails[eventData.id] is defined and
                                        arrEventUpComingOrOnGoingDetails[eventData.id] is not empty
                                        and arrEventUpComingOrOnGoingDetails[eventData.id] != '' %}
                                        {{ arrEventUpComingOrOnGoingDetails[eventData
                                            .id]['endDate'] |date('l d M Y') }}
                                    {% endif %}
                                </h4>
                            {% endif %}
                            <h5><i class="fas fa-map-marker-alt"></i>
                                {{ eventData.mstCity }}, {{ eventData.mstState }}, {{eventData.mstCountry }}
                            </h5>
                        </div>
                        <ul class="my-story">
                            <li><a href="{{ path('event-details', {'id' : eventData.id }) }}" target="_blank"><i class="fc-connect-with-me"></i> <span>Link</span>   {{ url('event-details', {'id' : eventData.id }) }}</a></li>
                            <li><a href="javascript:void(0);" onclick="setClipboard('{{ url('event-details', {'id': eventData.id}) }}')"><i class="fc-copy-link"></i> Copy Link</a></li>
                        </ul>
                        <div class="head-sec share-links p-0 pt-3">
                            <ul>
                                <li><a href="{{ path('event-details', {'id' : eventData.id }) }}" target="_blank"><i class="fa fa-bars"></i> View</a></li>
                                {% if eventData.mstStatus == 'Activated' %}
                                    <li><a href="{{ path('my-account-send-reminder-for-event', {'id' : eventData.id }) }}"><i class="icon-publish"></i> Send Reminder</a></li>
                                    <li><a href="{{ path('my-account-add-view-lead-for-event', {'id' : eventData.id }) }}"><i class="icon-supporters"></i>  Add / View Lead</a></li>
                                    <li><a href="{{ path('create-an-event-copied', {'id' : eventData.id }) }}" target="_blank"><i class="icon-copy"></i>  Copy & Create Event</a></li>
                                    {# <li><a target="_blank" href="{{ path('my-account-edit-event-data', {'id' : eventData
                                            .id }) }}"><i
                                                    class="fa fa-pencil-alt"></i>  Edit</a></li>#}
                                    <li><a href="{{ path('my-account-view-event-participant-list', {'id' : eventData.id }) }}"><i class="fa fa-users"></i>  Participant View List</a></li>
                                    {#<li><a href="#"><i class="icon-qr"></i> View QR Code</a></li>#}
                                    <li><a href="{{ path('my-account-deactivate-event-data', {'id' : eventData.id }) }}"><i class="icon-deactivate"></i>  Deactivate Event</a></li>
                                    <li class="share-sec">
                                        <a href="javascript:;" class="social-share-btn"><i class="fas fa-share-alt"></i>Share</a>
                                        <div class="social-media" style="width: 200px;">
                                            <a href="#" class="fa fa-close"></a>
                                            <ul>
                                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('event-details', {'id': eventData.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                                                <li><a href="https://twitter.com/intent/tweet?text={{ eventData.name }}&amp;url={{ app.request.schemeAndHttpHost ~  path('event-details', {'id': eventData.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                                                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('event-details', {'id': eventData.id}) }}&amp;title={{ eventData.name }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                                                <li><a href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('event-details', {'id': eventData.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="{{ path('my-account-event-broadcast-update', {'id' : eventData.id }) }}"><i class="icon-broadcast"></i>  Broadcast / Updates
                                            <div class="tooltip">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext">Send a message or update to all your members regarding an upcoming event.</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li><a href="javascript:void(0)">
                                        <label class="name-checkbox" for="trending_{{ eventData.id }}">
                                            <input type="checkbox" value="{{ eventData.id }}"
                                                   {% if eventData.isTrending == 1 %} checked {% endif %}
                                                   class="checkBoxNameMember"
                                                   id="trending_{{ eventData.id }}">
                                            <span class="checkmark"></span>Trending</label>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if arrOwnEventData is defined and arrOwnEventData is not empty and 'PAST' in arrOwnEventData|keys %}
            {% for eventData in arrOwnEventData['PAST'] %}
                <div class="card element-item  past">
                    <div class="card-image">
                        <figure>
                            {% if eventData.profileImage is defined and  eventData.profileImage is not empty and
                                eventData.profileImage != 'files/'  %}
                                <img src="{{ asset('images') }}/{{ eventData.profileImage }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                            {% elseif eventData.backgroundImagePath is defined and  eventData.backgroundImagePath is not empty and
                                eventData.backgroundImagePath != 'files/' %}
                                <img src="{{ asset('images') }}/{{ eventData.backgroundImagePath }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                            {% else %}
                                {% set break = false %}
                                {% for trnProductMedia in eventData.trnProductMedia %}
                                    {% if trnProductMedia.mediaType == 'image' and
                                        break == false %}
                                        {% set break = true %}
                                        <img src="{{ asset('images') }}/{{ trnProductMedia.uploadedFilePath}}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </figure>
                    </div>
                    <div class="card-body">
                        {% if 'Fundraiser' in eventData.mstEventProductType %}
                            <div class="status">
                                <h4 style="color: #F05235;">{{ eventData.mstStatus }}</h4>
                                {% if eventData is defined and eventData
                                    .trnFundRaiserCircleEventDetails is defined and eventData
                                    .trnFundRaiserCircleEventDetails is not empty and
                                    eventData.trnFundRaiserCircleEventDetails[0] is defined
                                    and eventData.trnFundRaiserCircleEventDetails[0] is not
                                    empty and eventData.trnFundRaiserCircleEventDetails[0]
                                    .isUrgent == 1 %}
                                    <h4>Urgent </h4>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if eventData.mstStatus != 'Deactivated' and eventData.mstStatus != 'Rejected' and eventData.mstStatus != 'Expired' %}
                            <div class="status">
                                <h4>Past</h4>
                            </div>
                        {% endif %}
                        {% if 'Fundraiser' in eventData.mstEventProductType and eventData.mstStatus =='Rejected' %}
                            <h6>Rejection Reason: <strong style="color: #F05235;">{{ eventData.reasonToReject | ucwords}}</strong></h6>
                        {% endif %}
                        <div class="project-name">
                            <h2>{{ eventData.name  | upper}}</h2>
                        </div>
                        <div class="block-elements">
                            <b>{{ eventData.trnCircle | upper }}</b>
                            <h5>
                                {% if eventData.trnCircle.mstJoinBy == 'Open' %}
                                    <i class="fa fa-unlock"></i> {{ eventData.trnCircle.mstJoinBy }}
                                {% else %}
                                    <i class="fa fa-lock"></i> {{ eventData.trnCircle.mstJoinBy }}
                                {% endif %}
                            </h5>
                            <h5 class="orange">
                                {% for mstEventProductType in eventData.mstEventProductType %}
                                    {{ mstEventProductType.eventProductType }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </h5>
                            <h4><i class="far fa-calendar"></i> {% if arrEventUpComingOrOnGoingDetails is defined and
                                    arrEventUpComingOrOnGoingDetails is not empty and
                                    arrEventUpComingOrOnGoingDetails[eventData.id] is defined and
                                    arrEventUpComingOrOnGoingDetails[eventData.id] is not empty
                                    and arrEventUpComingOrOnGoingDetails[eventData.id] != '' %}
                                    {{ arrEventUpComingOrOnGoingDetails[eventData
                                        .id]['startDate'] |date('l d M Y') }}
                                {% endif %}  -  <i class="far fa-calendar"></i> {% if arrEventUpComingOrOnGoingDetails is defined and
                                    arrEventUpComingOrOnGoingDetails is not empty and
                                    arrEventUpComingOrOnGoingDetails[eventData.id] is defined and
                                    arrEventUpComingOrOnGoingDetails[eventData.id] is not empty
                                    and arrEventUpComingOrOnGoingDetails[eventData.id] != '' %}
                                    {{ arrEventUpComingOrOnGoingDetails[eventData
                                        .id]['endDate'] |date('l d M Y') }}
                                {% endif %}</h4>
                            <h5><i class="fas fa-map-marker-alt"></i>
                                {{ eventData.mstCity }}, {{ eventData.mstState }}, {{eventData.mstCountry }}
                            </h5>
                        </div>
                        <ul class="my-story">
                            <li><a href="{{ path('event-details', {'id' : eventData.id }) }}" target="_blank"><i class="fc-connect-with-me"></i> <span>Link</span>   {{ url('event-details', {'id' : eventData.id }) }}</a></li>
                            <li><a href="javascript:void(0);" onclick="setClipboard('{{ url('event-details', {'id': eventData.id}) }}')"><i class="fc-copy-link"></i> Copy Link</a></li>
                        </ul>
                        <div class="head-sec share-links p-0 pt-3">
                            <ul>
                                <li><a href="{{ path('event-details', {'id' : eventData.id }) }}" target="_blank"><i class="fa fa-bars"></i> View</a></li>
                                {% if eventData.mstStatus == 'Activated' %}
                                    <li><a href="{{ path('my-account-send-reminder-for-event', {'id' : eventData.id }) }}"><i class="icon-publish"></i> Send Reminder</a></li>
                                    <li><a href="{{ path('my-account-add-view-lead-for-event', {'id' : eventData.id }) }}"><i class="icon-supporters"></i>  Add / View Lead</a></li>
                                    <li><a href="{{ path('create-an-event-copied', {'id' : eventData.id }) }}" target="_blank"><i class="icon-copy"></i>  Copy & Create Event</a></li>
                                    {# li><a target="_blank" href="{{ path('my-account-edit-event-data', {'id' : eventData
                                            .id }) }}"><i
                                                    class="fa fa-pencil-alt"></i>  Edit</a></li>#}
                                    <li><a href="{{ path('my-account-view-event-participant-list', {'id' : eventData.id }) }}"><i class="fa fa-users"></i>  Participant View List</a></li>
                                    {#<li><a href="#"><i class="icon-qr"></i> View QR Code</a></li>#}
                                    <li><a href="{{ path('my-account-deactivate-event-data', {'id' : eventData.id }) }}"><i class="icon-deactivate"></i>  Deactivate Event</a></li>
                                    <li class="share-sec">
                                        <a href="javascript:void(0);" class="social-share-btn"><i class="fas
                                        fa-share-alt"></i>Share</a>
                                        <div class="social-media" style="width: 200px;">
                                            <a href="#" class="fa fa-close"></a>
                                            <ul>
                                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('event-details', {'id': eventData.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                                                <li><a href="https://twitter.com/intent/tweet?text={{ eventData.name }}&amp;url={{ app.request.schemeAndHttpHost ~  path('event-details', {'id': eventData.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                                                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('event-details', {'id': eventData.id}) }}&amp;title={{ eventData.name }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                                                <li><a href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('event-details', {'id': eventData.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="{{ path('my-account-event-broadcast-update', {'id' : eventData.id }) }}"><i class="icon-broadcast"></i>  Broadcast / Updates
                                            <div class="tooltip">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext">Send a message or update to all your members regarding an upcoming event.</span>
                                            </div>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>
