{% for eventData in arrEventList %}
    {% set eventCommentCount = get_event_comment_count(eventData.id)|default('0') %}

    {% set eventproducttype = [] %}
    {% for mstEventProductType in eventData.mstEventProductType %}
        {% set eventproducttype = eventproducttype|merge([mstEventProductType.eventProductType]) %}
    {% endfor %}

    {% set validButtons = get_valid_event_buttons('event_list',
        eventData.id, eventData.trnCircle.id, eventproducttype, eventData.trnCircle.mstJoinBy, eventData.isTargetAchieved, eventData.mstStatus.status ) %}

    {#{{ dump(validButtons) }}#}
    <div class="card col-sm-4" data-aos="fade-right" data-aos-delay="200">
        <figure>
            {% if eventData.profileImage is defined and  eventData.profileImage is not empty and
                eventData.profileImage != 'files/'  %}
                <img src="{{ asset('images') }}/{{ eventData.profileImage }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
            {% elseif eventData.backgroundImagePath is defined and  eventData.backgroundImagePath is not empty and
                eventData.backgroundImagePath != 'files/' %}
                <img src="{{ asset('images') }}/{{ eventData.backgroundImagePath }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
            {% else %}
                {% set break = false %}
                {% for trnProductMedia in eventData.trnProductMedia %}
                    {% if trnProductMedia.mediaType == 'image' and
                        break == false %}
                        {% set break = true %}
                        <img src="{{ asset('images') }}/{{ trnProductMedia.uploadedFilePath}}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                    {% endif %}
                {% endfor %}
            {% endif %}
        </figure>
        <div class="card-body">{% set isCrowdfundinEvent = false %}
            <a href="#">
                {% if eventDates.fromDate is defined and eventDates.fromDate is
                    not empty and eventDates.fromDate and eventDates.toDate
                    is defined and eventDates.toDate is
                    not empty and eventDates.toDate  %}
                    <div class="status">{{ eventDates.eventUpComingOrOnGoing }}</div>
                {% endif %}
                <h4>{{ eventData.name }}</h4>
                <h5 class="orange">{% for mstEventProductType in eventData
                    .mstEventProductType %}

                        {% if mstEventProductType .eventProductType == 'Crowdfunding' %}
                            {% set isCrowdfundinEvent = true %}
                        {% endif %}

                        {{ mstEventProductType
                        .eventProductType }}{% if not loop.last %}, {% endif %} {% endfor %}</h5>
                <ul class="timing">
                    {% if eventDates.fromDate is defined and eventDates.fromDate is
                        not empty and eventDates.fromDate and eventDates.toDate
                        is defined and eventDates.toDate is
                        not empty and eventDates.toDate  %}
                        <li><i class="fa fa-calendar-o"></i>
                            {% if eventDates.eventUpComingOrOnGoing == 'UPCOMING' %}
                                {{ eventDates.fromDate | date ('l') }} {{ eventDates.fromDate | date('d F Y') }}
                            {% else %}
                                {{ eventDates.toDate | date ('l') }} {{ eventDates.toDate | date('d F Y') }}
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if eventDates.eventFromTime is defined and eventDates.eventFromTime is not empty and
                        eventDates.eventFromTime and eventDates.eventToTime is defined
                        and eventDates.eventToTime is not empty and eventDates.eventToTime  %}
                        <li><i class="fa fa-clock-o"></i> {{ eventDates.eventFromTime|date('h:i A')   }}
                            to {{ eventDates.eventToTime|date('h:i A')}}</li>
                    {% endif %}
                    <li><i class="fa fa-map-marker"></i> {{ eventData.mstCity }}, {{ eventData.mstState }}, {{
                        eventData.mstCountry }}</li>
                </ul>
            </a>
            <ul class="inline-links">
                {% if validButtons['view']['isValid'] == true %}
                    <li>
                        {% if isCrowdfundinEvent == true %}
                            <a href="{{ path('crowd-funding-event-details', {'id': eventData.id}) }}"
                               class="btn-primary">{{ validButtons['view']['label'] }}</a>
                        {% else %}
                            <a href="{{ path(validButtons['view']['path']['key'], validButtons['view']['path']['value']) }}"
                               class="btn-primary">{{ validButtons['view']['label'] }}</a>
                        {% endif %}
                        {#                                                    <a href="{{ path('event-details', {'id' : eventData.id }) }}" class="btn-primary">View</a>#}
                    </li>
                {% endif %}
                {#{% if eventData.trnCircle.mstJoinBy == 'Open' %}
                                                    <li>
                                                        <a href="#">Join</a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="#">Request to Join</a>
                                                    </li>
                                                {% endif %}#}
                {#                                                {% for mstEventProductType in eventData
                                                    .mstEventProductType %}
                                                    {% if mstEventProductType.eventProductType == 'Fundraiser' %}
                                                        <li>
                                                            <a href="#">Donate</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}#}
                {% if validButtons['donate']['isValid'] == true and isCrowdfundinEvent == false %}
                    <li>
                        {% set donatePath = validButtons['donate']['path'] %}
                        {% if validButtons['donate']['path']['key'] is defined %}
                            {% set donatePath = path(validButtons['donate']['path']['key'],
                                validButtons['donate']['path']['value'])~'#fundRaiserContribute' %}
                        {% endif %}
                        <a href="{{ donatePath }}">
                            {{ validButtons['donate']['label'] }}
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="share-view">
                <li>
                    <a href="#" class="eventLike" eventId = "{{ eventData.id
                    }}">
                        <i class="far fa-thumbs-up"></i>
                        <b id="eventLike_{{ eventData.id }}">{{ eventData.likeCount|default('0') }}</b>
                    </a>
                </li>
                <li>
                    <a href="{{ path('event-details', {'id' : eventData.id }) }}#comments">
                        <i class="far fa-comment"></i>
                        <b>{{ eventCommentCount }}</b>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="social-share-btn"><i
                                class="fas fa-share-alt"></i></a>
                </li>
            </ul>
            <div class="share-sec">
                <div class="social-media">
                    <a href="#" class="fa fa-close"></a>
                    <ul>
                        <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('event-details', {'id': eventData.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                        <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://twitter.com/intent/tweet?text={{ eventData.name }}&amp;url={{ app.request.schemeAndHttpHost ~  path('event-details', {'id': eventData.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                        <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('event-details', {'id': eventData.id}) }}&amp;title={{ eventData.name }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                        <li><a onclick="getEventShareCount('{{ eventData.id }}')" href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('event-details', {'id': eventData.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}