{% extends 'layout/content.html.twig' %}
{% set back_to_list = app.request.server.get('HTTP_REFERER') %}

{% set isChildEvent = false %}
{% if data.parentTrnCircleEvents is defined
    and data.parentTrnCircleEvents is not empty
    and data.parentTrnCircleEvents != ''
    and data.parentTrnCircleEvents is not empty
    and data.parentTrnCircleEvents is not null %}
    {% set isChildEvent = true %}
{% endif %}

{% block cms_content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title txt-bold float-left">Event Name:- <b>{{ data.name |upper}}</b></h4>
            <h4 class="card-title float-right">
                <a href="{{ path(path_index) }}" class="btn btn-dark btn-sm"><i class="fa fa-list"></i> {{'label.back_to_list' | trans}}</a>
            </h4>
        </div>
    </div>

    {% if isChildEvent == true %}
        <div class="card">
            <div class="card-header" style="align-self: center;">
                <h3 class="card-title txt-bold alert-success alert-success-cf">This is a Distributed Event</h3>
            </div>
        </div>
    {% endif %}

    <div class="card">
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="card-body">
                    <div class="card-header mt-2">
                        <h3 class="card-title">{{ 'Event Details'|upper }}</h3>
                    </div>

                    <div class="row">
                        <table class="table table-responsive-md text-sm">
                            <tbody>
                            <tr>
                                <th>{{ 'label.company'|trans }}</th>
                                <td colspan="2">{{ data.orgCompany }}</td>
                                <th>{{ 'label.app_user'|trans }}</th>
                                <td colspan="2">{{ data.appUser.appUserDetails }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'label.circle'|trans }}</th>
                                <td>{{ data.trnCircle }}</td>
                                <th>{{ 'label.circle_child_event'|trans }}</th>
                                <td>{{ data.name }}</td>
                                <th>{{ 'label.type_of_circle'|trans }}</th>
                                <td>{{ data.trnCircle.mstJoinBy.joinBy }}</td>
                            </tr>
                            <tr>
{#                                <th>Event Option</th>#}
{#                                <td>Creat New / Copy Event</td>#}
                                <th>Is This Crowd Funding?</th>
                                <td>{{ data.isCrowdFunding ? 'Yes' : 'No' }}</td>
                                <th>{{ 'label.circle_event_product_type'|trans }}</th>
                                <td>
                                        {% for mstEventProductType in data.mstEventProductType %}
                                            {{ mstEventProductType }},
                                        {% endfor %}
                                </td>
                                <th></th>
                                <td></td>

                            </tr>
                            <tr>
                                {% for trnAreaOfInterest in data.trnAreaOfInterests %}
                                    <th>{{ 'label.area_interest_primary'|trans  }}</th>
                                    <td>{{ trnAreaOfInterest.areaInterestPrimary }}</td>
                                    <th>{{ 'label.area_interest_secondary'|trans }}</th>
                                    <td>{{ trnAreaOfInterest.areaInterestSecondary  | join(', ')  }}</td>
                                {% endfor %}
                                {% if data.isCrowdFunding == true %}
                                    <th>Is Urgent</th>
                                    <td>{{ data.isUrgent ? 'Yes' : 'No' }}</td>
                                {% else %}
                                    <th></th>
                                    <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>{{ data.isCrowdFunding ? 'How do you plan to deploy the funds' : 'label.event_purpose'|trans }}</th>
                                <td colspan="5">{{ data.eventPurpose|default('-') | raw }}</td>
                            </tr>
                            <tr>
                                <th>{{ data.isCrowdFunding ? 'The Appeal' : 'label.event_goal'|trans }}</th>
                                <td colspan="5">{{ data.highlightsOfEvent|default('-') | raw }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'label.location'|trans }}</th>
                                <td colspan="2">{{ data.address }}</td>
                                {#<th>{{ 'label.geo_code'|trans }}</th>
                                <td colspan="2">{{ data.geoCode }}</td>#}
                                <th></th>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <th>{{ 'label.status'|trans }}</th>
                                {% if data.mstStatus == 'Expired' %}
                                    <td>
                                        {{ data.mstStatus }}
                                        <div style="display: none;">{{ form_row(form.mstStatus) }}</div>
                                    </td>
                                {% else %}
                                    <td>{{ form_row(form.mstStatus) }}</td>
                                {% endif %}
                                <th><label for="trn_circle_events_edit_reasonToReject">{{ 'label.reason_to_reject'|trans }}</label></th>
                                <td>
                                    {{ form_row(form.reasonToReject) }}
                                </td>
                                {#<th>{{ 'label.is_active'|trans }}</th>
                                <td>{{ data.isActive ? 'Yes' : 'No'  }}</td>#}
                                <th></th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-header mt-2">
                        <h3 class="card-title">{{ 'Event Media'|upper }}</h3>
                    </div>
                    <div class="row">
                        <table class="table table-responsive-md text-sm">
                            <tbody>
                            {% for trnCircleEventUploadedDocuments in data.trnCircleEventUploadedDocuments %}
                                <tr>
                                    <th>{{ 'label.media_name'|trans}}</th>
                                    <td>{{ trnCircleEventUploadedDocuments.mediaName }}</td>

                                    <th>{{ 'label.media_file_type'|trans}}</th>
                                    <td>{{ trnCircleEventUploadedDocuments.mstUploadDocumentType }}</td>

                                    {% if trnCircleEventUploadedDocuments.mstUploadDocumentType == 'Image' %}

                                        <th>{{ 'label.media_alt_text'|trans}}</th>
                                        <td>{{ trnCircleEventUploadedDocuments.mediaAltText }}</td>

                                        <th>{{ 'label.media_title'|trans}}</th>
                                        <td>{{ trnCircleEventUploadedDocuments.mediaTitle }}</td>

                                        <td><img src="{{ trnCircleEventUploadedDocuments.uploadedFilePath|imagine_filter
                                                ('resize_image_100') }}" alt="--"></td>
                                    {% else %}
                                        <th>{{ 'label.media_url'|trans}}</th>
                                        <td>{{ trnCircleEventUploadedDocuments.mediaURL }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            {% if data.profileImage is defined and  data.profileImage is not empty and
                                data.profileImage != 'files/'  %}
                                <tr>
                                    <th>{{ 'label.media_name'|trans}}</th>
                                    <td>Profile Image</td>

                                    <th>{{ 'label.media_file_type'|trans}}</th>
                                    <td>image</td>
                                    <td><img src="{{ data.profileImage|imagine_filter('resize_image_200') }}" alt="--"></td>
                                </tr>
                            {% endif %}
                            {% if data.backgroundImagePath is defined and  data.backgroundImagePath is not empty and
                                data.backgroundImagePath != 'files/'  %}
                                <tr>
                                    <th>{{ 'label.media_name'|trans}}</th>
                                    <td>Background Image</td>
                                    <th>{{ 'label.media_file_type'|trans}}</th>
                                    <td>Image</td>
                                    <td><img src="{{ data.backgroundImagePath|imagine_filter('resize_image_200') }}"
                                             alt="--"></td>
                                </tr>
                            {% endif %}
                            {% if data.trnProductMedia|length > 0 %}
                                {% for trnProductMedia in data.trnProductMedia %}
                                    <tr>
                                        <th>{{ 'label.media_name'|trans}}</th>
                                        <td>Gallery Image {{ loop.index }}</td>

                                        <th>{{ 'label.media_file_type'|trans}}</th>
                                        <td>{{ trnProductMedia.mediaType }}</td>

                                        {% if trnProductMedia.mediaType == 'image' %}
                                            <td><img src="{{ trnProductMedia.uploadedFilePath|imagine_filter('resize_image_200') }}"></td>
                                        {% else %}
                                            <th>{{ 'label.media_url'|trans}}</th>
                                            <td>{{ trnProductMedia.mediaURL }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <th colspan="6">No Media Uploaded</th>
                                </tr>
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                    {% for mstEventProductType in data.mstEventProductType %}
                        {% if mstEventProductType|lower == 'volunteer (in time)' %}
                            {{ include('transaction/circle_event/volunteer_in_time_show.html.twig') }}
                        {% elseif mstEventProductType|lower == 'material (in kind)' %}
                            {{ include('transaction/circle_event/material_in_kind_show.html.twig') }}
                        {% elseif mstEventProductType|lower == 'fundraiser' %}
                            {{ include('transaction/circle_event/fund_raiser_show.html.twig') }}
                        {% endif %}
                    {% endfor %}
                    {% if data.isCrowdFunding == true %}
                        {{ include('transaction/circle_event/crowd_funding_show.html.twig') }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="{{ button_css|default("btn btn-dark btn-sm") }}">
                <i class="fa fa-save" aria-hidden="true"></i> {{ label_button|trans }}
            </button>
            <a href="{{ back_to_list }}" class="btn btn-link"><i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>
    <br>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $('#trn_circle_events_edit_mstStatus').change(function (){

                if($(this).children("option:selected").text() == 'Rejected' || $(this).children("option:selected").text() == 'Deactivated') {
                    $('label[for=trn_circle_events_edit_reasonToReject]').addClass('required');
                    $("#trn_circle_events_edit_reasonToReject").removeAttr('disabled');
                    $("#trn_circle_events_edit_reasonToReject").prop('required', true);
                } else {
                    $('label[for=trn_circle_edit_reasonToReject]').removeClass('required');
                    $("#trn_circle_events_edit_reasonToReject").val('');
                    $("#trn_circle_events_edit_reasonToReject").attr('disabled', 'disabled');
                    $("#trn_circle_events_edit_reasonToReject").prop('required', false);
                }
            });

            $('#trn_circle_events_edit_mstStatus').change(); // change reason to reject box on load

            $('[name="trn_circle_events_edit"]').on('submit', function() {

                if(($('#trn_circle_events_edit_mstStatus :selected').text() == 'Rejected'  || $('#trn_circle_events_edit_mstStatus :selected').text() == 'Deactivated') &&
                    $.trim($("#trn_circle_events_edit_reasonToReject").val()) != '') {

                    var wordLen = 10, len; // Maximum word length
                    len = $("#trn_circle_events_edit_reasonToReject").val().split(/[\s]+/);
                    if (len.length > wordLen) {
                        if (event.keyCode == 46 || event.keyCode == 8 || event.which == 46 || event.which == 8) {
                            // Allow backspace and delete buttons
                        } else {
                            //if (event.keyCode < 48 || event.keyCode > 57) {//all other buttons
                            event.preventDefault();
                        }
                    }
                    wordsLeft = (wordLen) - len.length;
                    if (wordsLeft < 0) {
                        alert('Maximum ' + wordLen + ' words accepted.\n'+len.length+' words entered');
                        $("#trn_circle_events_edit_reasonToReject").focus();
                        return false;
                    }
                }
                return true;
            });

        })

    </script>
{% endblock %}
