{% extends 'layout/content.html.twig' %}
{% block cms_content %}
    <div class="card">
        <div class="card-header">
            <div class="col-sm-12">
                <h3 class="card-title"><b>{{label_title|trans}}</b></h3>
                <h4 class="card-title float-right custom-switch">
                    <a href="{{ path(path_edit, {'id': data.id}) }}" class="btn btn-outline-primary btn-sm"><i class="fa fa-edit"></i> {{'label.edit'|trans}}</a>
                    <a href="{{ path(path_index) }}" class="btn btn-outline-primary btn-sm"><i class="fa fa-list"></i> {{'label.back_to_list' | trans}}</a>
                </h4>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="record">
            <div class="row">
                <table class="table table-responsive-md text-sm">
                    <tbody>
                    <tr>
                        <th>{{ 'label.name'|trans }}</th>
                        <td>{{ data.paymentGateway|default('') }} </td>
                        <th>{{ 'label.is_active'|trans }}</th>
                        <td>{{ data.isActive ? 'Yes': 'No' }}</td>
                    </tr>
                    <tr>
                        <th colspan="4">{{ 'Value Details'|upper }}</th>
                    </tr>
                    <tr>
                        <th>{{ 'label.environment'|trans }}</th>
                        <th>{{ 'label.is_active'|trans }}</th>
                        <th>{{ 'label.key'|trans }}</th>
                        <th>{{ 'label.value'|trans }}</th>
                    </tr>
                    {% for optionvalue in data.mstPaymentGatewayDetails %}

                        <tr>
                            <td>{{ optionvalue.paymentGatewayEnv }}</td>
                            <td>{{ optionvalue.isActive ? 'Yes': 'No' }}</td>
                            <td>{{ optionvalue.paymentKey }}</td>
                            <td>{{ optionvalue.paymentKeyValue }}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}

