{% extends 'portal/layout/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('resources/css/my-account.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/jquery-ui.css')}}">
{% endblock %}
{% block portal_content %}
    {{ include('portal/my-account/my-account-banner.html.twig') }}
    <div class="wrapper myaccount">
        <div class="container">
            {{ include('portal/my-account/activity-button.html.twig') }}
            <div class="cust-tabs">
                {{ include('portal/my-account/sidebar-navigation.html.twig') }}
                <div class="tab-content">
                    <h3>Personal Info</h3>

                    <div class="progerss-status typ2">
                        <ul>
                            <li>
                                <span>Account Status</span>
                                <span class="active">
                                    <i class="fa fa-check"></i>Active
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="profile-completed">
                        <img src="{{asset('resources/images/my-account/icon-clap.png')}}">
                        <h4>Your Profile has been Completed {{ profileCompleteness }}%</h4>
                    </div>
                    <ul class="personal-info-dtls">
                        <li class="no-bdr">
                            <div class="lbl-sec aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
                                <label>About</label>
                            </div>
                            <div class="dtls-sec aos-init aos-animate" data-aos="fade-right" data-aos-delay="400">
                                <form>
                                    <div class="row row-grid-3">
                                        <div class="col-md-12">
                                            <label>{{ appUserInfo.mstSalutation }} {{ appUserInfo
                                                .userFirstName | upper}} {{ appUserInfo.userMiddleName | upper}} {{ appUserInfo
                                                .userLastName | upper}}</label>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <label><b>Address</b></label>
                                            <p>{{ appUserInfo.address1 }}, {{ appUserInfo.address2 }}, {{ appUserInfo
                                                .mstCity }}, {{ appUserInfo.mstState }}, {{ appUserInfo.pinCode}}. {{
                                                appUserInfo.mstCountry }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row row-grid-3">
                                        <div class="col-lg-4 col-md-6">
                                            <label>Email</label>
                                            <span>{{ appUserInfo.userEmail }}</span>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <label>Mobile</label>
                                            <span>+{{ appUserInfo.mobileCountryCode }} {{ appUserInfo
                                                .userMobileNumber }}</span>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <label>Individual PAN No.</label>
                                            <span>{{ appUserInfo.pancardNumber }}</span>
                                        </div>
                                    </div>
                                    <div class="row row-grid-3">
                                        <div class="col-lg-4 col-md-6">
                                            <label>Date of Birth</label>
                                            <span>{{ appUserInfo.dateOfBirth | date('d M Y')}}</span>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <label>Gender</label>
                                            <span>{{ trnVolunterDetail.mstGender }}</span>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <label>Marital Status</label>
                                            <span>{{ trnVolunterDetail.mstMaritalStatus }}</span>
                                        </div>
                                    </div>
                                    <div class="row row-grid-3">
                                        <div class="col-lg-4 col-md-6">
                                            <label>Educational Level</label>
                                            <span>{{ trnVolunterDetail.educationLevel }}</span>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <label>Employment Status</label>
                                            <span>{{ trnVolunterDetail.mstEmploymentStatus }}</span>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <label>Distance Willing to Travel?</label>
                                            <span>{{ trnVolunterDetail.distanceWillingToTravel }}</span>
                                        </div>
                                    </div>
                                    <div class="row row-grid-3">
                                        <div class="col-md-8">
                                            <label>Do you consider yourself a person with a disability?</label>
                                            <span>{{ trnVolunterDetail.hasDisability ? 'Yes' : 'No' }}</span>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <label>Do you want to help in a disaster?</label>
                                            <span>{{ trnVolunterDetail.isWillingToHelpInDisaster ? 'Yes' : 'No' }}</span>
                                        </div>
                                    </div>
                                    <div class="row row-grid-3">
                                        <div class="col-lg-4 col-md-6">
                                            <label>How did you hear about us?</label>
                                            <span>{{ trnVolunterDetail.mstSourceOfInformation | join(', ') }}</span>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <label>Volunteer Availability</label>
                                            <span>
                                                <ul>
                                                    {% for timeslot, days in  arrAvailability %}
                                                        <li><span>{{ timeslot}} - </span>
                                                            {% if days|length == 7  %}
                                                                All Days
                                                            {% else  %}
                                                                {{ days|join(', ') }}
                                                            {% endif %}
                                                        <br/>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row row-grid-3">
                                        <div class="col-md-12">
                                            <label>Upload Documentation <em>(e.g. Training or Certification Earned)</em></label>
                                            <span>
                                                {% for volunteerDocuments in  arrVolunteerDocuments %}
                                                    <span class="certificate">
                                                        <img src="{{ asset('images/files') }}/{{ volunteerDocuments }}">
                                                        <a href="#" class="zoom" data-toggle="modal"
                                                           data-target="#certificate{{ loop.index }}"><i class="fa
                                                           fa-search-plus"></i></a>
                                                    </span>
                                                {% endfor %}
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="add-remove">
                                <a href="{{ path('edit-personal-info') }}" class="edit" id=""><i class="fa fa-pencil-alt"></i>Edit</a>
                            </div>
                        </li>
                        {%  if trnBankDetails is defined and trnBankDetails is not empty and trnBankDetails is not
                            null  %}
                            <li>
                                <div class="lbl-sec aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
                                    <label>Bank Account
                                        Details</label>
                                </div>
                                <div class="dtls-sec aos-init aos-animate" data-aos="fade-right" data-aos-delay="400">

                                    <form>
                                        <div class="row row-grid-3 row-md">
                                            <div class="col-lg-4 col-md-6">
                                                <label>Beneficiary Bank Name</label>
                                                <span>{{ trnBankDetails.bankName }}</span>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label>Beneficiary Account Holder Name</label>
                                                <span>{{ trnBankDetails.accountHolderName }}</span>
                                            </div>
                                        </div>
                                        <div class="row row-grid-3 row-md">
                                            <div class="col-lg-4 col-md-6">
                                                <label>Beneficiary Bank Account Number</label>
                                                <span>{{ trnBankDetails.accountNumber }}</span>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label>Beneficiary IFSC Code</label>
                                                <span>{{ trnBankDetails.ifscCode }}</span>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <label>Beneficiary Account Type</label>
                                                <span>{{ trnBankDetails.mstBankAccountType }}</span>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </li>
                        {% endif %}
                        <li>
                            <div class="lbl-sec aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
                                <label>Skills</label>
                            </div>
                            <div class="dtls-sec aos-init aos-animate" data-aos="fade-right" data-aos-delay="400">
                                <div class="create-element">
                                    <div class="start-project typ2">
                                        <div class="skills">
                                            <ul class="select-interest">
                                                {% for mstSkillSet in appUserInfo.mstSkillSet %}
                                                    <li>
                                                        <a href="#" class="active">
                                                            <div class="icon">
                                                                <span class="img">
                                                                    <img class="icon-img" src="{{ asset('images') }}/{{ mstSkillSet.icon }}" alt="{{ mstSkillSet.skillSet }}" title="{{ mstSkillSet.skillSet }}">
                                                                    <img class="icon-img-hover" src="{{ asset('images') }}/{{ mstSkillSet.iconWhite }}" alt="{{ mstSkillSet.skillSet }}" title="{{ mstSkillSet.skillSet }}">
                                                                </span>
                                                            </div>
                                                            <div class="text">{{ mstSkillSet.skillSet }}</div>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="add-remove">
                                                <a href="{{ path('profile-info-skills') }}" class="add-more" id="addMore"><i class="fa fa-plus-circle"></i>Add</a>
                                                <a href="{{ path('profile-info-skills') }}" class="add-more" id="remove"><i class="fa fa-trash-alt"></i>Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="lbl-sec aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
                                <label>Interest Area</label>
                            </div>
                            <div class="dtls-sec aos-init aos-animate" data-aos="fade-right" data-aos-delay="400">
                                <div class="create-element">
                                    <div class="start-project typ2">
                                        <div class="skills">
                                            <ul class="content">
                                                {% for primaryAI in arrPrimaryAI %}
                                                    <li class="area-select">
                                                        <div class="icon {{ num_to_words(primaryAI.sequenceNo) }}">
                                                        <span class="num">
                                                            {{ primaryAI.sequenceNo }}
                                                        </span>
                                                            <span class="img">
                                                                {% if primaryAI.icon is not empty and primaryAI.icon != '' and primaryAI.icon != 'files/' %}
                                                                    <img src="{{ asset('images') }}/{{ primaryAI.icon }}"
                                                                         alt="{{ primaryAI.areaInterest }}" title="{{ primaryAI.areaInterest }}">
                                                                {% endif %}
                                                            </span>
                                                        </div>
                                                        <div class="title">
                                                            <b>{{ primaryAI.areaInterest }}</b>
                                                            <ul>
                                                                {% for secAI in  arrSecondaryAI[primaryAI.id] %}
                                                                    <li>{{ secAI }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                            <div class="add-remove">
                                                <a href="{{ path('personal-info-interest-area') }}" class="add-more" id="addMore"><i class="fa
                                                fa-plus-circle"></i>Add</a>
                                                <a href="{{ path('personal-info-interest-area') }}" class="add-more" id="remove"><i class="fa fa-trash-alt"></i>Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                    <div class="btn-sec mt-3 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
                        <a href="{{ path('create-project') }}" target="_blank" class="btn btn-primary">Create Your Own Project</a>
                        <a href="{{ path('contribute-to-a-change') }}" target="_blank"  class="btn btn-primary">Contribute to a Change</a>
                        <a href="{{ path('express-donate-listing') }}"  target="_blank" class="btn btn-primary">Express Donate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for volunteerDocuments in  arrVolunteerDocuments %}
        <div class="modal fade" id="certificate{{ loop.index }}" tabindex="-1" role="dialog"
             aria-labelledby="certificate"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md modal-certificate">
                <div class="modal-content">
                    <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
                    <div class="modal-body">
                        <img src="{{ asset('images/files') }}/{{ volunteerDocuments }}">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/portal/my-account/personal-info-first-time-user-edit.js') }}"></script>
{% endblock %}