{% extends 'portal/layout/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('resources/css/my-account.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/jquery-ui.css')}}">
{% endblock %}
{% block portal_content %}
    {{ include('portal/my-account/my-account-banner.html.twig') }}
    <div class="wrapper myaccount">
        <div class="container">
            {{ include('portal/my-account/activity-button.html.twig') }}
            <div class="cust-tabs">
                {{ include('portal/my-account/sidebar-navigation.html.twig') }}
                <div class="tab-content">
                    <h3>{% if bIsOrganization is defined and bIsOrganization is not empty and bIsOrganization is not
                            null and bIsOrganization == 1  %}Organization{% else %}Personal{% endif %} Info</h3>

                    <div class="progerss-status">
                        <ul>
                            <li>
                                <h4>Your Profile Completeness</h4>
                                <span class="progress-bar-sec">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{
                                        profileCompleteness }}%" aria-valuenow="{{
                                        profileCompleteness }}"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="number">{{ profileCompleteness }}%</div>
                                </span>
                            </li>
                            <li>
                                <span>Account Status</span>
                                <span class="active">
                                    <i class="fa fa-check"></i>Active
                                </span>
                            </li>
                        </ul>
                    </div>
                    {{ render(controller(
                        'App\\Controller\\Portal\\MyAccountController::myAccountProfileSteps',
                        { 'active': 'interestArea' }
                    )) }}

                    <form class="form" id="frmAreaOnInterest" method="post">
                        <h5>Select Primary Area of Interest</h5>
                        <p>Choose the area of interest that best describes the work that you are already doing or wish to do.</p>
                        <div class="create-element">
                            <div class="start-project">
                                <div class="interest-area">
                                    <ul class="select-interest">
                                        {% for mstAreaInterest in mstAreaInterestArr %}
                                            <li id="liPrimaryAI{{ mstAreaInterest.id }}" data-aos="fade-right" data-aos-delay="200"
                                                {% if arrSecondaryAI is defined and arrSecondaryAI is not empty and
                                                    arrSecondaryAI is not null and mstAreaInterest.id in
                                                    arrSecondaryAI|keys %}
                                                    class="active"
                                                {% endif %}
                                            >
                                                <a href="#" name="areaOfInterest" areaOfInterestId = "{{ mstAreaInterest.id }}" data-toggle="modal" data-target="#selectAreaModal">
                                                    <div class="icon {{ num_to_words(loop.index) }}">
                                                        <span class="num">
                                                            {{ loop.index }}
                                                        </span>
                                                        <span class="img">
                                                            {% if mstAreaInterest.icon is not empty and mstAreaInterest.icon != '' and mstAreaInterest.icon != 'files/' %}
                                                                <img src="{{ asset('images') }}/{{ mstAreaInterest.icon }}"
                                                                     alt="{{ mstAreaInterest.areaInterest }}" title="{{ mstAreaInterest.areaInterest }}">
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                    <div class="text txt-lg">
                                                        {{ mstAreaInterest.areaInterest }}
                                                        <div id="tooltip_{{ mstAreaInterest.id }}" class="tooltip">
                                                            {% if arrSecondaryAI is defined and arrSecondaryAI is not empty and arrSecondaryAI is not null and mstAreaInterest.id in arrSecondaryAI|keys
                                                            %}
                                                                <i class="fa fa-eye"></i>
                                                                <span class="tooltiptext">
                                                                        <ul>
                                                                            {% for secAI in arrSecondaryAI[mstAreaInterest.id] %}
                                                                                <li>{{ secAI }}</li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                </span>
                                                            {% endif %}
                                                        </div>

                                                        <div class="txt-normal">
                                                            <i class="fa fa-user"></i>
                                                            {% if mstAreaInterestCountArr is defined and
                                                                mstAreaInterestCountArr is not empty and mstAreaInterest.id in
                                                                mstAreaInterestCountArr|keys %}
                                                                {{ mstAreaInterestCountArr[mstAreaInterest.id] }}
                                                            {% else  %}
                                                                0
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="btn-sec mt-3 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
                            <a href="{{ path('profile-info-skills') }}" class="back-link">Back</a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-continue">Complete Now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="selectAreaModal" tabindex="-1" aria-labelledby="selectAreaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
                    <div id="selectAreaModalBody"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{asset('resources/js/easy-responsive-tabs.js')}}"></script>
<script src="{{asset('resources/js/jquery-ui.js')}}"></script>
<script src="{{asset('resources/js/image-uploader.min.js')}}"></script>
<script>
    var getSecondaryAreaOfInterestURL = "{{ path('get-secondary-area-of-interest') }}";
    var saveAreaOfInterestToSectionURL = "{{ path('save-area-of-interest-to-session') }}";
</script>
    <script src="{{ asset('assets/js/portal/my-account/personal-info-interest-area.js') }}"></script>
{% endblock %}