{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}
    <div class="wrapper login-container login-other">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb" data-aos="fade-right" data-aos-delay="500"
                         class="breadcrumb d-flex justify-content-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><i class="fa fc-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Forgot Password?</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-7 col-sm-12 mx-auto">
                    <div class="signup-form forgot-pass-block" data-aos="fade-right" data-aos-delay="100">
                        <div class="text-center">
                            <div class="login-head" data-aos="fade-right" data-aos-delay="300"><img
                                        src="../resources/images/common/icons/icon-password-big.png">
                            </div>
                            <h2 data-aos="fade-right" data-aos="fade-right" data-aos-delay="300">Forgot Password?</h2>
                            <div class="verify-email" data-aos="fade-right" data-aos="fade-right" data-aos-delay="300">
                                <b>We will verify your
                                    email address and send you the password
                                    link via email.</b></div>
                        </div>
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }} background-{{ label }} text-center" >

                                    {{ message|trans}}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <form class="form" id="frmSubmitForgotPassword" method="post" action="">
                            <div class="row row-sm">
                                <div class="col mx-auto">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="emailId" id="emailId"
                                               placeholder="Enter your username">
                                        <label>Your username is your personal email ID.</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <a href="javascript:void(0);"
                                           class="btn btn-primary btn-next" id="submitForgotPassword">Submit</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").addClass("login-page");
            $(".toggle-password").click(function () {
                $(this).toggleClass("fa-eye-slash fa-eye");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
            $('#password').keyup(function () {
                var password = $('#password').val();
                if (checkStrength(password) == false) {
                    $('#sign-up').attr('disabled', true);
                }
            });

            $("#submitForgotPassword").click(function(){
                if($.trim($("#emailId").val()) != "") {
                    $("#frmSubmitForgotPassword").submit();
                } else {
                    alert("Please enter valid email Id");
                }
            });


        });
    </script>
{% endblock %}