{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}
    {% set cmsPageContent = get_cms_page_content_by_slugname('login') %}
    <div class="wrapper login-container">
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb" data-aos="fade-right" data-aos-delay="500"
                         class="breadcrumb d-flex justify-content-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><i class="fa fc-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Login
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 login-left">
                    <div class="content">
                        {% set content = cmsPageContent.cmsPageContent[0] %}

                        {% if(content.mediaType) == '' %}
                            {{ content.pageContent|raw }}
                        {% else %}
                            {% if(content.mediaPosition) == 'left' %}
                                {{ content.pageContent|raw }}
                                <img src="{{ asset('images/') ~ content.mediaFilePath }}" alt="{{ content.mediaAlText }}" title="{{ content.mediaTitle }}"
                                     data-aos="fade-down" data-aos-delay="100">
                            {% else %}
                                <img src="{{ asset('images/') ~ content.mediaFilePath }}" alt="{{ content.mediaAlText }}" title="{{ content.mediaTitle }}"
                                     data-aos="fade-down" data-aos-delay="100">
                                {{ content.pageContent|raw }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 login-right">
                    <div class="login-box">
                        <div class="content">
                            <h4>Login with </h4>
                            <form class="form">
                                <div class="enter-otp">
                                    <b>Enter 6 digit verification OTP code sent on</b> <strong>{{mobile_number}}</strong>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="otp" placeholder="Enter OTP Code here">
                                </div>
                                <div class="text-center login-otp">
                                    <a href="#" class="btn btn-primary btn-login">Login</a>
                                </div>
                                <div class="otp-timer otp-counter">
                                    <span id="timerBlock">You will receive OTP via <b>SMS</b> within <b
                                                id="timer">45</b> <span>min</span></span>
                                </div>
                                <div class="resend-otp">
                                    <span id="resendLink">
                                        <a href="#" class="red-link"><i class="fa fa-undo"></i> Resend OTP</a>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").addClass("login-page");
            let timerOn = true;
            function timer(remaining) {
                var m = Math.floor(remaining / 60);
                var s = remaining % 60;
                m = m < 10 ? '0' + m : m;
                s = s < 10 ? '0' + s : s;
                document.getElementById('timer').innerHTML = m + ':' + s;;
                remaining -= 1;
                if (remaining >= 0 && timerOn) {
                    setTimeout(function () {
                        timer(remaining);
                    }, 1000);
                    return;
                }
                if (!timerOn) {
                    // Do validate stuff here
                    return;
                }
                // Do timeout stuff here
                // alert('Timeout for otp');
                document.getElementById('resendLink').style.display = 'block';
                document.getElementById('timerBlock').style.display = 'none';
            }
            timer(119);
        });
    </script>
{% endblock %}