{%  for notificationData in arrLatestNotification %}
    <li
        {% if notificationData.mstNotificationStatus is defined and notificationData
            .mstNotificationStatus is not empty and notificationData
            .mstNotificationStatus is not null and notificationData
            .mstNotificationStatus == 'Unread' %}
            class="selected" style="cursor: pointer" notificationid="{{ notificationData.id }}"
            id="liNotification_{{ notificationData.id }}" name="liNotification"
        {% endif %}

    >
        <div>
            {% if notificationData.trnCircle is defined and notificationData
                .trnCircle is not empty and notificationData.trnCircle is not null %}
                <b>{{ notificationData.trnCircle | capitalize }}</b>
            {% else %}
                <b>&nbsp;</b>
            {% endif %}
            <span> {{ notificationData.notification | raw }} </span>
            <span class="date">{{ notificationData.date | date('d M Y') }}</span>
        </div>
    </li>
{% endfor %}