<table class="table participant-viewlist">
    <thead>
    <tr>
        <th><label class="sort-order"><b>Name</b></label></th>
        <th class="no-sort"><label class="sort-order">Mobile Number</label></th>
        <th><label class="sort-order">Email ID</label></th>
        <th class="col-status"><label class="sort-order"><span class="tl-resources">Resources</span>Status / Action</label></th>
    </tr>
    </thead>
    <tbody>
    {% for  appUserData in arrProjectMemberListData['arrAppUser'] %}
        <tr name ="trParticipant">
            <td>
                <ul class="member-list">
                    <li>
                        <span class="cap-letter">{{ appUserData.appUserInfo.userFirstName | slice(0,1) }}</span>
                        {{ appUserData.appUserInfo.userFirstName | capitalize }}
                        {{ appUserData.appUserInfo.userLastName | capitalize }}
                    </li>
                </ul>
            </td>
            <td>{{ appUserData.appUserInfo.mobileCountryCode }} {{ appUserData.appUserInfo.userMobileNumber }}</td>
            <td>{{ appUserData.appUserInfo.userEmail }}</td>
            <td class="merged-row">
                <ul class="tbl-li-list">
                    {% if arrProjectMemberListData is defined and
                        arrProjectMemberListData is not empty and
                        'participantData' in arrProjectMemberListData|keys and
                        appUserData.id in arrProjectMemberListData['participantData']|keys
                    %}
                        {% for memberData in arrProjectMemberListData['participantData'][appUserData.id] %}
                            <li>
                                <div class="row row-xs">
                                    <div class="col-md-6">
                                        <label>{{ memberData.mstProductType }}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            {% if memberData.mstStatus == 'Activated' %}
                                                <li class="accepted">
                                                    <i class="fa fa-check"></i> Accepted
                                                </li>
                                            {% elseif memberData.mstStatus== 'Pending Activation' %}
                                                <li class="pending">
                                                    <i class="fa fa-circle"></i> Pending
                                                </li>
                                            {% elseif memberData.mstStatus== 'Rejected' %}
                                                <li class="pending">
                                                    <i class="fa fa-circle"></i> Rejected
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    {% for  anamounsFundDonation in arrProjectMemberListData['anamounsFundDonation'] %}
        <tr name ="trParticipant">
            <td>
                <ul class="member-list">
                    <li>
                        <span class="cap-letter">{{ anamounsFundDonation.firstName | slice(0,1) }}</span>
                        {{ anamounsFundDonation.firstName }}
                        {{ anamounsFundDonation.lastName }}
                    </li>
                </ul>
            </td>
            <td>{{ anamounsFundDonation.mobileNo }}</td>
            <td>{{ anamounsFundDonation.email }}</td>
            <td class="merged-row">
                <ul class="tbl-li-list">
                    <li>
                        <div class="row row-xs">
                            <div class="col-md-6">
                                <label>Fundraiser</label>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li class="accepted">
                                        <i class="fa fa-check"></i> Accepted
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<input type="hidden" id="acceptedVolunteer" value="{{ arrProjectMemberListData['accepted']['Volunteer (in Time)'] }}" />
<input type="hidden" id="acceptedMaterial"  value="{{ arrProjectMemberListData['accepted']['Material (in Kind)'] }}" />
<input type="hidden" id="acceptedFundraiser" value="{{ arrProjectMemberListData['accepted']['Fundraiser'] + arrProjectMemberListData['accepted']['Crowdfunding'] }}" />
<input type="hidden" id="pendingVolunteer" value="{{ arrProjectMemberListData['pending']['Volunteer (in Time)'] }}" />
<input type="hidden" id="pendingMaterial" value="{{ arrProjectMemberListData['pending']['Material (in Kind)'] }}" />
<input type="hidden" id="pendingFundraiser" value="{{ arrProjectMemberListData['pending']['Fundraiser'] + arrProjectMemberListData['pending']['Crowdfunding'] }}" />