<div class="participant-dtls"  style="display:none">
    <div class="filter-panel">
        <form>
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <h5 class="py-3">Total Participants ({{ participantData | length }})</h5>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="search-panel">
                        <div class="input-group">
                            <input type="text" class="search-input" placeholder="Search by Name, Mobile, Email">
                            <button href="#" class="btn search-input-btn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive cust-tbl tbl-borderless tbl-memberlist">
        <form method="post" id="frmParticipantReminder">
            <table class="table table-hover example">
            <thead>
            <tr>
                <th><label class="name-checkbox" for="checkall">
                        <input type="checkbox" name="checkBoxName"  id="checkall"><span class="checkmark"></span></label> <label class="sort-order"><b>Name</b></label></th>
                <th class="no-sort"><label class="sort-order">Mobile Number</label></th>
                <th><label class="sort-order">Email ID</label></th>
            </tr>
            </thead>
            <tbody>
            {% for appUser in participantData %}
                <tr>
                    <td>
                        <ul class="member-list">
                            <li>
                                <span class="cap-letter">{{ appUser.appUserInfo.userFirstName | slice (0,1) }}</span>
                                <label class="name-checkbox" for="participant_{{ appUser.id }}">
                                    <input type="checkbox" class="checkBoxNameParticipant" name="checkBoxNameToSubmit[]"
                                           value="{{ appUser.id }}" id="participant_{{ appUser.id }}">
                                    <span class="checkmark"></span>
                                </label>
                                {{ appUser.appUserInfo.userFirstName }} {{ appUser.appUserInfo.userLastName }}
                            </li>
                        </ul>
                    </td>
                    <td>
                        {{ appUser.appUserInfo.mobileCountryCode }} {{  appUser.appUserInfo.userMobileNumber }}
                    </td>
                    <td>{{ appUser.appUserInfo.userEmail }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
    <div class="btn-sec btm-btns mt-3 mb-5">
        <label class="participant-count">Selected <b class="count-no" id="countParticipant">0</b>
            Participants</label>
        <a href="javascript:void(0);" class="btn btn-primary {% if participantData|length == 0 %} disabled {% endif %}"
           id="sendReminderToParticipant">Send Reminder</a>
    </div>
</div>
