{% extends 'portal/layout/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('resources/css/my-account.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{asset('resources/css/datatables.min.css')}}">
{% endblock %}
{% block portal_content %}
    {{ include('portal/my-account/my-account-banner.html.twig') }}
    <div class="wrapper myaccount">
        <div class="container">
            {{ include('portal/my-account/activity-button.html.twig') }}
            <div class="cust-tabs events activated">
                {{ include('portal/my-account/sidebar-navigation.html.twig') }}
                <div class="tab-content">
                    <div class="changeMakers projects">
                        <div class="head-sec">
                            <h3>Participant View List</h3>
                            <a href="{{ path('event-info') }}" class="btn btn-primary-o"><i class="fa fa-arrow-left"></i> Back</a>
                        </div>
                        {{ include('portal/my-account/event/event-inline-details.html.twig') }}
                        <div class="filter-panel typ2">
                            <form>
                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="row row-sm justify-content-sm-start align-items-center">

                                            <div class="col-md-8">
                                                <div class="row row-xs justify-content-sm-start align-items-center">
                                                    <div class="col-md-5">
                                                        <h5 class="my-4" id="ttlMembers">Total Members
                                                            {% if arrProjectMemberListData is defined and
                                                                arrProjectMemberListData is not empty and
                                                                arrProjectMemberListData is not null and
                                                                'totalMemberCount' in arrProjectMemberListData|keys  %}
                                                                ({{ arrProjectMemberListData['totalMemberCount'] }})
                                                            {% else %}
                                                                (0)
                                                            {% endif %}
                                                        </h5>
                                                    </div>
                                                    <div class="col-sm-2 text-right">
                                                        <strong>Filter By :</strong>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="form-group">
                                                            <label for="Resources" class="selectDDLabel">Resources</label>
                                                            <div class="cust-select resources">
                                                                <select class="form-control" required="" id="Resources">
                                                                    <option></option>
                                                                    {% for mstEventProductTypeObj in arrMstEventProductTypeObj  %}
                                                                        <option value="{{ mstEventProductTypeObj.id }}">{{ mstEventProductTypeObj
                                                                            }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="form-group">
                                                            <label for="Status" class="selectDDLabel">Status</label>
                                                            <div class="cust-select">
                                                                <select class="form-control" required="" id="Status">
                                                                    <option></option>
                                                                    {% for mstMstStatus in arrMstStatus  %}
                                                                        <option value="{{ mstMstStatus.id }}">{{ mstMstStatus }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="search-panel">
                                                    <div class="input-group">
                                                        <input type="text" class="search-input" id="quicksearch" placeholder="Search by Name, Mobile, Email">
                                                        <a href="javascript:void(0);" class="btn search-input-btn"><i class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="row row-sm">
                                            <div class="col-md-6">
                                                <div class="paricipant-status">
                                                    <span class="accepted">Accepted :</span>
                                                    <ul>
                                                        <li>
                                                            <i class="icn-volunteer"></i>
                                                            <span id="spnVolunteerAccepted">
                                                                Volunteer ({{ arrProjectMemberListData['accepted']['Volunteer (in Time)'] }})
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <i class="icn-material"></i>
                                                            <span id="spnMaterialAccepted">
                                                                Material ({{ arrProjectMemberListData['accepted']['Material (in Kind)'] }})
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-rupee"></i>
                                                            <span id="spnFundAccepted">
                                                                Funds ({{ arrProjectMemberListData['accepted']['Fundraiser'] +
                                                                arrProjectMemberListData['accepted']['Crowdfunding']
                                                                }})
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="paricipant-status">
                                                    <span class="pending">Pending :</span>
                                                    <ul>
                                                        <li>
                                                            <i class="icn-volunteer"></i>
                                                            <span id="spnVolunteerPending">
                                                                Volunteer ({{ arrProjectMemberListData['pending']['Volunteer (in Time)'] }})
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <i class="icn-material"></i>
                                                            <span id="spnMaterialPending">
                                                                Material ({{ arrProjectMemberListData['pending']['Material (in Kind)'] }})
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-rupee"></i>
                                                            <span id="spnFundPending">
                                                                  ({{
                                                                arrProjectMemberListData['pending']['Fundraiser'] +
                                                                arrProjectMemberListData['pending']['Crowdfunding']
                                                                }})
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive cust-tbl tbl-borderless" id="div-participant-viewlist">
                            <table class="table participant-viewlist">
                                <thead>
                                <tr>
                                    <th><label class="sort-order"><b>Name</b></label></th>
                                    <th class="no-sort"><label class="sort-order">Mobile Number</label></th>
                                    <th><label class="sort-order">Email ID</label></th>
                                    <th class="col-status"><label class="sort-order"><span class="tl-resources">Resources</span>Status / Action</label></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for  appUserData in arrProjectMemberListData['arrAppUser'] %}
                                    <tr  name ="trParticipant">
                                        <td>
                                            <ul class="member-list">
                                                <li>
                                                    <span class="cap-letter">{{ appUserData.appUserInfo.userFirstName | slice(0,1) }}</span>
                                                    {{ appUserData.appUserInfo.userFirstName | capitalize }}
                                                    {{ appUserData.appUserInfo.userLastName | capitalize }}
                                                </li>
                                            </ul>
                                        </td>
                                        <td>{{ appUserData.appUserInfo.mobileCountryCode }} {{ appUserData.appUserInfo.userMobileNumber }}</td>
                                        <td>{{ appUserData.appUserInfo.userEmail }}</td>
                                        <td class="merged-row">
                                            <ul class="tbl-li-list">
                                                {% if arrProjectMemberListData is defined and
                                                    arrProjectMemberListData is not empty and
                                                    'participantData' in arrProjectMemberListData|keys and
                                                    appUserData.id in arrProjectMemberListData['participantData']|keys
                                                %}
                                                    {% for memberData in arrProjectMemberListData['participantData'][appUserData.id] %}
                                                        <li>
                                                            <div class="row row-xs">
                                                                <div class="col-md-6">
                                                                    <label>{{ memberData.mstProductType }}</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <ul>
                                                                        {% if memberData.mstStatus == 'Activated' %}
                                                                            <li class="accepted">
                                                                                <i class="fa fa-check"></i> Accepted
                                                                            </li>
                                                                        {% elseif memberData.mstStatus== 'Pending Activation' %}
                                                                            <li class="pending">
                                                                                <i class="fa fa-circle"></i> Pending
                                                                            </li>
                                                                        {% elseif memberData.mstStatus== 'Rejected' %}
                                                                            <li class="pending">
                                                                                <i class="fa fa-circle"></i> Rejected
                                                                            </li>
                                                                        {% endif %}

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}

                                {% for  anamounsFundDonation in arrProjectMemberListData['anamounsFundDonation'] %}
                                    <tr  name ="trParticipant">
                                        <td>
                                            <ul class="member-list">
                                                <li>
                                                    <span class="cap-letter">{{ anamounsFundDonation.firstName |
                                                        slice(0,1) }}</span>
                                                    {{ anamounsFundDonation.firstName }}
                                                    {{ anamounsFundDonation.lastName }}

                                                </li>
                                            </ul>
                                        </td>
                                        <td>{{ anamounsFundDonation.mobileNo }}</td>
                                        <td>{{ anamounsFundDonation.email }}</td>
                                        <td class="merged-row">
                                            <ul class="tbl-li-list">
                                                <li>
                                                    <div class="row row-xs">
                                                        <div class="col-md-6">
                                                            <label>Fundraiser</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <ul>
                                                                <li class="accepted">
                                                                    <i class="fa fa-check"></i> Accepted
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>


                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/easy-responsive-tabs.js') }}"></script>
    <script src="{{ asset('resources/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('resources/js/image-uploader.min.js') }}"></script>
    <script src="{{ asset('resources/js/datatables.min.js') }}"></script>
    <script>
        var ajaxGetViewEventParticipant = "{{ path('my-account-ajax-view-event-participant-list', {'id' : eventData.id}) }}"
    </script>
    <script src="{{ asset('assets/js/portal/my-account/view-event-participant-list.js?z=1') }}"></script>
{% endblock %}