<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Giving Circle</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body.Certi80g {
            background: #FCFCFC;
            padding: 0;
            margin: 0;
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #303030;
        }

        b {
            font-weight: 600;
        }

        strong {
            font-weight: 700;
        }

        a {
            transition: ease all 0.5s;
            color: #333E69;
            text-decoration: none;
        }

        .Certi80g .container {
            max-width: 1100px !important;
            width: 100%;
            height: 100vh;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            position: relative;
        }

        .Certi80g .white-box {
            padding: 13px;
            background: #fff;
            display: block;
            width: 100%;
            -webkit-box-shadow: 0 0px 11px 4px rgb(193 193 193 / 39%);
            -moz-box-shadow: 0 0px 11px 4px rgb(193 193 193 / 39%);
            box-shadow: 0 0px 11px 4px rgb(193 193 193 / 39%);
            border-radius: 25px;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 0;
            overflow: hidden;
        }

        .Certi80g .white-box::after {
            content: '';
            width: 100%;
            height: 200px;
            background: #F5F8F6;
            border-bottom-left-radius: 180%;
            border-bottom-right-radius: 180%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
        }

        .inner-box {
            margin: 12px;
            border-radius: 25px;
            border: dashed 1px #F05235;
            position: relative;
            padding: 10px;
        }

        .inner-box::after {
            content: '';
            width: calc(100% + 26px);
            height: calc(100% + 26px);
            border: solid 1px #333E69;
            position: absolute;
            left: -13px;
            top: -13px;
            border-radius: 25px;
            z-index: -1;
        }

        .inner-box .header {
            text-align: center;
            position: relative;
            max-width: 550px;
            margin: 0px auto 70px auto;
        }

        .inner-box .logo {
            position: absolute;
            width: 88px;
            height: 95px;
            left: 40px;
            top: 20px;
        }

        .inner-box .logo img {
            width: 100%;
            height: 100%;
        }

        .inner-box h1 {
            font-size: 36px;
            font-weight: 400;
            color: #333E69;
            margin: 8px 0;
            text-transform: uppercase;
        }

        .inner-box address {
            font-size: 12px;
            font-weight: 500;
            margin: 0 0 2px 0;
        }

        .inner-box .contact-links {
            display: block;
            margin-bottom: 10px;
        }

        .inner-box .contact-links a {
            font-size: 12px;
            color: #303030;
            text-decoration: none;
            padding-left: 20px;
            position: relative;
        }

        .inner-box .contact-links a i {
            font-size: 16px;
            position: absolute;
            left: 0;
            top: 1px;
            width: 16px;
            text-align: center;
        }

        .inner-box .contact-links a:hover {
            color: #F05235;
            text-decoration: underline;
        }

        .inner-box .contact-links a+a {
            margin-left: 10px;
        }

        .inner-box .head {
            position: absolute;
            bottom: -128px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            width: 286px;
            height: 50px;
            text-align: center;
            vertical-align: middle;
            background: #F05235;
            border: solid 5px #fff;
            margin: 0 auto;
            transform: translate(-50%, -50%);
            border-radius: 30px;
            font-size: 14px;
            font-weight: 600;
        }

        .receipt-info {
            display: inline-block;
            padding: 0 35px;
            margin-bottom: 20px;
        }

        .receipt-info span {
            display: block;
            padding: 5px 0;
        }

        .receipt-info span>strong {
            display: inline-block;
            width: 140px;
        }

        .donor-info {
            padding: 22px 35px 10px 35px;
            background: #F5F8F6;
            padding-left: 0px;
            position: relative;
            margin-bottom: 20px;
        }

        .donor-info h3 {
            font-size: 18px;
            font-weight: 700;
            color: #F05235;
            display: inline-block;
        }

        .donor-info h4 {
            font-size: 16px;
            font-weight: 700;
            display: inline-block;
            position: absolute;
            width: 240px;
            left: 35px;
        }

        .amount-details {
            padding: 0 35px
        }

        .amount-details table thead tr {
            border-top: solid 1px #707070;
            border-bottom: solid 1px #707070;
        }

        .amount-details table tr.total {
            border-top: solid 1px rgb(112 112 112 / 30%);
            border-bottom: solid 1px rgb(112 112 112 / 30%);
            background: #F5F8F6;
        }

        .amount-details table tr th {
            color: #303030;
            padding: 14px 9px 14px 9px;
        }

        .amount-details table tr td {
            padding: 19px 9px 19px 9px;
        }

        .amount-details table tr.total td {
            text-align: right;
        }

        .amount-details table tr td:last-child,
        .amount-details table tr th:last-child {
            padding-right: 25px;
            text-align: right;
            width: 120px;
        }

        @media screen and (max-width: 1366px) {
            .Certi80g .container {
                height: 140vh;
            }
        }

        @media screen and (max-width: 1024px) {
            .Certi80g .container {
                height: 120vh;
            }
        }

        @media screen and (max-width: 991px) {
            .inner-box .head {
                bottom: -98px;
            }
        }

        @media screen and (max-width: 770px) {
            .inner-box .header {
                max-width: 450px;
            }
        }

        @media screen and (max-width: 768px) {
            .inner-box .logo {
                position: relative;
                margin: 0 auto 30px auto;
                left: 0;
            }
            .Certi80g .container {
                height: 100%;
            }
            .Certi80g .white-box {
                top: 15px;
                left: 0;
                position: relative;
                transform: none;
            }
            .Certi80g .white-box::after {
                height: 295px;
                border-bottom-left-radius: 200px;
                border-bottom-right-radius: 200px;
            }
            .donor-info h4 {
                position: relative;
                left: 0;
            }
            .donor-info {
                padding-left: 0px;
            }
        }

        @media screen and (max-width: 599px) {
            .Certi80g .white-box::after {
                display: none;
            }
            .inner-box .header {
                margin: 0px auto 80px auto;
            }
            .receipt-info {
                margin-bottom: 10px;
                padding: 0 15px;
            }
            .donor-info h3 {
                font-size: 15px;
            }
            a {
                word-break: break-word;
            }
            .inner-box address {
                padding: 0 10px
            }
            .inner-box .contact-links a+a {
                margin-left: 12px;
            }
            .donor-info {
                padding: 22px 0px 10px 0px
            }
        }

        @media print {
            body {
                background: transparent;
            }
            .inner-box .header {
                width: 400px;
                position: relative;
                background: #F5F8F6;
            }
            .Certi80g .white-box::after {
                content: '';
                width: 100%;
                height: 200px;
                background: #F5F8F6;
                border-bottom-left-radius: 180%;
                border-bottom-right-radius: 180%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -2;
            }
            .inner-box .head {
                top: 160px;
                background: rgba(240, 82, 53, 1);
            }
        }
    </style>
</head>

<body class="Certi80g">
<div class="container">
    <div class="white-box">
        <div class="inner-box">
            <div class="logo"><img src="{{absolute_url(asset('resources/images/common/gc-logo.png'))}}" alt=""></div>
            <div class="header">
                <h1>Giving Circle</h1>
                <address> {{ objOrgCompanyOffice.officeAddressOne }}, {{ objOrgCompanyOffice.officeAddressTwo }},
                     {{ objOrgCompanyOffice.mstCity }}, {{ objOrgCompanyOffice.mstState }}, {{ objOrgCompanyOffice.mstCountry }}
                    - {{ objOrgCompanyOffice.officePincode }}.</address>
                <div class="contact-links">
                    <a href="tel:91{{ objOrgCompanyOffice.officeTelNumber }}"><i class="fa fa-phone"></i> +91 {{
                    objOrgCompanyOffice.officeTelNumber
                     | phone_filter   }} </a>
                    <a href="mailto:contact@givingcircle.in "><i class="fa fa-envelope-o"></i> {{ objOrgCompanyOffice.officeEmail }} </a>
                    <a href="http://www.givingcircle.in"><i class="fa fa-mouse-pointer"></i> {{ objOrgCompanyOffice.orgCompany
                        .companyWebsite }}</a>
                </div>
                <div style="top:120px; left: 20%; line-height: 30px;" class="head">Payment Acknowledgement </div>
            </div>
            <div class="receipt-info">
                <span><strong>Receipt Number</strong> : {{ trnOrder.userInvoiceNo }}</span>
                <span><strong>Payment Mode</strong> :
                    {% if trnOrder.paymentMode == 'Online' or  trnOrder.paymentMode == '' %}
                        Online
                    {% else %}
                        offline
                    {% endif %}
                </span>
            </div>
            <div class="donor-info">
                <div class="receipt-info">
                    <span><strong>Donor Name</strong> : <h3><i>{{ trnOrder.userFirstName}} {{ trnOrder
                                .userLastName}}</i></h3></span>
                    <span><strong>Donation Date</strong> :  {{ trnOrder.orderDateTime | date('d M Y')  }}</span>
                    <span><strong>Donation To </strong> :   {{ trnOrder.trnCircleEvent|default('Giving Circle')  }}</span>
                    <span><strong>Fundraiser Owner </strong> :   {{ trnOrder.trnCircleEvent.trnCircle|default('Giving Circle')  }}</span>

                    {% if trnOrder.trnCircleEvent is not empty %}
                    <span><strong></strong> &nbsp; <a target="_blank" href="{{ url('project-details', {'id': trnOrder
                            .trnCircleEvent
                            .trnCircle.id}) }}">https://www.givingcircle.in/project/{{ trnOrder.trnCircleEvent
                            .trnCircle | replace({' ': ''})  }}</a></span>
                    {% endif %}
                </div>
            </div>
            <div class="receipt-info">
                <span><strong>Donation Amount</strong> : <i class="fa fa-rupee"></i> <strong style="width: auto;">{{
                        trnOrder.totalAmount| number_format(2, '.', ',') }}</strong> ({{ trnOrder.transactionCurrency
                    .currency}}s {{ trnOrder.totalAmount |
                    craue_spellout | ucwords}} Only)</span>
                <span><strong>Transaction ID</strong> :  {{ trnOrder.transactionId }}</span>
                <span><strong>Order Date</strong> :  {{ trnOrder.orderDateTime | date('d M Y')  }}</span>
            </div>
            <div class="receipt-info">
                <hr>
                {% if trnOrder.trnCircleEvent is not empty %}
                    {% if trnOrder.trnCircleEvent.trnCircle.appUser.appUserInfo.mstUserMemberType ==
                        'Organization'	 %}
                    {% else %}
                        <p><span style="font-weight:500;display: inline-block;">Note</span> : This order is not eligible to receive tax exemption under 80G.</p>
                    {% endif %}
                {% endif %}
                <p style="padding-right: 40px;"><i>This document is only an acknowledgement of your payment. If you have donated to an organization, which is offering tax-exemption, you will receive the same from the non-profit within a month of your transaction. Please consider this as your transaction receipt for future reference.</i></p>
                <p>For any further queries about your contribution, please write to
                    <a href="mailto:{{ objOrgCompanyOffice.officeEmail }}">{{ objOrgCompanyOffice.officeEmail }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>