<ul class="supportAdded main-form-group">
    {% for key, crowdFundRaiserSubEvent in crowdFundRaiserSubEvents %}
    <li id="added-{{ key }}">
        <ul>
            <li>{{ crowdFundRaiserSubEvent.memberName }} <input type="hidden" id="memberId" name="memberId[]" value="{{ crowdFundRaiserSubEvent.memberId }}"></li>
            <li>+91 {{ crowdFundRaiserSubEvent.memberMobileNumber }}</li>
            <li>{{ crowdFundRaiserSubEvent.memberEmailId }}</li>
            <li><i class="fa fa-rupee"></i> {{ crowdFundRaiserSubEvent.distributeAmount }}</li>
            <li>
                <a href="javascript:void(0);" crowdfundkey = "{{ key }}" class="deleteSkill"><i class="fa
                fa-trash-o"></i></a>
            </li>
        </ul>
    </li>
    {% endfor %}
</ul>