<section class="campaignRaiser">
    <h3><i class="fc-user"></i> Campaign Organizer Details</h3>
    <div class="card">
        <div class="card-image">
            <figure>
                <img src="{{ objAppUserInfo.userAvatarImagePath|imagine_filter('resize_avatar_30') }}" alt="{{ objAppUserInfo.userFirstName }} {{ objAppUserInfo.userLastName }}" title="{{ objAppUserInfo.userFirstName }} {{ objAppUserInfo.userLastName }}">
            </figure>
        </div>
        <div class="card-body">
            <h4>{{ objAppUserInfo.userFirstName }} {{ objAppUserInfo.userLastName }}</h4>
            <h5><i class="fas fa-map-marker-alt"></i> {{ objAppUserInfo.mstCity }}, {{ objAppUserInfo.mstState }}, {{ objAppUserInfo.mstCountry }}</h5>
            <a href="mailto:{{ objAppUserInfo.userEmail }}?subject={{ trnCircleEvents.name|raw }}&cc={{ get_gc_email() }}" class="connect-link"><i></i> Connect</a>
        </div>
    </div>
</section>