
{% set addBankDetails = false %}
{% set bankDetailId = '' %}
{% set partlyfilledBankDetails = false %}
{% if app.user.appUserinfo.mstUserMemberType.userMemberType == 'Individual' and
    app.user.trnBankDetails|length < 1 %}
    {% set addBankDetails = true %}
{% elseif app.user.trnBankDetails[0].bankName == '' or
    app.user.trnBankDetails[0].accountHolderName == '' or
    app.user.trnBankDetails[0].accountNumber == '' or
    app.user.trnBankDetails[0].ifscCode == '' or
    app.user.trnBankDetails[0].mstBankAccountType == ''
%}
    {% set partlyfilledBankDetails = true %}
{% endif %}
{% if addBankDetails == false %}
    {% set bankDetailId = app.user.trnBankDetails[0].id %}
{% endif %}

<input type="hidden" id="bankdetailsId" name="bankdetailsId" value="{{ bankDetailId }}" >

<div class="col-sm-6">
    <div class="form-group">
        <span class="label-text">Beneficiary Bank Name</span>

        {% if addBankDetails == true %}
            <input type="text" class="form-control" id="bankName" name="bankName" required="required" value="">
        {% elseif partlyfilledBankDetails == true  %}
            <input type="text" class="form-control" id="bankName" name="bankName" required="required" value="{{ app.user.trnBankDetails[0].bankName }}">
        {% else %}
            {% if app.user.trnBankDetails is defined
                and app.user.trnBankDetails is not null
                and app.user.trnBankDetails[0] is defined and app.user.trnBankDetails[0] is not null %}
                {{ app.user.trnBankDetails[0].bankName }}
            {% endif %}
        {% endif %}

    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <span class="label-text">Beneficiary Account Holder Name</span>

        {% if addBankDetails == true %}
            <input type="text" class="form-control" id="accountHolderName" name="accountHolderName" required="required" value="">
        {% elseif partlyfilledBankDetails == true  %}
            <input type="text" class="form-control" id="accountHolderName" name="accountHolderName" required="required" value="{{ app.user.trnBankDetails[0].accountHolderName }}">
        {% else %}
            {% if app.user.trnBankDetails is defined
                and app.user.trnBankDetails is not null
                and app.user.trnBankDetails[0] is defined
                and app.user.trnBankDetails[0] is not null %}

                {{ app.user.trnBankDetails[0].accountHolderName }}
            {% endif %}
        {% endif %}

    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <span class="label-text">Beneficiary Bank Account Number</span>

        {% if addBankDetails == true %}
            <input type="text" class="form-control" id="accountNumber" name="accountNumber" required="required" value="">
        {% elseif partlyfilledBankDetails == true  %}
            <input type="text" class="form-control" id="accountNumber" name="accountNumber" required="required" value="{{ app.user.trnBankDetails[0].accountNumber }}">
        {% else %}
            {% if app.user.trnBankDetails is defined
                and app.user.trnBankDetails is not null
                and app.user.trnBankDetails[0] is defined
                and app.user.trnBankDetails[0] is not null %}

                {{ app.user.trnBankDetails[0].accountNumber }}
            {% endif %}
        {% endif %}

    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <span class="label-text">Beneficiary IFSC Code</span>

        {% if addBankDetails == true %}
            <input type="text" class="form-control" id="ifscCode" name="ifscCode" required="required" value="">
        {% elseif partlyfilledBankDetails == true  %}
            <input type="text" class="form-control" id="ifscCode" name="ifscCode" required="required" value="{{ app.user.trnBankDetails[0].ifscCode }}">
        {% else %}
            {% if app.user.trnBankDetails is defined
                and app.user.trnBankDetails is not null
                and app.user.trnBankDetails[0] is defined
                and app.user.trnBankDetails[0] is not null %}

                {{ app.user.trnBankDetails[0].ifscCode }}
            {% endif %}
        {% endif %}

    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <span class="label-text">Beneficiary Account Type</span>

        {% if addBankDetails == true %}
            <div class="cust-select">
                <select class="form-control" id="bankAccountType" name="bankAccountType" required="required">
                    {% for accType in arrMstBankAccountType %}
                        <option id="{{ accType.id }}" value="{{ accType.id }}" > {{ accType.bankAccountType }}</option>
                    {% endfor %}
                </select>
            </div>
        {% elseif partlyfilledBankDetails == true  %}
            <div class="cust-select">
                <select class="form-control" id="bankAccountType" name="bankAccountType" required="required">
                    {% for accType in arrMstBankAccountType %}
                        <option id="{{ accType.id }}" value="{{ accType.id }}"
                                {% if app.user.trnBankDetails is defined
                                    and app.user.trnBankDetails is not null
                                    and app.user.trnBankDetails[0] is defined
                                    and app.user.trnBankDetails[0] is not null
                                    and app.user.trnBankDetails[0].mstBankAccountType.id == accType.bankAccountType %}
                        selected
                                {% endif %} >{{ accType.bankAccountType }}</option>
                    {% endfor %}
                </select>
            </div>
        {% else %}
            {% if app.user.trnBankDetails is defined
                and app.user.trnBankDetails is not null
                and app.user.trnBankDetails[0] is defined
                and app.user.trnBankDetails[0] is not null
                and app.user.trnBankDetails[0].mstBankAccountType.id is not null  %}

                {{ app.user.trnBankDetails[0].mstBankAccountType|default('-') }}
            {% endif %}
        {% endif %}

    </div>
</div>