{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}
    {% set pageContentCMS = get_cms_page_content_by_slugname('create-an-event') %}
    {#    {{ render(controller('App\\Controller\\Portal\\EventController::bannerSection')) }}#}
    {{ include('portal/event/event-banner.html.twig') }}
    {#{{ render(controller('App\\Controller\\Portal\\EventController::bannerSection')) }}#}
    <div class="wrapper crowdFunding">
        <div class="container">
            <div class="row">
                <div class="start-project col-lg order-lg-2" id="start-project">
                    <div class="head-sec">
                        <h2>Start Your Event Now</h2>
                        <div class="tips-button">
                            <a href="#"><i class="tips-icon"></i> Tips for Project Creation</a>
                        </div>
                    </div>
                    {{ render(controller(
                        'App\\Controller\\Portal\\EventController::createEventSteps',
                        { 'currentIndex': 1000 }
                    )) }}
                    <div class="project-review">
                        <h3>Review Your Event</h3>
                        <span class="review-text">
                            Review your event and check that you have filled the details correctly. If not please click
                            on ' <b>Edit</b> ' button.
                        </span>

                        <div class="review-table">
                            <label class="table-head">Event Details</label>
                            <a href="{{ path('edit-crowdfunding-event') }}" class="btn btn-edit"><i class="fas fa-pencil-alt"></i>
                                Edit</a>
                            <ul>
                                <li>
                                    <div class="heading">
                                        Is this Event for
                                        Crowdfunding?
                                    </div>
                                    <div class="content">
                                        {{ trnCircleEvents.isCrowdFunding ? 'Yes' : 'No' }}
                                    </div>
                                </li>
                                <li>
                                    <div class="heading">Project Name</div>
                                    <div class="content">{{ trnCircleEvents.trnCircle | upper }}</div>
                                </li>
                                {% for primaryAI in arrPrimaryAI %}
                                    <li>
                                        <div class="heading">Primary Area of Interest</div>
                                        <div class="content">
                                            <div class="area-select">
                                                <div class="icon {{ num_to_words(primaryAI.sequenceNo) }}">
                                                <span class="num">
                                                    {{ primaryAI.sequenceNo }}
                                                </span>
                                                    <span class="img">
                                                    {% if primaryAI.icon is not empty and primaryAI.icon != '' and primaryAI.icon != 'files/' %}
                                                        <img src="{{ asset('images') }}/{{ primaryAI.icon }}"
                                                             alt="{{ primaryAI.areaInterest }}" title="{{ primaryAI.areaInterest }}">
                                                    {% endif %}
                                                </span>
                                                </div>
                                                <div class="title">
                                                    <b>{{ primaryAI.areaInterest }}</b>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="heading">Secondary Area of Interest</div>
                                        <div class="content">
                                            <div class="area-select">
                                                <div class="title">
                                                    <ul>
                                                        {% for secAI in  arrPrimaryAISecAI[primaryAI.id] %}
                                                            <li>{{ secAI }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                                <li>
                                    <div class="heading">Name of the Campaign</div>
                                    <div class="content">
                                        {{ trnCircleEvents.name | upper }}
                                    </div>
                                </li>

                                <li>
                                    <div class="heading">Total Fund Requirement </div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                Target Amount
                                                <span class="label-text">
                                                    {% if trnCrowdFundEvents.mstTargetAmountCurrency == 'Indian Rupee' %}
                                                        <i class="fa fa-rupee"></i>
                                                    {% elseif trnCrowdFundEvents.mstTargetAmountCurrency ==
                                                        'United States Dollar' %}
                                                        <i class="fa fa-dollar"></i>
                                                    {% endif %}
                                                    {{ trnCrowdFundEvents.targetAmount |number_format(2, '.', ',') }}
                                                </span>
                                            </div>
                                            <div class="col-sm-6">
                                                Currency
                                                <span class="label-text">{{ trnCrowdFundEvents.mstTargetAmountCurrency }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="heading">How do you plan to deploy the funds</div>
                                    <div class="content">{{ trnCircleEvents.eventPurpose }}</div>
                                </li>
                                <li>
                                    <div class="heading">The Appeal</div>
                                    <div class="content">{{ trnCircleEvents.highlightsOfEvent }}</div>
                                </li>
                                <li>
                                    <div class="heading">Campaign Date</div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                Campaign Start Date
                                                <span class="label-text">{{ trnCircleEvents.fromDate | date('d M Y') }}</span>
                                            </div>
                                            <div class="col-sm-6">
                                                Campaign End Date
                                                <span class="label-text">{{ trnCircleEvents.toDate | date('d M Y') }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="heading">Minimum Contribution</div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                Minimum Amount
                                                <span class="label-text">
                                                    {% if trnCrowdFundEvents.mstMinimumContributionCurrency == 'Indian Rupee' %}
                                                        <i class="fa fa-rupee"></i>
                                                    {% elseif trnCrowdFundEvents.mstMinimumContributionCurrency ==
                                                        'United States Dollar' %}
                                                        <i class="fa fa-dollar"></i>
                                                    {% endif %} {{ trnCrowdFundEvents.minimumContribution |number_format(2, '.', ',') }}
                                                </span>
                                            </div>
                                            <div class="col-sm-6">
                                                Currency
                                                <span class="label-text">{{ trnCrowdFundEvents.mstMinimumContributionCurrency }}
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {%  if bHasOtherImages == true or bHasProfileImage == true %}
                                    <li>
                                        <div class="heading">Upload Images</div>
                                        <div class="content gallery-review">
                                            <div class="row">
                                                {% if trnCircleEvents.profileImage is defined and trnCircleEvents
                                                    .profileImage is not empty and trnCircleEvents.profileImage !=
                                                    'files/' %}
                                                    <div class="col">
                                                        <span class="label-text">Main Image</span>
                                                        <ul class="row row-md">
                                                            <li class="col-sm-4">
                                                                <figure>
                                                                    <img src="{{ asset('images') }}/{{ trnCircleEvents.profileImage }}"
                                                                         alt="">
                                                                </figure>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                                {% if bHasOtherImages == true %}
                                                    <div class="col-sm-12">
                                                        <span class="label-text">Other Images</span>
                                                        <ul class="row row-md">
                                                            {% for trnProductMedia in trnCircleEvents.trnProductMedia %}
                                                                {% if trnProductMedia.mediaType == 'image' %}
                                                                    <li class="col-sm-4">
                                                                        <figure>
                                                                            <img src="{{ trnProductMedia.uploadedFilePath|imagine_filter('resize_image_100') }}">
                                                                        </figure>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                                {%  if bHasVideos == true %}
                                    <li>
                                        <div class="heading">Video Link</div>
                                        <div class="content">
                                            <ul class="youtube-links">
                                                {% for trnProductMedia in trnCircleEvents.trnProductMedia %}
                                                    {% if trnProductMedia.mediaType == 'video' %}
                                                        <li><a href="{{ trnProductMedia.mediaURL }}"
                                                               target="_blank">{{ trnProductMedia.mediaURL }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endif %}
                                <li>
                                    <div class="heading">Upload Documents</div>
                                    <div class="content document-review">
                                        <div class="row row-md">
                                            <ol>
                                            {% for trnCrowdFundEventDocument in trnCrowdFundEvents.trnCrowdFundEventDocuments %}
                                                <li>
                                                    <span>{{ trnCrowdFundEventDocument.documentCaption }} -
                                                        <a target="_blank" href="{{ asset('images') }}/{{ trnCrowdFundEventDocument.uploadedFilePath}}">
                                                            Download
                                                        </a>
                                                    </span>
                                                    {#<div class="col-sm-4" style="max-width: none;">
                                                        <figure>
                                                            {% if '.pdf' in trnCrowdFundEventDocument.uploadedFilePath %}
                                                                <a target="_blank" href="{{ asset('images') }}/{{ trnCrowdFundEventDocument
                                                                .uploadedFilePath}}">Download</a>
                                                            {% else %}
                                                                <img src="{{ trnCrowdFundEventDocument.uploadedFilePath|imagine_filter('resize_image_100') }}">
                                                            {% endif %}
                                                        </figure>
                                                        <span class="label-text">{{ trnCrowdFundEventDocument.documentCaption }}</span>
                                                    </div>#}
                                                </li>
                                            {% endfor %}
                                            </ol>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="heading">Would you like to distribute the Campaign ?</div>
                                    <div class="content">
                                        {{ trnCrowdFundEvents.isDistributedEvent ? 'Yes' : 'No'  }}
                                        {% if trnCrowdFundEvents.isDistributedEvent == true %}
                                            <div class="table-responsive distributeTable">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th>
                                                            Name / Mobile / Email
                                                        </th>
                                                        <th>
                                                            Set Amount
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for trnCrowdFundEventDistributedDetail in trnCrowdFundEvents.trnCrowdFundEventDistributedDetails %}
                                                        <tr>
                                                            <td>
                                                                {{ trnCrowdFundEventDistributedDetail.campaignerName }}
                                                                <span class="label-text">+91 {{ trnCrowdFundEventDistributedDetail.mobileNumber }}</span>
                                                                <span class="label-text">{{ trnCrowdFundEventDistributedDetail.campaingerEmail }}</span>
                                                            </td>
                                                            <td>
                                                                <i class="fa fa-rupee"></i> {{ trnCrowdFundEventDistributedDetail.targetAmount |number_format(2, '.', ',') }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        {% endif %}
                                    </div>
                                </li>
                                <li>
                                    <div class="heading">Bank Account Details</div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                Beneficiary Bank Name
                                                <span class="label-text">{{ app.user.trnBankDetails[0].bankName }}</span>
                                            </div>
                                            <div class="col-sm-12">
                                                Beneficiary Account Holder Name
                                                <span class="label-text">{{ app.user.trnBankDetails[0].accountHolderName }}</span>
                                            </div>
                                            <div class="col-sm-12">
                                                Beneficiary Bank Account Number
                                                <span class="label-text">{{ app.user.trnBankDetails[0].accountNumber }}</span>
                                            </div>
                                            <div class="col-sm-12">
                                                Beneficiary IFSC Code
                                                <span class="label-text">{{ app.user.trnBankDetails[0].ifscCode }}</span>
                                            </div>
                                            <div class="col-sm-12">
                                                Beneficiary Account Type
                                                <span class="label-text">{{ app.user.trnBankDetails[0].mstBankAccountType }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-sec" data-aos="fade-right" data-aos-delay="200">
                            <!-- <a href="create-your-own-project-details.shtml" class="back-link">Back</a> -->
                            <form method="post">
                                <button type="submit" class="btn btn-primary btn-continue">Submit Your Campaign</button>
                            </form>

                        </div>
                    </div>
                </div>
{#                {{ render(controller('App\\Controller\\Portal\\EventController::featureSection')) }}#}
                {{ include('portal/event/event-feature-section.html.twig') }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/autocomplete.js') }}"></script>
    <script src="{{ asset('resources/js/image-uploader.min.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {

            $('body').addClass('inner-pg create-element event logged');

            $('#planicon').parents('li').addClass('active');


            $('html, body').animate(
                {
                    scrollTop: $($('.next-section-arrow').attr('href')).offset().top - 95,
                },
                800,
                'linear'
            );
            $(window).scroll(function () {
                if ($(this).scrollTop() > 150) {
                    $('.bullets .first').removeClass('active');
                    $('.bullets .second').addClass('active');
                } else {
                    $('.banner-sec').removeClass('fixed');
                    $('.wrapper').removeClass('fixed');
                    $('.bullets .first').addClass('active');
                    $('.bullets .second').removeClass('active');
                }
            });
            $('.next-section-arrow').on('click', function (e) {
                e.preventDefault()
                $('html, body').animate(
                    {
                        scrollTop: $($(this).attr('href')).offset().top - 95,
                    },
                    800,
                    'linear'
                );
            });
            $('.bullets li.second > a').on('click', function (e) {
                e.preventDefault()
                $('html, body').animate(
                    {
                        scrollTop: $($(this).attr('href')).offset().top - 95,
                    },
                    800,
                    'linear'
                );
                $(this).parent('li').addClass('active');
                $(this).parent('li').siblings('li').removeClass('active');
            });

        });
    </script>
{% endblock %}
