{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}

    {% set tncContent = get_cms_page_content_by_page('terms-and-conditions') %}


    <div class="modal fade common" id="tncpopup" tabindex="-1" aria-labelledby="demoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <a href="#" class="btn-close" data-dismiss="modal" data-target="#tnc" aria-label="Close"></a>
                <h2 class="modal-title" id="demoLabel">{{ tncContent.pageTitle }}</h2>
                <div class="modal-body">
                    <div class="tnc-popup">
                        {# Content Start from Cms  #}
                        {% for content in tncContent.cmsPageContent %}
                            <p>
                                {% include 'portal/page/_page_content_display.html.twig' %}
                            </p>
                        {% endfor %}
                        {# Content End from Cms  #}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set pageContentCMS = get_cms_page_content_by_slugname('create-an-event') %}
    {#    {{ render(controller('App\\Controller\\Portal\\EventController::bannerSection')) }}#}
    {{ include('portal/event/event-banner.html.twig') }}
    <div class="wrapper crowdFunding">
        <div class="container">
            <div class="row">
                <div class="start-project col-lg order-lg-2" id="start-project">
                    <div class="head-sec">
                        <h2>Start Your Event Now</h2>
                        <div class="tips-button" data-aos="fade-right" data-aos-delay="200">
                            <a href="#" data-toggle="modal" data-target="#tips-event-creation"><i class="tips-icon"></i> Tips for Event Creation</a>
                        </div>
                    </div>
                    {{ render(controller(
                        'App\\Controller\\Portal\\EventController::createEventSteps',
                        { 'currentIndex': -2 }
                    )) }}
                    <div class="project-details">
                        {{ form_start(form) }}
                            <div class="mandate-text"><span>*</span> Mandatory Fields </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-event/Icon-Crowdfunding.png"
                                                    alt=""></i>
                                        <label for="projectName">
                                            <span>Is this Event for Crowdfunding? *</span>
                                            <div class="tooltip">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext">Crowdfunding is a practice to raise small
                                                    amounts of donations from individuals. You can create a crowdfunding
                                                    event and spread it through your well wishers,
                                                    volunteers outside of your members too.
                                                    People seeking details will visit your Project Page.</span>
                                            </div>
                                        </label>
                                        <div class="crowdfunding-radio">
                                            <label for="yes" class="active">
                                                Yes
                                                <input type="radio" id="yes" name="crowdfunding" checked>
                                                <span class="checkmark"></span>
                                            </label>
                                            {% if isEditEvent == true %}
                                                <label for="no" class=""
                                                       onclick="return false;">
                                                    No
                                                    <input type="radio" id="no" name="crowdfunding">
                                                    <span class="checkmark"></span>
                                                </label>
                                            {% else %}
                                            <label for="no" class=""
                                                   onclick="window.location.href='{{ path('create-an-event') }}';">
                                                No
                                                <input type="radio" id="no" name="crowdfunding">
                                                <span class="checkmark"></span>
                                            </label>
                                            {% endif %}
                                        </div>
                                        {{ form_errors(form.isCrowdFunding) }}
                                        {{ form_errors(form.mstEventProductType) }}
                                        <div style="display: none;">
                                            {{ form_widget(form.isCrowdFunding) }}
                                            {{ form_widget(form.mstEventProductType) }}
                                            {{ form_widget(form.mstJoinBy) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-Project.png"
                                                    alt=""></i>
                                        <label for="projectName">
                                            <span>Project Name *</span>
                                        </label>
                                        <div class="form-group">
                                            <div class="cust-select">
                                                {{ form_widget(form.trnCircle) }}
                                            </div>
                                            {{ form_errors(form.trnCircle) }}
                                        </div>
                                        <div class="interest-selection"  id="interest-selection-areainterest">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-event/Icon-Event-Name.png"
                                                    alt=""></i>
                                        <label for="CampaignName">
                                            <span>Name of the Campaign *</span>
                                        </label>
                                        {% if isEditEvent == true %}
                                            {{ form_widget(form.name, { 'attr': {'readonly': 'readonly'} }) }}
                                        {% else %}
                                            {{ form_widget(form.name) }}
                                        {% endif %}
                                    </div>
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-event/Icon-Rupee.png" alt=""></i>
                                        <label for="">Target Funds Required *</label>
                                        <div class="row row-sm main-form-group">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    {% if isEditEvent == true %}
                                                        {{ form_widget(form.trnCrowdFundEvents.0.targetAmount) }}
                                                    {% else %}
                                                        {{ form_widget(form.trnCrowdFundEvents.vars.prototype.targetAmount) }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    {#<label for="CheckOut">INR</label>#}
                                                    <div class="cust-select">
                                                        {% if isEditEvent == true %}
                                                            {{ form_widget(form.trnCrowdFundEvents.0.mstTargetAmountCurrency) }}
                                                        {% else %}
                                                            {{ form_widget(form.trnCrowdFundEvents.vars.prototype.mstTargetAmountCurrency) }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-Story-Blue.png"
                                                    alt=""></i>
                                        <label for="deployFunds">
                                            <span>How do you plan to deploy the funds *</span>
                                        </label>
                                        {{ form_widget(form.eventPurpose) }}
                                        <div class="textarea-instru">
                                            <small>A maximum of 200 words only </small>
                                            <small class="text-right ml-auto">Word count - <b
                                                        class="words-left">0</b><b>/200</b>
                                            </small>
                                        </div>
                                    </div>
                                    {{ form_errors(form.eventPurpose) }}
                                    <div class="main-form-group">
                                        <label for="theAppeal">
                                            <span>The Appeal *</span>
                                        </label>
                                        {{ form_widget(form.highlightsOfEvent) }}
                                        <div class="textarea-instru">
                                            <small>A maximum of 1000 words only </small>
                                            <small class="text-right ml-auto">Word count - <b
                                                        class="words-left">0</b><b>/1000</b>
                                            </small>
                                        </div>
                                        {{ form_errors(form.highlightsOfEvent) }}
                                    </div>
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-event/IconDate.png" alt=""></i>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="main-form-group">
                                                    <label for="campaignStartDate">
                                                        <span>Campaign Start Date *</span>
                                                    </label>
                                                    <div class="cust-calender">
                                                        {{ form_widget(form.fromDate) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="main-form-group">
                                                    <label for="campaignEndDate">
                                                        <span>Campaign End Date *</span>
                                                    </label>
                                                    <div class="cust-calender">
                                                        {{ form_widget(form.toDate) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-form-group checkbox-general">
                                        <label for="urgent" class="checkbox-label" style="width: max-content;">Is Urgent

                                            {% set urgentFld = 'off' %}
                                            {% if form.vars.data.isUrgent == true %}
                                                {% set urgentFld = 'on' %}
                                            {% endif %}

                                            <input type="checkbox" id="urgent" value="{{ urgentFld }}" name="urgent" onchange="changeInputVal($(this))">
                                            <span class="checkmark"></span>
                                        </label>
                                        <div style="display: none">
                                            {{ form_widget(form.isUrgent) }}
                                        </div>
                                    </div>
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-event/Icon-Contribute.png"
                                                    alt=""></i>
                                        <label for="">Minimum Contribution</label>
                                        <div class="row row-sm main-form-group">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    {% if isEditEvent == true %}
                                                        {{ form_widget(form.trnCrowdFundEvents.0.minimumContribution) }}
                                                    {% else %}
                                                        {{ form_widget(form.trnCrowdFundEvents.vars.prototype.minimumContribution) }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    {#<label for="CheckOut1">INR</label>#}
                                                    <div class="cust-select">
                                                        {% if isEditEvent == true %}
                                                            {{ form_widget(form.trnCrowdFundEvents.0.mstMinimumContributionCurrency) }}
                                                        {% else %}
                                                            {{ form_widget(form.trnCrowdFundEvents.vars.prototype.mstMinimumContributionCurrency) }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-UploadImage.png" alt=""></i>
                                        <label for="projectType">
                                            <span>Upload Images / Video *</span>
                                        </label>
                                        <div class="project-status project-gallery">
                                            <label for="Image" class="image-gallery">
                                                <span>
                                                    Image
                                                    <input type="radio" id="reporting_Image" name="reporting[image]">
                                                    <span class="checkmark"></span>
                                                </span>
                                            </label>
                                            <label for="Video" class="video-gallery">
                                                <span>
                                                    Video
                                                    <input type="radio" id="reporting_Video" name="reporting[video]">
                                                    <span class="checkmark"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="image-gallery-div">
                                            <div class="row row-sm">
                                                <div class="col-auto">
                                                    <div class="input-field">
                                                        <label class="active">Main Image</label>
                                                        <div class="input-images-2 single"></div>
                                                        <small>Image format - <br> jpg, png and size 20 KB</small>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="input-field">
                                                        <label class="active">Other Images</label>
                                                        <div class="input-images-3 multi"></div>
                                                        <small>Image format - jpgs, png and size 60 KB</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="video-gallery-div">
                                            <div class="main-form-group">
                                                <i class="icon project-name"><img
                                                            src="/resources/images/common/create-project/Icon-YouTube.png"
                                                            alt=""></i>
                                                <label for="youTube">YouTube Video Link</label>
                                                <div class="youTube-form">
                                                    {% if isEditEvent == true and trnCircleEvents.trnProductMedia|length > 0
                                                    and trnCircleEvents.trnProductMedia[0].mediaType == 'video'%}
                                                        {% for mediaList in trnCircleEvents.trnProductMedia %}
                                                            {% if mediaList.mediaType == 'video' %}
                                                            <div>
                                                                <input type="text" class="form-control" id="youTube"
                                                                       name="youTube[]"
                                                                       placeholder="e.g. https://www.youtube.com/embed/hdiXML7Wq8c" value="{{ mediaList.mediaUrl }}">
                                                                <a href="#" class="removeInput youtube"><i class="fa fa-minus-circle"></i></a>
                                                            </div>
                                                                <small>Enter the embed url for the youtube video to play. The embed url can be found once the embed code copied on a document.</small>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                    <div>
                                                        <input type="text" class="form-control" id="youTube"
                                                               name="youTube[]"
                                                               placeholder="e.g. https://www.youtube.com/embed/hdiXML7Wq8c">
                                                        <a href="#" class="removeInput youtube"><i class="fa fa-minus-circle"></i></a>
                                                    </div>
                                                        <small>Enter the embed url for the youtube video to play. The embed url can be found once the embed code copied on a document.</small>
                                                    {% endif %}
                                                    <a href="#" class="add-more" id="addMore"><i class="fa fa-plus-circle"></i>
                                                        Add More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-form-group uploadDocument">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-event/Icon-DocumentsCertified.png"
                                                    alt=""></i>
                                        <label for="projectName">
                                            <span>Upload Documents</span>
                                            <div class="tooltip">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext">Upload readable documents which builds up the case
                                                    for fund requirement and provides enough credibility to the way you have planned deployment .</span>
                                            </div>
                                        </label>
                                        <div class="row row-sm uploadedDocument">
                                            {% if trnCircleEvents.trnCrowdFundEvents is defined and
                                                trnCircleEvents.trnCrowdFundEvents is not empty and
                                                trnCircleEvents.trnCrowdFundEvents[0] is defined and
                                                trnCircleEvents.trnCrowdFundEvents[0].trnCrowdFundEventDocuments is defined and
                                                trnCircleEvents.trnCrowdFundEvents[0].trnCrowdFundEventDocuments|length > 0 %}
                                                {% for uploadedDoc in trnCircleEvents.trnCrowdFundEvents[0].trnCrowdFundEventDocuments %}
                                                    <div class="col-12 cloneSection old">
                                                        <div class="row row-sm">
                                                            <div class="col-sm-6">
                                                                <div class="custom-file-upload">
                                                                    <div class="custom-file">
                                                                        <input type="file" class="custom-file-input" id="customFile"
                                                                               name="filename[]">
                                                                        <label class="custom-file-label" for="customFile">Choose
                                                                            file</label>
                                                                    </div>
                                                                    <small>Image format - jpg, pdf and size 40 KB</small>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <input type="text" name="documentDescription[]" placeholder="Add caption for your document"
                                                                           class="form-control" value="{{ uploadedDoc.documentCaption }}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% set fileArr = uploadedDoc.uploadedFilePath|split('.') %}
                                                        {% set fileExt = fileArr[(fileArr|length - 1 )] %}
                                                        <a href="#" class="removeInput document"><i class="fa fa-minus-circle"></i></a>
                                                        <div class="divPreviewImg">
                                                            {% if fileExt == 'pdf' %}
                                                                <div class="previewDocEdit">
                                                                    <input type="hidden" name="uploadedDoc[]" value="{{ uploadedDoc.uploadedFilePath }}">
                                                                    <a href="{{ asset('images/') ~ uploadedDoc.uploadedFilePath}}"><embed src="{{ asset('images/') ~ uploadedDoc.uploadedFilePath}}" type='application/pdf' style="max-width: 100px; max-height: 100px;"></a>
                                                                </div>
                                                                <canvas class="previewPDF" style="display: none;"></canvas>
                                                                <img class="previewImg" style="display: none; max-height: 100px; max-width: 100px;">
                                                            {% else %}
                                                                <canvas class="previewPDF" style="display: none;"></canvas>
                                                                <div class="previewDocEdit">
                                                                    <input type="hidden" name="uploadedDoc[]" value="{{ uploadedDoc.uploadedFilePath }}">
                                                                </div>
                                                                <img class="previewImg" src="{{ asset('images/') ~ uploadedDoc.uploadedFilePath}}" style="max-height: 100px; max-width: 100px;">
                                                            {% endif %}
                                                        </div>
{#                                                        <img id="preloadedDoc" src="{{ uploadedDoc.uploadedFilePath }}" width="100px">#}
                                                    </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="col-12 cloneSection">
                                                        <div class="row row-sm">
                                                            <div class="col-sm-6">
                                                                <div class="custom-file-upload">
                                                                    <div class="custom-file">
                                                                        <input type="file" class="custom-file-input" id="customFile"
                                                                               name="filename[]">
                                                                        <label class="custom-file-label" for="customFile">Choose
                                                                            file</label>
                                                                    </div>
                                                                    <small>Image format - jpg, pdf and size 40 KB</small>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <input type="text" name="documentDescription[]" placeholder="Add caption for your document"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="#" class="removeInput document"><i class="fa fa-minus-circle"></i></a>
                                                        <div class="divPreviewImg" style="display: none;">
                                                            <canvas class="previewPDF" style="display: none;"></canvas>
                                                            <img class="previewImg" style="display: none; max-height: 100px; max-width: 100px;">
                                                        </div>
                                                    </div>
                                                {% endif %}
                                        </div>
                                        <div class="AddLink AddDocumentLink">
                                            <a href="javascript:void(0);">Add More</a>
                                        </div>
                                    </div>
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-event/Icon-Distribute.png"
                                                    alt=""></i>
                                        <label for="projectName">
                                            <span>Would you like to distribute the Campaign ?</span>
                                            <div class="tooltip">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext">Crowdfunding works best when there are
                                                    multiple people spreading it in their respective circles of
                                                    influence as campaigns supported by them. </span>
                                            </div>
                                        </label>
                                        <div class="crowdfunding-radio distributeEvent">
                                            <label for="yes1" class="distributeYes">
                                                Yes
                                                <input type="radio" id="yes1" name="crowdfunding_distribute">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label for="no1" class="distributeNo">
                                                No
                                                <input type="radio" id="no1" name="crowdfunding_distribute">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>

                                        <div style="display: none;">
                                            {% if isEditEvent == true %}
                                                {{ form_widget(form.trnCrowdFundEvents.0.isDistributedEvent) }}
                                            {% else %}
                                                {{ form_widget(form.trnCrowdFundEvents.vars.prototype.isDistributedEvent) }}
                                            {% endif %}
                                        </div>

                                        <div class="distributeCampaign">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="main-form-group">
                                                        <label for="">Select your campaigners</label>
                                                        <div class="row row-sm">
                                                            <div class="col-sm-4">
                                                                <div class="cust-select">
                                                                    <select name="selectContributor"
                                                                            id="selectContributor" class="form-control">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <input type="text" maxlength="10" readonly
                                                                       name="memberMobileNumber" id="memberMobileNumber"
                                                                       class="form-control" placeholder="Mobile Number">
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="">
                                                                    <input type="text" placeholder="Email ID" readonly
                                                                           name="memberEmailId" id="memberEmailId"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="main-form-group amountInput">
                                                        <label for="">Set Target Amount</label>
                                                        <input type="text" class="form-control" id="distributeAmount"
                                                               name ="distributeAmount" >
                                                    </div>
                                                </div>
                                                <div class="col-12 AddLink addLinkSubEvent">
                                                    <a href="#">Add</a>
                                                </div>
                                                <div class="col-sm-12 DistributeBlock" id="DistributeBlock">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-form-group prefilled-data">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-Bank.png" alt=""></i>
                                        <label for="benBankName">
                                            <span>Bank Account Details</span>
                                        </label>
                                        <div class="row row-sm " id="bankDetails">
                                            {{ include('portal/crowdfunding-event/_ajax-create-bank-details.html.twig') }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 tnc-check">
                                    <label class="checkbox-label" for="tnc">
                                        I agree to <a href="#" data-toggle="modal" data-target="#tncpopup">Terms &
                                            Conditions</a>
                                        <input type="checkbox" id="tnc">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>

                            </div>
                            <div class="btn-sec" data-aos="fade-right" data-aos-delay="200">

                                <input type="hidden" name="submission_type" id="submission_type" value="review">

                                <a href="javascript:void(0);" class="btn btn-primary-o" onclick="submit($(this))" id="review">Review & Submit Your Campaign</a>
                                <a href="javascript:void(0);" class="btn btn-primary" onclick="submit($(this))" id="submit">Submit Your Campaign</a>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                {#{{ render(controller('App\\Controller\\Portal\\EventController::featureSection')) }}#}
                {{ include('portal/event/event-feature-section.html.twig') }}
            </div>
        </div>
    </div>

    {{ include('portal/event/create-event-tips.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{{ asset('resources/js/autocomplete.js') }}"></script>
    <script src="{{ asset('resources/js/image-uploader.min.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script>

        var primaryAISelected = new Array();
        var secondaryAISelected = new Array();
        var preloadedProfile = new Array();
        var preloadedGallery = new Array();
        var checkUniqueEventName = "{{ path('is_unique_event_name') }}";
        var getSecondaryAreaOfInterestURL = "{{ path('get-secondary-area-of-interest-event') }}";
        var getProjectAreaOfInterestURL = "{{ path('get-project-area-of-interest') }}";
        //var getProjectBankDetailsURL = "{{ path('get-project-bank-details') }}";
        var addCrowFundingSubEventToSessionURL = "{{ path('add-crowd-funding-sub-event-to-session') }}";
        var loadCrowFundingSubEventFromSessionURL = "{{ path('load-crowd-funding-sub-event-from-session') }}";
        var removeCrowdFundingSubEventToSessionURL = "{{ path('remove-crowd-funding-sub-event-to-session') }}";
        var getProjectMemberListURl = "{{ path('get-project-member-list') }}";
        var removeCrowdfundingGalleryImageUrl = "{{ path('remove_crowdfunding_gallery_image') }}";
        var addDistributedData = false;
        {% if isEditEvent == true %}
            var isEditEvent = true;
            var mediaType = '{{ trnCircleEvents.trnProductMedia[0].mediaType|default('') }}';
            var fromDate = $("#trn_circle_events_crowd_fund_event_portal_fromDate").val();
            var toDate = $("#trn_circle_events_crowd_fund_event_portal_toDate").val();
        {% else %}
            var isEditEvent = false;
            var mediaType = '';
            var fromDate = '';
            var toDate = '';
        {% endif %}

        {% for id in arrPrimaryAISelected %}
            primaryAISelected.push({{ id }});
            {% if id in arrSecondaryAISelected|keys %}
                {% for idsec in arrSecondaryAISelected[id] %}
                    secondaryAISelected.push({{ idsec }});
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% if isEditEvent == true and
            app.session.has('crowdFundRaiserSubEvents') == true and
            app.session.get('crowdFundRaiserSubEvents')|length > 0 %}
            addDistributedData = true;
        {% endif %}

        {% if arrImages is defined and 'profile' in arrImages|keys and arrImages['profile'] is not empty and
            arrImages['profile'] is
            defined %}
        profilePic = "{{ asset('images') }}/{{ arrImages['profile'] }}";
        bHasProfileImage = true;
        preloadedProfile = [ {id: 1, src: profilePic} ];
        {% endif %}

        var imageGallery = new Array();
        {% set i = 1 %}
        {% if arrImages is defined and arrImages['imageGallery'] is defined and arrImages['imageGallery'] is not empty %}
            {% for id in arrImages['imageGallery'] %}
                imageGallery.push("{{ id }}");
                bHasProfileImage = true;
                var item = {};
                item.id = "{{ i }}";
                item.src = "{{ asset('images') }}/{{ id }}";
                preloadedGallery.push(item);
                {% set i = i + 1 %}
            {% endfor %}
        {% endif %}


    </script>
    <script src="{{ asset('assets/js/portal/crowdfunding/create-crowdfunding.js') }}"></script>
{% endblock %}
