<section>
    {% set crowdFundingData = crowd_funding_data(trnCircleEvents.id) %}
    <h3><i class="icon-supporters"></i> {{ crowdFundingData.supporters | default(0) }} Supporters</h3>
    <ul class="topDonors">
        {% for donor in arrLatestDonor %}
            <li>
                <figure>
                    {{ donor.userFirstName |slice(0, 1) }}
                </figure>
                <div class="heading">
                    {% if donor.isAnonymousDonation == 1  %}
                        Anonymous Donation
                    {% else %}
                        {{ donor.userFirstName }} {{ donor.userLastName }}
                    {% endif %}
                </div>
                <div class="price">
                    <i class="fa fa-rupee"></i> {{ donor.transactionAmount | number_format(2, '.', ',') }}
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="btn-block">
        <a href="javascript:void(0);" data-toggle="modal" id="allSupportersAnch" data-target="#allSupporters">View
            All</a>
    </div>
</section>