<div>
    <section class="campaignRaiser">
        <h2>Project Glimpses</h2>
        <div class="card">
            <div class="card-image">
                <figure>
                    {% if circle.profileImagePath is defined and  circle.profileImagePath is not empty and
                        circle.profileImagePath != 'files/'  %}
                        <img src="{{ asset('images') }}/{{ circle.profileImagePath }}" alt="{{ circle.circle }}">
                    {% endif %}
                </figure>
            </div>
            <div class="card-body">
                <h4>{{ circle.circle }}</h4>
                <h5><i class="fas fa-map-marker-alt"></i>  {{ circle.mstCity }}, {{ circle.mstState }}, {{ circle
                    .mstCountry }}</h5>
                <h5 class="orange"><em>{% for interest in circle.trnAreaOfInterests %}{{ interest }}{% if not loop.last %},{% endif %} {% endfor %}</em></h5>
                <p>{{ circle.circleInformation  |raw }}
                </p>
                {% set nCount = get_circle_count_data(circle.id) %}
                <ul class="member-event-list">
                    <li>
                        <i class="fc-member-icon"></i>
                        <div class="number">{{ nCount.memberCount |default(0) }}</div>

                        <div class="task">Members</div>
                    </li>
                    <li>
                        <i class="fc-event-icon"></i>
                        <div class="number">{{ nCount.eventCount |default(0) }}</div>
                        <div class="task">Events</div>
                    </li>
                </ul>
                <ul class="inline-links">
                    <li>
                        <a href="{{ path('project-details', {'id': circle.id}) }}" class="btn-primary">View</a>
                    </li>
                    {#<li>
                        {% if circle.mstJoinBy.joinBy == 'Open' %}
                            <a href="#">Join This Project</a>
                        {% else %}
                            <a href="#">Request to Join This Project</a>
                        {% endif %}
                    </li>#}
                </ul>
                <ul class="share-view">
                    <li>
                        <a href="#">
                            <i class="fc-book-open"></i>
                            <b>{{ nCount.readCount | default(0) }}</b>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="circleLike" circleId = "{{ circle.id
                        }}">
                            <i class="far fa-thumbs-up"></i>
                            <b class="circleLike_{{ circle.id }}">{{ nCount.likeCount }}</b>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('project-details', {'id': circle.id}) }}#comments">
                            <i class="far fa-comment"></i>
                            <b>{{ nCount.commentCount | default(0)  }}</b>
                        </a>
                    </li>
                    <li class="share-sec">
                        <a href="javascript:;" class="social-share-btn"><i
                                    class="fas fa-share-alt"></i></a>
                        <div class="social-media">
                            <a href="#" class="fa fa-close"></a>
                            <ul>
                                <li><a onclick="getCircleShareCount('{{ circle.id }}')" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('project-details', {'id': circle.id})}}" target="_blank"><i class="fc-facebook"></i></a></li>
                                <li><a onclick="getCircleShareCount('{{ circle.id }}')" href="https://twitter.com/intent/tweet?text={{ circle.circle }}&amp;url={{ app.request.schemeAndHttpHost ~  path('project-details', {'id': circle.id}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                                <li><a onclick="getCircleShareCount('{{ circle.id }}')" href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path('project-details', {'id': circle.id}) }}&amp;title={{ circle.circle }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                                <li><a onclick="getCircleShareCount('{{ circle.id }}')" href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('project-details', {'id': circle.id})  }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="table-data">
                    <h4>Events Glimpses</h4>
                    <ul>
                        {% set circleEvents = get_latest_circle_events(circle.id) %}
                        {% for eventData in circleEvents %}
                            {% set eventDates = get_events_dates(eventData.id) %}
                            <li>
                                <a href="#">
                                    <div class="head">
                                        <figure>
                                            {% if eventData.profileImage is defined and  eventData.profileImage is not empty and
                                                eventData.profileImage != 'files/'  %}
                                                <img src="{{ asset('images') }}/{{ eventData.profileImage }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                            {% elseif eventData.backgroundImagePath is defined and  eventData.backgroundImagePath is not empty and
                                                eventData.backgroundImagePath != 'files/' %}
                                                <img src="{{ asset('images') }}/{{ eventData.backgroundImagePath }}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                            {% else %}
                                                {% for trnProductMedia in eventData.trnProductMedia %}
                                                    {% if trnProductMedia.mediaType == 'image' %}
                                                        <img src="{{ asset('images') }}/{{ trnProductMedia.uploadedFilePath}}" alt="{{ eventData.name }}" title="{{ eventData.name }}">
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </figure>
                                    </div>
                                    <div class="desc">
                                        <h3>{{ eventData.name }}</h3>
                                        <span class="date-place">
                                            {% if eventDates.fromDate is defined and eventDates.fromDate is
                                                not empty and eventDates.fromDate and eventDates.toDate
                                                is defined and eventDates.toDate is
                                                not empty and eventDates.toDate  %}

                                                {% if eventDates.eventUpComingOrOnGoing == 'UPCOMING' %}
                                                    {{ eventDates.fromDate | date ('l') }} {{ eventDates.fromDate | date('d F Y') }}
                                                {% else %}
                                                    {{ eventDates.toDate | date ('l') }} {{ eventDates.toDate | date('d F Y') }}
                                                {% endif %}
                                            {% endif %}
                                            {{ eventData.mstCity }}, {{ eventData.mstState }}, {{eventData.mstCountry }}
                                        </span>
                                        <span class="time">
                                           {% if eventDates.eventFromTime is defined and eventDates.eventFromTime is not empty and
                                               eventDates.eventFromTime and eventDates.eventToTime is defined
                                               and eventDates.eventToTime is not empty and eventDates.eventToTime  %}
                                               {{ eventDates.eventFromTime|date('h:i A') }} to {{ eventDates.eventToTime|date('h:i A')}}
                                           {% endif %}
                                        </span>
                                    </div>
                                    <div class="category">
                                        {% for mstEventProductType in eventData
                                            .mstEventProductType %}{{ mstEventProductType
                                        .eventProductType }}{% if not loop.last %}, {% endif %} {% endfor %}
                                    </div>
                                </a>
                            </li>
                        {% endfor %}


                    </ul>
                    <a href="{{ path('show_project_events', { 'project':circle.id }) }}" class="text-link">View All Events</a>
                </div>
            </div>
        </div>

    </section>
</div>