<div class="theAppeal">
    <h2>The Appeal</h2>
    <p>
        {{ trnCircleEvents.highlightsOfEvent }}
    </p>
    <div class="target-amnt">
        <h3>Target Funds Amount</h3>
        <b><i class="fa fa-rupee"></i> {{ trnCrowdFundEvents.targetAmount |number_format
                (2, '.', ',') }}</b>
    </div>
    <div class="min-contrbtn">
        <div class="priceBlock">
            <h3>Minimum Amount Contribution</h3>
            <b><i class="fa fa-rupee"></i> {{ trnCrowdFundEvents.minimumContribution |number_format(2, '.', ',') }}</b>
        </div>
        <div class="donateShareBlock">
            <div class="row row-xs">
                <div class="col">
                    {% if trnCircleEvents.isTargetAchieved == true %}
                        <a href="#" class="btn btn-primary disabled">Donate Now</a>
                    {% else %}
                        <a href="#" class="btn btn-primary">Donate Now</a>
                    {% endif %}

                </div>
                <div class="col-auto">
                    <div class="shareBtns">
                        <a onclick="getEventShareCount('{{ trnCircleEvents.id }}')" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('crowd-funding-event-details', {'id': trnCircleEvents.id})}}" target="_blank" class="btn">Share on <i class="fa fc-facebook"></i></a>
                        <a onclick="getEventShareCount('{{ trnCircleEvents.id }}')" href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('crowd-funding-event-details', {'id': trnCircleEvents.id})  }}" target="_blank" class="btn">Share on <i class="fa fc-whatsapp"></i></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="contributeBox">
                        <div class="enter-amount">
                            <label class="" for="enterAmount">Enter Your Preferred Amount</label>
                            <div class="input-group">
                                <input type="text" class="form-control"  id="enterAmount">
                                <div class="input-group-append">
                                    <a href="#" class="btn btn-enter btn-contribute">Continue</a>
                                </div>
                            </div>
                            <label><em>Minimum Amount Contribution <i class="fa fa-rupee"></i> {{ trnCrowdFundEvents.minimumContribution |number_format(2, '.', ',') }}</em></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>How will the funds be utilised</h3>
    <p>
        {{ trnCircleEvents.eventPurpose }}
    </p>

    {{ render(controller(
        'App\\Controller\\Portal\\CrowdFundingEventDetailsController::crowdFundingMakerStoriesSection',{ 'id': trnCircleEvents.id }
    )) }}

    {% if trnCrowdFundEvents.trnCrowdFundEventDocuments|length > 0  %}
        <div class="content-carousel">
            <h2>Documents</h2>
            <div class="owl-carousel">
                {% for trnCrowdFundEventDocument in trnCrowdFundEvents.trnCrowdFundEventDocuments %}
                    <div class="item" style="text-align: center;">
                        {% if '.pdf' in trnCrowdFundEventDocument.uploadedFilePath %}
                            <embed src="{{ asset('images') }}/{{ trnCrowdFundEventDocument.uploadedFilePath}}" width="300" height="400" type='application/pdf' buttonImg="{{ asset('images/common/icons/fc-my-story.png') }}">
                        {% else %}
                            <img src="{{ trnCrowdFundEventDocument.uploadedFilePath|imagine_filter
                                ('resize_image_100') }}"  alt="{{ trnCrowdFundEventDocument.documentCaption }}"
                                 title="{{ trnCrowdFundEventDocument.documentCaption }}">
                        {% endif %}
                        <div class="caption"><i class="fa fa-file-text-o"></i> {{ trnCrowdFundEventDocument.documentCaption }} - <a target="_blank" href="{{ asset('images') }}/{{ trnCrowdFundEventDocument.uploadedFilePath}}">Download</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    <div class="content-block">
        <h2>Donate via Offline</h2>
        <div class="inner-block">
            <div class="bankDetails">
                <i class="icon">
                    <img src="/resources/images/common/create-project/Icon-Bank.png" alt="">
                </i>
                <h4>Transfer directly to the Bank account. Only INR transfers are allowed.</h4>
                {% if trnCircleEvents.parentTrnCircleEvents is empty %}
                    {% set offlineBankDetailUser = trnCircleEvents.appUser.trnBankDetails[0] %}
                {% else %}
                    {% set offlineBankDetailUser = trnCircleEvents.parentTrnCircleEvents.appUser.trnBankDetails[0] %}
                {% endif %}
                <ul>
                    <li>
                        <span>Bank Name</span>
                        <span>{{ offlineBankDetailUser.bankName }}</span>
                    </li>
                    <li>
                        <span>Bank Account Number</span>
                        <span>{{  offlineBankDetailUser.accountHolderName}}</span>
                    </li>
                    <li>
                        <span>Account Name</span>
                        <span>{{  offlineBankDetailUser.accountNumber}}</span>
                    </li>
                    <li>
                        <span>IFSC Code</span>
                        <span>{{  offlineBankDetailUser.ifscCode}}</span>
                    </li>
                    <li>
                        <span>Account Type</span>
                        <span>{{  offlineBankDetailUser.mstBankAccountType }}</span>
                    </li>
                </ul>
            </div>
            <hr>
            <span class="claimText">Claim your donation acknowledgment now! For payment done via
                <a href="#" data-toggle="modal" data-target="#ClaimDonation">Bank Transfer</a>
            </span>
        </div>
    </div>
    <div class="content-block">
        <h2>Updates <small>({{ arrBroadCastMessages|length }})</small></h2>
        <a href="mailto:{{ trnCircleEvents.appUser.appUserInfo.userEmail }}?subject={{ trnCircleEvents.name|raw }}-Ask an Update&cc={{ get_gc_email() }}" class="btn-white ask-update">Ask an Update</a>

        {% for broadCastMessage in arrBroadCastMessages %}
            <div class="inner-block {% if loop.index > 1 %} remaining {% endif %} ">
                <div class="updateText">
                    <div class="updateCounter">#{{ (arrBroadCastMessages|length) - (loop.index - 1) }}</div>
                    <p>{{ broadCastMessage.createdOn | date('d M Y') }}</p>
                    <p>Dear Supporters,</p>
                    <p>
                        {% if broadCastMessage.uploadedFile != 'files/' %}
                            <img src="{{ broadCastMessage.uploadedFile|imagine_filter('resize_image_200') }}" align="left">
                        {% endif %}
                        {{ broadCastMessage.message | raw }}
                        <br clear="left">
                    </p>
                    <p>Thank you.</p>
                </div>
                <div class="donateShareBlock">
                    <div class="row row-sm">
                        <div class="col">
                            {% if trnCircleEvents.isTargetAchieved == true %}
                                <a href="#" class="btn btn-primary disabled">Donate Now</a>
                            {% else %}
                                <a href="#" class="btn btn-primary">Donate Now</a>
                            {% endif %}

                        </div>
                        <div class="col-auto">
                            <div class="shareBtns">
                                <a onclick="getEventShareCount('{{ trnCircleEvents.id }}')" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('crowd-funding-event-details', {'id': trnCircleEvents.id})}}" target="_blank" class="btn">Share on <i class="fa fc-facebook"></i></a>
                                <a onclick="getEventShareCount('{{ trnCircleEvents.id }}')" href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~ path('crowd-funding-event-details', {'id': trnCircleEvents.id})  }}" target="_blank" class="btn">Share on <i class="fa fc-whatsapp"></i></a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="contributeBox">
                                <div class="enter-amount">
                                    <label class="" for="enterAmount">Enter Your Preferred
                                        Amount</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="enterAmount">
                                        <div class="input-group-append">
                                            <a href="#" class="btn btn-enter btn-contribute">Continue</a>
                                        </div>
                                    </div>
                                    <label><em>Minimum Amount Contribution <i class="fa fa-rupee"></i> {{ trnCrowdFundEvents.minimumContribution |number_format(2, '.', ',') }}</em></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if arrBroadCastMessages|length > 1 %}
        <div class="btn-block">
            <a href="#" class="btn-white readPreUpdate">Read Previous Updates</a>
        </div>
        {% endif %}
    </div>
</div>