{% if ChangeMakerStories is defined and ChangeMakerStories is not empty and ChangeMakerStories is not null %}
    <section class="cmStories">
    <h3><i class="IconChangemaker"></i> #changemakerstories</h3>
    <p>{{ ChangeMakerStories.articleIntro | raw }}</p>
        <div class="row row-xs">
            {% for content in ChangeMakerStories.cmsArticleContent %}
                {% if loop.index == 1 %}
                    <div class="col-sm-12">
                        <figure>
                            {% if content.mediaType == 'image' %}
                                <img src="{{ asset('/images/') ~ content.articleContentDesktopImagePath }}" alt="{{ content.articleContentImageAlt }}" title="{{ content.articleContentImageTitle }}" >
                            {% elseif content.mediaType == 'video' %}
                                <i class="video-image"></i>
                                <iframe width="380" height="175" src="{{ content.articleContentVideoPath|raw }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endif %}
                        </figure>
                    </div>
                {% else %}
                    <div class="col-sm-6">
                        <figure>
                            {% if content.mediaType == 'image' %}
                                <img src="{{ content.articleContentDesktopImagePath|imagine_filter('resize_image_scale_730_310') }}" alt="{{ content.articleContentImageAlt }}" title="{{ content.articleContentImageTitle }}" >
                            {% elseif content.mediaType == 'video' %}
                                <i class="video-image"></i>
                                <iframe width="190" height="100" src="{{ content.articleContentVideoPath|raw }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endif %}
                        </figure>
                    </div>
                {% endif %}
            {% endfor %}
        </div>


</section>
{% endif %}