{% if ChangeMakerStories is defined and ChangeMakerStories is not empty and ChangeMakerStories is not null %}
    <div class="changemakerStories">
        <h2>#changemakerstories</h2>
        {{ ChangeMakerStories.articleIntro | raw }}
        <div class="row row-xs">
            {% for content in ChangeMakerStories.cmsArticleContent %}
            <div class="col-sm-4">
                <figure>
                    {% if content.articleContentVideoPath is not empty %}
                        <i class="video-image"></i>
                        <span class="vid-wrapper"><iframe width="370" height="230" src="{{ content.articleContentVideoPath|raw }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
                    {% else %}
                        <span class="vid-wrapper"><img src="{{ content.articleContentDesktopImagePath|imagine_filter('resize_image_scale_730_310') }}" class="card-img-top" alt="{{ content.articleContentImageAlt }}" alt="{{ content.articleContentImageTitle }}"></span>
                    {% endif %}
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}