{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}
    {% set pageContentCMS = get_cms_page_content_by_slugname('create-an-event') %}
{#    {{ render(controller('App\\Controller\\Portal\\EventController::bannerSection')) }}#}
    {{ include('portal/event/event-banner.html.twig') }}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="start-project col-lg order-lg-2" id="start-project">
                    <div class="head-sec">
                        <h2>Start Your Event Now</h2>
                        {#<div class="tips-button">
                            <a href="{{ path('create-event-tip') }}"><i class="tips-icon"></i> Tips for Event Creation</a>
                        </div>#}

                        <div class="tips-button" data-aos="fade-right" data-aos-delay="200">
                            <a href="#" data-toggle="modal" data-target="#tips-event-creation"><i class="tips-icon"></i> Tips for Event Creation</a>
                        </div>


                    </div>
                    {{ render(controller(
                        'App\\Controller\\Portal\\EventController::createEventSteps',
                        { 'currentIndex': -1 }
                    )) }}
                    <div class="project-details gallery">
                        {{ form_start(form) }}
                            <div class="mandate-text"><span>*</span> Mandatory Fields </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-event/Icon-Crowdfunding.png"
                                                    alt=""></i>
                                        <label for="projectName">
                                            <span>Is this Event for Crowdfunding? *</span>
                                            <div class="tooltip">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext">Crowdfunding is a practice to raise small
                                                    amounts of donations from individuals. You can create a crowdfunding
                                                    event and spread it through your well wishers,
                                                    volunteers outside of your members too.
                                                    People seeking details will visit your Project Page.</span>
                                            </div>
                                        </label>
                                        <div class="crowdfunding-radio">
                                            <label for="yes"
                                                   class="{% if(app.request.get('crowdfunding') is defined and app.request.get('crowdfunding') == 1) %} active {% endif %}"
                                                   onclick="window.location.href='{{ path('create-crowdfunding-event') }}';"
                                            >
                                                Yes
                                                {% if(app.request.get('crowdfunding') is defined and app.request.get('crowdfunding') == 1) %}
                                                    <input type="radio" id="yes" value="1" checked name="crowdfunding">
                                                {% else %}
                                                    <input type="radio" id="yes" value="1" name="crowdfunding">
                                                {% endif %}
                                                <span class="checkmark"></span>
                                            </label>
                                            <label for="no" class="{% if(app.request.get('crowdfunding') is defined and app.request.get('crowdfunding') == 0) %} active {% endif %}">
                                                No
                                                {% if(app.request.get('crowdfunding') is defined and app.request.get('crowdfunding') == 0) %}
                                                    <input type="radio" id="no" value="0" checked name="crowdfunding">
                                                {% else %}
                                                    <input type="radio" id="no" value="0" name="crowdfunding">
                                                {% endif %}
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        {{ form_errors(form.isCrowdFunding) }}
                                        <div style="display: none;">{{ form_widget(form.isCrowdFunding) }}</div>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-Project.png"
                                                    alt=""></i>
                                        <label for="projectName">
                                            <span>Project Name *</span>
                                        </label>
                                        <div class="form-group">
                                            <div class="cust-select">
                                                {{ form_widget(form.trnCircle) }}
                                            </div>
                                            {{ form_errors(form.trnCircle) }}
                                        </div>
                                        <div class="interest-selection" id="interest-selection-areainterest">

                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-event/Icon-Option.png" alt=""></i>
                                        <label for="projectType">
                                            <span>Event Option *</span>
                                        </label>
                                        <ul class="project-status eventOption">
                                            <li class="project-status-input"
                                                onclick="window.location.href='{{ path('create-an-event-copy-from-library') }}';">
                                                <i class="fc-copy-event"></i>
                                                <span>Copy from Event Library</span>
                                            </li>
                                            <li class="project-status-input createNew">
                                                <i class="fc-create-event"></i>
                                                <span>Create New Event</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-12 new-event">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-event/Icon-Event-Name.png"
                                                    alt=""></i>
                                        <label for="projectType">
                                            <span>Event Name *</span>
                                        </label>
                                        {{ form_widget(form.name) }}
                                        {{ form_errors(form.name) }}
                                    </div>

                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-event/Icon-Event-Purpose.png"
                                                    alt=""></i>
                                        <label for="EventPurpose">
                                            <span>Event Purpose *</span>
                                        </label>
                                        {{ form_widget(form.eventPurpose) }}
                                        <div class="textarea-instru">
                                            <small>A maximum of 300 words only </small>
                                            <small class="text-right ml-auto">Word count - <b
                                                        class="words-left">0</b><b>/300</b>
                                            </small>
                                        </div>
                                    </div>
                                    {{ form_errors(form.eventPurpose) }}

                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-Goal.png" alt=""></i>
                                        <label for="EventGoal">
                                            <span>Event Goal *</span>
                                        </label>
                                        {{ form_widget(form.highlightsOfEvent) }}
                                        <div class="textarea-instru">
                                            <small>A maximum of 300 words only </small>
                                            <small class="text-right ml-auto">Word count - <b
                                                        class="words-left">0</b><b>/300</b>
                                            </small>
                                        </div>
                                        {{ form_errors(form.highlightsOfEvent) }}
                                    </div>
                                    {% set arrEventProductType = [] %}
                                    {% if form.vars.value.mstEventProductType is defined %}
                                        {% for typeArr in form.vars.value.mstEventProductType %}
                                            {% set arrEventProductType = arrEventProductType|merge([typeArr.eventProductType]) %}
                                        {% endfor %}
                                    {% endif %}
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-event/Icon-Resource-Required.png"
                                                    alt=""></i>
                                        <label for="projectType">
                                            <span>Resources Required *</span>
                                        </label>
                                        <ul class="event-resources">
                                            <li value="1" {% if arrEventProductType is defined and 'Volunteer (in Time)' in arrEventProductType %}
                                                class="active clicked"
                                                    {% endif%}>
                                                <i class="fc-event-volunteer"></i>
                                                <span>Volunteer</span>
                                            </li>
                                            <li value="2" {% if arrEventProductType is defined and 'Material (in Kind)' in arrEventProductType %}
                                                class="active clicked"
                                                    {% endif%}>
                                                <i class="fc-event-material"></i>
                                                <span>Material</span>
                                            </li>
                                            <li value="3" {% if arrEventProductType is defined and 'Fundraiser' in arrEventProductType %}
                                                class="active clicked"
                                                    {% endif%}>
                                                <i class="fc-event-fund"></i>
                                                <span>Funds</span>
                                            </li>
                                        </ul>
                                        {{ form_widget(form.mstEventProductType) }}
                                    </div>
                                    {{ form_errors(form.mstEventProductType) }}
                                    <div style="display: none;">{{ form_widget(form.mstJoinBy) }}</div>
                                    {#<div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-ProjectType.png"
                                                    alt=""></i>
                                        <label for="projectType">
                                            <span>Event Type *</span>
                                            <div class="tooltip">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been</span>
                                            </div>
                                        </label>
                                        <ul class="project-status event-status">
                                            <li class="project-status-input {% if form.vars.value.mstJoinBy == 'Open' %}
                                                    clicked
                                                {% endif %}" name="project-join-by" value="1">
                                                <i class="fa fa-unlock"></i>
                                                <span>Open</span>
                                            </li>
                                            <li class="project-status-input {% if form.vars.value.mstJoinBy == 'Closed' %}
                                                    clicked
                                                {% endif %}" name="project-join-by" value="2">
                                                <i class="fa fa-lock"></i>
                                                <span>Closed</span>
                                            </li>
                                        </ul>
                                        {{ form_widget(form.mstJoinBy) }}
                                    </div>
                                    {{ form_errors(form.mstJoinBy) }}#}
                                    {# <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="main-form-group">
                                                    <label for="eventStartDate">
                                                        <span>Event Start Date *</span>
                                                    </label>
                                                    <div class="cust-calender">
                                                        {{ form_widget(form.fromDate) }}
                                                    </div>
                                                    {{ form_errors(form.fromDate) }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="main-form-group">
                                                    <label for="eventEndDate">
                                                        <span>Event End Date *</span>
                                                    </label>
                                                    <div class="cust-calender">
                                                        {{ form_widget(form.toDate) }}
                                                    </div>
                                                    {{ form_errors(form.toDate) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>#}
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img
                                                    src="/resources/images/common/create-project/Icon-UploadImage.png"
                                                    alt=""></i>
                                        <label for="projectType">
                                            <span>Upload Image *</span>
                                            <div class="tooltip">
                                                <i class="fas fa-info-circle"></i>
                                                <span class="tooltiptext">Social good requires an imagery for people
                                                    to connect to. Make sure the images are of good quality and convey the message.</span>
                                            </div>
                                        </label>
                                        <ul class="project-status project-gallery">
                                            <li class="project-status-input my-gallery">
                                                <i class="fa fa-user-o"></i>
                                                <span>My Gallery</span>
                                            </li>
                                        </ul>
                                        <span><small>Please upload image with max height 265 pixels</small></span>
                                        <div class="my-gallery-div">
                                            <div class="row">
                                                {#
                                                <div class="col-auto">
                                                    <div class="input-field">
                                                        <label class="active">Event Profile Image</label>
                                                        <div class="input-images-1 single"></div>
                                                        <small>Image format - <br> jpg, png and size 20 KB</small>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="input-field">
                                                        <label class="active">Event Background Image</label>
                                                        <div class="input-images-2 single"></div>
                                                        <small>Image format - jpg, png and size 40 KB</small>
                                                    </div>
                                                </div>
                                                #}
                                                <div class="col-12">
                                                    <div class="input-field">
                                                        <label class="active">Event Gallery</label>
                                                        <div class="input-images-3 multi"></div>
                                                        <small>Image format - jpgs, png and size 5 MB</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-sec" data-aos="fade-right" data-aos-delay="200" style="display: none;">
                                <!-- <a href="#" class="back-link">Back</a> -->
                                <a href="javascript:void (0)" class="btn btn-primary btn-continue">Continue</a>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                {#{{ render(controller('App\\Controller\\Portal\\EventController::featureSection')) }}#}
                {{ include('portal/event/event-feature-section.html.twig') }}
            </div>
        </div>
    </div>

    {{ include('portal/event/create-event-tips.html.twig') }}

{#    {{ dump(app.request.files.get('imageGallery')) }}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/autocomplete.js') }}"></script>
    <script src="{{ asset('resources/js/image-uploader.min.js') }}"></script>
    <script>
        var checkUniqueEventName = "{{ path('is_unique_event_name') }}";
        var getSecondaryAreaOfInterestURL = "{{ path('get-secondary-area-of-interest-event') }}";
        var getProjectAreaOfInterestURL = "{{ path('get-project-area-of-interest') }}";
        var primaryAISelected = new Array();
        var secondaryAISelected = new Array();
        var imageGallery = new Array();
        var preloadedGallery = new Array();
        var bHasProfileImage = false;

        {% for id in arrPrimaryAISelected %}
            primaryAISelected.push({{ id }});
            {% if id in arrSecondaryAISelected|keys %}
                {% for idsec in arrSecondaryAISelected[id] %}
                    secondaryAISelected.push({{ idsec }});
                {% endfor %}
            {% endif %}
        {% endfor %}

        {#{% if app.request.files is defined
            and app.request.files.get('imageGallery') is defined
            and app.request.files.get('imageGallery') is not empty %}
            {% for galimgList in app.request.files.get('imageGallery') %}
                    var i = 1;
                {% for galimage in galimgList %}
                    #}{#var pathname = URL.createObjectURL('{{ galimage.pathname  }}');#}{#
                    var pathname = 'C:\\xampp\\tmp\\php820D.tmp';
                    // console.log(pathname);

                    var reader = new FileReader();
                    var tmpimg = '';

                    reader.onload = function (e) {
                        tmpimg = e.target.result;
                    };

                    reader.readAsDataURL({{ galimage }});
                    imageGallery.push(pathname);
                    var item = {};
                    item.id = i;
                    item.src = tmpimg;
                    preloadedGallery.push(item);
                    i = i + 1;
                {% endfor %}
            {% endfor %}
        {% endif %}#}

    </script>
    <script src="{{ asset('assets/js/portal/event/event.js?z=1') }}"></script>
{% endblock %}
