{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}
    {% set pageContentCMS = get_cms_page_content_by_slugname('create-an-event') %}
    {#    {{ render(controller('App\\Controller\\Portal\\EventController::bannerSection')) }}#}
    {{ include('portal/event/event-banner.html.twig') }}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="start-project col-lg order-lg-2" id="start-project">
                    <div class="head-sec">
                        <h2>Start Your Event Now</h2>
                        <div class="tips-button">
                            <a href="{{ path('create-event-tip') }}"><i class="tips-icon"></i> Tips for Event Creation</a>
                        </div>
                    </div>
                    {{ render(controller(
                        'App\\Controller\\Portal\\EventController::createEventSteps',
                        { 'currentIndex': currentIndex }
                    )) }}
                    <div class="project-details funds">
                        {{ form_start(form) }}
                            <div class="mandate-text"><span>*</span> Mandatory Fields </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <i class="icon project-name"><img src="/resources/images/common/create-event/Icon-Rupee.png" alt=""></i>
                                        <h5>Funds</h5>
                                        <label for="">Total Fund Requirement *</label>
                                        <div class="row row-sm main-form-group">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    {{ form_widget(form.targetAmount) }}
                                                </div>
                                                {{ form_errors(form.targetAmount) }}
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <div class="cust-select">
                                                        {{ form_widget(form.mstCurrencyTargetAmount) }}
                                                    </div>
                                                    {{ form_errors(form.mstCurrencyTargetAmount) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="main-form-group">
                                        <label for="boradSkill">
                                            <span>Deployment of Funds *</span>
                                        </label>
                                        {{ form_widget(form.purposeOfRaisingFunds) }}
                                        <div class="textarea-instru">
                                            <small>A maximum of 300 words only </small>
                                            <small class="text-right ml-auto">Word count - <b
                                                        class="words-left">0</b><b>/300</b>
                                            </small>
                                        </div>
                                    </div>
                                    {{ form_errors(form.mstCurrencyTargetAmount) }}
                                </div>
{#                                {{ dump(form.vars.data) }}#}

                                <div class="col-sm-12">
                                    <div class="main-form-group">

                                        <div class="row row-sm main-form-group">
                                            <div class="col-6">
                                                <div class="checkbox-general">

                                                            <label for="urgent" class="checkbox-label" style="width: max-content;">Is Urgent

                                                                {% set urgentFld = 'off' %}
                                                                {% if form.vars.data.isUrgent == true %}
                                                                    {% set urgentFld = 'on' %}
                                                                {% endif %}

                                                                <input type="checkbox" id="urgent" value="{{ urgentFld }}" name="urgent" onchange="changeInputVal($(this))">
                                                                <span class="checkmark"></span>
                                                            </label>

                                                    {{ form_widget(form.isUrgent) }}

                                                </div>
                                                {{ form_errors(form.isUrgent) }}
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                {#<div class="col-sm-12">
                                    <div class="main-form-group">
                                        <label for="">Minimum Contribution</label>
                                        <div class="row row-sm main-form-group">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    {{ form_widget(form.minContributionAmount) }}
                                                </div>
                                                {{ form_errors(form.minContributionAmount) }}
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <!-- <label for="CheckOut">INR</label> -->
                                                    <div class="cust-select">
                                                        {{ form_widget(form.mstCurrencyMinContribution) }}
                                                    </div>
                                                    {{ form_errors(form.mstCurrencyMinContribution) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>#}
                                <div class="col-sm-12">
                                    <div class="supportDetails">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="main-form-group">
                                                    <label for="subEventTimePeriodSupported">Time Period Supported</label>
                                                    <input type="text" id="subEventTimePeriodSupported" name="timePeriodSupported" placeholder="e.g. 1 Year"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="main-form-group">
                                                    <label for="subEventNoOfBeneficiaries">No. of Beneficiaries Supported</label>
                                                    <input type="text" id="subEventNoOfBeneficiaries"
                                                           name="NoOfBeneficiaries" placeholder="e.g. 30 Children"
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 main-form-group">
                                                <label for="">Amount Required</label>
                                                <div class="row row-sm">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <!-- <label for="CheckOut">INR</label> -->
                                                            <div class="cust-select">
                                                                <select id="subEventCurrency" name="subEventCurrency"
                                                                        class="form-control"
                                                                        required
                                                                        id="CheckOut">
{#                                                                    <option value="0">Select</option>#}
                                                                    {% for mstCurrency in arrMstCurrency %}
                                                                        <option id="{{ mstCurrency.id }}" > {{
                                                                            mstCurrency.iso3 }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="">
                                                            <input type="text" id="subEventAmount" name="subEventAmount" placeholder="e.g. 1,000" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="main-form-group">
                                                    <label for="">Remarks (If any)</label>
                                                    <input type="text" id="subEventRemarks" placeholder="e.g. Children age 4-8" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12 SupportAddLink">
                                                <a href="#">Add</a>
                                            </div>
                                            <div class="col-sm-12 supportBlock">
                                                <ul class="supportAdded main-form-group">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="eventOccurrence">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="main-form-group">
                                                    <label for="projectName">
                                                        <span>Event Occurrence *</span>
                                                    </label>
                                                    <div class="crowdfunding-radio">

                                                        {% set recurringType = '' %}
                                                        {%  if trnFundRaiserCircleEventDetails is defined and
                                                            trnFundRaiserCircleEventDetails.mstEventOccurrence
                                                            and trnFundRaiserCircleEventDetails.mstEventOccurrence is not empty %}
                                                            {% if trnFundRaiserCircleEventDetails.mstEventOccurrence.id == 1 %}
                                                                {% set recurringType = 'OneTime' %}
                                                            {% else %}
                                                                {% set recurringType = 'Ongoing' %}
                                                            {% endif %}
                                                        {% endif %}

                                                        <label for="oneTime" class="oneTime
                                                            {%  if recurringType == 'OneTime' %}
                                                                active
                                                           {% endif %}">
                                                            One Time
                                                            <input type="radio" id="oneTime" value="oneTime" name="recurringType"
                                                                    {%  if recurringType == 'OneTime' %}
                                                                        checked
                                                                    {% endif %}>
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <label for="recurring" class="ongoing{%  if recurringType == 'Ongoing' %}
                                                            active
                                                        {% endif %}" >
                                                            Ongoing
                                                            <input type="radio" id="recurring" value="ongoing" name="recurringType" {%  if recurringType == 'Ongoing' %}
                                                                checked
                                                            {% endif %}>
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                {{ form_widget(form.mstEventOccurrence) }}
                                                {{ form_errors(form.mstEventOccurrence) }}
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="main-form-group">
                                                            <label for="eventStartDate">
                                                                <span>Event Start Date *</span>
                                                            </label>
                                                            <div class="cust-calender">
                                                                {% if app.session.has('copyEventId') %}
                                                                    {{ form_widget(form.fromDate, { 'value': '' }) }}
                                                                {% else %}
                                                                    {{ form_widget(form.fromDate) }}
                                                                {% endif %}
                                                            </div>
                                                            {{ form_errors(form.fromDate) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="main-form-group">
                                                            <label for="eventEndDate">
                                                                <span>Event End Date *</span>
                                                            </label>
                                                            <div class="cust-calender">
                                                                {% if app.session.has('copyEventId') %}
                                                                    {{ form_widget(form.toDate, { 'value': '' }) }}
                                                                {% else %}
                                                                    {{ form_widget(form.toDate) }}
                                                                {% endif %}
                                                            </div>
                                                            {{ form_errors(form.toDate) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% set addBankDetails = false %}
                                {% set partlyfilledBankDetails = false %}
                                {% if app.user.appUserinfo.mstUserMemberType.userMemberType == 'Individual' and
                                    app.user.trnBankDetails|length < 1 %}
                                        {% set addBankDetails = true %}
                                {% elseif app.user.trnBankDetails[0].bankName == '' or
                                    app.user.trnBankDetails[0].accountHolderName == '' or
                                    app.user.trnBankDetails[0].accountNumber == '' or
                                    app.user.trnBankDetails[0].ifscCode == '' or
                                    app.user.trnBankDetails[0].bankName == ''
                                %}
                                        {% set partlyfilledBankDetails = true %}
                                    <input type="hidden" id="bankdetailsId" name="bankdetailsId" value="{{ app.user.trnBankDetails[0].id }}">
                                {% endif %}
                                <div class="col-sm-12">
                                    <div class="main-form-group prefilled-data">
                                        <i class="icon project-name"><img src="/resources/images/common/create-project/Icon-Bank.png" alt=""></i>
                                        <label for="benBankName">
                                            <span>Bank Account Details</span>
                                        </label>
                                        <div class="row row-sm ">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <span class="label-text">Beneficiary Bank Name *</span>
{#                                                    {{ trnCircle.beneficiaryBankName}}#}
                                                    {% if addBankDetails == true %}
                                                        <input type="text" class="form-control" id="bankName" name="bankName" required="required" value="">
                                                    {% elseif partlyfilledBankDetails == true  %}
                                                        <input type="text" class="form-control" id="bankName" name="bankName" required="required" value="{{ app.user.trnBankDetails[0].bankName }}">
                                                    {% else %}
{#                                                        <input type="hidden" id="bankName" name="bankName" value="{{ app.user.trnBankDetails.bankName }}">#}
                                                        {% if app.user.trnBankDetails is defined
                                                            and app.user.trnBankDetails is not
                                                            null and app.user.trnBankDetails[0]
                                                            is defined and app.user
                                                            .trnBankDetails[0] is not null %}
                                                            {{ app.user.trnBankDetails[0].bankName }}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <span class="label-text">Beneficiary Account Holder Name *</span>
{#                                                    {{ trnCircle.beneficiaryAccountHolderName}}#}
                                                    {% if addBankDetails == true %}
                                                        <input type="text" class="form-control" id="accountHolderName" name="accountHolderName" required="required" value="">
                                                    {% elseif partlyfilledBankDetails == true  %}
                                                        <input type="text" class="form-control" id="accountHolderName" name="accountHolderName" required="required" value="{{ app.user.trnBankDetails[0].accountHolderName }}">
                                                    {% else %}
{#                                                        <input type="hidden" id="accountHolderName" name="accountHolderName" value="{{ app.user.trnBankDetails.accountHolderName }}">#}
                                                        {% if app.user.trnBankDetails is defined
                                                            and app.user.trnBankDetails is not
                                                            null and app.user.trnBankDetails[0]
                                                            is defined and app.user
                                                            .trnBankDetails[0] is not null %}
                                                            {{ app.user.trnBankDetails[0].accountHolderName }}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <span class="label-text">Beneficiary Bank Account Number *</span>
{#                                                    {{ trnCircle.beneficiaryBankAccountNumber}}#}
                                                    {% if addBankDetails == true %}
                                                        <input type="text" class="form-control" id="accountNumber" name="accountNumber" required="required" value="">
                                                    {% elseif partlyfilledBankDetails == true  %}
                                                        <input type="text" class="form-control" id="accountNumber" name="accountNumber" required="required" value="{{ app.user.trnBankDetails[0].accountNumber }}">
                                                    {% else %}
{#                                                        <input type="hidden" id="accountNumber" name="accountNumber" value="{{ app.user.trnBankDetails.accountNumber }}">#}
                                                        {% if app.user.trnBankDetails is defined
                                                            and app.user.trnBankDetails is not
                                                            null and app.user.trnBankDetails[0]
                                                            is defined and app.user
                                                            .trnBankDetails[0] is not null %}
                                                            {{ app.user.trnBankDetails[0].accountNumber }}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <span class="label-text">Beneficiary IFSC Code *</span>
{#                                                    {{ trnCircle.beneficiaryIfscCode}}#}
                                                    {% if addBankDetails == true %}
                                                        <input type="text" class="form-control" id="ifscCode" name="ifscCode" required="required" value="">
                                                    {% elseif partlyfilledBankDetails == true  %}
                                                        <input type="text" class="form-control" id="ifscCode" name="ifscCode" required="required" value="{{ app.user.trnBankDetails[0].ifscCode }}">
                                                    {% else %}
{#                                                        <input type="hidden" id="ifscCode" name="ifscCode" value="{{ app.user.trnBankDetails.ifscCode }}">#}
                                                        {% if app.user.trnBankDetails is defined
                                                            and app.user.trnBankDetails is not
                                                            null and app.user.trnBankDetails[0]
                                                            is defined and app.user
                                                            .trnBankDetails[0] is not null %}
                                                            {{ app.user.trnBankDetails[0].ifscCode }}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <span class="label-text">Beneficiary Account Type *</span>
{#                                                    {{ trnCircle.mstBankAccountTypeBeneficiary}}#}
                                                    {% if addBankDetails == true %}
                                                        <div class="cust-select">
                                                            <select class="form-control" id="bankAccountType" name="bankAccountType" required="required">
                                                                {% for accType in arrMstBankAccountType %}
                                                                    <option id="{{ accType.id }}" value="{{ accType.id }}" > {{
                                                                        accType.bankAccountType }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    {% elseif partlyfilledBankDetails == true  %}
                                                        <div class="cust-select">
                                                            <select class="form-control" id="bankAccountType" name="bankAccountType" required="required">
                                                                {% for accType in arrMstBankAccountType %}
                                                                    <option id="{{ accType.id }}" value="{{ accType.id }}"
                                                                            {% if app.user.trnBankDetails is defined
                                                                                and app.user.trnBankDetails is not
                                                                                null and app.user.trnBankDetails[0]
                                                                                is defined and app.user
                                                                                .trnBankDetails[0] is not null
                                                                                and app.user.trnBankDetails[0]
                                                                                .mstBankAccountType.id == accType.bankAccountType %}
                                                                            selected
                                                                            {% endif %}> {{ accType.bankAccountType }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    {% else %}
{#                                                        <input type="hidden" id="bankAccountType" name="bankAccountType" value="{{ app.user.trnBankDetails.bankAccountType }}">#}
                                                        {% if app.user.trnBankDetails is defined
                                                            and app.user.trnBankDetails is not
                                                            null and app.user.trnBankDetails[0]
                                                            is defined and app.user
                                                            .trnBankDetails[0] is not null
                                                            and app.user.trnBankDetails[0]
                                                            .mstBankAccountType.id is not null  %}
                                                            {{ app.user.trnBankDetails[0].mstBankAccountType|default('-') }}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-sm "></div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-sec" data-aos="fade-right" data-aos-delay="200">
                                <a href="javascript:window.history.back();" class="back-link">Back</a>
{#                                <a href="javascript:void(0)" class="btn btn-primary btn-continue">Continue</a>#}

                                <input type="hidden" name="submission_type" id="submission_type" value="review">

{#                                <a href="javascript:void(0);" class="btn btn-primary-o btn-continue" id="review">Review Your Event</a>#}
                                <a href="javascript:void(0);" class="btn btn-primary btn-continue" id="submit">Submit Your Event</a>

                            </div>

                        {{ form_row(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
{#                        {{ form_end(form) }}#}
                    </div>
                </div>
                {#{{ render(controller('App\\Controller\\Portal\\EventController::featureSection')) }}#}
                {{ include('portal/event/event-feature-section.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{{ asset('resources/js/autocomplete.js') }}"></script>
    <script src="{{ asset('resources/js/image-uploader.min.js') }}"></script>
    <script src="{{asset('resources/js/jquery-ui-datepicker.js')}}" type="text/javascript"></script>
    <script>
        var addFundRaiserSubEventsToSessionURL = "{{ path('add-fund-raiser-sub-events-to-session') }}";
        var removeFundRaiserSubEventsFromSessionURL = "{{ path('remove-fund-raiser-sub-events-from-session') }}";
        var showFundRaiserSubEventsURL = "{{ path('show-fund-raiser-sub-events') }}";
        var bHasSubEvents = false;
        {% if fundRaiserSubEventsCopy is defined and fundRaiserSubEventsCopy is not empty and fundRaiserSubEventsCopy|length >0  %}
            bHasSubEvents = true;
        {% endif %}
    </script>
    <script src="{{ asset('assets/js/portal/event/event-fund.js?z=3') }}"></script>
{% endblock %}
