{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}
    {{ render(controller(
        'App\\Controller\\Portal\\EventDetailsController::eventDetailsBanner',
        { 'id': trnCircleEvents.id }
    )) }}
    <div class="wrapper">

        {{ render(controller(
            'App\\Controller\\Portal\\EventDetailsController::eventDetailsHeaderSection',
            { 'id': trnCircleEvents.id }
        )) }}

        <section class="latest-events">
            <div class="container">
                <div class="row listing-page" data-aos="fade-right" data-aos-delay="200">

                    {{ render(controller(
                        'App\\Controller\\Portal\\EventDetailsController::eventDetailsNavigationSection',
                        { 'id': trnCircleEvents.id, 'active' : 'event' }
                    )) }}


                    <div class="col right-list">
                        <h2 data-aos="fade-right" data-aos-delay="200">Event Details</h2>
                        <section class="content-wth-borders">
                            <h3>Interest Area</h3>
                            {% for primaryAI in arrPrimaryAI %}
                                <div class="content">
                                    <div class="area-select">
                                        <div class="icon {{ num_to_words(primaryAI.sequenceNo) }}">
                                        <span class="num">
                                             {{ primaryAI.sequenceNo }}
                                        </span>
                                            <span class="img">
                                            {% if primaryAI.icon is not empty and primaryAI.icon != '' and primaryAI.icon != 'files/' %}
                                                <img src="{{ asset('images') }}/{{ primaryAI.icon }}"
                                                     alt="{{ primaryAI.areaInterest }}" title="{{ primaryAI.areaInterest }}">
                                            {% endif %}
                                        </span>
                                        </div>
                                        <div class="title">
                                            <b>{{ primaryAI.areaInterest }}</b>
                                            <ul>
                                                {% for secAI in  arrPrimaryAISecAI[primaryAI.id] %}
                                                    <li>{{ secAI }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </section>
                        <section>
                            <h3>Event Purpose</h3>
                            <p>
                                {{ trnCircleEvents.eventPurpose}}
                            </p>
                        </section>
                        <section>
                            <h3>Event Goal</h3>
                            <p>
                                {{ trnCircleEvents.highlightsOfEvent}}
                            </p>
                        </section>

                        {{ render(controller(
                            'App\\Controller\\Portal\\EventDetailsController::eventDetailsBottomNavigationSection',
                            { 'id': trnCircleEvents.id,  'active' : 'event' }
                        )) }}
                    </div>
                </div>
            </div>
        </section>
        {{ include('portal/event/comment-section.html.twig', {'events': trnCircleEvents}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('resources/js/easy-responsive-tabs.js') }}"></script>
    <script>
        var ajaxEventLikeURL = "{{ path('event-like') }}";
        var commentPath = "{{ path('event-comment') }}";
        var eventCommentLike = "{{ path('event-comment-like') }}";
        var pathToEventShare = "{{ path('event-share') }}";
    </script>
    <script src="{{ asset('assets/js/portal/event/event-details.js?z=1') }}"></script>
    <script src="{{ asset('assets/js/portal/event/event-comment.js') }}"></script>
{% endblock %}