{% for article in articles %}
    <div class="col-md-6">
        <div class="card">
            <a href="{{ path('change-maker-detail', {'articleSlugName': article.articleSlugName}) }}" data-aos="fade-down" data-aos-delay="500">

                {% set interestVal = '' %}
                {% set seqNo = '' %}
                {% set interestIcon = '' %}
                {% for interest in article.mstAreaInterest %}

                    {% if interest.mstAreaInterestPrimary is empty %}
                        {% set seqNo = num_to_words(interest.sequenceNo) %}
                        {% set interestIcon = interest.icon %}
                    {% else %}
                        {% set seqNo = num_to_words(interest.mstAreaInterestPrimary.sequenceNo) %}
                        {% set interestIcon = interest.mstAreaInterestPrimary.icon %}
                    {% endif %}

                    {% if loop.first %}
                        {% set interestVal = interestVal~interest.areaInterest %}
                    {% else %}
                        {% set interestVal = interestVal~', '~interest.areaInterest %}
                    {% endif %}
                {% endfor %}



                {% if interestIcon is not empty and interestIcon != '' and interestIcon != 'files/' %}
                    <i class="icon-image">
                        <img src="{{ asset('images') }}/{{ interestIcon }}" alt="{{ interestVal }}"
                             title="{{ interestVal }}">
                    </i>
                {% endif %}

                {% if article.articleIntroVideoPath is not empty %}
                    <iframe width="600" height="265" src="{{ article.articleIntroVideoPath|raw }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% else %}
                    <figure>
                        <img src="{{ article.articleIntroDesktopImagePath|imagine_filter('resize_image_scale_600_400') }}" class="img1" alt="{{ article.articleIntroImageAlt }}" title="{{ article.articleIntroImageTitle }}">
                        <img src="/resources/images/common/details-banner.jpg" class="img2" alt="{{ article.articleIntroImageAlt }}" title="{{ article.articleIntroImageTitle }}">
                    </figure>
                {% endif %}
            </a>
            <div class="card-body">
                <a href="{{ path('change-maker-detail', {'articleSlugName': article.articleSlugName}) }}" data-aos="fade-down" data-aos-delay="500">
                    <div class="quote" data-aos="fade-down" data-aos-delay="500">{{ article.articleIntro|striptags|truncate(130)|raw }}</div>
                    <h4 data-aos="fade-down" data-aos-delay="300">{{ article.articleFor }}</h4>
                    <h5 data-aos="fade-down" data-aos-delay="400"><i
                                class="fas fa-map-marker-alt"></i>
                        {{ article.locationName }}, {{ article.cityName }}
                    </h5>
                    <h5 class="orange" data-aos="fade-down" data-aos-delay="500">
                        <em>{% for interest in article.mstAreaInterest %}{{ interest }}{% if not loop.last %}, {% endif %} {% endfor %}</em>
                    </h5>
                    <h6 data-aos="fade-down" data-aos-delay="500">{{ article.articleTitle }}</h6>
                </a>
                <ul class="share-view" data-aos="fade-down" data-aos-delay="500">
                    <li>
                        <a href="#">
                            <i class="fc-book-open"></i>
                            <b>{{ article.articleViewCount|default('0') }}</b>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="clicklike" articleId = "{{ article.id }}" >
                            <i class="far fa-thumbs-up"></i>
                            <b id="bLikeArt_{{ article.id }}">{{ article.articleLikeCount|default('0') }}</b>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('change-maker-detail', {'articleSlugName':
                            article.articleSlugName}) }}#comments">
                            <i class="far fa-comment"></i>
                            <b>{{ get_cms_article_comments_count(article.id, 1) }}</b>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="social-share-btn"><i
                                    class="fas fa-share-alt"></i></a>
                    </li>
                </ul>
                <div class="share-sec">
                    <div class="social-media">
                        <a href="#" class="fa fa-close"></a>
                        <ul>
                            <li><a onclick="getCircleShareCount('{{ article.id }}')" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~  path
                                    ('change-maker-detail', {'articleSlugName': article.articleSlugName}) }}" target="_blank"><i class="fc-facebook"></i></a></li>
                            <li><a onclick="getCircleShareCount('{{ article.id }}')" href="https://twitter.com/intent/tweet?text={{ article.articleTitle }}&amp;url={{ app.request.schemeAndHttpHost ~  path
                                    ('change-maker-detail', {'articleSlugName': article.articleSlugName}) }}&amp;via=GivingCircle_In" target="_blank"><i class="fc-twitter"></i></a></li>
                            <li><a onclick="getCircleShareCount('{{ article.id }}')" href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.schemeAndHttpHost ~  path
                                    ('change-maker-detail', {'articleSlugName': article.articleSlugName}) }}&amp;title={{ article.articleTitle }}" target="_blank"><i class="fc-linkedin"></i></a></li>
                            <li><a onclick="getCircleShareCount('{{ article.id }}')" href="https://api.whatsapp.com/send?phone={{ get_whatsapp_number(true) }}&text={{ app.request.schemeAndHttpHost ~  path
                                    ('change-maker-detail', {'articleSlugName': article.articleSlugName}) }}" target="_blank"><i class="fc-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}